[2013-04-16 12:09] xamry commented on #241
com.impetus.kundera.configure.schema.api.SchemaManager (interface)
com.impetus.kundera.configure.schema.api.AbstractSchemaManager (abstract
class)

Classes: (Database specific schema generation code)
com.impetus.client.cassandra.schemamanager.CassandraSchemaManager
com.impetus.client.hbase.schemamanager.HBaseSchemaManager
com.impetus.client.mongodb.schemamanager.MongoDBSchemaManager

On Tue, Apr 1

[2013-04-16 12:11] pires commented on #241
Thanks a lot. Will look into it.

[2013-04-17 01:16] zhouhero commented on #235
i have test it.
it work well now.
thank you very mutch!

[2013-04-17 01:16] #235 closed, assigned to nobody

[2013-04-17 01:18] zhouhero commented on #233
i can use ' to escape now for your fixing on #235,
thank you!

[2013-04-17 01:18] #233 closed, assigned to nobody

[2013-04-17 01:18] zhouhero commented on #149
i have test it.
it work well now.
thank you very much!

[2013-04-17 01:18] #149 closed, assigned to nobody

[2013-04-18 05:50] xamry commented on #240
This has been fixed and is available for testing in trunk branch. Please verify and close issue if this works for you.

[2013-04-18 05:56] xamry commented on #232
This has been fixed in the trunk, Please verify and close.

[2013-04-18 05:58] xamry commented on #231
This has been fixed. Please verify in the trunk and close.

[2013-04-18 06:03] xamry commented on #224
This has been implemented and is available in trunk. Please verify and close

[2013-04-18 06:05] xamry commented on #221
Did this workaround solve your needs, Can we close this one?

[2013-04-18 06:09] xamry commented on #218
Did you get a chance to verify this? Can we close this one?

[2013-04-18 06:11] xamry commented on #216
Closing this one as issue has been resolved.

[2013-04-18 06:11] #216 closed, assigned to nobody

[2013-04-18 06:12] xamry commented on #215
This has been fixed. In order to provide external properties, you need to pass a Map while creating entity manager factory. Please verify in trunk and close.

[2013-04-18 06:18] xamry commented on #209
Can we close this one?

[2013-04-18 06:21] xamry commented on #207
This has been fixed. Please verify in trunk and close

[2013-04-18 06:23] xamry commented on #202
Fixed

[2013-04-18 06:23] #202 closed, assigned to nobody

[2013-04-18 06:26] xamry commented on #197
Fixed in trunk

[2013-04-18 06:26] #197 closed, assigned to nobody

[2013-04-18 06:29] xamry commented on #193
Can you please verify this and close?

[2013-04-18 06:33] xamry commented on #187
Closing.

[2013-04-18 06:33] #187 closed, assigned to nobody

[2013-04-18 06:35] #186 closed, assigned to nobody

[2013-04-18 06:35] xamry commented on #182
Please verify and close

[2013-04-18 06:39] xamry commented on #178
Fixed and released

[2013-04-18 06:39] #178 closed, assigned to nobody

[2013-04-18 06:40] xamry commented on #176
Fixed

[2013-04-18 06:40] #176 closed, assigned to nobody

[2013-04-18 08:00] bsideup opened #242 "Kundera fails to update Cassandra scheme when there is more than 1 node"
In our company we are experiencing problem with Cassandra and Kundera when trying to update Scheme. AFAIK Cassandra doesn't support scheme update on all nodes and use one node scheme update replication instead of.

Is it something wrong in our configuration, or Kundera really doesn't support scheme update out-of-the-box?

[2013-04-18 09:02] dtuzikov commented on #232
Fixed in trunk

[2013-04-18 09:02] #232 closed, assigned to nobody

[2013-04-18 09:19] jmcollin78 commented on #209
Sorry but I not able to verify because I’m not using Kundera anymore.

De : Amresh [mailto:notifications@github.com]
Envoyé : jeudi 18 avril 2013 08:19
À : impetus-opensource/Kundera
Cc : jmcollin92
Objet : Re: [Kundera] Declaring a @ElementCollection on a List<String> causes strange error (#209)

Can we close this one?

—
Reply to this email directly or view it on GitHub https://github.com/impetu

[2013-04-18 09:19] jmcollin78 commented on #207
Sorry but I not able to verify because I’m not using Kundera anymore.

De : Amresh [mailto:notifications@github.com]
Envoyé : jeudi 18 avril 2013 08:21
À : impetus-opensource/Kundera
Cc : jmcollin92
Objet : Re: [Kundera] Kundera with MongoDB : empty query returns null instead of empty list (#207)

This has been fixed. Please verify in trunk and close

—
Reply to this email directly or view it on G

[2013-04-18 09:36] dtuzikov commented on #231
I have found some problem when using EntityManager.refresh() method, see code below.

[code]

log message before fail:
com.impetus.client.cassandra.datahandler.CassandraDataHandlerBase setFieldValueViaCQL WARN: java.io.StreamCorruptedException: invalid stream header: 534F435F

[2013-04-18 10:00] sbheda commented on #211
Thanks vivek.

Do you have any timeline for this feature?

[2013-04-18 10:58] pires commented on #202
Would be nice if you guys could write the commit log referencing this issue, so one could easily check the fix code.

https://github.com/blog/831-issues-2-0-the-next-generation
https://github.com/blog/1386-closing-issues-via-commit-messages

[2013-04-18 11:30] pires commented on #241
So far, I was able to consume _persistence.xml_ and process the defined classes. A sample result is _KsDef.toString()_:

[code]

Correct me if I'm wrong, but this is Hector stuff, right? If so, then I should probably use Hector to export DDL (for Cassandra, in this case), right?

Some enlightenment would be highly appreciated :-)

[2013-04-18 11:32] xamry commented on #241
This is not hector stuff, this is pure thrift call to define cassandra
schema.

Regards,
Amresh

On Thu, Apr 18, 2013 at 5:00 PM, Paulo Pires notifications@github.comwrote:

[2013-04-18 13:13] pires commented on #241
I'm giving up on this as not only is Kundera code very complex for someone with a couple days free to study this, but also it seems it should be heavily refactored and probably have some parts redesigned (like the metadata generation and manipulation at AbstractSchemaManager and subclasses).

Also, latest master has broken the API TableInfo (as provided in Kundera 2.4.0) which my maven plug-in use

[2013-04-18 16:19] mevivs commented on #241
As far as Schema generation is concerned. Entry point is AbstractSchemaManager and each database client inherits and implement exportSchema() method to handle entity, indexes and associations. Not sure what looks more complex to you. For "metadata generation" it is a single instance and invoked via TableProcessor. I am open for discussion around complex code and code refactoring.

For:

[code]

Pl

[2013-04-18 16:25] damageco commented on #240
Not it doesn't work il you use like me an external Enum file :
package com.impetus.client.crud;

public enum Day {

[code]

}

day attribut look like this :
@Column(name = "ENUM")
@Enumerated(EnumType.STRING)
private Day day = Day.FRIDAY;

Unit test log show :
18 avr. 2013 18:22:56 com.impetus.client.mongodb.MongoDBDataHandler getEntityFromDocument
GRAVE: Error while Getting entity from Document.

[2013-04-18 17:00] pires commented on #241
@mevivs As I've stated, "_perhaps what Kundera does now is the right approach. I mean, manipulating schema through client APIs (Thrift is the most low-level, I am to believe), instead of generating DDL that you run by hand on your cluster._".
I come from a transactional-database world where this issue would make sense, but am learning now that this is not the case for a NoSQL solution, such as Cas

[2013-04-18 17:21] damageco opened #244 "Define @Id and @GeneratedValue as org.bson.types.ObjectId in MongoDB"
In 2.4, _id column identifier when defined with @Id and @GeneratedValue annotations is store in MongoDB as String. It's seems that real object id type for MongoDb is org.bson.types.ObjectId (see http://docs.mongodb.org/manual/reference/object-id/).

So _id keys defined in Java as String shoud be wrapped in this specific type by the persistance layer.

At this moment, tools like MonjaDb and Genghis

[2013-04-19 00:32] cjaeger commented on #221
No.
The schema should be read from an configuration file and then setted dynamically.
I solved this issue by using reflection. The @Table schema will be setted dynamically.
Kundera sees just the modified runtime class. This works for me...

Thanks.

[2013-04-19 00:32] #221 closed, assigned to nobody

[2013-04-19 06:39] kkmishra commented on #181
Is it still not working for you? If you could send more details like your entity classes and CRUD code, we would be able to identify cause and fix this.

[2013-04-19 12:42] kkmishra commented on #227
Can you please try changing following field definition:
private Collection<ParameterMapping> mappings;

...with:
private List<ParameterMapping> mappings;

...and test again.
 Also, remove below attribute, since this is not a valid column declaration as per JPA specification, and hence is not supported in Kundera:
private String[] properties

[2013-04-22 00:52] #193 closed, assigned to nobody

[2013-04-22 12:22] eld0 opened #245 "Kundera required "join column" to be BytesType"
Hi,
I've found a very annoying issue with schema validation. When I have relations to another tables Kundera always fail on start with "column not found" error. After some investigation I've found that it's require all "foreign keys" to have BytesType validator. But I have varchar as keys or uuid. I found a place in code where JoinColumn creating without a type , thats why another block of code al

[2013-04-23 05:55] mevivs commented on #207
[code]

Any specific reason for this?

-Vivek

[2013-04-23 06:40] jmcollin78 commented on #207
Yes, I’ve seen that Kundera is not finish. I want to use it with MongoDB, and looking at the code i’ve seen many ‘TODO’ on JPA implementation method. Some basics functions don’t work (i’ve post some issues). I thought I was the first to use the MongoDB functionnality…
But your product is promising, keep on your great work. I just need something fully usable now.

JM.

De : Vivek Mishra [mailto:not

[2013-04-23 06:45] mevivs commented on #207
Thanks, this is what we are working for.
Closing this one.

[2013-04-23 06:54] #207 closed, assigned to nobody

[2013-04-23 09:11] zhouhero opened #246 "Connection pool not work well when restart the cassandra server"
when i restart the cassandra db server, connection pool can not work well.

if i fix the kundera as fellow , it work well .

ThriftClientFactory.java
     createPoolOrConnection() {
...
        prop.setTestOnBorrow(true);
        prop.setTestOnReturn(true);
...
}

could you pls add setTestOnBorrow and setTestOnReturn options of them in persistenc.xml's connection pooling ?

[2013-04-23 13:23] yoquankara opened #247 "Support for Play 2.1 with mongodb"
Kundera doesn't work with the new Play 2.1 for Mongodb.

I don't know if supporting Play 2.1 & Mongodb is a priority of this project or not. But it's worth imho. Many Play users still prefer Java to Scala and definitely want to try out increasingly popular Mongodb. However most of them now turn to Morphia, which ironically seems not work with Play 2.1 too. Kundera should & can achieve better recog

[2013-04-25 06:59] sbheda opened #248 "How to call mongodb javascript thorugh Kundera"
I have one java script  in mongodb like
db.system.js.save(
                   { _id: "echoFunction",
                     value : function(x) { return x; }
                   }
 )
how can I call this java script using kundera ?

[2013-04-25 07:46] mevivs commented on #248
I have added a fix to enable this, here is commit revision number:
6654e0b9ce8b511f0177f4fd23a5cb37f01dd259

Please have a look at:
 https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-mongo/src/test/java/com/impetus/client/crud/PersonMongoTest.java

in onExecuteScript() method for sample junits.

given below is sample code snippet:

[code]

[2013-04-25 08:26] damageco commented on #244
I don't see the relation between your commit and this issue. If I want to fixed it myself this where shoud I start ?

[2013-04-25 08:28] mevivs commented on #244
Hi,
Above mentioned revision number contains multiple check-ins. Please refere given below for specific to this one:

https://github.com/impetus-opensource/Kundera/commit/7d22126df9b8e478b64ad62de73ba317f5a390a6#diff-45
https://github.com/impetus-opensource/Kundera/commit/7d22126df9b8e478b64ad62de73ba317f5a390a6#diff-44

[2013-04-25 08:30] mevivs commented on #244
To add more on this:
https://github.com/impetus-opensource/Kundera/blob/7d22126df9b8e478b64ad62de73ba317f5a390a6/kundera-mongo/src/test/java/com/impetus/client/generatedId/entites/MongoGeneratedIdStrategyAuto.java

contains ObjectId as an @Id attribute.

Hope it clarifies.

-Vivek

[2013-04-25 08:39] mevivs commented on #241
Thanks. I take your point and just to share with you we are working on client extension mechanism where we will cover up such refactoring to decouple such things. I will have a look on your code and will provide an update on this (may be after 2.5 release).

Cheers,
-Vivek

[2013-04-25 09:12] mevivs commented on #240
Hi KK,
please verify this.

-Vivek

[2013-04-25 09:13] mevivs commented on #172
Marking for 2.6

[2013-04-25 09:48] mevivs commented on #161
Releasing with 2.5

-Vivek

[2013-04-25 09:50] mevivs commented on #153
Closing ans did not receive any input.

-Vivek

[2013-04-25 09:50] #153 closed, assigned to nobody

[2013-04-25 09:57] mevivs commented on #114
Fixed in current trunk and releasing with 2.5

[2013-04-25 09:58] #89 closed, assigned to mevivs

[2013-04-25 09:59] mevivs commented on #103
Releasing with 2.5

[2013-04-25 10:46] damageco commented on #244
Yes, it clarifies things. Thanks. And it works find with the ObjectId type...

...but, I've got a problem with this fix : the goal of JPA is to separate the Java model with the persistance layer. In my opinion ObjectId is part of the MongoDB system and should not be used in POJO objects. If you decide tomorrow to switch to another NoSQL system you will have to change all your business objects. So

[2013-04-25 10:53] mevivs commented on #244
We had a thought on this. But upon validating that instantiating objects for ObjectId is possible via java API. We decided to use it, Concern is quite valid that it is specific to ObjectId and conversion to String makes much sense. But then it leaves "_id" in inconsistent state, where java application would be referring it as "String" object but actually it is an "ObjectId" instance(IMHO it does n

[2013-04-25 11:33] mevivs commented on #174
Such interoperability issues have been resolved and will be releasing with 2.5

Please verify.

[2013-04-25 11:37] mevivs commented on #212
Please refer:
https://github.com/impetus-opensource/Kundera/issues/248

for proper fix on this.

-Vivek

[2013-04-25 11:41] damageco commented on #244
Ok, let's see what futures users will said at the next release of Kundera.

I think you'll need to explain this in https://github.com/impetus-opensource/Kundera/wiki/Primary-Key-Auto-generation.

Thanks,

David

[2013-04-25 11:41] #244 closed, assigned to nobody

[2013-04-25 11:46] mevivs commented on #244
+1 for this.

KK,
Please modify wiki for the same.

-Vivek

[2013-04-25 14:17] damageco commented on #240
It's work now !

Thanks

David

[2013-04-25 14:17] #240 closed, assigned to nobody

[2013-04-26 08:39] eld0 opened #249 "Kundera multiple node support"
Hi,
Is there any posibility to set multiple node for Kundera? It's a important feature for us, because we plan to use Cassandra + Kundera on production level and balancing is very critical. Currently we have a workarounds but most preffered way to have native support from Kundera.
Thanks!

cassandra 1.1.5
kundera 2.4

[2013-04-26 08:41] mevivs commented on #249
Kundera 2.5 will be releasing in coming week. Work on load balancer and multiple node support is planned for future releases and still in very early stages.

Sincerely,
-Vivek

[2013-04-26 08:58] eld0 commented on #249
Thanks for your quick response.
Will be wait for any updates!

[2013-04-26 09:02] mevivs commented on #249
Thanks. We will try to push it on priority. Till then, if other workarounds works for you and in case of any issues regarding Kundera for moving into production. Please feel free to raise issues for quick support!

Cheers,
-Vivek

[2013-04-26 13:49] Primeval opened #250 "CassandraDataHandler NullPointerException"
Hi,

I think I have an concurrency problem with Kundera 2.3 (Cassandra 1.2.2).  When I run a test with multiple threads and a really simple Entity (normal ColumnFamily) called Message I getting an NullpointerException.

The NullPointerException occurs because the CassandraDataHandler is null (in my case it is the PelopsDataHandler). I think the problem is that no more connections are available and

[2013-04-26 13:51] Primeval commented on #250
sorry my failure

[2013-04-26 15:18] mevivs commented on #250
I will have a look. Can you please try this with ThriftClientFactory(Kundera 2.4)? You can also try by configuring for
"kundera.pool.size.max.active" , "kundera.pool.size.max.total" properties for connection pool configurations.

-Vivek

[2013-04-26 15:40] mevivs commented on #250
I have verified it with current trunk branch. Add a small fix for this was failing for something else.

Please verify.

-Vivek

[2013-04-26 18:58] thfp opened #251 "Error when upgrading from Kundera 2.2.1 to 2.4"
Hi,

I'm recently trying to upgrade my Kundera plugin from version 2.2.1 to 2.4.
I found my code will prompt for errors on my Cassandra DB under 2.4 (2.3.1 as well) but the old version which is 2.2.1.

It looks like Thrift was trying to work on my "Queries" CF, but instead of looking for CF name "Queries", it trying to looking for "queries" CF which first letter "Q" is become a lower case here, an

[2013-04-27 02:38] mevivs commented on #251
Hi,
This is because of CQL interpret everything in lowercase. Since you are executing CQL native query so in order to ensure case senstivity, please change:

[code]

with

[code]

Hope it helps.

-Vivek

[2013-04-28 16:36] thfp commented on #251
Thank you Vivek. The changes worked for version 2.4, but will not be working for 2.2.1.
At least I know where is the problem. Thanks again.

[2013-04-28 16:36] #251 closed, assigned to nobody

[2013-04-29 09:46] Primeval commented on #250
Hi,

the changes doesn't have any effects. I try it with both (Thrift & Pelos) and with a "kundera.pool.size.max.total" value of 1000. There is an concurrency problem. I have seen in the debug that the close() method is called and later inside computeEntityViaColumns() the getDataHandler() with a null instance of an dataHandler within the same thread. I try to find out were the problem is.

[2013-04-29 09:47] mevivs commented on #250
Can you please try with latest trunk?

-Vivek

[2013-04-29 09:49] Primeval commented on #250
Yes I work on the latest trunk (2.5). At first I  remove his.dataHandler = null; from the close-method then the NPE doesn't occurs anymore but I think there is in general a problem.

[2013-04-29 09:52] mevivs commented on #250
onething which i tried and was working for me was:

changing

[code]

with

[code]

-Vivek

[2013-04-29 11:28] mevivs commented on #250
Hi,
I have made some changes in close method earlier. Can you please take an update and try? I am not to replicate NPE at my end.

-Vivek

[2013-04-29 15:34] Primeval commented on #250
<code>
final int NUMBER_OF_THREADS = 1000;
final int NUMBER_OF_WORKERS = 1000;
</code>

that will work for the test but not for our application. We have an JMeter test for the GUI (using 50 threads) and the same error still occurs. Anythink what help for now will to synchronize the create EntityManager method.

synchronized(Lock.class) {
                    em = CassandraUtil .getInstance().getEni

[2013-04-29 17:14] SeanTozer commented on #180
Any progress on this? Or any potential workarounds for Kundera on Jboss7?

[2013-04-29 17:17] mevivs commented on #180
Not yet. Planned for 2.6 release.

-Vivek

[2013-04-29 17:22] SeanTozer commented on #180
When's that scheduled for? Looks like about a month out?

[2013-04-29 17:24] mevivs commented on #180
Yes, as 2.5 is releasing today. Will post an update once we fix this in current trunk after release.

-Vivek

[2013-04-29 22:59] mevivs commented on #231
Please verify with 2.5 release.

-Vivek

[2013-04-29 23:00] mevivs commented on #230
Fixed. Please verify with 2.5 release

-Vivek

[2013-04-29 23:01] mevivs commented on #218
Releasing with 2.5

-Vivek

[2013-04-29 23:02] mevivs commented on #209
Releasing with 2.5

-Vivek

[2013-04-29 23:02] mevivs commented on #190
Fixed and releasing with 2.5

-Vivek

[2013-04-29 23:03] mevivs commented on #188
Closing.

-Vivek

[2013-04-29 23:03] mevivs commented on #182
Closing.

-Vivek

[2013-04-29 23:03] #182 closed, assigned to nobody

[2013-04-29 23:04] #188 closed, assigned to nobody

[2013-04-29 23:05] mevivs commented on #229
Marking as Not an issue. Please verify and close.

[2013-04-29 23:06] mevivs commented on #214
Releasing with 2.5, please verify.

-Vivek

[2013-04-29 23:08] mevivs commented on #181
Closing as no response received.

-Vivek

[2013-04-29 23:08] #181 closed, assigned to nobody

[2013-04-30 07:41] mevivs commented on #246
Fixed in 2.5. Please verify.

-Vivek

[2013-04-30 09:49] #231 closed, assigned to nobody

[2013-04-30 09:49] dtuzikov commented on #231
fixed in 2.5

[2013-04-30 10:30] dtuzikov commented on #230
Not completely fixed.

[code]

[2013-04-30 10:41] mevivs commented on #230
I guess it's incorrect way of defining:

[code]

As per JPA:

[code]

So given below should work:

[code]

-Vivek

[2013-04-30 11:52] dtuzikov commented on #230
The error comes with left and right quotation marks, quote between ab persists normally.

[2013-04-30 12:11] dtuzikov commented on #230
The problem is in appendValue() method of CQLTranslator. It removes first and last quotes from string values before escaping quote.

[code]

[2013-04-30 13:50] mevivs commented on #230
So, if i am getting it correctly, as per your test case you want to persist 'a_'b' rather than a_'b ?

Did you try same persisting via CQLsh as a cql query?

-Vivek

[2013-04-30 14:12] dtuzikov commented on #230
Yes, i want to persist 'a_'b', so CQLTranslator should escape all quotes like ''a_''b''.
cql3 query:

[code]

works well from cqlsh:

[code]

[2013-04-30 14:27] mevivs commented on #230
Right. So as per your CQL query to persist 'a_'b', you explicitly enclose it as

[code]

With Kundera, everything such queries would be converted into CQL queries, and Kundera simply strip enclosed "'". as per JPA rules.
So if you define:

[code]

AS

`
 final String value="a_'_b";
        final String quoteWrappedValue="''"+value+"''";
`

It should work.

However, i understand that such translati

[2013-04-30 14:45] dtuzikov commented on #230
I think escaping code should be changed from

[code]

to

[code]

[2013-04-30 17:32] ceguerra opened #252 "Duplicate persistence-units"
Hello,

I'm new to Kundera.  I'm trying to use version 2.4 but I'm getting the exception below.  I'm using hadoop Apache 1.0.4 and HBase 0.92.2.  I get the exception after running the command

hadoop jar /tmp/srm-data-0.0.1-SNAPSHOT-hadoop-job.jar KunderaJob

where KunderaJob is

public class KunderaJob {
  public static void main(String[] args) throws Exception {
       EntityManagerFactory emf =

[2013-04-30 17:57] mevivs commented on #252
"/tmp/hadoop-hduser/hadoop-unjar2144902707866336842/META-INF/persistence.xml"

Is this an exploded version of hadoop-job.jar?

Where as , "file:/tmp/srm-data-0.0.1-SNAPSHOT-hadoop-job.jar!/META-INF/persistence.xml" is bundled within jar?

Looks like, we might need to relax on this constraint.

-Vivek

[2013-04-30 20:01] ceguerra commented on #252
hi Vivek,

Thanks for replying.  So I have a hadoop jar to execute in the form of:

srm-data-0.0.1-SNAPSHOT-hadoop-job.jar
   META-INF/persistence.xml
   lib/<all the libraries i need for my hadoop job>
   KunderaJob.class

So it seems that hadoop explodes this jar under "/tmp/hadoop-hduser/hadoop-unjar2144902707866336842/".

Somehow also when you call the API to get the resources it looks at that

[2013-05-01 05:36] mevivs commented on #252
This is not an issue with Kundera. Hadoop explodes and keep same jar file available for class loading. As i stated we will discuss about relaxing this constraint(build as part of NoSql intelligence).

As a work around, could you please package your jpa entities and persistence.xml as a seperate jar (Other than map reduce jar) and try running it.

-Vivek

[2013-05-01 13:00] mevivs opened #253 "external property "kundera.batch.size" is not overriden after emf.close()"
Upon closing entity manager factory, external property such as "kundera.batch.size" are not getting cleared at client level.
Please visit:
RedisClientTest=> Method testCRUDWithBatch.

I need to explicitly set to null as:

[code]

-Vivek

[2013-05-01 18:30] ceguerra commented on #252
Hi Vivek,

I tried your suggestion.  Basically instead of exploding my jar within the main jar (srm-data-0.0.1-SNAPSHOT-hadoop-job.jar) I create another jar and put it under the 'lib' dir.

srm-data-0.0.1-SNAPSHOT-hadoop-job.jar
*\* lib/
****\* myjar.jar
****\* kundera-hbase-2.4.jar
****\* persistence-api-2.0.jar
****\* etc

But now when I run the hadoop job it's complaining that it can't find jav

[2013-05-01 18:53] mevivs commented on #252
Looks like, it's some packaging issue. Ok, i will analyze and will post an update on this.

-Vivek

[2013-05-02 09:43] Primeval commented on #250
Hi,

in the find(List<IndexClause> ixClause, EntityMetadata m, boolean isRelation, List<String> relations,
            int maxResult)-method of PelopsClient class I found this:

// close-method was not called
Map<Bytes, List<Column>> qResults  = selector.getColumnsFromRows(m.getTableName(),
 selector.newKeyRange("", "", maxResult), slicePredicate, consistencyLevel); }

// close-method was called -

[2013-05-02 09:56] mevivs commented on #250
Hmm. I will have a look.
Can you please try the same with ThriftClientFactory?

-Vivek

[2013-05-02 23:02] rsshilli commented on #239
Pires, I've read your link, but I'm still confused.  I'm on cassandra 1.2.3 and I'm seeing funkiness in the generated DDL, although unlike emgsilva, it is working.

My entity I'm persisting looks like this:

[code]

My key looks like:

[code]

Here's what cqlsh -3 reports got created:

[code]

Where did key, column1 and value come from?  And why are key & value blobs?  I'm using a String.  When I

[2013-05-03 03:09] mevivs commented on #239
ContactToUserKey should be annotated with @Embeddable annotation. is it there?

I would suggest you to try with latest 2.5 release and Cassandra 1.2.0 release.

-Vivek

[2013-05-03 06:46] emgsilva commented on #239
Probably some of the issues I present in the original post are related with the fact that I am still using an old version of cassandra... and with a new 1.2.x version of Cassandra they will probably go away (I will give it a try soon), but would still be interesting to have some remarks from Kundera team on the issues raised, since some of them seem to be very pertinent for the Kundera users.

Con

[2013-05-03 06:55] mevivs commented on #239
Test cases on auto schema generation are:
1.https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-cassandra/src/test/java/com/impetus/client/crud/compositeType/CompositeDataTypeTest.java

{ This one automatically creates schema with all supported data type for composite columns}. Please refer src/test/resources/META-INF/persistence.xml for "compositedatatype" persistence unit.
1. https:

[2013-05-03 07:00] mevivs commented on #239
For columns like, "key" and "column1". It is created by CQL. "Key" is default name representation via cqlsh for row key. Any column without a name automatically given a name like "column1" in cassandra. We have seen such issues in releases before 2.5 but not with "composite keys" !

@emgsilva , @rsshilli : In case you still getting such issues with schema creation, kindly share your code snippets

[2013-05-03 07:13] Primeval commented on #250
Hi,

I have a check in both PelopsClient and ThriftClient

PelosClient

[code]

ThriftClient:

[code]

For both Client's several times the IllegalArgumentException is thrown:

Pelops: "PelopsClient was closed after Selector was called to get columns from rows."
Thrift: "ThriftClient was closed after get range slices."

Regards

[2013-05-03 07:16] mevivs commented on #250
Can you please email me your sample project at vivek.mishra@impetus.co.in? Let me have a look.

These clients are considered to be thread-safe. Please see corresponding client factory. So such issues should not occur.I will have a look and get it fixed!

-Vivek

[2013-05-03 14:24] rsshilli commented on #239
Hey guys - thanks for the responses.  Sorry, my original comment was a little vague:
- ContactToUserKey is annotated with @Embeddable tag - I forgot to copy that in.
- Eduardo, I tried adding the @Column(name="...")  tags but that didn't help - same issue
- I forgot to mention that I am running on the new Kundera 2.5 - not 2.4 or earlier

I'm at a loss what I'm doing wrong.  I still haven't looked

[2013-05-03 14:30] rsshilli opened #254 "If you don't put a schema attribute on your @Table, there's no warning"
I forgot the schema name in my @Table annotation on one of my entities, and the Entity was silently ignored by Kundera.  I see that you're trying to catch this case, but there's a bug in the code in com.impetus.kundera.metadata.processor.TableProcessor#populateMetadata in the most recent Kundera 2.5.  schemaStr gets set to "" instead of null.

[code]

[2013-05-03 14:46] rsshilli opened #255 "No results produces a List with a null entry"
I don't have time to diagnose this any further, but the following line of code:

[code]

produces:
    assert(contacts.size() ==1);
    assert(contacts.get(0) == null);

which is really strange.  Is anybody else seeing this?  This is on the new Kundera 2.5.

[2013-05-03 15:46] mevivs commented on #255
I will verify it and will update you soon this.

-Vivek

[2013-05-03 15:48] mevivs commented on #254
I will verify and get it fixed if it is an issue.

-Vivek

[2013-05-03 15:53] mevivs commented on #255
Can you please provide more detail on this?

Is there any record stored in Cassandra for "Contact" entity?

-Vivek

[2013-05-03 15:56] rsshilli commented on #239
I found the bug.  It's in com.impetus.client.cassandra.schemamanager.CassandraSchemaManager#updateTables.  If I set the auto ddl strategy to "create", everything works fine.  I had it on "update" and that was why it was screwing up.  You need to replace line 813 with something like this (copied from addTablesToKeyspace):

[code]

[2013-05-03 16:05] mevivs commented on #239
Thanks. I will get it fixed for update functionality. Will post an update as soon as it's fixed.

-Vivek

[2013-05-03 16:06] mevivs commented on #254
Fixed in current trunk.

-Vivek

[2013-05-03 16:34] pires commented on #249
+1

@eld0 can you provide details on your workaround?

[2013-05-03 16:46] mevivs commented on #249
You may try using HAProxy as a workaround.

-Vivek

[2013-05-03 16:50] pires commented on #249
Can you detail further? I mean, I write a row to a different host, based on the selected load-balancing algorithm and then the machine replicates to other nodes?

Can I have a cluster but use it in Kundera as a single node?

[2013-05-03 16:56] pires commented on #219
Why don't you just go with a List of Embeddable objects with two String members? Something like:

[code]

Or use composite columns.

[2013-05-03 16:57] mevivs commented on #249
Not really. You can use as a load balancer and say you a cassandra cluster of 3 nodes. Replication would be handled by Cassandra conifgurations itself(based on selected strategy and replication factor). Configure Kundera with ip where HAProxy is installed and rest it will route to your cassandra nodes. You can find multiple tutorials for such things. Here is one of them:
http://blog.rimuhosting.co

[2013-05-03 17:02] pires commented on #200
+1

[2013-05-03 17:05] mevivs commented on #200
Just to add, This is specific to Redis only. Working fine for other databases.

-Vivek

[2013-05-03 17:11] pires commented on #128
Am I wrong to assume this is only possible with some ordered partitioner (Random won't work) + CQL support + composite key (AFAIK, Cassandra only supports ORDER by composite keys, which depends on ComparatorType)?

[2013-05-03 17:20] mevivs commented on #128
Absolutely correct. But need to be analyzed for other databases as well except MongoDB(already supported in mongodb).

-Vivek

[2013-05-03 17:24] pires commented on #200
I would suggest the creation and usage of more labels for tagging issues (such as one per each supported engine, bug, improvement, documentation, etc.). This would help to better organize and prioritize issues.

[2013-05-03 17:27] rsshilli commented on #166
I'm still seeing this error in Kundera 2.5.  I was hoping the "works with CQL3" thing might have let me use CQL3 to define my table.  It seems Kundera 2.5 can only see tables created with CQL2.

I did switch to the Thrift Client Factory.  Still got this error :(.

[2013-05-03 17:29] mevivs commented on #166
Did you enable cql3 with client? For example as:

[code]

-Vivek

[2013-05-03 17:31] pires commented on #249
I use HAProxy a lot and know how it works, both for HTTP servers and TCP and I think you just basically said almost the same I assumed. But clarifying:

1) We have two configurations, Kundera and each node configuration, right?

2) If yes, Kundera configuration should map a single host (an IP/hostname with HAProxy) or should it have the information about all the nodes, replication, etc.?

3) The h

[2013-05-03 17:33] mevivs commented on #166
Please refer:
https://github.com/impetus-opensource/Kundera/tree/trunk/kundera-cassandra/src/test/java/com/impetus/client/cassandra/thrift/cql

for more junits.

-Vivek

[2013-05-03 17:36] mevivs commented on #249
Ok.
1) We have two configurations, Kundera and each node configuration, right?
`
Yes
`
2) If yes, Kundera configuration should map a single host (an IP/hostname with HAProxy) or should it have the information about all the nodes, replication, etc.?
``
Should map to single host.

[code]

-Vivek

[2013-05-03 17:37] mevivs commented on #200
Yeps. Makes sense, modified.

-Vivek

[2013-05-03 17:47] rsshilli commented on #166
Thank you Vivek!  Your first comment didn't do anything, but from those test cases I figured it out.  To future generations, to get rid of this you need to create your EntityManager like so:

[code]

[2013-05-03 17:49] pires commented on #200
You changed the name, but could use Github labels ;-) if you need help triaging issues, I'd be willing to help but only have some experience in Cassandra (as you might have figured by now).

[2013-05-03 17:50] pires commented on #249
Thanks @mevivs. Your help has been truly valuable to me!

[2013-05-03 17:51] mevivs commented on #166
Aah i think missed the point at my end. Just to clarify, Reason first setting will not work is because schema generation happens before entity manager creation!  That is required in case you want to explicitly set it for cql3 for JPA CRUD operations and JPQL.

-Vivek

[2013-05-03 17:59] mevivs commented on #166
Will get it incorporated as part of wikii.

-Vivek

[2013-05-03 21:08] rsshilli opened #256 "Kundera doesn't escape ids before sending them to lucene"
I'm doing the following with Lucene indexing turned on:

[code]

getting the following exception:

[code]

I even tried using the Lucene Query Parser escaping, but that doesn't seem to help.

[code]

Same exception.

Also - I wanted you to know how much I'm enjoying Kundera.  As a hibernate junkie, after struggling with Hector for a while, I finally gave up and started using Kundera a few days ago

[2013-05-03 21:12] rsshilli commented on #255
Yes, there's nothing in the db for the Contact entity.  As soon as I enter something, this seems to go away.

[2013-05-03 21:16] rsshilli commented on #256
Also, is there a way to tell Kundera to "not use Lucene for this query/column"?  That would be a super useful feature.  It's awesome when you need it but I'd rather use just straight Cassandra when I'm just searching for an exact match on a  primary key, etc.

[2013-05-04 04:22] mevivs commented on #255
Hi,
Please have a look at:
https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-cassandra/src/test/java/com/impetus/client/crud/PersonCassandraTest.java

Method onInsertCassandra()=>

``
Object p1 = prepareData("1", 10);
        Object p2 = prepareData("2", 20);
        Object p3 = prepareData("3", 15);

[code]

``

persistence happens after these test cases.

-Vivek

[2013-05-04 04:24] mevivs commented on #256
If you don't specify  "index.home.dir", it will automatically use Cassandra's secondary indexes.

Have a look at:
https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-cassandra/src/test/java/com/impetus/client/crud/PersonCassandraTest.java

for running without Lucene.

To run with Lucene, please have a look at:

https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-cassandra

[2013-05-04 04:25] mevivs commented on #256
Coming back to original error, can you share given below details:
1. Version of Lucene
2. persistence.xml and code snippet to replicate this issue.

-Vivek

[2013-05-05 20:07] burki84 opened #257 "Classpath not found on startup"
Hey

I was trying to integration cassandra into my project. However, I've got the following error during startup of my app:

'''
013-05-05 21:59:04.0139 INFO localhost-startStop-1 org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean - Building JPA container EntityManagerFactory for persistence unit 'nosql-service'
2013-05-05 21:59:04.0140 INFO localhost-startStop-1 com.impetus.kunder

[2013-05-05 20:21] burki84 commented on #257
I forgot:

Testing on a path without any space " " will solve the issue...

[2013-05-06 04:01] mevivs commented on #257
KK,
Please look into this.

-Vivek

[2013-05-06 07:04] burki84 opened #258 "Custom Row Mappers"
Hey

I'm wondering whether it is possible to use custom row mappers on my data?

Background:
I write a REST-Service which will allow retrieval of timeseries data (Machine generated content). Everything is working so far. However, I would need access to the row mapping in order to make the service even faster.
I'd like to stream the timeseries as XML or JSON while retrieving the values from cassand

[2013-05-08 06:01] #161 closed, assigned to mevivs

[2013-05-08 06:02] #114 closed, assigned to nobody

[2013-05-08 06:02] mevivs commented on #103
Please verify.

-Vivek

[2013-05-08 10:34] impetus-opensource-admin commented on #258
As a JPA compliant solution, entity definition must be present. Keeping Nosql in mind we are working on a solution to decouple client from JPA core and use it for direct stream of data to be processed using clients, still it is in very early stages. I will  keep posting update on this.

-Vivek

[2013-05-08 10:36] impetus-opensource-admin commented on #256
Please provide more details on this issue.

-Vivek

[2013-05-08 10:55] mevivs commented on #250
Fixed, please verify. Thanks Marius for your contribution.

-Vivek

[2013-05-08 10:58] mevivs commented on #248
Fixed and released with Kundera 2.5. Please verify.

-Vivek

[2013-05-08 10:59] mevivs commented on #247
Similar to Issue #177 ?

[2013-05-08 11:04] mevivs commented on #245
Fixed. Please verify with 2.5 release.

-Vivek

[2013-05-08 11:07] mevivs commented on #242
Hi,
Can you please provide more detail on this? You want to configure Kundera for multiple nodes for auto schema configuration?

-Vivek

[2013-05-08 11:15] mevivs commented on #229
Closing.

[2013-05-08 11:15] #229 closed, assigned to nobody

[2013-05-08 11:24] mevivs commented on #220
Any update on this issue please?

-Vivek

[2013-05-08 11:26] mevivs commented on #215
Any update on this?

-Vivek

[2013-05-08 11:30] bsideup commented on #242
Hi!

Funniest thing about this is that we decided not to use Cassandra anymore =)

But yes, there was a problems with auto schema migration on multiple nodes of cassandra:)

[2013-05-08 11:36] mevivs commented on #242
Ok. BTW we fixed some issues(related to schema generation) in recent 2.5 release.

 Kundera does support other databases as well except Cassandra :)

-Vivek

[2013-05-08 11:38] bsideup commented on #242
Glad to hear that! Will look at 2.5 soon:)

[2013-05-08 11:48] mevivs commented on #175
Closing on this. Not an issue anymore.

[2013-05-08 11:48] #175 closed, assigned to nobody

[2013-05-08 11:49] mevivs commented on #174
Released with 2.5. Please verify.

-Vivek

[2013-05-08 11:53] mevivs commented on #139
Closing. Did not receive any update on this.

[2013-05-08 11:53] #139 closed, assigned to nobody

[2013-05-08 13:46] Primeval commented on #250
Defect is fixed and the NPE doesn't occurs anymore!

THX

Marius

[2013-05-08 13:46] #250 closed, assigned to nobody

[2013-05-08 14:22] eld0 commented on #220
You can close this issue. We have found a workaround. Just not use CQL3 with Cassandra 1.1.

[2013-05-08 14:33] #220 closed, assigned to nobody

[2013-05-09 02:28] zhouhero commented on #223
i have test it in cassandra 1.2.4+kundera2.5, the null can be updated by cql.
but the JPQL is not ok.

[2013-05-09 02:30] zhouhero commented on #150
by the way, is the getCountResult()  ok in kundera2.5?

[2013-05-09 02:33] #224 closed, assigned to nobody

[2013-05-09 02:40] zhouhero opened #260 "Hope kundera 2.6 can rollback on Cassandra server side by using atomic batch."
As u know, the kundera can rollbak on client side by using local caching.
But many times, we need server side rollback.
From cassandra 1.2, the atomic batch can rollback in server side.
If kundera 2.6 can rollback by using server side rollback, it will be very cool!

[2013-05-09 02:41] zhouhero commented on #226
could you pls give me a samle?

[2013-05-09 02:42] zhouhero commented on #225
could u pls give me a sample?

[2013-05-09 15:53] oprobst88 commented on #208
This would be really great!
Thanks
Oliver

[2013-05-10 15:54] binuv opened #261 "Named Query Where clause with a column name containing 'set' does not work"
The following query  throws a PersistenceException("bad jpa query: " + clause);

@NamedQuery(name="findSample",query="SELECT s " +
              "FROM Sample s " +
              "WHERE s.settlementDate = ?1")

The issue is with com.impetus.kundera.query.KunderaQuery.java

The tokenization has pattern 'set'
List<String> tokens = tokenize(clause, INTRA_CLAUSE_PATTERN);

INTRA_CLAUSE_PATTERN value:

[2013-05-13 03:30] mevivs commented on #261
I will have a look.

-Vivek

[2013-05-13 08:07] burki84 commented on #258
Thanks. That sounds very interesting :-)

[2013-05-13 12:21] bsideup opened #262 "MongoDB and replication set"
Hi!

We have MongoDB configured as Replication Set, but AFAIK Kundera doesn't allow to set multiple values to "kundera.nodes" property.

How can we pass multiple nodes (primary and secondaries) to kundera to reach this configuration:

![Scheme](http://1.bp.blogspot.com/-z2iA7Bk9ys8/T3yCN7xTiHI/AAAAAAAAAnE/NdpwALp1glQ/s1600/Picture1.png)

Thanks!

[2013-05-13 12:31] mevivs commented on #262
Yes, Kundera does not support multiple nodes configuration AFN. But i guess you should be able to configure replication factor on mongo server itself and rest can be taken care by mongodb master/slave configuration? Isn't it?

-Vivek

[2013-05-13 12:34] bsideup commented on #262
No.

MongoDB connector is designed to write only to primary, but read from any DB node (primary or secondary). Also, if primary node is down, mongo connector determine new primary node. More here: http://horicky.blogspot.com/2012/04/mongodb-architecture.html

Without this functionality kundera is useless because it will kill primary node really fast:)

[2013-05-13 12:37] bsideup commented on #262
Also, i founded this very strange piece of code in MongoDBClientFactory.java:

[code]

And then:

[code]

So it looks like support is almost done, isn't it?:)

[2013-05-13 13:00] mevivs commented on #262
Yes. If you opt to define an external configuration file as :
https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-mongo/src/test/resources/kunderaMongoTest.xml

where a connection element can gave multiple server element as:

[code]

And map it as a configuration file in persistence.xml as :

[code]

It should work for you. But generic configuration as "kundera.host" in persistence.xm

[2013-05-13 13:01] bsideup commented on #262
Awesome, thanks!

[2013-05-13 13:03] mevivs commented on #262
Cool. Also you may try configuring HAProxy to handle such failover mechanism, until it is implemented in Kundera.

-Vivek

[2013-05-13 13:04] bsideup commented on #262
I don't think this is possible 'cause mongo doesn't allow writes to slaves

[2013-05-13 13:07] mevivs commented on #262
Ok. I will have a look for this. Let me know, if above configuration works for you.

Cheers,
-Vivek

[2013-05-13 13:07] bsideup commented on #262
Ok. Checking now

[2013-05-14 08:40] bsideup opened #263 "Entitymatadata should not be null on @SecondaryTable (v2.5)"
com.impetus.kundera.KunderaException: Entitymatadata should not be null
        at com.impetus.kundera.persistence.PersistenceDelegator.getClient(PersistenceDelegator.java:542)
        at com.impetus.kundera.persistence.PersistenceDelegator.find(PersistenceDelegator.java:262)
        at com.impetus.kundera.persistence.PersistenceDelegator.findById(PersistenceDelegator.java:210)
        at com.impe

[2013-05-14 08:42] mevivs commented on #263
Can you please provide more detail on this? Latest Kundera release does not support @SecondryTable annotation.

-Vivek

[2013-05-14 08:43] bsideup commented on #263
@mevivs
https://github.com/impetus-opensource/Kundera/issues/103
you sure?

[2013-05-14 08:45] mevivs commented on #263
YES. Issue referred was a fix for "SharedByPrimaryKey" case only.

-Vivek

[2013-05-14 08:45] bsideup commented on #263
Oh, sorry. I understood it wrong.

And..... any estimates on @SecondaryTable support?

[2013-05-14 08:46] mevivs commented on #263
Planned with @MappedSuperclass support. Will post an update once we start on it.

-Vivek

[2013-05-14 08:46] mevivs commented on #262
Are we good to close on this?

-Vivek

[2013-05-14 08:47] bsideup commented on #262
Seems like it works for me. Thanks. We're good.

[2013-05-14 08:48] mevivs commented on #262
Thanks. Closing.

[2013-05-14 08:48] #262 closed, assigned to chhavigangwal

[2013-05-14 08:49] bsideup commented on #263
It's not what i'm looking for, but ok.

And... is there any way to support multiple databases on one entity? We're planing to lazy migrate database from cassandra to mongodb, and we need to connect two databases at the same time with one Entity. Is it possible?

[2013-05-14 08:55] mevivs commented on #263
Without changing Entity for @Table annotation? If yes, there is some tweaks which you need to do pro grammatically to get this working.

[code]

So in above mention example, you can use Account entity for different persistence unit at runtime.
Hope it helps.

[2013-05-14 09:00] bsideup commented on #263
But will it works with 2 databases (and schemes) at the same time?

Because our workflow looks something like:
1) read from mongo
2) if result is null, read from cassandra
3) if result is not null, persist result to mongo and return result

[2013-05-14 09:02] mevivs commented on #263
I guess given below steps should work for you:

Precondition: Your entity by default annotated for mongoDB

1) Read from mongodb
2) if result is null, switch for pu to Cassandra(refer above code snippet)
3) read from Cassandra
4) If result is not null, switch for pu to mongodb
5) Persist to mongoDB
6) return result.

HTH,

-Vivek

[2013-05-14 09:08] bsideup commented on #263
Okay, thanks, i will try it.

BTW, it is not possible to not specify Schema in @Table, right? This is only one point where my flow doesn't work;(

[2013-05-14 09:46] mevivs commented on #263
Nope. That's how entity is mapped to a "keyspace" for given persistence unit

-Vivek

[2013-05-14 09:59] pires commented on #239
Is this fixed in trunk? Would be nice if commit logs were to reference the issues they're related to. I've found some closed issues without info on the fix code. This prevents people from learning about your base code from your changes :-(

You may be aware of it, but check _Commits + Issues_ at https://github.com/blog/831-issues-2-0-the-next-generation.

[2013-05-14 10:03] mevivs commented on #239
Not yet fixed. Target for 2.6 release.  Yes, there have been such instances, we are trying to improve in it. Thanks for sharing links. It's really helpful!

Cheers,
-Vivek

[2013-05-14 10:12] pires commented on #239
@rsshilli did you test the change you propose? Perhaps you could provide a fix and pull-request it.

[2013-05-14 10:16] bsideup commented on #263
but keyspace if already set for PU in persistence.xml

[2013-05-14 10:27] eld0 commented on #221
Hi,
Need the same functionality, but your workaround doesn't work for me.
I always get null at KunderaMetadataManager.getEntityMetadata(MyClass.class) step.
Cassandra 1.1
Kundera 2.4
Spring 3

[2013-05-14 10:37] mevivs commented on #221
Hi,
Have a look at:
https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-tests/src/test/java/com/impetus/kundera/tests/crossdatastore/useraddress/AssociationBase.java

Method: switchPersistenceUnits()

Kundera-tests is our test package with junits around all sort of data type and association(s). We created a single entity for RDBMS and then dynamically modifying it for multiple databas

[2013-05-14 10:40] mevivs commented on #263
To map an entity for a persistence unit you need to mention it under <class> tag but that's optional, so if user does not mention it under class tag, it's difficult to recognize entity is meant for which database, unless you specify something like schema to map properly with a persistence unit.

-Vivek

[2013-05-14 10:53] eld0 commented on #221
Thanks for help.
I've found my issues, I've tried to use @Table annotation without setting schema parameter that's why it was null.

[2013-05-14 11:06] kkmishra commented on #255
Any update on this, is it still an issue for you ?

Thanks
Kuldeep

[2013-05-14 11:24] bsideup opened #264 ".hashCode() and .equals()"
Hello!

Should i override this if i'm using Kundera? And when?

Thanks!

[2013-05-14 11:30] mevivs commented on #264
Kundera relies on entity's equals and hashcode method for dirty check(creating transactional copy). Override it if you want custom check to be made for jpa dirty check.

-Vivek

[2013-05-14 16:33] rsshilli commented on #255
Yeah, that test looks good.  I can't explain why I'm seeing why I'm seeing.  I'd have to spend some time debugging it but I don't have that time right now.  I guess close it and I'll re-open it when I have a patch.

[2013-05-14 16:33] #255 closed, assigned to nobody

[2013-05-14 16:36] rsshilli commented on #239
@pires Sorry , I didn't test the fix.  I worked around it instead.

[2013-05-14 19:37] alexh97 commented on #180
Does this mean that there is currently no way to use Kundera in JBoss 7.x?

[2013-05-15 03:35] mevivs opened #265 "support for TTL per column value while inserting data."
Currently Kundera does not provide support to provide TTL while inserting data in column family as:

[code]

or

[code]

[2013-05-15 13:15] pires commented on #265
+1

[2013-05-15 17:38] dondragon2 opened #266 "No Entity metadata found for the class"
I am using version 2.5 of kundera. Everything is setup properly in my estimation but I keep getting the following warning when persisting a collection in an entity and the collection is never persisted. What could be wrong?

13:25:02,730  WARN KunderaMetadataManager:152 - No Entity metadata found for the class class java.util.HashSet. Any CRUD operation on this entity will fail.If your entity is f

[2013-05-15 18:18] mevivs commented on #266
Hi,
This looks ok to me. Can you please given below code snippet? If it works for you?

[code]

[code]

Added @JoinColumn and @Column annotation in CurrentStep and MyEntry entities respectively.

Also, you may also refer to:
https://github.com/impetus-opensource/Kundera/tree/trunk/kundera-tests/src/test/java/com/impetus/kundera/tests/crossdatastore/useraddress/entities

for different association e

[2013-05-15 19:04] dondragon2 commented on #266
Thanks for the insight but there is a failure when setting the entry variable on the current step and the warning is still there. Below is the output that I see.

14:57:36,219  WARN KunderaMetadataManager:152 - No Entity metadata found for the class class java.util.HashSet. Any CRUD operation on this entity will fail.If your entity is for RDBMS, make sure you put fully qualified entity class name

[2013-05-15 19:37] xamry commented on #266
This warning is not going to affect correct working of your entity
persistence in all likelyhood (let us know if it does).
But definitely this warning shouldn't be there. Your code would need to be
run in order to reproduce the bug. Would it be possible for you to send
your sample project code?

On Thu, May 16, 2013 at 12:34 AM, dondragon2 notifications@github.comwrote:

[2013-05-15 20:17] dondragon2 commented on #266
sorry you can download the sample project from.

http://www.gisonline.mobi/samples/sample.zip

Let me know if you are able to download the project

[2013-05-16 09:56] kkmishra opened #267 "Migration of Cassandra from 1.2.0 to 1.2.4"

[2013-05-16 10:23] mevivs commented on #234
Fixed in current trunk.

-Vivek

[2013-05-16 10:24] mevivs commented on #201
Fixed in current trunk. Please verify.

-Vivek

[2013-05-16 10:24] mevivs commented on #267
Fixed in current trunk.

[2013-05-16 10:25] mevivs commented on #252
Fixed in current trunk. Please verify.

-Vivek

[2013-05-16 10:28] mevivs commented on #217
Fixed in current trunk. Please verify.

-Vivek

[2013-05-16 10:30] mevivs commented on #254
A warning will be raised on not defining schema attribute! . Fixed in latest trunk.

Please verify.

-Vivek

[2013-05-17 05:41] xamry commented on #266
I tried setting up your project, but there are compilation errors. namely
classes in com.uluru.safire.api package are missing. (probably coming from
parent project)

Could you send that code as well.

Amresh

On Thu, May 16, 2013 at 1:47 AM, dondragon2 notifications@github.comwrote:

[2013-05-17 09:11] pires commented on #267
_Fixes issue #_ in the commit message should close this issue.

[2013-05-17 09:18] pires opened #268 "Problem with git clone on Mac and possibly Windows"
I'm really wanting to contribute to Kundera but right now I'm unable to provide even the simplest change because every time I clone the project, a bunch of files show up as _modified_.

[code]

I think this is related to this issue with case-sensitive filenames, http://stackoverflow.com/questions/5009096/files-showing-as-modified-directly-after-git-clone

I'm using MacOs 10.8.3 with Git 1.8.2.3.

[2013-05-17 09:34] mevivs commented on #268
Hi,
Any resolution for this issue?

-Vivek

[2013-05-17 09:40] pires commented on #268
I can confirm that this issue is related to the case-sensitive filenames. Here goes an example:

[code]

As you can see there are _twin_ files such as **StudentMongoLong.java** and **StudentMongolong.java**. This was caused by some of you (on Linux, maybe) renaming files but on case-insensitive filesystems, Git doesn't understand this change and just marks the files as modified.

This should be co

[2013-05-17 09:42] mevivs commented on #268
Thanks Paulo. i will get these renamed such files with a name differentiator. Hope that should resolve the issue.

-Vivek

[2013-05-17 10:17] pires commented on #268
Working on the fix as we speak. Will provide pull-request very soon.

[2013-05-17 11:19] dondragon2 commented on #266
Thanks for pointing that out. I made the changes. Please try again. http://www.gisonline.mobi/samples/sample.zip

[2013-05-17 18:33] pires commented on #268
I'm expecting to fix this tomorrow, now that I got Cassandra tests (#270) to work on case-sensitive systems :-)

[2013-05-18 12:06] mevivs opened #272 "Fork Junits"
With current Kundera build, all junits are executed on a single thread. We should fork junits for better performance and faster run. We simply need to configure pom files for examples as:

[code]

[2013-05-18 19:59] #268 closed, assigned to nobody

[2013-05-18 20:31] pires commented on #272
If multiple tests run concurrently, we may end having corrupt data for embedded daemons like Cassandra.

[2013-05-19 07:20] kkmishra opened #274 "HBase junit cli issue"

[2013-05-19 07:28] kkmishra commented on #274
#closed

[2013-05-19 07:29] #274 closed, assigned to nobody

[2013-05-19 07:29] #267 closed, assigned to nobody

[2013-05-20 15:11] bsideup opened #275 "Spring persistence config support"
Hi!

Is it possible to set persistence properties from Spring? Something like that:

<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" depends-on="config">
        <property name="persistenceUnitName" value="SomePU"/>
        <property name="jpaProperties">
            <props>
                <prop key="kundera.nodes">mongo1</prop>

[2013-05-21 07:30] mevivs commented on #275
Hi
Nothing is visible on above description. Please provide correct details.

-Vviek

[2013-05-21 07:31] bsideup commented on #275
Damn, i doesn't know that GitHub isn't allow XML.

But after upgrade to 2.5 issue is gone. Sorry:)

[2013-05-21 07:32] #264 closed, assigned to nobody

[2013-05-21 07:36] bsideup opened #276 "orm.xml mapping support"
Does Kundera supports orm.xml mapping? I found nothing about :(

[2013-05-21 08:10] mevivs commented on #276
Nope. Kundera only supports annotation based entity mapping.

-Vivek

[2013-05-21 08:10] bsideup commented on #276
And no estimates?

[2013-05-21 08:10] #275 closed, assigned to nobody

[2013-05-21 08:15] mevivs commented on #276
We need to analyze, not yet started on this.

-Vivek

[2013-05-21 08:16] bsideup commented on #276
Ok, thanks!

On Tue, May 21, 2013 at 11:15 AM, Vivek Mishra notifications@github.comwrote:

##

Best regards,
Sergey Egorov

[2013-05-21 16:27] pires opened #277 "[Cassandra] Secondary indexes are not generated in entity identified by composite-key"
Please, see discussion at https://groups.google.com/forum/?fromgroups=#!topic/kundera-discuss/R9H6YIUXQQI.

The problem happens at schema generation, when an entity has a composite-key, namely method _CassandraSchemaManager.onCompoundKey()_, where it's missing code for dealing with indexable columns.

[2013-05-22 14:37] sachur opened #278 "Operator IN"
When use "in" key word using cassandra 1.2 (kundera 2.5) with the next query, for example:

Query query = em.createQuery("SELECT \* FROM ColumnFamily where KEY IN ( 12345,123456);
query.getResultList();

 The following error happend: "Condition in is not suported for query on row key! "

Can anyone help me get it working ? Thanks

[2013-05-22 15:27] impetus-opensource-admin commented on #278
Hi,
Currently Kundera does not support IN clause in JPQL way(work in progress). But you can execute a native cql3 query as:

Query query = em.createNativeQuery("SELECT \* FROM ColumnFamily where KEY IN ( 12345,123456)");
query.getResultList();

-Vivek

[2013-05-22 16:41] sachur commented on #278
I used createNativeQuery, and the following error happend:

InvalidRequestException(why:Cannot execute/prepare CQL3 statement since the CQL has been set to CQL2(This might mean your client hasn't been upgraded correctly to use the new CQL3 methods introduced in Cassandra 1.2+)

I've been researching on the error but have not found anything useful. Any help? Thanks

[2013-05-22 16:58] mevivs commented on #278
You need to set for cql version to 3.0.0 .  Given below are various ways to set this.

1) You can set it while creating entity manager factory as:

[code]

2) Another alternative is, set it via Em as

[code]

3) Else you can also pass it as property as, create a property file(say, kunderaTest.xml:

[code]

And then configure it in persistence.xml as:

[code]

Hope it helps.

-Vivek

[2013-05-23 09:41] mevivs commented on #278
Is this working for you?

-Vivek

[2013-05-23 10:04] sachur commented on #278
Yes, it has worked. Thank you very much for helping

[2013-05-23 10:05] mevivs commented on #278
Ok. Great!

Using Kundera for?

-Vivek

[2013-05-23 10:09] #278 closed, assigned to nobody

[2013-05-23 14:42] sachur opened #279 "JPQL or CQL 3.0?"
After installing cassandra 1.2 and have CQL 3.0, which I recommend to use JPQL or CQL3.0? Which is more efficient?

Thanks

[2013-05-23 14:44] mevivs commented on #279
If you set CQL3.0 as a version with Kundera, then by default all JPQL will automatically be converted in to CQL queries via Kundera!

With 2.5 release onwards, Kundera automatically does all CRUD in CQL3 way, if you opt for CQL3 version while dealing with Kundera.

HTH,

-Vivek

[2013-05-23 15:05] sachur commented on #279
When working with CQL 3.0, JPQL queries do not work, only the native queries.

Should I stop using JPQL and use only native queries?

[2013-05-23 15:10] mevivs commented on #279
That's not entirely correct. Have a look at :
https://github.com/impetus-opensource/Kundera/wiki/JPQL

for supported feature set. However support for IN clause etc will not work as of now, work is planned for future Kundera releases.

You may also find a number JPQL junits running over CQL3 undera kundera-cassandra/test package.

-Vivek

[2013-05-23 15:18] sachur commented on #279
Thank you very much. For now I will continue using JPQL

[2013-05-23 15:21] mevivs commented on #279
Are we good to close on this?

-Vivek

[2013-05-23 15:25] sachur commented on #279
Yes. Regards

[2013-05-23 15:26] #279 closed, assigned to nobody

[2013-05-25 20:55] OleksandrSemenov opened #280 "Executing CQL3(Cassandra.Client.execute_cql3_query) queries regardless to the CQL version in the config"
Kundera version: 2.5
Cassandra version: 1.2.5

Hi
Kundera executes cql3 queries regardless to the version number which is set in the configuration.
Bug located in com.impetus.client.cassandra.CassandraClientBase in executeCQLQuery:

[code]

Here cql version is set by conn.set_cql_version, but query is always executed by method for CQL3

Thank you for your work & best regards,
Oleksandr

[2013-05-25 22:53] OleksandrSemenov opened #281 "Cannot persist entity which was prevously deleted"
Kundera version: since 2.2
Cassandra version: since 1.1.8

Hi

There are an issue: when using PelopsClientFactory there are no ability to persist entity which was previously deleted(or persist another entity if it has the same key).
No exceptions, but data is not persisted to the CF - select queries return nothing.
When using ThriftClientFactory it is all fine

Thanks and regards,
Oleksandr

[2013-05-27 10:56] bsideup opened #282 "Locks"
Hello everyone!

Does Kundera supports Jpa locking? ( http://en.wikibooks.org/wiki/Java_Persistence/Locking#JPA_2.0_Locking )

Thanks!

[2013-05-27 11:00] mevivs commented on #282
Nope. Do you any thoughts to share how actually such locking mechanism should work over nosql databases?

-Vivek

[2013-05-27 11:01] bsideup commented on #282
http://wiki.apache.org/cassandra/Locking

Yep.

[2013-05-27 11:07] mevivs commented on #282
It's bit old thread. Does Cassandra support this?

-Vivek

[2013-05-27 11:09] bsideup commented on #282
Hard to say.

But AFAIK Hector  support this:
https://github.com/hector-client/hector/blob/master/core/src/test/java/me/prettyprint/cassandra/locking/HLockManagerImplTest.java

[2013-05-27 12:06] mevivs commented on #282
AFAIK, Cassandra doesn't.

Such custom implementation at client level may be possible, AFN Kundera doesn't support this.

-Vivek

[2013-05-27 13:46] OleksandrSemenov commented on #282
Hi

There are no locking in Cassandra, but if you want to implement it please take a look at the Cages library - https://code.google.com/p/cages/
Note, that it requires ZooKeeper

Regards,
Oleksandr

[2013-05-27 13:58] mevivs commented on #280
KK,
Please look into this.

-Vivek

[2013-05-28 16:44] joaonlima commented on #165
DB Name: Cassandra
DB Version: 1.2

Feature Description: Support for @ManyToMany

[2013-05-28 16:46] mevivs commented on #165
ManyToMany is already supported for all databases.

-Vivek

[2013-05-28 16:50] joaonlima commented on #165
Great.. Due to [this page](https://github.com/impetus-opensource/Kundera-Examples/wiki/Introduction) I thought it was not. Thanks.

[2013-05-28 16:58] xamry commented on #165
This (KunderaExamples) is an outdate project and is not updated. It was
originally meant for demonstrating sample codes and examples  using
kundera.

As is written on its home page, all code examples have been moved to
Kundera (https://github.com/impetus-opensource/Kundera).

Thanks for bringing this to our attention, we'll delete this project once
we are sure we're not going to lose any useful co

[2013-05-28 22:30] ChrisEineke commented on #209
I'm using kundera 2.5's cassandra layer and I'm annotating an entity that has a Set<String> attribute as follows:

[code]

This causes java.lang.String to become a default embeddable type and find-queries against _any_ entity with a String @Id y generated with this where clause:

[code]

This bug has not been fixed.

Edit: The behaviour is the same if I remove the targetClass parameter from the an

[2013-05-29 02:55] mevivs commented on #209
@ElementCollection in Cassandra will work for embeddable entities. Any entity annotated with @ElementCollection or @Embedded will be considered as a super column family in Cassandra.

-Vivek

[2013-05-29 18:58] ChrisEineke opened #283 "Property accessors should print warnings when there's a mismatch"
I had a long type in my entity, but the table was created with an int type. The LongAccessor doesn't print a warning if the provided byte array isn't exactly 8 bytes long. It should log that there was a mismatch between the expected length of the array and provided array so that these issues are easier found.

[2013-05-29 19:08] mevivs commented on #283
:+1:

It should show such warnings.

-Vivek

[2013-05-30 11:24] pires commented on #282
Locking in a variable-consistency and multiple-client (each with a possible _lock_) doesn't seem a sane idea.

[2013-05-30 11:34] pires opened #284 "Entity classes loading in container returns class with bad metadata"
When reading entities metadata, each class must be loaded by the classloader in order to access its annotations, fields and such. This works on my tests with Glassfish-embedded (Web app, WAR file) or Guice standalone app, but not when deploying in a container).

Try:
1) https://github.com/pires/simple-kundera-embedded-cassandra-app - _mvn clean exec:java_ [**WORKS**]

2) https://github.com/pires/s

[2013-05-31 07:55] jinagko commented on #281
same problem~

[2013-05-31 08:11] mevivs commented on #281
Currently, in Kundera we have shifted our default client from Pelops to Thrift based on many reasons. Pelops is not keeping up with pace with Cassandra development and that's why we brought custom thrift implementation. So i would suggest you to use ThriftClientFactory as default Cassandra client.  However, i will keep this issue open and will try to find a solution for this in upcoming releases.

[2013-05-31 11:26] mevivs opened #285 "HBase junits failing for slf4j dependency"
On current trunk branch, hbase junits are failing for:
1. Version mismatch for slf4j-api
2. permission issue for "dfs..data.dir"

Fix is to provide same slf4j-api version explicitly in kundera-hbase/pom.xml and a code fix in HBaseCli.java

-Vivek

[2013-06-03 09:06] jinagko opened #286 "Cassandra Primary Key Auto generation Exception"
Hi~
with Cassandra-1.2.4.
Kundera-cassandra-2.5.
I used "TABLE generation strategy" like that:
1.User.java;

@Entity
@Table(name = "USER", schema = "keyspace-Name@pu-name")
public class User
{
    @Id
    @TableGenerator(name = "id_gen", allocationSize = 30, initialValue = 100)
    @GeneratedValue(generator = "id_gen", strategy = GenerationType.TABLE)
    private String id;
    @Column
    private

[2013-06-03 10:11] kkmishra commented on #286
I suggest you to try with kundera-2.5.1, and let me know if problem persists.

Thanks
Kuldeep

[2013-06-04 08:19] jinagko commented on #286
Dear,Kuldeep
Thanks for your reply, I had try with kundera latest version,It occur another Exception like that:

HTTP Status 500 - com.impetus.kundera.KunderaException: Error while using keyspace

(root cause )

InvalidRequestException(why:unconfigured columnfamily kundera_sequences)
    org.apache.cassandra.thrift.Cassandra$get_result.read(Cassandra.java:6592)
    org.apache.thrift.TServiceClient

[2013-06-04 08:23] mevivs commented on #286
Hi,
Did you opt for auto schema generation option via Kundera? As per the error, it looks like column family is not in place.

In case you didn't and want Kundera to manage your schema, then you need to configure as:

[code]

in persistence.xml

Else you can also create it manually. Please refer https://github.com/impetus-opensource/Kundera/wiki/Common-Configuration for more information.

-Vivek

[2013-06-04 08:34] jinagko commented on #286
oh~yep,thank you very much!

[2013-06-04 08:34] #286 closed, assigned to nobody

[2013-06-04 11:54] pires commented on #277
Hey @mevivs you have fixed this, or at least provided a working patch. Can this be closed then?

[2013-06-04 12:06] mevivs commented on #277
Hi Paulo,
This has been fixed with :
0e7f36d48555e9ea0b5b57e2aadd8fae8fbfaeb2

-Vivek

[2013-06-04 22:12] vargasbo opened #287 "Cannot change the port number."
Found in conf/META-INF/persistence.xml

<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
    http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">

[code]

This is what I'm seeing in the debug window.
[info] o.a.z.ZooKeeper - Ini

[2013-06-05 08:25] eld0 commented on #249
Hi,
Do you have any news about this enhancement? When you plan to release it?

[2013-06-05 08:26] pires commented on #249
AFAIK, this is in the works and should be included in 2.6.

[2013-06-05 09:29] kkmishra commented on #287
Hi,
  port in persistence.unit maps with the port of hbase master, use default port(2181) for zookeeper.
  To provide different port of zookeeper you have to define a xml file with following properties:

[code]

and add a property under persistence-unit property tag

[code]

for reference you can refer following link:
https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-core/src/test/r

[2013-06-05 16:17] vargasbo commented on #287
I still think this is a bug. One has to define the nodes and port in two different location. If I remove the

property name="kundera.nodes" value="dc1-r1-n6.qwestcolo.local,dc1-r1-n5.qwestcolo.local,dc1-r2-n5.qwestcolo.local"

property name="kundera.port" value="5181"

in the persistence.xml file you get this error. c.i.c.h.s.HBaseSchemaManager - Host or port should not be null / port should be nu

[2013-06-05 16:30] mevivs commented on #287
Persistence.xml is a place for common set of properties across database supported by Kundera(e.g. Cassandra, HBase etc). "kundera.port" property maps to HMaster port, not to zookeeper. By default zookeeper runs on 2181(this is why Kundera keeps it as default zookeeper port) and such configurations are specific to HBase. That's the reason behind configuring it with external configuration file rathe

[2013-06-05 16:39] vargasbo commented on #287
Yes!! That makes sense. Where can I find documentation? I'm trying to do a simple CRUD with an class that has two column families. I'm finding tons of code samples, but nothing which explains the logic as you just did.

[2013-06-05 16:49] mevivs commented on #287
Basic junit can be referred from given below link:
https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-hbase/src/test/java/com/impetus/client/hbase/crud/PersonHBaseTest.java

Support on different data types can be found at:
https://github.com/impetus-opensource/Kundera/tree/trunk/kundera-hbase/src/test/java/com/impetus/client/hbase/crud/datatypes

About providing a db specific configu

[2013-06-05 17:31] #287 closed, assigned to nobody

[2013-06-06 08:25] dobarskyy commented on #249
Hi, we also are very intrested in this  - could you please clarify if this still goes to 2.6 which is in 8 days?

[2013-06-06 08:41] mevivs commented on #249
Yes. This will be released in 2.6. I will post an update once this is checked-in in current trunk.

-Vivek

[2013-06-07 16:21] Gargee opened #288 "07 Jun 2013 08:48:37,139 ERROR main com.impetus.client.cassandra.thrift.ThriftClient (ThriftClient.java:165) - Error while persisting record, Caused by: InvalidRequestException(why:Not enough bytes to read value of component 0)"
I am trying to persist my entity object into Cassandra DB using Kundera API.But I am getting this

com.impetus.client.cassandra.thrift.ThriftClient (ThriftClient.java:165) - Error while persisting record, Caused by:
InvalidRequestException(why:Not enough bytes to read value of component 0)

My Code looks like this:-

import javax.persistence.Column;
import javax.persistence.Entity;
import javax.pe

[2013-06-07 16:42] mevivs commented on #288
You need to enable CQL3 version before persisting record. You can enable it as:

[code]

-Vivek

[2013-06-07 16:43] mevivs commented on #288
You can also refer to:
https://github.com/impetus-opensource/Kundera/issues/278

 for more details on enabling CQL3 version with Kundera.

-Vivek

[2013-06-07 16:44] mevivs commented on #288
Similar to https://github.com/impetus-opensource/Kundera/issues/166

[2013-06-07 21:35] Gargee commented on #288
Tried all the above mentioned steps Vivek,but still getting the same error.

[2013-06-07 23:40] mevivs commented on #288
Please compare your code with basic example at:
https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-cassandra/src/test/java/com/impetus/client/crud/PersonCassandraTest.java

Else, please share link to download your sample code base.

-Vivek

[2013-06-08 02:17] Gargee commented on #288
Hi Vivek,
I have uploaded the code here:
https://github.com/Gargee/KunderaPoc

Basically when i m creating the column Families using CLI this is working.But it doesnt when i create the column Families using CQL.
/*Through CLI if created
-
- create column family MediaCategoryGroup with comparator=UTF8Type and default_validation_class=UTF8Type and key_validation_class=UTF8Type;
-
- Or
- Through CQL

[2013-06-08 04:40] mevivs commented on #288
Ok. Will have a look.
Prima facie, had a look at:

https://github.com/Gargee/KunderaPoc/blob/master/src/main/java/com/Kundera/poc/CRUD.java

AND https://github.com/Gargee/KunderaPoc/blob/master/src/main/java/com/Kundera/poc/KunderaExample.java

I can see that

https://github.com/Gargee/KunderaPoc/blob/master/src/main/java/com/Kundera/poc/CRUD.java is missing :

[code]

for

[code]

i believe, it w

[2013-06-08 12:55] Gargee commented on #288
Thanks Vivek it works.

[2013-06-08 12:55] #288 closed, assigned to nobody

[2013-06-10 07:42] mevivs opened #289 "Schema generation: clean up and refactoring."
Work required for schema configuration design review and clean up.

-Vivek

[2013-06-10 16:39] Gargee opened #290 "Not able to start Cassandra suddenly after working on it for 1 week"
Hi I have a cassandra installed on my Mac for the last one week and i have been working on it ,suddenly today when i tried starting cassandra I am getting this error and cassandra is not starting up.I am getting this in the system.log:-
  at org.apache.cassandra.utils.WrappedRunnable.run(WrappedRunnable.java:28)
        at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:439)

[2013-06-10 16:42] Gargee commented on #290
This is what i can see in my console:-
BELC02JV1E8DKQ4:bin a-gbanerjee$ cassandra
xss =  -ea -javaagent:/usr/local/Cellar/cassandra/1.2.5/jamm-0.2.5.jar -XX:+UseThreadPriorities -XX:ThreadPriorityPolicy=42 -Xms4096M -Xmx4096M -Xmn800M -XX:+HeapDumpOnOutOfMemoryError
BELC02JV1E8DKQ4:bin a-gbanerjee$  INFO 09:41:19,118 Logging initialized
 INFO 09:41:19,128 JVM vendor/version: Java HotSpot(TM) 64-Bi

[2013-06-10 16:46] mevivs commented on #290
Not sure how is it related with Kundera?

-Vivek

[2013-06-10 16:52] #290 closed, assigned to nobody

[2013-06-10 17:07] mevivs commented on #290
See if this thread helps:
http://cassandra-user-incubator-apache-org.3065146.n2.nabble.com/Cannot-start-cassandra-node-anymore-td7150978.html

[2013-06-10 17:27] Gargee commented on #290
Thanks Vivek ,
I could figure out the problem.I have got it working.I really appreciate the help you guys are extending to all the Cassandra-Kundera Users.

[2013-06-10 21:53] Gargee opened #291 "Many To One Relationship (Unidirectional)"
Hi,
Now i have this problem which i cant find a solution .
I have two tables :-
CREATE TABLE "MediaCategoryGroup" (MCategoryID int, MCategoryName varchar, PRIMARY KEY(MCategoryID));
and
CREATE TABLE "MediaCategory" (MCategoryID int, submcategoryname varchar,PhotoRankID int, VirtualTourID int, LangID int,mcategoryid2 int, PRIMARY KEY(MCategoryID,LangID, PhotoRankID, VirtualTourID));

I am trying to

[2013-06-11 02:41] mevivs commented on #291
Can you please try by changing db script as:

CREATE TABLE "MediaCategoryGroup" (MCategoryGrpID int, MCategoryName varchar, PRIMARY KEY(MCategoryGrpID));

CREATE TABLE "MediaCategory" (MCategoryID int, submcategoryname varchar,PhotoRankID int, VirtualTourID int, LangID int,mcategoryid2 int, MCategoryGrpID int,PRIMARY KEY(MCategoryID,LangID, PhotoRankID, VirtualTourID));

See if it works.

[2013-06-11 03:59] bejayoharen opened #292 "NPE with generated value"
I am porting some code and am getting this exception:

Caused by: java.lang.NullPointerException
    at com.impetus.kundera.configure.MetamodelConfiguration.processGeneratedValueAnnotation(MetamodelConfiguration.java:452)
    at com.impetus.kundera.configure.MetamodelConfiguration.scanClassAndPutMetadata(MetamodelConfiguration.java:370)
    at com.impetus.kundera.configure.MetamodelConfiguration.l

[2013-06-11 04:04] mevivs commented on #292
Hi,
Do you need  primary key to  be auto generated using @GeneratedValue?

-Vivek

[2013-06-11 04:07] mevivs commented on #292
Please refer:
https://github.com/impetus-opensource/Kundera/tree/trunk/kundera-mongo/src/test/java/com/impetus/client/generatedId

for more on usage of @GeneratedValue over MongoDB.

[2013-06-11 04:11] bejayoharen commented on #292
The original code uses it (@GeneratedValues). I'd like to map the original code as closely as possible before changing things, so yes, I need autogenerated primary keys.

[2013-06-11 04:35] bejayoharen commented on #292
That link uses ObjectIds, which are familiar from mongo. It also uses @TableGenerator. The docs here:

https://github.com/impetus-opensource/Kundera/wiki/Primary-Key-Auto-generation

use Strings and no mention of @TableGenerator. I Followed the docs. What do I need to change?

If my usage is not correct:
- the docs should be updated, and
- A correct error message should be displayed rather than a

[2013-06-11 04:52] mevivs commented on #292
Did you try referrring to:
https://github.com/impetus-opensource/Kundera/tree/trunk/kundera-mongo/src/test/java/com/impetus/client/generatedId

for more on usage of @GeneratedValue over MongoDB.

If yes, and still getting error, please share your code snippet link

-Vivek

[2013-06-11 05:01] mevivs commented on #292
KK,
Please look into this.

-Vivek

[2013-06-11 07:23] mevivs commented on #249
Multiple node support has been added in Kundera for Cassandra. Please refer https://github.com/impetus-opensource/Kundera/wiki/Using-multiple-node-support-and-load-balancing-policy-in-Kundera
for more details.

Will be releasing with 2.6

-Vivek

[2013-06-11 07:42] eld0 commented on #249
Great news! I'll check that.
Big thanks!

[2013-06-11 14:25] mevivs opened #293 "Bidirectional ManyToOne: Issue with SelfAssociation"
Entity:

[code]

Failing for fetching an entity object having parent object but no children.

Error produced is:

[code]

-Vivek

[2013-06-11 14:37] bejayoharen commented on #292
"Did you try referrring to:" Yes. As I said, it is different from the docs:
- The Docs use the String type for generated ids, whereas the code you linked to uses ObjectIds.
- The Docs make no mention of @TableGenerator, whereas the code you linked to uses it.

Do I need to change both things, or just the type? I have 19 generated values in my code, so it's a fair bit of code to go over and I'd lik

[2013-06-11 14:49] mevivs commented on #292
As per
https://github.com/impetus-opensource/Kundera/wiki/Primary-Key-Auto-generation:

Table generation strategy is only applicable to "Cassandra" and "HBase".

[code]

In case, you want _id field in mongodb to be of type ObjectId, then only you need to declare it as "ObjectId" in your entities. If you define them as "String" type, by default _id field in mongodb will persisted as  auto generated

[2013-06-11 14:50] mevivs commented on #292
Version of Kundera referring to? Is it 2.5 or 2.5.1?

-Vivek

[2013-06-11 15:00] bejayoharen commented on #292
- I am using 2.5. I'll try 2.5.1 and will report if it's different.
- I have changed all instances of String to ObjectId and error remains. I cannot share the code, but if I can't get past this I'll try to reproduce on a smaller example, if I can.

[2013-06-11 15:01] mevivs commented on #292
For:

[code]

Did you specify Entity with @Table annotation, as for example:

[code]

To map it correctly with MongoDB, you need to add this over Entity definition.

-Vivek

[2013-06-11 15:06] bejayoharen commented on #292
Yes, I did that. IIRC, I also got a different mysterious error until I added that.

It _is_ possible I'm using some other unsupported annotations.

[2013-06-11 15:06] Gargee commented on #291
This works but actually MCategoryGrpID and MCategoryID are the same.So this means i need to maintain duplicate Values here.Because one of  the Composite  Primary key here for MediaCategory is dependent on the primary key of the MediaCategoryGroup Table.
Isn't there any other way to solve this problem?

[2013-06-11 15:10] mevivs commented on #292
Ok. Let me know, if you can carve out a sample example to verify and look into the issue.

-Vivek

[2013-06-11 15:14] bejayoharen commented on #292
Is @MappedSuperclass supported?

[2013-06-11 15:16] mevivs commented on #291
The way ManyToOne relation works is, say you have Person=>Address with Many To One relationship, so in PERSON_ID will be stored as a non row key column within ADDRESS column family. So it has to be different name other than ADDRESS_ID(means PERSON_ID).  Having both with same names would mean that they are shared by primary key(Which is OneToOne i guess), which i think even may not work in tradatio

[2013-06-11 15:17] mevivs commented on #292
Not yet.
https://github.com/impetus-opensource/Kundera/issues/56

[2013-06-11 15:25] bejayoharen commented on #292
Thanks. That may be my issue. I can't tell with current error messages.

[2013-06-11 15:33] mevivs commented on #291
Additionally, you can have a look at:
https://github.com/impetus-opensource/Kundera/tree/trunk/kundera-tests/src/test/java/com/impetus/kundera/tests/crossdatastore/useraddress

for more on this.

-Vivek

[2013-06-11 15:35] Gargee commented on #291
SO i have this scenerio for Eg:
 Item table  {ItemId(PK) ,IteamName}
and
Inventory table{StoreName ,NumberofItems,ItemId,AMount  pk(ItemId,SToreName) }
many stores can have the same items here in Inventory Table the primary key is the combination of the Store Id  and Item Id .
So here what kind of relation needs to be defined?
I understand it has to be Many to onw.SO cant the Inventory Table refer

[2013-06-11 15:44] mevivs commented on #291
If i understood correctly,
An inventory can have multiple items.

Which means inventory's primary would get stored as now row key within "Item" table. But in your case, as you are defining inventory table with "Composite/Compound primary key"{more than one columns as part primary key}. So such reference does not more of value add and also not supported by Kundera as well.

However, if Inventory ta

[2013-06-11 18:45] bejayoharen opened #294 "IllegalArgumentException when persisting entity"
When Persisting this entity:

<pre>
@Entity( name = "Invite" )
@Table( name = "Invite", schema = "xonami@mongo" )
public class Invite {
    @Id
    private String id;

    /** @deprecated used for persistence only. */
    public Invite() {
        id = null;
    }

    public Invite(XonamiUser giftingUser, Date expiration) {
        id = CryptUtil.generateNonce(7) + "-" + CryptUtil.generateNonce(5

[2013-06-11 18:50] mevivs commented on #294
You have serialVersionUID available with in entity definition. See in case if you have it available in associated or Embeddable entity.

Basic mongodb example can be found at:
https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-mongo/src/test/java/com/impetus/client/crud/PersonMongoTest.java

[2013-06-11 18:58] mevivs commented on #294
Also,
Not sure, why you want Invite entity with @Id attribute only?

-Vivek

[2013-06-11 18:58] bejayoharen commented on #294
Thanks for your response. Unfortunately, I don't understand what you mean by "You have serialVersionUID available with in entity definition. See in case if you have it available in associated or Embeddable entity."  I don't see how I have a serialVersionUID.

"Not sure, why you want Invite entity with @Id attribute only?" I commented out everything else to see if that was the problem.

[2013-06-11 19:05] Gargee commented on #291
So here is the case my Business model needs me to create a ColumnFamily whose Primary key is a composite key and each of the elements of the composite key is the primary key of different tables.
Eg T1{a,b,c,d,e pk(a,b,c)}

T2{e,b pk(b)}

T3{k,l,c pk(c)}

Is this case supported in Kundera.If so how get this work other than having a duplicate key for each of these items and then replicating the same

[2013-06-11 19:05] mevivs commented on #294
As per this error:

[code]

You have an entity with @EmbeddedId annotation. Where such Embeddable entity contains a field static/transient "serialVersionUID".   Try commenting out such field and try.
I understand that Kundera-mongo should not process such fields. This is a trivial issue with kundera-mongo support. i will get that fix.

-Vivek

[2013-06-11 19:09] mevivs commented on #291
With,
T2=>T1 (One To Many)
T3=> T1( One To Many)

it should work.

-Vivek

[2013-06-11 19:16] Gargee commented on #291
so referring to my first question again

 So when i try persist any data in MediaCategory which is the T1 in my last post  I get this error :-
- Error during persist, Caused by:
  InvalidRequestException(why:Missing mandatory PRIMARY KEY part mcategoryid)

now i dont want to cerate a dummy field in my MediaCategory table which is the same as mcategoryid
like the one

CREATE TABLE "MediaCategory" (

[2013-06-11 19:24] mevivs commented on #291
Considering MediaCategoryGroup as T2 and MediaCategory as T1( One To Many). It should work.

Try setting MCategoryID explicitly with "MediaCategory" entity,(I guess should be easy to fetch this from MediaCategoryGroup object) and then invoke em.persist() over "MediaCategory" object.

See, if it works.I guess, i understood the issue. I will get this fix later to implicitly assign reference value(wh

[2013-06-11 19:28] bejayoharen commented on #294
I have no @EmbbeddedId annotations. I made my @Embeddable annotated classes non serializable and there were no serialVersionUIDs in those classes. The issue remains.

[2013-06-11 19:29] mevivs commented on #294
Kindly share sample code snippet to let me have a look and reproduce it my end. This shouldn't be happening

-Vivek

[2013-06-11 19:38] bejayoharen commented on #294
I'm afraid the codebase is large and proprietary. Is there any hint as to what I can share that would help?

[2013-06-11 19:40] mevivs commented on #294
I think you would be best person to decide on this, try replicating a simple example to reproduce this issue,else you connect with me chat as well to discuss this.

[2013-06-11 19:43] mevivs commented on #291
Let me know, if explicitly setting the reference key works for you. I will look into this to fix "implicitly assign value" for referenced keys. This is supported in Kundera and looks like an trivial one to fix.

-Vivek

[2013-06-11 19:44] Gargee commented on #291
Ya I am trying setting the value explicitly now.Let me know when we can have the fix .

[2013-06-11 19:46] mevivs commented on #291
Ok. Will post an update on this.

-Vivek

[2013-06-11 19:48] bejayoharen commented on #294
I will copy the project and try to eliminate as much as I can and still reproduce the error. If it's small enough I'll send it to you privately. If not, I'll just try to report what seems to cause the error here.

[2013-06-11 22:37] bejayoharen commented on #294
This seems to be the issue. This works:

[code]

But this causes the error:

[code]

[2013-06-12 01:16] bejayoharen opened #295 "java.lang.NoClassDefFoundError: org/hibernate/collection/internal/PersistentSet"
In Kundera 2.5.1 I receive the following error unless I add hibernate-core 4.1.7-final to my pom.

<pre>
Internal Server Error (500) - org/hibernate/collection/internal/PersistentSet
    at org.restlet.resource.ServerResource.doHandle(ServerResource.java:508)
    at org.restlet.resource.ServerResource.put(ServerResource.java:1225)
    at org.restlet.resource.ServerResource.doHandle(ServerResource.

[2013-06-12 02:17] bejayoharen opened #296 "@ManyToOne does not fetch parent"
In my system, a user may have one or more email addresses. I have removed fields that are not required for explanation:

[code]

Creating a user with a single email address produces this:

<pre>
db.XonamiUser.find().pretty();
{
    "_id" : "42000ddb-716b-4132-b3b7-465abbfa1894",
    ....
}
db.EmailAddress.find().pretty();
{
    "_id" : ObjectId("51b7d7285b06e68029cbed1c"),
    "email" : "bjorn@...

[2013-06-12 03:02] mevivs commented on #296
Can you please modify

[code]

as

[code]

and then try?

-Vivek

[2013-06-12 03:04] mevivs commented on #295
Kundera needs this for dirty check on entitiy objects. We are working on decoupling Hibernate from Kundera-core

-Vivek

[2013-06-12 03:07] mevivs commented on #294
@ElementCollection  annotation will work over collection of @Embeddable objects only.

-Vivek

[2013-06-12 13:07] KunderaUser commented on #249
I am trying out the multiple node support.  I have a 2 node cassandra cluster.

Datacenter: datacenter1

Address      Rack        Status State   Load            Owns                Token
                                                                            0
192.168.1.8  rack1       Up     Normal  63.14 KB        50.00%              -9223372036854775808
192.168.1.6  rack1       Up     Normal

[2013-06-12 14:33] bejayoharen commented on #294
IIRC, in Hibernate, applying @Column to a collection serializes the collection, making it unsearchable, whereas @ElementCollection adds the elements individually to table, making the individual elements searchable. They definitely both work for intrinsic types.

[2013-06-12 14:35] joaonlima commented on #293
Do you think this will be on 2.6 ?

[2013-06-12 14:40] bejayoharen commented on #296
This only works if I have a userId variable in EmailAddress, which is not how Hibernate or Datanucleus behave, and I don't think it's to spec.

[2013-06-12 14:51] mevivs commented on #294
I understand that, but @ElementCollection within @Embeddable entities will not work in Kundera.

-Vivek

[2013-06-12 14:57] mevivs commented on #296
if XonamiUser has one to many relation with EmailAddress, which means XonamiUser's id will be a reference key and will be stored down in EmailAddress. IIRC that should be same behaviour in traditional RDBMS as well.

Issue on which i am working upon is, it is currently limited to have XonamiUser's @Id attribute present as @JoinColumn with EmailAddress entity.

-Vivek

[2013-06-12 14:58] mevivs commented on #293
Yes. I am working on it. BTW 2.6 will be releasing in next 10 days.

-Vivek

[2013-06-12 15:28] mevivs commented on #249
Last reported issue is related to Pelops only. Reason is underlying Pelops API does not provide a way to test connection until you really execute a call with thrift and not sure whether they will plan to implement this as well.

I suggest to use, ThriftClientFactory in place of PelopsClientFactory in persistence.xml.

[2013-06-12 16:26] bejayoharen opened #297 "@Embedded element not retrieved (null) when it contains a list"
I have:

[code]

and:

[code]

When I retrieve XonamiUser from mongo, PropertyContainer is null. Moreover, propertyKeys, propertyValues, and Tags are not written to the database. If I comment out references to Lists, it is not null when I retrieve from the database.

[2013-06-12 16:43] mevivs commented on #297
This should be working. Let me verify and update you on this.

-Vivek

[2013-06-12 18:01] mevivs commented on #297
Confirming this is an issue, working on it.

However as a work around, if you move :

[code]

with XonamiUser entity, it will work.

-Vivek

[2013-06-12 18:31] bejayoharen opened #298 "persist fails to store modified data"
I am fetching data using EntityManager.find(). Then, modifying by setting a previously null Sting to not null, and persisting it to mongo. The following code works as expected:

[code]

but this code does not:

[code]

Both should work.

http://stackoverflow.com/questions/1069992/jpa-entitymanager-why-use-persist-over-merge

Persist is preferred in this case.

http://stackoverflow.com/questions/84

[2013-06-12 18:39] bejayoharen opened #299 "Incorrect error message"
When making the following (incorrect) query:

[code]

I get this error message:

<pre>
INFO com.impetus.kundera.query.KunderaQuery - No column found by this name : erId checking for embeddedfield
Jun 12, 2013 2:36:16 PM org.restlet.resource.ServerResource doCatch
WARNING: Exception or error caught in server resource
Internal Server Error (500) - attribute of the given name and type is not present

[2013-06-12 18:42] bejayoharen commented on #297
That's what I'm doing, but it's not how I want it. (I actually want XonamiUser to extend PropertyContainer, but that's not supported.)

I'd also like tags and searchList to be sets, but I can't get that to work either. Do you have sample code for that?

[2013-06-12 18:43] mevivs commented on #297
Let me fix it for Embeddable itself and share junits with you.

-Vivek

[2013-06-12 19:28] bejayoharen commented on #297
unfortunately, when I try an operation like

[code]

I get

[code]

Are lists built by Kundera from the database not editable?

Possibly related, I also see warnings like this, albeit in prior calls:

[code]

[2013-06-12 19:50] KunderaUser commented on #249
The issue was that Kundera DDL was creating a keyspace with SimpleStrategy.  This needs to change to expose these settings via the persistence.xml

Once I changed the keyspace to Network Topology Strategy the connection pooling worked.

[2013-06-12 20:49] bejayoharen opened #300 "JPQL "MEMBER OF" not working"
In Mongo, "MEMBER OF" queries don't seem to work.

They are also not listed in the docs:

https://github.com/impetus-opensource/Kundera/wiki/JPQL

[2013-06-12 21:32] bejayoharen opened #301 "Nativequery returns all results"
Using a native query in mongodb seems to always return all results. For example, in this code, I get a full, unfiltered list of users no matter what I put in my query:

[code]

on the mongodb shell, I am easily able to filter users:

[code]

Of course, I don't get any errors, even if my query is wrong, so I suspect no parsing of my query is being done at all.

[2013-06-13 03:54] mevivs commented on #297
It shouldn't be. i am looking into this.

-Vivek

[2013-06-13 03:55] mevivs commented on #301
Native query will never be parsed within Kundera, as they are meant for database. Also, please share native query which you are working upon?

-Vivek

[2013-06-13 08:49] xamry commented on #265
In addition to Per-column TTL which is already there, Per-CF TTL is slated for Cassandra 2.0 release:
https://issues.apache.org/jira/browse/CASSANDRA-3974

[2013-06-13 12:52] kkmishra commented on #297
Fix has been added for this, please verify.

Thanks
Kuldeep

[2013-06-13 14:01] bejayoharen commented on #301
I tried a variety of queries. Here's one:

[code]

and another:

[code]

and so on. I always got a list of all users. There's no docs or tests (that I'm aware of) for how to do this in mongo, so I'm not sure what form the native query takes.

[2013-06-13 14:30] mevivs commented on #301
First, this is a db script, not a native query. To execute a DB script with MongoDB in Kundera, please refer:
https://github.com/impetus-opensource/Kundera/issues/248

This would simply return you object returned by mongodb itself. There is no such native query support for MongoDB.

-Vivek

[2013-06-13 14:43] bejayoharen commented on #301
Are you saying native queries are not supported with Kundera/mongo? There are release notes (eg here: https://groups.google.com/forum/?fromgroups#!topic/mongodb-user/KGZiwC1aYwA) which specify support for native queries. Mongo is not excluded.

What would a native mongo query look like, if not that?

[2013-06-13 14:48] mevivs commented on #301
AFAIK, example which you referring to are just db scripts, not the native queries within MongoDB. You can execute them as i mentioned above.

[2013-06-13 14:50] mevivs commented on #301
Please refer, https://github.com/impetus-opensource/Kundera#08-nov-2012---kundera-22-released
for release notes.

-Vivek

[2013-06-13 15:06] bejayoharen commented on #301
Those release notes say the same thing.

[2013-06-13 15:14] bejayoharen commented on #301
I tried this query (where client is as per your code):

[code]

which output:

[code]

I don't see how this is usable.

But on the shell the same query got different results, which are quite usable:

[code]

Also, I note your test doesn't check the values, it just checks to see if it's null or not. I should note that even if my query returns no results, the response in non-null, so this code:

[co

[2013-06-13 15:16] petermetz opened #302 "Schema reverse engineering, any plans?"
Hi,

I could not find any trace of something that is similar to Hibernate tools reverse engineering
=> existing schema goes in, annotated entity classes come out.
Not sure if some of the supported db engines are even make this possible to implement in a non ambiguous way, but I'm only interested in Cassandra.

Please point me into the right direction if there is such a thing, or let me know if you

[2013-06-13 15:21] mevivs commented on #301
Thanks. Could you please enhance and contribute such pull requests?

I will discuss within team about incorporating such db scripts => Entity transformation.

-Vivek

[2013-06-13 15:23] mevivs commented on #302
Creating such plugins are in pipeline, but nothing concrete has been planned yet.
Let me know, if you have more thoughts to contribute around this.

Cheers,
-Vivek

[2013-06-13 15:44] petermetz commented on #302
I'll need this feature in one of my projects later on so I'd rather try to work with you guys instead of rolling out some heavily customized tool of my own. At first glance, my idea was to parse the result of the schema description which you can access by the cassandra-cli. But I read somewhere that you can get schema metadata out of some CQL statements too, not sure which one would fit better. Ne

[2013-06-13 16:29] bejayoharen commented on #301
As you can probably tell, I have my hands full porting my app to MongoDB among other tasks. :( I wish I could help more than by submitting bug reports, but if I have some time I will try to familiarize myself with the codebase.

[2013-06-13 16:41] mevivs commented on #301
Sure. looking forward for more discussion around Kundera usage and your app portability issue(s).

-Vivek

[2013-06-13 17:57] TheGeekPharaoh opened #303 "JBoss EAP 6.1 - Could not find any META-INF/persistence.xml file in the classpath"
I am trying to play around with Kundera 2.5.1 on JBoss EAP 6.1 (essentially the same as JBoss AS 7.1).  However, when I deploy my application, I see the following Exception:

[0m[31m12:44:24,119 ERROR [org.jboss.msc.service.fail](ServerService Thread Pool -- 91) MSC000001: Failed to start service jboss.persistenceunit."KunderaTests-ear.ear/KunderaTests-ejb.jar#KunderaTests": org.jboss.msc.service

[2013-06-13 18:10] mevivs commented on #303
Can you give it a try with latest trunk? There are some issues reported for JBoss As 7.1,which are working on. But with JBoss 6.1 EAP it should work.  Also please share deployment model for your war/ear

-Vivek

[2013-06-13 18:12] mevivs commented on #303
See if given below thread is any help:

https://groups.google.com/forum/#!topic/kundera-discuss/x0AqH_Te6eQ

[2013-06-13 18:25] TheGeekPharaoh commented on #303
What kind of info do you need around the war/ear model?  The structure looks something like this:

KunderaTests.ear
  ->KunderaTestsWeb.war
  ->KunderaTests-ejb.jar (this is where my persistence.xml and Entity classes are)

[2013-06-13 18:31] impetus-opensource-admin commented on #303
See above thread. i guess it is discussing same and deployment changes for 6.1 EAP only.

-Vivek

[2013-06-13 18:35] TheGeekPharaoh commented on #303
Just tried downloading trunk using the instructions on the downloads page, but got this error...

ERROR] Failed to execute goal on project kundera-cassandra: Could not resolve dependencies for project com.impetus.client:kundera-cassandra:jar:2.6-SNAPSHOT: Could not transfer artifact com.impetus.core:kundera-core:jar:tests:2.6-SNAPSHOT from/to atlassian (https://repository.atlassian.com/maven2/): E

[2013-06-13 18:38] mevivs commented on #303
Did you clone complete git project?
After this please run:

mvn clean install -DskipTests  { skip tests, as it needs running server for mongodb,redis etc)

and then build your war/ear.

-Vivek

[2013-06-13 18:40] bejayoharen opened #304 "Kundera transactions should fail on backing store entity change"
I understand that transactions cannot be implemented in NoSQL the same as they are in SQL. However, there is more to transactions than simply deferring writes until the transaction completes, as the docs here seem to imply:

https://github.com/impetus-opensource/Kundera/wiki/Transaction-Management

For a single entity (cassandra row/mongo document), you should be able to perform transactions. For

[2013-06-13 18:40] TheGeekPharaoh commented on #303
@impetus-opensource I don't see anything in that thread related to the error I'm seeing.  JBoss recognizes the JAR within the EAR just fine.  It looks as though it's something within Kundera that can't find the persistence.xml file.

[2013-06-13 18:44] mevivs commented on #303
Ok. This has been reported earlier for glassfish as well. I have added a fix for this in current trunk. Here it is:
https://github.com/impetus-opensource/Kundera/issues/284

I suggest you to try with latest trunk.

-Vivek

[2013-06-13 18:45] TheGeekPharaoh commented on #303
@mevivs Yes, I tried running the mvn clean install again, but with the same results.  It appears to be due to the fact that https://repository.atlassian.com is down or doesn't exist.

[2013-06-13 18:52] TheGeekPharaoh commented on #303
@mevivs Correction!  Looks like this last time it was the oracle-nosql project that failed.  I just commented that out from the pom.xml file and re-ran the build.  Worked just fine.  I'll run another test with trunk and see if that solves my issue.

[2013-06-13 20:37] TheGeekPharaoh commented on #303
@mevivs Retested using the trunk code and it corrected the issue.  Thanks for your help!

[2013-06-13 20:37] #303 closed, assigned to nobody

[2013-06-14 00:46] TheGeekPharaoh opened #305 "com.impetus.kundera.KunderaException: Entitymatadata should not be null"
I'm playing around with Kundera for the first time, using 2.6-SNAPSHOT on Cassandra.  My entity class looks like this:

@Entity(name = "User")
@Table(name = "users", schema = "dev@KunderaTests")
public class User implements Serializable {

[code]

   ...getters & setters....

}

...and my persistence.xml looks like this...

<persistence xmlns="http://java.sun.com/xml/ns/persistence"
    xmlns:xsi=

[2013-06-14 02:13] mevivs commented on #305
Looks like, entities are not loaded. One question, please verify if your persistence.xml is with in (say root/META-INF folder and your entity classes should be available within root folder.

If they are packaged within a jar, then please add jar path within <jar> tag in persistence.xml

-Vivek

[2013-06-14 13:19] TheGeekPharaoh commented on #305
The persistence.xml file is in the appropriate place.  The entity classes are in the same JAR as the persistence.xml.  Do I still need to add the jar path to the persistence.xml file?

[2013-06-14 13:22] mevivs commented on #305
Nope. Can you please share packaging of your jar file?

-Vivek

[2013-06-14 13:41] mevivs commented on #305
Alternatively, possible for you to bundle classes and persistence.xml within war(under WEB-INF folder), classes with classes folder and META-INF/persistence.xml with WEB-INF folder?

-Vivek

[2013-06-14 14:28] TheGeekPharaoh commented on #305
My EAR structure looks like this:

KunderaTests.ear
  ->KunderaTestsWeb.war
  ->KunderaTests-ejb.jar (this is where my persistence.xml and Entity classes are)

The KunderaTests-ejb.jar is pretty simple.  One package with a couple of @Entity classes.  The META-INF directory has the persistence.xml file.

For the record, I'm using JBoss EAP 6.1 and Kundera-trunk for my testing, with Cassandra as the

[2013-06-19 07:44] lburgazzoli commented on #205
Hi, kundera-2.5 is out but it is not yet OSGi ready, any forecast for this implementation?

[2013-06-19 16:08] Gargee opened #306 "Getting exception Error creating bean with name 'entityManagerFactory' defined in class path resource [Spring-AutoScan.xml]: Invocation of init method failed; nested exception is java.lang.IllegalArgumentException: Invalid XML in persistence unit from URL"
Hi ,
I am trying to integrate my Kundera Project with springs.I am getting the below exception.

I have uploaded my code here at https://github.com/Gargee/KunderaDAL

Please let me know what to do:-

Exception in thread "main" org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'entityManagerFactory' defined in class path resource [Spring-AutoScan.xml]: Invocatio

[2013-06-19 17:35] mevivs commented on #306
I will have a look. In the meantime you may also refer:
https://github.com/impetus-opensource/kundera-container/blob/master/src/main/resources/appContext.xml

for such spring configurations. In case not opting for JTA, you need to exlcude transactional attribute configuration from above mentioned "appContext.xml"

-Vivek

[2013-06-20 13:34] TheGeekPharaoh commented on #305
Any update on this?

[2013-06-20 23:19] Gargee opened #307 "When we use kundera With springs which is better injecting EntityManagerFactory or Injecting the Entitymanger?"
Hi ,
I am trying to integrate  kundera with springs.Now i want to figure out which one is better
1.injecting the EntitymanagerFactory in my DAO
2.Injecting the Entitymanager

I want to know which is the best practice and which will help me achieve a more scalable application.
Any simple working example will help.

[2013-06-21 08:06] xamry opened #308 "Improve Code coverage in kundera-core"
Improve Sonar coverage.

[2013-06-21 13:18] pdirksen commented on #165
Please implement getSingleResult() for Queries. Pleeeease...^^

[2013-06-21 14:39] mevivs commented on #165
Yes. I guess, getSingleResult() should work as an alternative path as:

query.setMaxResults(1) and then query.getResultList().

-Vivek

[2013-06-21 15:36] mevivs commented on #293
A Fix has been added for this. Please verify with latest trunk. Will be releasing with latest trunk.

-Vivek

[2013-06-21 17:32] mevivs commented on #307
Hi,
Please refer https://github.com/impetus-opensource/kwitter for sample application. Also, you might need to comment out JTA specific configuration from appContext.xml.
Also, a detailed description about "Injecting EM or EMF" can be found at:http://static.springsource.org/spring/docs/2.5.x/reference/orm.html#orm-jpa-straight

(Section 12.6.3 Implementing DAOs based on plain JPA)

Cost of creatin

[2013-06-21 22:07] Gargee commented on #249
Hi We too are planning to use Kundera+Cassandra for our production.Looks like this feature has been made available recently.A sample project with the required configurations will be of immense help to us here.
We are planning to use a 6 node Cassandra ring with the same port.
I see in the configuration file there is a property
 "//<//property name="kundera.pool.size.max.active" value="33"></proper

[2013-06-22 03:28] mevivs commented on #249
I will publish a blog and share a link with you on this.

-Vivek

[2013-06-23 04:00] mevivs commented on #249
Update wiki for https://github.com/impetus-opensource/Kundera/wiki/Using-multiple-node-support-and-load-balancing-policy-in-Kundera.

Hope this helps.

-Vivek

[2013-06-23 21:24] Gargee commented on #249
thanks Vivek

[2013-06-24 14:04] pires commented on #308
Coverage metrics are somewhat of a false statement that your code is good because you have plenty tests covering it. As we all know, the number of tests or line covered by tests is by no mean the mirror of our code quality or maintainability.

I for one, would love to see more refactoring, comments/documentation and perhaps redesign of some core components (like schema generation). That would real

[2013-06-24 14:07] pires commented on #305
I follow the same structure in a project of mine that is working with latest trunk. Please take a look at https://github.com/pires/sherlock.

[2013-06-24 14:16] pires commented on #298
You can use _merge()_ but be sure to make changes to your entity prior to merging/updating changes to the database. _persist()_ may expect the entity to be changed in the database like changing the returning ID and you'll have problems with that, especially if you use auto-generated IDs.

Example:

[code]

Another interesting article can be found at http://spitballer.blogspot.pt/2010/04/jpa-persis

[2013-06-24 14:22] pires commented on #296
@mevivs is right.

You need to identify the **JoinColum**(s) to join with. Otherwise, it isn't possible. Oh, and you can call it whatever you want.

[2013-06-25 19:45] #307 closed, assigned to nobody

[2013-06-25 19:48] Gargee opened #309 "Data Migration from MYSQL to Cassandra"
Hi We are planning to migrate from mysql to no sql (cassandra).The columnfamilies in the cassandra DB dont have the same structure as the old mysql db.
Need ideas on the ways to export data from old system to Cassandra.
Are there any tools available in the market which can help.
I have billions of data which needs migration.

[2013-06-26 07:33] xamry opened #310 "Provide support for Lazily loading associated entities"
This should support all types of relationships.

[2013-06-26 14:14] mevivs commented on #305
Hi,

Can you give it a try with:
1. jboss.as.jpa.managed as false in persistence.xml
2. include your entity classes with in <class> tag and <exclude-unlisted-classes> to true in persistence.xml

-Vivek

[2013-06-26 14:15] mevivs commented on #205
Hi,
Can you please give it a try with latest trunk?Also, please refer my last comment on:
https://github.com/impetus-opensource/Kundera/issues/305

[2013-06-26 15:13] stodge opened #311 "Would it be possible to include Riak support in Kundera?"
Would it be possible to include Riak support in Kundera?

[2013-06-26 15:27] mevivs commented on #311
VS,
assigning to you.

-Vivek

[2013-06-26 16:16] vaishraj opened #312 "Failure to save multiple OneToOne relationships"
Due to a bug in FlushManager, only a single One-to-one relationship is picked by the code.

Instead of

[code]

The code should be

[code]

[2013-06-26 16:42] mevivs commented on #312
:+1:  for change.

Can you please contribute this change along with a junit?

-Vivek

[2013-06-26 16:53] vaishraj commented on #312
Hi Vivek :

Thanks. Looks like the base unit test itself is missing for the function,
so it will take me a while to add the unit test for the change. It looks
more complex than the change itself and I need to learn a bit more about
the Node and NodeType classes :).

I will try to get the unit test added to the FlushStackTest by tomorrow. I
have tested the change on my local class that needed and i

[2013-06-26 16:55] mevivs commented on #312
Hi Raj,
That's ok. I will add a test case and verify this change. Thanks for your contribution.

-Vivek

[2013-06-26 21:16] Gargee commented on #249
hi Vivek ,
I was trying to develop my multinode supported application with kundera 2.6+Cassandra 1.2.
Previously i was using kundera 2.5,but now when i try changing the version to 2.6 in my POM.xml i get this  below error:-
INFO] ------------------------------------------------------------------------
[INFO] Building KunderaDAL 0.0.1-SNAPSHOT
[INFO] ------------------------------------------------

[2013-06-26 22:26] pires commented on #249
Kundera 2.6 is not released yet. But you can hack your way into it!
1. Clone Kundera repository
2. In the folder you just cloned to, execute:
   `mvn clean install -DskipTests`
3. Edit your project _pom.xml_ and set Kundera version to _2.6-SNAPSHOT_. Save it.
4. Build your project and give it a go!

[2013-06-26 22:34] Gargee commented on #249
When is kundera 2.6  likely to be released?  july? Actually we are planning to roll it into our production code ..so the time line is important for us

[2013-06-27 01:39] joaonlima commented on #293
Thanks!
Unfortunately, I'm unable to give it a try for a while, sorry. But whenever possible I will try and post the results!

[2013-06-27 02:41] mevivs commented on #249
It will be releasing by this weekend.

-Vivek

[2013-06-27 02:44] mevivs commented on #309
Hi,
Have a look at:
http://www.datastax.com/docs/datastax_enterprise2.0/sqoop/sqoop_about

See if it helps.

-Vivek

[2013-06-27 09:33] pires commented on #310
+1

[2013-06-27 09:38] pires commented on #309
Moving from a relational to a non-relational data-model difficulty level is proportional to your level of relational data-model design skills. It takes lots of study - there are plenty presentations out there - and practice! Do not take this lightly, or you'll face hell very soon ;-)

[2013-06-27 10:23] impetus-opensource-admin commented on #291
A fix has been committed for this. Please verify with latest trunk.

-Vivek

[2013-06-27 10:23] impetus-opensource-admin commented on #312
Fix has been added for this. Please verify.

[2013-06-27 12:08] jinagko opened #313 "when "@ManyToOne " with "PK Auto generation""
I had use two Entites with "PK Auto generation"
1.Yh_info Entity

<pre><code>
@Id
@Column(name = "UserID")
@TableGenerator(name = "id_gen", allocationSize = 1, initialValue = 1)
@GeneratedValue(generator = "id_gen", strategy = GenerationType.TABLE)
private Long userid;
......
@ManyToOne(cascade = CascadeType.ALL, fetch = FetchType.LAZY)
@JoinColumn(name = "regionid")
private Jg_region jg_region;
.

[2013-06-27 12:12] mevivs commented on #313
Could you please describe issues which you are getting into?

-Vivek

[2013-06-27 12:14] jinagko commented on #313
I'm sorry,accident Enter BUTTON,editing NOW!

[2013-06-27 12:16] mevivs commented on #313
Any entity containing only row key will not get persisted in Cassandra. Cassandra does not allows this.
Jg_region Entity is containing any other non row key column?

-Vivek

[2013-06-27 12:20] mevivs commented on #313
Jg_region must contain a non row key column, hence it will not get persisted. As Cassandra does not store it down with row key value only.

-Vivek

[2013-06-27 12:27] jinagko commented on #313
I have other colunn; the problem is  I expect meger the jg_region in id=1 ; but it persist a new object

[2013-06-27 12:29] mevivs commented on #313
Hi,

[code]

Can you please elaborate more on this?

Also, as per

[code]

i can't see adding any non row key column in "jg_region" entity.
-Vivek

[2013-06-27 12:54] mevivs commented on #313
Hi,
Just added a test case to demonstrate this. Please have a look at:
https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-cassandra/src/test/java/com/impetus/client/generatedId/entites/EmployeeInfoTest.java

[2013-06-27 13:53] jinagko commented on #313
Hi,
forgive my poor English~

I have been off work，I type this code in Text-Editor;

 Maybe it means what I want to express.
In this, "empAdr_result "  should  have merge in Address Equals 1 ;  but when EmployeeInfo is persisted ,EmployeeAddress persist too;

<pre><code>   EmployeeAddress address_info = new EmployeeAddress();
        address_info.setStreet("street");
    em.persist(address_info);

[2013-06-27 14:05] jinagko commented on #313
I means it should not have generate a new EmployeeAddress which Address Equals 2 , it should have always merge into EmployeeAddress  which Address Equals 1;

<pre><code> EmployeeInfo emp_info_result =  em.find(EmployeeInfo .class, 1l);
Assert.assertEquals("1", emp_info_result .getAddress().getAddress().toString());
Assert.assertEquals("2", emp_info_result .getAddress().getAddress().toString());</c

[2013-06-27 17:47] vishri commented on #311
Hi,

Yes, we are definitely looking towards adding more data-stores to Kundera. Riak and CouchBase are two obvious choices we have. Riak can be made priority.

Are you using Riak? Or Planning to use it? What's the priority? Let's know and we would act accordingly.

On a side-note, Kundera core can be very easily extended for new data-stores. So just in case if it makes sense, you can very easily e

[2013-06-28 07:34] jinagko opened #314 "Fix for the #313 issue ,please check on"
Hi,
I fix the problem yesterday~,Although nobody understand what I said,It works well on my project now.
<a href="https://github.com/impetus-opensource/Kundera/issues/313">#313</a>
kundera-core-2.5.1,
com.impetus.kundera.graph.ObjectGraphBuilder
Fixed in method  "private Node getNode(.......)"
before:

<pre><code>
        // Generate and set Id if @GeneratedValue present.

        if (initialNodeS

[2013-06-28 07:52] mevivs commented on #314
Hi,
Thanks for the fix. I did get the issue #313 . Got one of team member to fix it.

Assigning KK, to review and fix this.

-Vivek

[2013-06-28 13:34] stodge commented on #311
I'm prototyping so Riak is an option. I've only used it briefly to set up a test server but I haven't done much with it yet.

[2013-06-28 19:35] xamry commented on #177
Can you please share full stacktrace (can't see it here as it's truncated)

[2013-07-01 18:48] TheGeekPharaoh commented on #305
Vivek --

I understand point #1, but I'm afraid I don't understand what you're asking me to try in point #2.  Can you restate?

[2013-07-01 18:59] pires commented on #305
@sdnakhla I think he meant for you to include all your entity classes in `<class></class>`tag in _persistence.xml_.

[2013-07-01 20:37] phillipchengyi opened #315 "hard-annotation for schema"
now, it seems in each @Entity, we must have the "schema" hard annotated.
by doing this, preventing this entity to be reused by other tools, like hibernate.

i would like to know whether it is possible to have this configured in some kundera or cassandra specific configuration instead in the javax.persistence entity code.

[2013-07-02 10:00] mevivs commented on #315
Currently it is not possible. We will see, if can provide any alternative for this. However schema definition is by default imposed by JPA itself. Ideally it should have been present. Tools like Hibernate have deal with Traditional RDBMSs only. Which more or less offer symmetric symantec. But it certainly differs with various no sql databases.

Will post an update on this, Later.

-Vivek

[2013-07-02 17:30] mevivs opened #316 "Cassandra/HBase pagination support"
Kundera pagination support over Cassandra/HBase.

[2013-07-02 17:37] TheGeekPharaoh commented on #305
I have made the recommended changes.  When ONLY setting "jboss.as.jpa.managed" to "false", the error persists.  When also adding the <class></class> entries with my entity classes declare, I get the following exception:

Caused by javax.el.ELException with message: "java.lang.ClassCastException: org.jboss.modules.ModuleClassLoader cannot be cast to java.net.URLClassLoader"

For further reference,

[2013-07-02 17:55] mevivs commented on #305
Did you take an update of latest trunk?

-Vivek

[2013-07-02 18:55] TheGeekPharaoh commented on #305
Yes, all tests were conducted with code from the trunk that was downloaded and compiled yesterday evening.

[2013-07-02 21:05] phillipchengyi opened #317 "Invalid INSERT created when mapping entity with double, float field"
public class Product{
        @EmbeddedId
    private ProductId id;

[code]

}
double originalPrice = 100d;

then i persist product, i got following error

Caused by: InvalidRequestException(why:Invalid STRING constant (100.0) for oPrice of type double)
    at org.apache.cassandra.thrift.Cassandra$execute_cql3_query_result.read(Cassandra.java:37849)

same things happen when i changed the type to f

[2013-07-02 21:13] phillipchengyi commented on #315
Since the schema annotation for kundera is defined as "key space"@"pu name", while in the persistence.xml, we already configured both.
persistence-unit name="kundera_cassandra_cld"
property name="kundera.keyspace" value="reminder"

so, information is enough there, and also by removing that out of the java code, we can change the db without changing the code and recompile.

[2013-07-03 05:42] mevivs commented on #315
Consider a scenario, say there is an entity Person without schema definition:

[code]

Now if persistence.xml contains two persistence units(Cassandra and MongoDB each) as:

[code]

Question is, How do we resolve whether Person entity belongs to mongo or Cassandra persistence unit?

-Vivek

[2013-07-03 06:02] mevivs opened #318 "Update/Delete to CQL query conversion"
Currently update/delete JPQL are not transformed into CQL3 queries(If opted for CQL3).

Need to enable this support.

-Vivek

[2013-07-03 08:28] eld0 commented on #249
Just checked version from trunk. Works as expected, great thanks for your job! But we still waiting for release, because we can't promote this version until it'll be placed at maven central repo.
Is there any changes in the release timeline?

[2013-07-03 08:43] mevivs commented on #249
Will be releasing by 7th july.

-Vivek

[2013-07-03 08:47] mevivs commented on #249
btw, using Kundera for?
Would be great if you can spend few minutes for:
http://www.surveymonkey.com/s/BMB9PWG

Cheers,
-Vivek

[2013-07-03 09:25] eld0 commented on #249
We are going with kundera to production (companys' internal security system). I'd done yours survey.
If there any other things that can help you - doesn't hesitate to ask.

[2013-07-03 18:38] mevivs commented on #305
KK,
Can you please look into this and share Jboss sample apps persistence.xml and other configurations?

-Vivek

[2013-07-03 22:11] phillipchengyi commented on #315
the entity can belong to both persistence unit.
since, the operation of entity are via entitymanager, and entitymanager are get from entitymanagerfactory.
and entitymanagerfactory are defined by giving the pu name.
so while doing operations, which pu is clearly defined.

[2013-07-03 22:12] phillipchengyi commented on #317
i am struck here, could you give me a light on this?

[2013-07-04 03:10] phillipchengyi commented on #317
for float and double, in the CQLTranslator.appendValue, single quotation mark should not be added, after cassandra v 1.2.0, this is not supported.

[2013-07-04 04:58] phillipchengyi opened #319 "problem using property name="kundera.ddl.auto.prepare" value="update""
kundera 2.5, cassandra 1.2.0
while i use property name="kundera.ddl.auto.prepare" value="update",
it will try to add an existing column family, i do not understand why?
if the column family exists, it should leave it as is, why try to add another one?

Caused by: InvalidRequestException(why:Cannot add already existing column family "Category" to keyspace "reminder")
    at org.apache.cassandra.thr

[2013-07-04 05:33] mevivs commented on #319
If you have given "update" and column family already exists it will try to update existing one with new columns.

Also,i suggest you to upgrade on 2.5.1, which is the latest release version.

-Vivek

[2013-07-04 05:34] mevivs commented on #317
Can you please verify this with 2.5.1 release?

-Vivek

[2013-07-04 05:36] mevivs commented on #315
True, in case of single persistence unit. But it will not work in case of polyglot persistence scenarios. Where you create an entitmanagerfactory as:

Persistence.createEntityManagerFactory("cass_pu","mongoTest");

-Vivek

[2013-07-04 07:07] phillipchengyi commented on #319
closed in 2.5.1

[2013-07-04 07:07] #319 closed, assigned to nobody

[2013-07-04 07:08] phillipchengyi commented on #317
closed in 2.5.1

[2013-07-04 07:08] #317 closed, assigned to nobody

[2013-07-04 07:18] phillipchengyi commented on #315
currently by hard coded schema in the java entity, then single entity can't be persistent into different datastore. (so can not support polyglot).
if 1 entity can only belong to 1 pu, then you can add it under class tag in that pu's configuration in persistence.xml.
like following:
    <provider>com.impetus.kundera.KunderaPersistence</provider>
    <class>org.cld.datastore.entity.Category</class>

[2013-07-04 07:20] mevivs commented on #315
True, we did thought about it. But `<class>` tag is optional, so thought to stick with reusing schema value within @Table annotation.

-Vivek

[2013-07-04 12:34] mevivs opened #320 "Query over row key column with ">","<",">=","<=" over Random partitioner"
Current CQL3 support in Kundera for queries over "row key" column works only for byteorderedpartitioner. Queries such as:

"Select p from Person p where p.id > value";
"Select p from Person p where p.id < value"
"Select p from Person p where p.id >= value ";
"Select p from Person p where p.id <= value ";

doesn't currently work for Random partitioning. Code base needs to work accordingly by using

[2013-07-04 13:37] vishri commented on #304
Thanks for the explanation and the time. Of late we have been tied up with Kundera 2.6 Release. Marking for discussion and further action.

[2013-07-04 20:52] phillipchengyi commented on #315
but schema value within @Table is also optional, no?

[2013-07-05 05:23] mevivs commented on #315
Yes. So out of these two we have implemented using @Table annotation.

Will discuss within team, if alternative approach by using `<class>`  is implementable.

-Vivek

[2013-07-06 11:37] xamry commented on #177
I have tested this for Cassandra and MongoDB. Please have a look at:
http://xamry.wordpress.com/2013/07/06/play-nosql-building-nosql-applications-with-play-framework/

[2013-07-06 18:59] mevivs commented on #180
It has been fixed and releasing with 2.6

-Vivek

[2013-07-06 19:05] mevivs commented on #242
Support for multiple nodes has been added in Kundera-cassandra. Releasing with 2.6

[2013-07-06 19:17] xamry commented on #177
Tested and documentation added, closing

[2013-07-06 19:17] #177 closed, assigned to nobody

[2013-07-06 19:51] mevivs commented on #316
Releasing with 2.6

[2013-07-06 19:51] #316 closed, assigned to mevivs

[2013-07-06 19:52] mevivs commented on #310
Releasing with 2.6

[2013-07-06 19:52] #310 closed, assigned to nobody

[2013-07-06 19:52] mevivs commented on #249
Releasing with 2.6

-Vivek

[2013-07-06 19:52] #249 closed, assigned to nobody

[2013-07-06 19:52] mevivs commented on #247
Fixed and releasing with 2.6
-Vivek

[2013-07-06 19:52] #247 closed, assigned to nobody

[2013-07-06 19:53] mevivs commented on #313
Fixed and releasing with 2.6. Please verify.
-Vivek

[2013-07-06 19:53] mevivs commented on #285
Fixed and releasing with 2.6.
-Vivek

[2013-07-06 19:53] #285 closed, assigned to mevivs

[2013-07-06 19:54] mevivs commented on #280
Fixed and releasing with 2.6. Please verify.
-Vivek

[2013-07-06 19:54] mevivs commented on #277
Fixed and releasing with 2.6. Please verify.
-Vivek

[2013-07-06 19:55] mevivs commented on #252
Fixed and releasing with 2.6. Please verify.
-Vivek

[2013-07-06 19:55] #252 closed, assigned to nobody

[2013-07-06 19:55] mevivs commented on #239
Fixed and releasing with 2.6. Please verify.
-Vivek

[2013-07-06 19:55] mevivs commented on #236
Fixed and releasing with 2.6. Please verify.
-Vivek

[2013-07-06 19:56] mevivs commented on #234
Fixed and releasing with 2.6.
-Vivek

[2013-07-06 19:56] mevivs commented on #230
Fixed and releasing with 2.6. Please verify.
-Vivek

[2013-07-06 19:56] mevivs commented on #217
Fixed and releasing with 2.6. Please verify.
-Vivek

[2013-07-06 19:56] #217 closed, assigned to nobody

[2013-07-06 19:56] mevivs commented on #169
Fixed and releasing with 2.6. Please verify.
-Vivek

[2013-07-06 19:56] #169 closed, assigned to nobody

[2013-07-06 19:57] #180 closed, assigned to nobody

[2013-07-06 19:57] mevivs commented on #246
Fixed and releasing with 2.6. Please verify.
-Vivek

[2013-07-06 19:57] #246 closed, assigned to nobody

[2013-07-06 19:57] mevivs commented on #312
Fixed and releasing with 2.6. Please verify.
-Vivek

[2013-07-06 19:57] #312 closed, assigned to nobody

[2013-07-06 19:57] mevivs commented on #297
Fixed and releasing with 2.6. Please verify.
-Vivek

[2013-07-06 19:57] #297 closed, assigned to nobody

[2013-07-06 19:57] mevivs commented on #293
Fixed and releasing with 2.6. Please verify.
-Vivek

[2013-07-06 19:57] #293 closed, assigned to nobody

[2013-07-06 19:58] mevivs commented on #291
Fixed and releasing with 2.6. Please verify.
-Vivek

[2013-07-06 19:58] #291 closed, assigned to nobody

[2013-07-06 19:58] mevivs commented on #242
Fixed and releasing with 2.6. Please verify.
-Vivek

[2013-07-06 19:58] #242 closed, assigned to nobody

[2013-07-06 19:58] mevivs commented on #205
Fixed and releasing with 2.6. Please verify.
-Vivek

[2013-07-07 13:51] #313 closed, assigned to nobody

[2013-07-07 15:26] bejayoharen commented on #297
I can't verify, as I'm no longer using kundera.

[2013-07-07 15:29] bejayoharen commented on #304
Rereading what I wrote, I may have conflated atomicity and transactions a bit. I also forgot to mention there's a whole series of functions in JPA specifically for optimistic locking, but that's a start anyway. Good luck.

[2013-07-08 08:25] pires commented on #239
Works for me. Thanks.

[2013-07-08 08:26] pires commented on #249
Works for me. Thanks.

[2013-07-08 08:26] pires commented on #277
Works for me. Thanks.

[2013-07-08 08:26] #277 closed, assigned to nobody

[2013-07-08 08:26] #239 closed, assigned to nobody

[2013-07-08 08:35] lburgazzoli commented on #205
Hi,
the issue is not fixed, at least for the jars pushed on maven central:

[code]

The headers are still not osgi-compliant:

[code]

[2013-07-08 08:38] mevivs commented on #205
My Bad. Issue related to jboss AS 7 deployment has been fixed.

Could you please discuss bit more for what issues you are facing with this?

-Vivek

[2013-07-08 09:48] lburgazzoli commented on #205
In fact I'm not having an issue now but as stated in the first comment, I'm playing with OSGi (with Apache Karaf) and JPA to find out which implementation has the best support for OSGi.

About Kundera, I found out that the JARs are not even OSGi compliant:

[code]

Then there should be a PersistenceProvider service, here you can find an example of a BundleActivator for EclipseLink:

[code]

To gen

[2013-07-09 09:59] mevivs commented on #248
Closing. Already released with 2.5

[2013-07-09 09:59] #248 closed, assigned to nobody

[2013-07-09 10:00] mevivs commented on #218
Fixed and released with 2.5

[2013-07-09 10:00] #218 closed, assigned to nobody

[2013-07-09 10:00] #214 closed, assigned to nobody

[2013-07-09 11:51] mevivs commented on #196
Already fixed and released with 2.5.1

[2013-07-09 11:51] #196 closed, assigned to nobody

[2013-07-09 11:53] #190 closed, assigned to nobody

[2013-07-09 11:54] #174 closed, assigned to mevivs

[2013-07-09 15:13] Gargee opened #321 "Could not transfer artifact org.scale7:scale7-pelops:pom:1.3-1.1.x from/to atlassian"
So i have this scenario where in my company needs all the code in NEXUS for the build to work.

Now i see that in our nexus repository the last availablescale7-pelops version available  is

<dependency>
  <groupId>com.github.stephenc.scale7</groupId>
  <artifactId>scale7-pelops</artifactId>
  <version>0.913</version>
</dependency>
Key error word in console:

But i see that Kundera needs Scale7-pel

[2013-07-10 07:13] mevivs commented on #249
@eld0
Thanks for taking your time for survey/feedback. It will be great  if you can brief about Kundera's usage in form of an email? My email id is : vivek.mishra@impetus.co.in

Thanks again for your time.

-Vivek

[2013-07-10 16:11] #321 closed, assigned to nobody

[2013-07-10 16:55] Gargee opened #322 "Ordering of data and Relational Operator support in Kundera-cassadnra"
Hi,
I have this column family
CREATE TABLE "ChangeStatus" ( "ChangeID" int, "ChangeStatusName" varchar, PRIMARY KEY("ChangeID") );

and i need to fetch records where the ChangeID  is
1)greater than 5 and
2)also need to ORDER the data based in the ChangeID.

But when i try that i get
"Bad Request: Only EQ and IN relation are supported on the partition key for random partitioners (unless you use the

[2013-07-10 17:37] mevivs commented on #322
Hi,
Either You need to change partitioning schema from Random to Ordered partitioning to get it working, or need to devise a way using composite columns.

So if you create composite key with ChangeID as partition key and ChangeStatusName as cluster key. It should be sorted by ChangeID.

-Vivek

[2013-07-10 17:37] mevivs commented on #322
Have a look at:
http://www.planetcassandra.org/blog/post/composite-keys-in-apache---cassandra

for more details.

-Vivek

[2013-07-11 01:15] TheGeekPharaoh commented on #305
I thought this may be related to the fact that I was using JBoss Seam as my application framework, so I created a new JavaEE6 project using only standard libraries.  I re-ran the tests, but received the same error as before.  Is there any update to this issue?

[2013-07-11 01:43] TheGeekPharaoh commented on #305
CORRECTION...

Looks like this has been resolved in 2.6-FINAL.  Thanks!

[2013-07-11 01:43] #305 closed, assigned to nobody

[2013-07-11 06:43] mevivs commented on #314
Are we good to close on this?

-Vivek

[2013-07-11 06:44] #280 closed, assigned to nobody

[2013-07-11 06:45] #289 closed, assigned to mevivs

[2013-07-11 06:46] #230 closed, assigned to nobody

[2013-07-11 06:46] #236 closed, assigned to nobody

[2013-07-11 06:47] mevivs commented on #266
Can you please verify this with latest 2.6 release?

[2013-07-11 06:56] mevivs commented on #191
This has been supported for Cassandra/HBase in 2.6 release.

[2013-07-11 06:56] #191 closed, assigned to nobody

[2013-07-11 07:03] #272 closed, assigned to mevivs

[2013-07-11 07:09] #308 closed, assigned to nobody

[2013-07-11 07:09] mevivs commented on #245
Are we good to close on this?

[2013-07-11 07:10] #294 closed, assigned to nobody

[2013-07-11 07:11] #296 closed, assigned to nobody

[2013-07-11 07:12] #281 closed, assigned to nobody

[2013-07-11 07:12] #265 closed, assigned to nobody

[2013-07-11 07:14] mevivs commented on #194
Pagination is supported over Cassandra/HBase. It should be fine now.

-Vivek

[2013-07-11 07:14] #194 closed, assigned to mevivs

[2013-07-11 07:29] dtuzikov commented on #230
fixed

[2013-07-11 07:33] dtuzikov commented on #234
Not fixed, @PostLoad not working

[2013-07-11 07:50] eld0 commented on #245
yes, sure

[2013-07-11 08:54] #245 closed, assigned to nobody

[2013-07-11 09:10] pires commented on #265
Why was this closed? Is it supported already?

[2013-07-11 09:15] mevivs commented on #265
Yes. TTL has been supported in recent 2.6 release.

[2013-07-11 09:17] pires commented on #265
How can I use it, then?

[2013-07-11 09:21] mevivs commented on #265
Hi Paulo,
Please refer:
https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-cassandra/src/test/java/com/impetus/client/crud/PersonCassandraTTLTest.java

-Vivek

[2013-07-11 10:33] mevivs opened #323 "Lucene based search issues"
QueryImplTest

OTM bi not working in case of lucene
MTO bi not working in case of lucene

2)
Indexerclass is not set in case of provided via external properties

3)
IndexManagerTest
search over super columns with a field in where clause is not working.

[2013-07-15 15:21] TheGeekPharaoh opened #324 "Feature Request - Infinispan cache support"
With JBoss AS 7.1/EAP 6.1 now being deployed more and more, it would be beneficial to expand the caching mechanisms supported by Kundera to include support for Infinispan.  Hibernate and JBoss Seam already support Infinispan as a cache provider so this addition to Kundera would be very welcome.

[2013-07-15 16:53] TheGeekPharaoh opened #325 "InvalidRequestException when using Dates"
I have a simple Entity class that has a Date field in it.  When I set a value on this property and try to persist it, I get the following Exception:

[0m[31m12:17:39,693 ERROR [org.apache.catalina.core.ContainerBase.[jboss.web].[default-host].[/poc].[com.test.web.TestServlet]](http-/0.0.0.0:8080-1) JBWEB000236: Servlet.service() for servlet com.test.web.TestServlet threw exception: com.impetus.k

[2013-07-15 17:42] mevivs commented on #325
Verify, if validation class for "createdDate" is of type timestamp or different? Also, i would suggest to use ThriftClientFactory instead of PelopsClientFactory.

-Vivek

[2013-07-15 18:22] TheGeekPharaoh commented on #325
I have modified my persistence.xml to use the ThriftClientFactory, but still see the error.  How would I go about verifying the validation class for createdDate?

[2013-07-16 03:55] mevivs commented on #325
You need to connect with Cassandra-cli or cqlsh to verify data type of column values.

-Vivek

[2013-07-16 15:35] Gargee commented on #322
Thanks Vivek that worked for me.

[2013-07-16 15:35] #322 closed, assigned to nobody

[2013-07-16 15:39] Gargee opened #326 "Need Indexing on collection"
Hi,
I need to have index built on collection .I have a column family where in one the column is a collection(set).Need some way to index this.
My columnfamily looks like this:-

CREATE TABLE "ChangeRequestLog" ( "ChangeRequestID" uuid, "ChangeStatusID" int, "ChangeRequestCreateDateTime" timestamp, "ChangeRequestUpdateDateTime" timestamp,
"SubmissionID" uuid, "SubmissionDateTime" timestamp, "SKUGro

[2013-07-16 15:58] mevivs commented on #326
Could you please elaborate more on this use case? In

[code]

which column contains Collection(set)?

-Vivek

[2013-07-16 16:05] Gargee commented on #326
oh the "< tag " is not visible in my last post ...
so we have PhotoID set"<"uuid">" column which is the collection.

[2013-07-16 17:04] mevivs commented on #326
Yes. But data type in Cassandra for "Photos" values?

-Vivek

[2013-07-16 17:28] Gargee commented on #326
it will be time based UUID .

[2013-07-17 08:25] mevivs commented on #326
Ok. bit confusing. You want to store a collection attribute within UUID type, not sure about this?

Else, to create index on TimeUUID field, it should work with:

CREATE INDEX index_name
  ON keyspace_name.table_name ( column_name ).

[2013-07-17 08:30] mevivs opened #327 "Change log level in case persistence unit is not intended for Kundera!"
If persistence.xml contains a persistence unit configuration for other persistence providers. Currently it displays a log.error message, but it should skip and should be at log.warn/info in such scenarios.

[2013-07-17 09:10] mevivs commented on #219
:+1:
Support needs to be added for all collection types. Please refer :

http://cassandra.apache.org/doc/cql3/CQL.html#collections

-Vivek

[2013-07-17 15:07] Gargee commented on #326
Hi Vivek,
I have 2 questions:-
1.Is there a way to create indexes on a collection type (set) in Cassandra?

CREATE TABLE "ChangeRequest" ( "ChangeRequestID" uuid, "ChangeStatusID" int, "ChangeRequestCreateDateTime" timestamp, "ChangeRequestUpdateDateTime" timestamp,

"SubmissionID" uuid, "SubmissionDateTime" timestamp, "SKUGroupID" int, "CreateUser" varchar, "UpdateUser" varchar, "PhotoID" set <uu

[2013-07-17 16:58] mevivs commented on #326
[code]

Not supported by Cassandra.

[code]

Nope. Currently it is supported via association only. Please refer https://github.com/impetus-opensource/Kundera/issues/219.

-Vivek

[2013-07-17 19:10] TheGeekPharaoh commented on #325
Dropping the keyspace and trying again seems to have solved this.

[2013-07-17 19:10] #325 closed, assigned to nobody

[2013-07-17 21:36] Gargee commented on #326
ok thanks ..please update us when we have collections supported in Kundera for cassandra.

[2013-07-18 08:27] mevivs opened #328 "password authentication is not working in case of ThriftClientFactory."
In case opted for PasswordAuthenticator in cassandra configuration and providing

kundera.host and kundera.password properties in persistence.xml for ThriftclientFactory.
Looks like this support is not working.

-Vivek

[2013-07-18 12:01] mevivs commented on #326
Ok. Kindly let me know, your use case, Kundera usage  and priority of this task?

-Vivek

[2013-07-18 15:03] Gargee commented on #326
Hi Vivek,
We need this for our customer facing application for a critical project in our company.We had planned to roll this code to production by July end.
My use-case demands me to save a collections of ids which are searchable.

[2013-07-18 15:26] mevivs commented on #326
Hi Gargee,
Will discuss within team for this support. But indexing over collection attribute is not yet supported by Cassandra itself!

-Vivek

[2013-07-18 15:37] Gargee commented on #326
Ya I figured that out.
But at least if we get Kundera to support collection (rather than through association) it will be nice.
As the collection set we are planning won't be very big may be we need to fetch  the collection for now from DB and find it in our application …
With kundera's support for collection things will be easier to implement.

From: Vivek Mishra <notifications@github.com<mailto:n

[2013-07-19 01:18] TheGeekPharaoh opened #329 "OneToMany Relation not being persisted"
I have the following entities defined:

@Entity(name = "Company")
@Table(name = "companies", schema = "poc1@cassandra_pu")
public class Company implements Serializable {

[code]

   ...
}

@Entity(name = "User")
@Table(name = "users", schema = "poc1@cassandra_pu")
public class User implements Serializable {

[code]

   ...
}

My test code does the following to create 10 companies, each with 10 use

[2013-07-19 08:44] mevivs commented on #329
Please change:

[code]

TO

[code]

and then try.

-Vivek

[2013-07-19 12:48] mevivs opened #330 "MTM join table data not getting persisted while running within boundary."
User bug. Please read description below.

From: kundera...@googlegroups.com [kundera...@googlegroups.com] on behalf of Kevin Tronkowski [kevin.tr...@gmail.com]
Sent: 18 July 2013 08:08
To: kundera...@googlegroups.com
Subject: {kundera-discuss} Problem persisting @ManyToMany join table in transaction

Hi,

We are exploring using Kundera v1.6 with Cassandra v1.2.5.

When persisting within a transact

[2013-07-19 12:50] mevivs commented on #330
A fix has been added for this on current trunk. Please verify.

Thanks,
-Vivek

[2013-07-19 13:21] ketronkowski commented on #330
I was guessing that was how it might be fixed. I will pull trunk and verify today.

[2013-07-19 15:28] ketronkowski commented on #330
Verified for commit on current trunk. Thanks!

[2013-07-19 17:22] TheGeekPharaoh commented on #329
That did it.  Thanks!

[2013-07-19 17:22] #329 closed, assigned to nobody

[2013-07-19 18:59] #330 closed, assigned to mevivs

[2013-07-22 12:02] xamry commented on #132
Tested. This problem only occurs when two entity classes with the same name but different packages exist in classpath. Kundera throws exception with helpful error message in this case in order to guide user for taking corrective action.

This scenario is not allowed since JPA queries contain entity name (not fully qualified) and it would be impossible for Kundera to know intended entity class from

[2013-07-22 12:02] #132 closed, assigned to nobody

[2013-07-22 19:15] Gargee opened #331 "setting consistecny level Quorum"
Hi,
I see that the WITH CONSISTENCY clause has been removed from CQL 3 commands.
I am using kunedra-cassandra for my project.
In terminal i am able to  set the consistency level to Quorum using the command:-CONSISTENCY QUORUM.
But as soon as i log out of that Cql it is again set to ONE.
Is there any way i can set the consistency level to QUORUM using kundera-Cassandra?

[2013-07-22 19:21] mevivs commented on #331
[code]

[code]

Also, it is possible to set it via external xml configuration file as well.

-Vivek

[2013-07-22 19:23] Gargee commented on #331
Thanks a lot.

[2013-07-22 19:25] Gargee commented on #331
Can i get any example for the  external xml configuration file

[2013-07-22 19:28] mevivs commented on #331
https://github.com/impetus-opensource/Kundera/wiki/Cassandra-Specific-Features.

Also, please look https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-cassandra/src/test/resources/META-INF/persistence.xml, for:

[code]

for reference.

-Vivek

[2013-07-22 19:29] Gargee commented on #331
thanks

[2013-07-22 20:01] Gargee commented on #331
Whats the string name for setting the consistency level?I could set the CQL version using the external config file but the consistency level doesn't seem to be working.

--"<?"xml version="1.0" encoding="UTF-8"?>
--<clientProperties>
--  "<"datastores">"
--      "<"dataStore">
            "<"name>cassandra"<"/name>
            "<"connection">"
                "<"properties">"
                    "

[2013-07-22 20:05] mevivs commented on #331
My Bad. consistencyLevel is only possible at operation level. So you can set it only via previously mentioned way for each read/write consistency level.

-Vivek

[2013-07-22 20:18] Gargee commented on #331
The WITH CONSISTENCY clause has been removed from CQL 3 commands in the release version of CQL 3.
 I am setting my configurations using :
    Map<String, String> propertyMap = new HashMap<String, String>();
    propertyMap.put(CassandraConstants.CQL_VERSION,
    CassandraConstants.CQL_VERSION_3_0);
how can we set consistency level in this ?

[2013-07-22 20:28] mevivs commented on #331
propertyMap.put("consistency.level",ConsistencyLevel.QUORUM);

[2013-07-22 20:33] Gargee commented on #331
The method put(String, String) in the type Map<String,String> is not applicable for the arguments (String,
 ConsistencyLevel) :(

[2013-07-22 20:40] mevivs commented on #331
Change map generics parameter as:

[code]

[code]

Hope this helps.

-Vivek

[2013-07-22 20:47] Gargee commented on #331
Thanks Vivek.Got some generics class also ;) this works perfectly fine.
Was wondering if this becomes configurable in external file things will be easy to change in a production env and really VERY NICE feature which kundera can provide.

I have this kind of code :
@PersistenceContext(unitName = "cassandra_pu", type = PersistenceContextType.EXTENDED)
    private EntityManager em;
with the external

[2013-07-23 06:21] mevivs commented on #326
Hi,
We are assessing this support. Could you please share a maximum date by which this can wait to be delivered?

-Vivek

[2013-07-23 13:27] dtuzikov commented on #331
As for JPA, you can set additional properties within @PersistenceContext annotation:

[code]

but i have found, that CassandraClientProperties class for now accepts only enum value for consistency.level option.

[code]

May be this should be created as an issue?

[2013-07-23 16:52] mevivs commented on #331
:+1: for relaxing enum constraint. Will discuss alternate solutions and as well as @PersistenceProperty option.

-Vivek

[2013-07-23 16:54] mevivs commented on #331
@dtuzikov
Out of context, 1 question. Using Kundera for?

-Vivek

[2013-07-23 17:52] Gargee commented on #331
@dtuzikov Thanks a lot for the solution.
@mevivs thanks for your support

[2013-07-23 20:03] #331 closed, assigned to nobody

[2013-07-23 20:05] Gargee commented on #326
hi Vivek,
we can max wait till Aug first week.

[2013-07-23 20:06] #309 closed, assigned to nobody

[2013-07-23 20:28] dtuzikov commented on #331
@mevivs
I'm using Kundera for working with historical database on Cassandra 1.2. (Financial app)

[2013-07-24 05:32] mevivs commented on #331
@dtuzikov
Thanks. Could you please spare couple of minutes to provide your feedback? Here it is:
http://www.surveymonkey.com/s/BMB9PWG

-Vivek

[2013-07-24 11:05] pires opened #332 "Remove cassandra-all dependency from kundera-cassandra, which crashes container on class unloading."
I've spoke to @mevivs about this critical issue before and even opened a bug on Cassandra JIRA. See https://issues.apache.org/jira/browse/CASSANDRA-5739.

[2013-07-24 12:33] mrniko commented on #324
duplicate with https://github.com/impetus-opensource/Kundera/issues/95

[2013-07-26 05:57] mevivs commented on #201
Working fine.

[2013-07-26 05:57] #201 closed, assigned to nobody

[2013-07-26 06:22] macluck opened #333 "JPQL query with IN :list not working"
Hi,

I am making a jpql query to mysql database where I use operator IN for the list of strings:

[code]

But the query is translated with a wrong syntax for mysql. The part with list looks like this:

[code]

thus returning with exception. It would be very useful to have the support of list in jpql query.

Thank you

Kind Regards,
Anton Maklakov

[2013-07-26 12:10] mevivs commented on #323
Fixed in current trunk.

[2013-07-26 12:10] #323 closed, assigned to nobody

[2013-07-28 09:45] emgsilva opened #334 "Random fail when retrieving "1-m" relations in Kundera/Cassandra setup"
Hi,

I have been having some problems with a Cassandra node (cassandra 1.2.6)  with Kundera 2.6. The problem is very strange.

I have a 1-m JPA relation: “services types have many properties”. This relation works "most of the times”, i.e., I get the service types and through them I get the associated properties ("getProperties()"). This is specified in the service type persistency entity class:

[

[2013-07-28 09:53] mevivs commented on #334
Assigning to KK.  " github issues" are also fine as long as it's working for you.

BTW, using Kundera for?

-Vivek

[2013-07-28 09:55] emgsilva commented on #334
I am using Kundera for Cassandra (as referred at the beginning of my issue: Kundera 2.6 and Cassandra single node version 1.2.6).

Thank you for the quick reply :+1:

[2013-07-29 09:18] pranav-gopi commented on #165
DB Name: MongoDB
DB Version:

Please add support for JPA 2.1  (@Index annotations in specific).

-Pranav

[2013-07-29 09:25] pranav-gopi opened #335 "How to use @com.impetus.kundera.index.Index annotation?"
How to use @com.impetus.kundera.index.Index annotation. Can you provide sample?

I need to generate index for column using annotations. But JPA 2.0 doesn't support this. I found @Index annotation in Kundera package. How can I use this?

-Pranav

[2013-07-29 09:30] mevivs commented on #335
Please refer:
https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-mongo/src/test/java/com/impetus/client/crud/datatypes/StudentMongo.java

-Vivek

[2013-07-29 09:52] mevivs commented on #215
A fix has been added to enable external properties file such as "hibernate.properties" or "orm.xml" file.
You just need to map it as an external file as:

[code]

Please refer fix added for the same.

-Vivek

[2013-07-29 09:52] #215 closed, assigned to nobody

[2013-07-29 10:33] pranav-gopi commented on #335
I tried using @IndexCollection and @Index annotation as given in sample code. But it is not creating index in MongoDB.
"
@Table( name = "city" , schema = "world@mongodb" )
@IndexCollection( columns = { @Index(name="district") } )
"
-Pranav

[2013-07-29 10:41] jaksky opened #336 "Running 5min setup example leads to slf4j-api 1.6.x (or later) is incompatible with this binding."
Part of my pom.xml:

[code]

Getting:

SLF4J: slf4j-api 1.6.x (or later) is incompatible with this binding.
SLF4J: Your binding is version 1.5.5 or earlier.
SLF4J: Upgrade your binding to version 1.6.x. or 2.0.x

java.lang.NoSuchMethodError: org.slf4j.impl.StaticLoggerBinder.getSingleton()Lorg/slf4j/impl/StaticLoggerBinder;
    at org.slf4j.LoggerFactory.bind(LoggerFactory.java:128)
    at org.slf

[2013-07-29 10:53] mevivs commented on #335
Did you enable
"kundera.ddl.auto.prepare" option in persistence.xml?

-Vivek

[2013-07-29 11:05] pranav-gopi commented on #335
Now it works. I forgot to add "kundera.ddl.auto.prepare".
"
property name="kundera.ddl.auto.prepare" value="create"
"

Thanks a lot for quick reply.

-Pranav

[2013-07-29 11:08] mevivs commented on #335
Good. closing on this.

-Vivek

[2013-07-29 11:08] #335 closed, assigned to nobody

[2013-07-29 11:15] pranav-gopi commented on #335
What to do for multiple column index?

-Pranav

[2013-07-29 11:26] mevivs commented on #335
You mean compound index in mongodb?

I think, you need to execute these as db script using "Kundera".

-Vivek

[2013-07-29 11:44] jaksky opened #337 "Getting java.lang.IllegalArgumentException: Not a host:port pair: PBUF"
Guys,

I am trying to use Kundera with HBase 0.95 and getting java.lang.IllegalArgumentException: Not a host:port pair: PBUF

Have any clue what is wrong

Caused by: java.lang.IllegalArgumentException: Not a host:port pair: PBUF

localhost����܀(
at org.apache.hadoop.hbase.util.Addressing.parseHostname(Addressing.java:60)
at org.apache.hadoop.hbase.ServerName.(ServerName.java:101)
at org.apache.had

[2013-07-29 11:47] pranav-gopi commented on #335
Please reply for the below doubts
1) How to define 'unique' index using annotations.
2) What are the values expected in 'type' attribute of @Index annotation
3) I need to implement compound index. So can we define compound index using kundera @Index annotations.

-Pranav

[2013-07-29 11:52] mevivs commented on #337
Kundera 2.6 supports HBase 0.94.3 . Please have a look at

https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-hbase/src/test/java/com/impetus/client/hbase/crud/PersonHBaseTest.java

for basic HBase junit.

-Vivek

[2013-07-29 11:58] mevivs commented on #335
[code]

specific to mongo. need to execute as a dbscript(javascript) using Kundera.

[code]

type can be "DSC" or "ASC"

[code]

Need to execute as DB script as:

[code]

-Vivek

[2013-07-29 15:32] mevivs commented on #337
HBase version upgrade is planned for next release(probably 2.7). Will post an update on this.

-Vivek

[2013-07-30 15:31] Gargee opened #338 "Is there any way to place persistence.xml outside the war file.."
Hi,
Is there any way we can place persistence.xml outside the warfile .right now as we know we need to place it in .....src/main/resources/META-INF/persistence.xml..
As i need to change the DB with each env in various phases of (dev/test/pro)...changing from war file is messy..

[2013-07-30 15:41] mevivs commented on #338
If this is because of changing connection and other Cassandra configuration. I would recommend to use "External properties configuration"(using kundera.client.property) in persistence.xml  for this.

But only new entity manager factory instance will take these changes into effect.

-Vivek

[2013-07-30 15:50] Gargee commented on #338
Cool thanks.

[2013-07-30 21:53] Gargee commented on #338
Hi vivek,
What should be the  name of the property?
<?xml version="1.0" encoding="UTF-8"?>
<clientProperties>
    <'datastores>
        <'dataStore>
            <'name>cassandra</name>
            <'connection>
                <'properties>
                      <'property name="cql.version" value="3.0.0"></property>
                <'/properties>
                <'properties>

[2013-07-31 06:17] mevivs commented on #338
Here i am sharing a sample xml(say KunderaTest.xml) file:

[code]

`<host>` tag is representing Node's ip address and `<port>` for specifying port.  Also, in case you opted for "kundera.ddl.auto.prepare" in persistence.xml then properties and tags mentioned under `<schmea >` tags are required for automatically creating schema.

In your case, you need to repeat

[code]

for all 9 cassandra nodes in

[2013-07-31 13:09] emgsilva commented on #334
Hi,

Not sure if you had a look in this issue... I have created a temporary hack that solves my problem, but I do think there is something wrong (either in my configurations - not sure, since it works most of the times - or in Kundera/Cassandra - as mentioned in my original post, Cassandra reports/logs exactly the same things, so leads me to think that it is something in Kundera or my usage of Kun

[2013-07-31 14:55] Gargee commented on #338
Thanks

[2013-07-31 14:55] #338 closed, assigned to nobody

[2013-07-31 17:27] mevivs commented on #334
Hi,
Please share more on error logs. Let me know, if you want me to connect over Gtalk/yahoo IM to quickly resolve it.

-Vivek

[2013-08-01 09:19] kkmishra opened #339 "Hbase Enhancement"
Relax one Table/column family constraint Also Table name can be different from Column family.

[2013-08-01 13:13] mevivs opened #340 "oracle-no-sql failing for data type with lucene indexing support"
oracle-no-sql failing for data type with lucene indexing support

[2013-08-01 13:31] xamry commented on #219
Support for all collection types has been implemented in kundera-cassandra and is available in trunk branch.
This will be released with 2.7.
Please see:
https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-cassandra/src/test/java/com/impetus/client/crud/collection/BlogPostTest.java

A wiki page will be published later before release.

[2013-08-01 14:06] samwencn opened #341 "kundera JPA no support AccessType.PROPERTY when I used mongodb store"
@Entity
@Table(name="p1",schema="kundera@kundera_mongo_pu"  )//schema="kundera@kundera_mongo_pu"
@Access(AccessType.PROPERTY)
public class P1 implements Serializable{

[code]

}

//persistence.xml
<persistence-unit name="kundera_mongo_pu" transaction-type="RESOURCE_LOCAL">
        <provider>com.impetus.kundera.KunderaPersistence</provider>
        <class>com.samtech.jpa.domain.P1</class>
        <

[2013-08-01 14:19] mevivs commented on #253
Fixed and releasing with 2.7

[2013-08-01 14:19] #253 closed, assigned to mevivs

[2013-08-01 14:20] mevivs commented on #326
Hi Gargee,
Collection support over Cassandra has been added. Please refer:
https://github.com/impetus-opensource/Kundera/issues/219#issuecomment-21936137

I would suggest you to give it a try and let us know, if came across to know about any issue.

-Vivek

[2013-08-01 14:26] mevivs commented on #341
https://github.com/impetus-opensource/Kundera/issues/24

Support is very much on card, needs to be planned.

-Vivek

[2013-08-01 17:36] emgsilva commented on #334
Hi Vivek,

Thank you very much for your reply… I have some positive developments on the issue :) but think found another...

I was trying to gather more detailed logging (log4j with ALL messages level), and got more “information” on the fact that the “service properties” were not obtained when the error was taking place. Please see these two excerpts of the logs of “calls” on our REST API (which i

[2013-08-01 17:41] mevivs commented on #334
Hi Eduardo,
I am downloading these log files. Let me know, we can connect on gtalk to quickly discuss and resolve it.

-Vivek

[2013-08-01 17:53] mevivs commented on #334
Hi Eduardo,
First, i am assuming your entityManager and entityManagerFactory are "Application managed" Or you are using something like Spring managed "LocalContainerEntityManagerFactoryBean".

If you are progrmatically creating entity manager factory instance, i suggest to create a single entity manager factory and multiple entity manager instance(unless they are meant to different persistence uni

[2013-08-01 18:21] mevivs commented on #334
There have been some fixes added in current trunk around such issues. You may also want to give it try as well.

-Vivek

[2013-08-01 21:33] kirankom commented on #336
I had the same issue. Was solved by changing the kundera version - i used v2.3.1.

[2013-08-02 07:13] xamry opened #342 "Improve code coverage in kundera-core, kundera-mongo and kundera-cassandra"
target:
core: 75
mongo: 70
cassandra: 70

[2013-08-02 07:57] emgsilva commented on #334
Hi Vivek,

Thank you very much for the insights… I only saw the updates now.

I will be processing them in the upcoming hours. Let me however give some more context and also ask some clarifications:
- 1) I do manage the EntityManager and EntityMangerFactory in the Application (I do not use any solution like Spring - maybe I should consider… what would be some “quick and easy” solutions for that? I

[2013-08-02 08:14] mevivs commented on #334
[code]

I will share a project reference for this later.

[code]

I think with current trunk it should be fine.

[code]

This is what got fixed in current trunk.

Let me know, if we need a quick discussion to get your application into production :)

-Vivek

[2013-08-02 09:23] emgsilva commented on #334
Thank you Vivek!

I have just included the "trunk" version in my local maven rep and pom.xml, and have the "stress test" running already for 30 minutes (I did not touch my code, so it opens EntityManagerFactory/EntityManager and then closes them in the Application)... and it is performing like a charm :D no problems at all! I did a quick check on the "open files" of the OS (lsof -n | wc -l) and th

[2013-08-02 09:23] #334 closed, assigned to nobody

[2013-08-02 09:35] mevivs commented on #334
Great!
Most of production J2EE app works in "container managed entity manager factory instances". Kundera is easily deployable over web and as well as EJB containers:
1. Tomcat
2. Glassfish,Jboss AS7 etc. (EJB container)

Container managed ones are maintained by servers and entity manager and factory instances are implicitly handled by Container itself(which i believe is less error prone).

Also,

[2013-08-02 09:43] emgsilva commented on #334
I will do that for sure in a while, once we are some time through our private beta (to be launched soon).

Thank you again for all the support! cheers,

Eduardo

[2013-08-02 13:03] Allekto opened #343 "Problems connecting to Cassandra with remote server and password authentication"
0 down vote favorite

I try to connect my play application to Cassandra DB. I tried this tutorial: http://xamry.wordpress.com/2013/07/06/play-nosql-building-nosql-applications-with-play-framework/

The difference in my setup is that cassandra is not on my localhost, but in one of my servers in the internet. To keep my cassandra installation secure i also used password authorization instead of the

[2013-08-02 13:06] impetus-opensource-admin commented on #343
Duplicate of https://github.com/impetus-opensource/Kundera/issues/328

PS: This issue is specific to ThriftclientFactory working with PelopsClientFactory.

-Vivek

[2013-08-04 11:43] emgsilva commented on #180
Hi there,

I am trying to port my application to JBoss to enable "Container-managed EntityManager"... I was previously using Tomcat, however it does not offer such support out of the box.

I had some problems, which I managed to get solved, however now I am stucked in this one: `javax.persistence.PersistenceException: JBAS011466: PersistenceProvider 'com.impetus.kundera.KunderaPersistence' not fou

[2013-08-04 18:22] mevivs commented on #180
Hi Eduardo,
Please refer: https://github.com/impetus-opensource/Kundera/issues/303 for more details.

-Vivek

[2013-08-04 20:36] emgsilva commented on #180
Hi Vivek,

I did see that issue... and I do have the last version from the trunk on my project (.war). I was trying to deploy and use in Eclipse did not work, then created war and deployed it directly on JBoss (deployments directory), the same error takes place: "javax.persistence.PersistenceException: JBAS011466: PersistenceProvider 'com.impetus.kundera.KunderaPersistence' not found"

Can you tel

[2013-08-05 06:53] mevivs commented on #180
Please verify, if you have these settings in persistence.xml
1. jboss.as.jpa.managed as false in persistence.xml
2. include your entity classes with in <class> tag and <exclude-unlisted-classes> to true in persistence.xml

-Vivek

[2013-08-05 22:29] emgsilva opened #344 "Issues with JBoss/TomEE to set Container-managed Transactions with Kundera"
Hi,

After some insights from Vivek on the other day on the benefits of having “Container-managed EntityManagers” I spend some time trying to port our Kundera persistences to such a setup. However I am struggling with several issues… hopefully you can give me some insights. I do not have much experience with this (EJBs, Java EE containers, etc.), but I tried to learn some basics and set some exper

[2013-08-06 06:37] emgsilva commented on #344
I forgot to mention... in TomEE the problem (NullExceptionPointer) is obtained when I try to access the EntityManager, it is "null", so somehow it is not being "injected":

[code]

[2013-08-06 06:50] mevivs commented on #344
Could you please email me those error logs at vivek.mishra@impetus.co.in? As i am not able to access dropbox links from office.

-Vivek

[2013-08-06 12:27] emgsilva commented on #344
This problem was solved (thanks to precious help from Vivek!).

I made several adjustments on my code and persistence.xml configuration:
- 1) created "stateless local beans", which work as "facades" to communications with Cassandra DBs via Kundera. In these beans I declare/inject the EntityManager (@PersistenceContext(unitName="cassandra_ServiceTypes", type=PersistenceContextType.TRANSACTION), see

[2013-08-06 12:27] #344 closed, assigned to nobody

[2013-08-06 17:46] mevivs commented on #326
Hi Gargee,
Did you get a chance to test this feature. I understand that you needed for your production release.

-Vivek

[2013-08-07 12:24] mevivs commented on #343
Fixed in current trunk.Please verify.

-Vivek

[2013-08-07 12:26] #328 closed, assigned to nobody

[2013-08-07 12:27] mevivs commented on #209
@ElementCollection over basic type: Support added for Cassandra,Mongo

[2013-08-07 12:27] #209 closed, assigned to nobody

[2013-08-07 12:29] #314 closed, assigned to nobody

[2013-08-07 12:29] #266 closed, assigned to nobody

[2013-08-07 12:29] #254 closed, assigned to nobody

[2013-08-07 12:30] mevivs commented on #227
Are we good to close on this?

[2013-08-07 12:30] #227 closed, assigned to nobody

[2013-08-07 12:32] mevivs commented on #257
Please verify with 2.6 release.

[2013-08-07 12:32] #257 closed, assigned to nobody

[2013-08-07 12:32] #212 closed, assigned to nobody

[2013-08-07 12:34] mevivs commented on #299
Fixed in current trunk.

-Vivek

[2013-08-07 12:34] #299 closed, assigned to nobody

[2013-08-07 15:49] Gargee opened #345 "Getting the Count of some record in Cassandra using Kundera"
Hi,
I have a column family which looks like this:-
CREATE TABLE "ChangeRequest" ( "ChangeRequestID" uuid, "SubmissionID" uuid, "SubmissionDateTime" timestamp, "CreateUser" varchar, "UpdateUser" varchar,  "ModType"  varchar,"ModSequence" int,"ModID" set <uuid>, PRIMARY KEY("ChangeRequestID", "ModSequence") );

I need to get the count of submissions made (count of the SubmissionID ).Is it feasible i

[2013-08-07 15:57] mevivs commented on #345
Execute as a native CQL3 native query

-Vivek

[2013-08-07 16:17] Gargee commented on #345
so when i do a  select count(*) from "ChangeRequest"; i get the total count of records ..but what i want is the Number of records with unique ChangeRequestID.
When i do :-  select count ("ChangeRequestID") from "ChangeRequest"; i get the error:-
Bad Request: line 1:14 no viable alternative at input 'ChangeRequestID'

is there a way to get the unique count for a given column.

[2013-08-07 17:48] Gargee opened #346 "Higest value of a column in a columnfamly"
Hi All,
I am at the end of my wits to figure out how to get the  the highest value of  PhotoLogSeqNum for a given photoID in cql /kundera :(
So suppose we have a table like this(below) and we need to find the highest value of PhotoLogSeqNum for a given photoID.

Photo
--photoID         | --     PhotoLogSeqNum             |-- ChangeStatusID        |--Description

1---------------------      1   ---

[2013-08-07 19:06] mevivs commented on #345
Only unique thing in Cassandra is row key. I don't think such functions exist in CQL(Cassandra).

One alternative could to create an entity which contains row key and ChangeRequestID as a column.
Execute a query such as:

"Select ChangeRequestID, key from ChaneRequest".  and convert list of ChangeRequestID into a unique set. As You are fetching only 1 column, so it should not be an issue.

Else, m

[2013-08-07 19:10] mevivs commented on #346
This looks to me a case of counter column family. Highest value of PhotoLogSeqNum for each photoId value? Or for complete table?

Another possible solution might be to keep a flag value(secondary index enabled), and Highest value of PhotoLogSeqNum will hold a unique flag value. Which allows you to query using that "flag" field.

-Vivek

[2013-08-07 19:24] Gargee commented on #346
This looks to me a case of counter column family. Highest value of PhotoLogSeqNum for each photoId value? Or for complete table?Answer:-GB I need it per photoID.
Another possible solution might be to keep a flag value(secondary index enabled), and Highest value of PhotoLogSeqNum will hold a unique flag value. Which allows you to query using that "flag" field.Answer:-GBI dont have the option to try

[2013-08-08 06:28] mevivs commented on #346
Have PhotoID,PhotoLogSeqNum as a composite key and run a CQL query like:

select PhotoLogSeqNum from Photo order by PhotoLogSeqNum DESC LIMIT 1;

-Vivek

[2013-08-08 09:16] mevivs opened #347 "Add Elastic Search as a datastore and indexing solution"
Extend current Kundera client base to add Elastic search as a client

[2013-08-08 15:16] Gargee commented on #346
cool thanks.

[2013-08-08 15:16] #346 closed, assigned to nobody

[2013-08-08 15:19] Gargee opened #348 "Issue while persisting set<uuid> using kundera cassandra"
HI ,
I am trying to persist set<'uuid'> using kundera cassandra.But i am getting the below  error.Is any any issue persisting set<'uuid'>???

8 Aug 2013 04:14:21,165 ERROR http-bio-8443-exec-9 com.impetus.client.cassandra.pelops.PelopsClient (PelopsClient.java:453) - Error during persist, Caused by:
nvalidRequestException(why:Invalid list literal for ModID of type set<uuid>)
       at org.apache.c

[2013-08-08 15:33] mevivs commented on #348
Using latest trunk?
ThrifClientFactory?

[2013-08-08 15:48] Gargee commented on #348
06-July-2013 - Kundera 2.6 released.

@PersistenceContext(unitName = "cassandra_pu", type = PersistenceContextType.EXTENDED,

properties = {@PersistenceProperty(name = "consistency.level", value="QUORUM")} )

Persistence.xml :-

<provider>com.impetus.kundera.KunderaPersistence</provider>

<properties>

<property name="kundera.nodes"

value="a,y,x" />

<property name="kundera.port" value="9160" />

[2013-08-08 18:39] mevivs commented on #348
Map/Collection support over basic type is supported in current trunk only.

-Vivek

[2013-08-09 15:28] Gargee commented on #348
Hi Vivek,Thanks for the reply,but as per my company policies we can only refer to stable releases for including it in our code base.Any idea when we can get a stable release in kundera with this feature?

[2013-08-09 15:50] mevivs commented on #348
I will post an update. But tentatively it's around 22nd august.

-Vivek

[2013-08-09 15:52] Gargee commented on #348
OK ..our release too is around that time.I hope it syncs up.

[2013-08-09 17:27] TheGeekPharaoh opened #349 "The "name" property on @Entity is not honored"
In JPA, I can annotate my entity as follows:

@Entity(name="Foo")
@Table(...)
public class FooBean ... {

   ...

}

From there, I can write JPQL queries referencing the "name" from the @Entity annotation, as follows:

"SELECT f FROM Foo f..."

Kundera, however, does not honor the "name" property on @Entity.  Rather, you can only query using the class name:

"SELECT f FROM FooBean f"

This should

[2013-08-09 19:31] Gargee commented on #348
Hi When I am trying to compile the Trunk code I get this error:-

BELC02JV1E8DKQ4:Kundera-trunk a-gbanerjee$ mvn eclipse:eclipse
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for com.impetus.core:kundera-core:jar:2.7-SNAPSHOT
[WARNING] 'build.plugins.plugin.(groupId:artifactId)' must be unique but found duplicate declaration o

[2013-08-09 19:32] #345 closed, assigned to nobody

[2013-08-09 19:32] Gargee commented on #345
thanks

[2013-08-10 00:34] TheGeekPharaoh opened #350 "NullPointerException when persisting Entity with a null-valued @Embedded property"
I have a pretty standard entity to be persisted in MongoDB using Kundera 2.6.  In this entity is a property annotated as @Embedded.  The class for this embedded value is annotated properly, as well.  However, when I persist an instance of this Entity where the embedded property is set to null I see the following exception:

Caused by: java.lang.NullPointerException
    at com.impetus.client.mongod

[2013-08-10 05:32] mevivs commented on #348
Try with mvn clean install -DskipTests

[2013-08-10 05:33] mevivs commented on #350
Please share entity definition along with CRUD code snippet.

-Vivek

[2013-08-10 06:01] Gargee commented on #348
thanks..i should have tried this ...please let me know when the next stable release is made as My code cant go to production till then.

[2013-08-10 11:08] pdirksen opened #351 "Using elementcollections in entities causes weird schemas in MongoDB"
Using elementcollections in entities causes weird schemas in MongoDB.
Adding a elementcollection seems to affect all other entities too.

Using: Kundera 2.6

[code]

And now the diff between (json formatted).

[code]

'alternativeNames' is not set. Excluding the ElementCollection results as expected:

[code]

[2013-08-10 11:20] mevivs commented on #351
Can you please share CRUD code snippet, which are trying with?

-Vivek

[2013-08-10 11:23] pdirksen commented on #351
It is just a simple persist.

[code]

There are some other entities around, but I'm afraid I am not allowd to share them. If you need all entities I can try to export them refactored.

[2013-08-11 01:15] TheGeekPharaoh commented on #350
For example...

@Entity
@Table(name = "TrackedEvent", schema = "holocron@Holocron")
@IndexCollection(columns = { @Index(name = "endDate"),
        @Index(name = "startDate"), @Index(name = "name"),
        @Index(name = "ownerUUID") })
@NamedQueries(value = {
        @NamedQuery(name = "TrackedEvent.findAll", query = "SELECT DISTINCT e FROM TrackedEventBean e"),
        @NamedQuery(name = "Tracked

[2013-08-12 06:42] kkmishra commented on #350
Hi,
AbstractNonTransactionalDomainEntity, is it a mapped super class entity or
what ?
Please provide some more detail about it.

Thanks
Kuldeep

On Sun, Aug 11, 2013 at 6:45 AM, sdnakhla notifications@github.com wrote:

##

Thanks and Regards
Kuldeep Kumar Mishra
+919540965199

[2013-08-12 06:58] kkmishra commented on #351
Hi,
I confirm it is an issue with @ElementCollection, it will be fixed in 2.7.
As of now you can use it without using @ElementCollection annotation.

Thanks
Kuldeep

On Sat, Aug 10, 2013 at 4:53 PM, pdirksen notifications@github.com wrote:

##

Thanks and Regards
Kuldeep Kumar Mishra
+919540965199

[2013-08-12 07:00] #342 closed, assigned to nobody

[2013-08-12 07:00] mevivs commented on #301
Fixed on current trunk

-Vivek

[2013-08-12 07:00] #301 closed, assigned to nobody

[2013-08-12 07:25] kkmishra commented on #348
Verified and this will be releasing with 2.7.

Thanks
Kuldeep

On Sat, Aug 10, 2013 at 11:31 AM, Gargee Banerjee
notifications@github.comwrote:

##

Thanks and Regards
Kuldeep Kumar Mishra
+919540965199

[2013-08-12 09:01] pdirksen commented on #351
Thanks.

I use kundera as a kind of drop-in-replacement for an existing project. This is not the only error i got but first I have to lock it down to some specific lines before I post them.

[2013-08-12 13:41] TheGeekPharaoh commented on #350
It is a mapped superclass, but has no properties or methods.  It's just there due to design convention.  I've also tried removing it and not having any superclasses, but the results are the same.

[2013-08-12 16:50] mevivs commented on #350
Tried with Simple entity as:

[code]

Working fine.

-Vivek

[2013-08-12 17:14] Gargee opened #352 "Support for Allow Filtering"
Hi I have this requirement where in i need to query the cassandra Db with allow Filtering clause.
When i try this on cassandra DB directly using cql this query works.
But when i try this with kudera it doesnt.Does Kundera support "Allow filtering"?

[2013-08-12 17:34] Gargee commented on #352
I am using this query

ON cassandra directly on terminal using cql
select \* from "PhotosLog" where "SKUGroupID" = 245698 and "ChangeStatusID"=1 limit 10 ALLOW FIlTERING;
this works !!
but when i try doing it using Kundera :- it doesnt.My kundera query is :

public final String PhotoLogSelect = "select p from PhotosLog p where p.skuGroupID=245698 and p.changeStatusID=1 limit 10 ALLOW FIlTERING";
}

[2013-08-12 18:15] mevivs commented on #352
[code]

Executing it as em.createNativeQuery() or em.createNamedQuery()?

Kundera supports ALLOW FILTERING by default on JPQL query.

-Vivek

[2013-08-12 20:28] Gargee commented on #352
Thanks for your reply.My code works with hardcoded values like:-

[code]

But how can we use named Parameters here?I tried both positional parameters and also named ones for but i am getting errors

named ones:-
    public final String PhotoLogSelect = "select \* from \"PhotosLog\"  where \"SKUGroupID\"=:sid and \"ChangeStatusID\"=:chid limit 10 ALLOW FILTERING";

positional query:-

[code]

java

[2013-08-13 03:04] mevivs commented on #352
Few things :
1. First is, you need to execute it as named JPQL query.

For example to execute such queries:
select \* from "PhotosLog" where "SKUGroupID" = 245698 and "ChangeStatusID"=1 limit 10 ALLOW FIlTERING;

it's JPQL query would be(PhotosLog is an entity with SKUGroupID,ChangeStatusID as fields) :

[code]

ALLOW FILTERING will automatically be applied on such queries.

Hope this helps.

-Viv

[2013-08-13 13:22] TheGeekPharaoh commented on #350
The persist works with no problem.  I receive an exception when I query for results, though.

[2013-08-13 14:47] mevivs commented on #350
Assigning KK

[2013-08-13 14:57] Gargee commented on #352
thanks it works

[2013-08-13 15:40] TheGeekPharaoh opened #353 "Superclass properties not honored on @Embedded/@Embeddable"
I have an @Entity that has a property that is @Embedded.  This value has an abstract base class that also declares columns to be persisted.  However, these properties do not seem to be persisted when persisting the object.  For example:

My entity:
@Entity(name = "ImageObject")
@Table(name = "Images", schema = "...")
public class ImageObjectBean extends AbstractMediaObjectBean {

[code]

...

}

T

[2013-08-13 17:03] mevivs commented on #353
Support for MappedSuperClass is on the plan:
https://github.com/impetus-opensource/Kundera/issues/56

But not supported on current trunk.

-Vivek

[2013-08-13 21:38] #352 closed, assigned to nobody

[2013-08-14 12:25] kkmishra opened #354 "RDBMS log messages are not proper."

[2013-08-14 14:16] TheGeekPharaoh commented on #353
Is there an estimated time for when this will be implemented?

[2013-08-14 15:03] mevivs commented on #353
Planned for releases after 2.7.

BTW  using Kundera for?

-Vivek

[2013-08-14 18:35] TheGeekPharaoh commented on #353
Persisting geolocated data.  It's highly structured due to the way its being used, hence my question.

[2013-08-14 18:35] #353 closed, assigned to nobody

[2013-08-14 18:43] mevivs commented on #353
Ok. Will discuss and try to prioritize it for 2.8

It will be great, if you can spare few minutes to fill in survey:

http://www.surveymonkey.com/s/BMB9PWG

-Vivek

[2013-08-15 00:53] TheGeekPharaoh commented on #353
Survey completed

[2013-08-15 14:02] jfgosselin opened #355 "Empty collection and @ElementCollection"
With Cassandra and Kundera 2.7-SNAPSHOT when I persist an entity with an empty @ElementCollection e.g. (empty HashSet for b) :

[code]

I get the following exception :

[code]

[2013-08-15 14:21] impetus-opensource-admin commented on #355
I think, empty or null collection instance should be ignored. I will verify and get it fixed.

-Vivek

[2013-08-16 15:00] Gargee opened #356 "How to associate two column families with compound primary keys"
Hi I have two columnfamilies which have compund primary keys.I need to make a join query on them .Can you suggest what can i do to achieve that.My tables look like this:-
# CREATE TABLE "MediaCategoryGroup" ("MCategoryID" int, "MCategoryName" varchar,"LangID" int, PRIMARY KEY("LangID","MCategoryID"));
# CREATE TABLE "MediaCategory" ("MCategoryID" int, "SubMCategoryName" varchar, "PhotoRankID" int,

[2013-08-16 16:22] mevivs commented on #356
So MediaCategoryGroup contains 1-M with MediaCategory. Such join queries will not work. Personally, i think you should denormalize and avoid such join queries. Not a valid use case for Cassandra.

-Vivek

[2013-08-16 16:24] Gargee commented on #356
Atually when I had a single primary key on MediaCategoryGroup  I could make it work but now when I have "LangID" also as a part of the primary key ..I can't think of a way.Ya I guess the table structure needs to be reworked.
From: Vivek Mishra <notifications@github.com<mailto:notifications@github.com>>
Reply-To: impetus-opensource/Kundera <reply@reply.github.com<mailto:reply@reply.github.com>>
Dat

[2013-08-18 02:16] TheGeekPharaoh opened #357 "String values being persisted as char arrays sometimes"
I am attempting to persist an object that looks something like this into a MongoDB datastore...

@Entity
@Table(name = "TrackedEvent", schema = "holocron@Holocron")
@IndexCollection(columns = { @Index(name = "endDate"),
        @Index(name = "startDate"), @Index(name = "name"),
        @Index(name = "ownerUUID") })
public class TrackedEventBean extends AbstractNonTransactionalDomainEntity {

[code

[2013-08-19 00:19] TheGeekPharaoh commented on #350
Any update on this?

[2013-08-20 01:50] TheGeekPharaoh commented on #357
I've done a bit more investigation and uncovered an additional detail that seems to trigger this error condition.  I have the following property defined in this entity:

@ElementCollection
private List<String> users = null;

With this property defined, I see the strange behavior I reported earlier.  If I remove this property from my Entity class, the behavior goes back to normal.  Additionally, th

[2013-08-20 15:06] jfgosselin commented on #355
Also a list of string isn't working e.g. :

[code]

The quote are missing in the array :

   ERROR 2013-08-20 10:52:32,021 [main] com.impetus.client.cassandra.pelops.PelopsClient -  Error during persist while executing query  INSERT INTO "test"("a","b","c") VALUES('allo',[1, 2],'c') , Caused by: .
InvalidRequestException(why:Invalid list literal for b: value 1 is not of type text)

[2013-08-20 15:44] pabloetoledo commented on #131
I have the same problem!

"
class entities.Person is not a JPA managed object as we couldn't find metadata for it. This object can't be persisted
"

I'm using NetBeans 7.2.

[2013-08-20 19:17] Gargee opened #358 "delete with where clause"
The issue is solved

[2013-08-20 19:41] #358 closed, assigned to nobody

[2013-08-21 05:44] mevivs commented on #131
This looks to me as a packaging issue. Either Person entity is not on the classpath or persistence.xml is not mapped correctly.

-Vivek

[2013-08-21 06:17] pdirksen commented on #357
This is a duplicate of #351. Should be solved in Kundera-Trunk.

[2013-08-21 08:05] mevivs commented on #351
2.7 release is planned for 3rd Sept. Let me know, if you have any other issues to share.

-Vivek

[2013-08-21 12:32] kkmishra commented on #350
Hi,
Changes pushed in current trunk branch, please verify and let me know if
problem persists.

Thanks
Kuldeep

On Mon, Aug 19, 2013 at 5:49 AM, sdnakhla notifications@github.com wrote:

##

Thanks and Regards
Kuldeep Kumar Mishra
+919540965199

[2013-08-21 12:32] kkmishra commented on #355
Hi,
Changes pushed in current trunk branch, please verify and let me know if
problem persists.

Thanks
Kuldeep

On Tue, Aug 20, 2013 at 8:36 PM, jfgosselin notifications@github.comwrote:

##

Thanks and Regards
Kuldeep Kumar Mishra
+919540965199

[2013-08-21 15:55] Gargee opened #359 "Not able to use the 2.7 snapshot using maven"
Hi ,
I am trying to use the trunk code ,i have created the jars from the trunk using
mvn clean install -DskipTests..
but our build fails when i put the depedency
<'dependency>
   <'groupId>com.impetus.client<'/groupId>
   <'artifactId>kundera-cassandra<'/artifactId>
   <'version>2.7-SNAPSHOT<'/version'>
  <'/dependency'>
1. add kundera-core 2.7-SNAPSHOT
   <'dependency'>
   <'groupId>com.impetus.c

[2013-08-21 16:25] TheGeekPharaoh commented on #350
Looks good.  Thanks.

[2013-08-21 16:25] #350 closed, assigned to nobody

[2013-08-21 16:34] TheGeekPharaoh commented on #357
Solved.  Thanks.

[2013-08-21 16:34] #357 closed, assigned to nobody

[2013-08-21 20:02] Gargee commented on #348
Hi ,
Is Kundera 2.7 getting released tomorrow? i.e 22nd Aug.

[2013-08-22 02:42] mevivs commented on #348
We  are releasing 2.6.1 today and 2.7 will be released on 3rd sept.

-Vivek

[2013-08-22 03:52] Gargee commented on #348
So can we expect the collections support in 2.6.1 ?

[2013-08-22 03:56] Gargee commented on #348
because with the snap shot we are getting into jenkins build issues for guava libraries dependencies.We need collections support very badly asap

[2013-08-22 04:29] mevivs commented on #348
Yes. Map collection support will be part of 2.6.1 release.

---

 From: Gargee Banerjee notifications@github.com
To: impetus-opensource/Kundera Kundera@noreply.github.com
Cc: Vivek Mishra vivek.mishra@yahoo.com
Sent: Thursday, August 22, 2013 9:26 AM
Subject: Re: [Kundera] Issue while persisting set<uuid> using kundera cassandra (#348)

because with the snap shot we are getting into jenkins build

[2013-08-22 06:01] kkmishra opened #360 "Non unary assosiation not getting populated if initialized with empty collection."

[2013-08-22 09:49] #318 closed, assigned to nobody

[2013-08-22 09:49] #219 closed, assigned to mevivs

[2013-08-22 09:49] #343 closed, assigned to nobody

[2013-08-22 10:18] mevivs commented on #359
You need to manually build  2.7-SNAPSHOT on local machine. It's not available on central maven repository.

-Vivek

[2013-08-22 13:46] mevivs commented on #356
Are we good to close on this?

-Vivek

[2013-08-22 13:47] mevivs commented on #355
Fixed and releasing today with 2.6.1

-Vivek

[2013-08-22 13:48] mevivs commented on #348
Releasing today with 2.6.1.

[2013-08-22 13:50] #348 closed, assigned to nobody

[2013-08-22 13:50] #351 closed, assigned to nobody

[2013-08-22 13:50] #355 closed, assigned to nobody

[2013-08-22 15:28] Gargee commented on #348
when can  we have the jars in http://mvnrepository.com/artifact/com.impetus.core/kundera-core
I understand set collection will also be a part of this release.

[2013-08-22 15:52] Gargee commented on #356
yes..

[2013-08-22 15:52] #356 closed, assigned to nobody

[2013-08-22 16:46] mevivs commented on #348
Yes. We release kundera jars  over Nexus repo.

 https://oss.sonatype.org/content/repositories/releases/com/impetus

Add

[code]

in pom.xml

-Vivek

[2013-08-23 05:54] macluck commented on #333
Hi,

I have tested this again with Kundera 2.6.1, but problem still exists. I am wondering was it ever addressed?

Kind Regards,
Anton Maklakov

[2013-08-23 06:07] mevivs commented on #333
Work is not yet started on this. It will be part of 2.7 release(Releasing on 3rd september).

-Vivek

[2013-08-23 07:44] macluck commented on #333
Okay, good to know,. Thank you!

[2013-08-23 08:58] pdirksen opened #361 "No support for ElementCollections with non-basic elements."
Hi again. Please support ElementCollections with non-basic elements like in the following example:

[code]

Thanks a lot.

Paul

[2013-08-23 09:13] mevivs commented on #361
Thanks. I wonder how you want to translate such collection and how are they different from association mappings?

Cassandra/MongoDB support such collection of Basic types, hence Kundera does.

Such type of requirements(mentioned above) are best fit for JPA associations.

-Vivek

[2013-08-23 10:03] pdirksen commented on #361
It works in hibernate/eclipselink - without the @Column annotation though. Maybe you can compare the outcome of persistence of those entities in a relational database.

People who migrates big JAVA projects might run into the same problem.

Paul

[2013-08-23 10:19] mevivs commented on #361
i will park it for future discussion and will look for implementation(if possible).

But, everything in relational world shouldn't be tried with nosql databases.

-Vivek

[2013-08-23 14:53] mevivs commented on #326
Are we good to close on this? Working fine with 2.6.1 ?

-Vivek

[2013-08-23 15:33] Gargee commented on #326
We are just testing the feature and will let you know asap.

[2013-08-23 15:44] Gargee commented on #348
I understand we need to add to our Company's  Nexus repo only the Kundera Core and Kundera Cassandra jars.Can you please confirm

[2013-08-23 16:35] #359 closed, assigned to nobody

[2013-08-23 16:36] #306 closed, assigned to nobody

[2013-08-23 16:36] #326 closed, assigned to nobody

[2013-08-23 17:47] mevivs commented on #348
Above mentioned repository link is where we release. Hence for a maven based project, it's recommended to add this a repository configuration.

-Vivek

[2013-08-24 11:58] pdirksen commented on #361
Additional note:

Having these notation prevents from using a ManyToMany relation with at least one additional field. Thats means you save one class with that. (Additional class would consist of ManyToOne + ManyToOne + additional fields)

Paul

[2013-08-25 02:59] Gargee opened #362 "Issue updating collections to null once they have been set any value"
Hi,
I am having issues updating collections once they have been set any value.
The table looks like this:-
CREATE TABLE "Photos" ("PhotoID" uuid, "PhotoLogSeqNum" int, "ChangeStatusID" int, "ChangeRequestID" uuid,"ModUser" varchar,"RejectionID" int,"LockTime" timestamp, "UploadFormat" varchar, "PhotoWidth" int, "PhotoHeight" int, "UploadChannel" varchar, "DM" boolean, "SupplierSegmentation" varcha

[2013-08-25 03:37] mevivs commented on #362
2.When i set this column to null its not getting set to null.

Means, you do not want to store a value while persisting. But want to update it later? This is what not working for you?

-Vivek

[2013-08-25 04:55] Gargee commented on #362
HI Vivek,
I first set some value for that column "RoomTypeID" Set <'varchar'> and later on i need to update that column to null.

but  when i do em.persist(p)/em.merge(p); if i set the value of "RoomTypeID" to some value its getting updated to the set value.but if i set it to null its not getting updated to null and Kundera is not even throwing any exception .

[2013-08-25 06:33] mevivs commented on #362
Hi Gargee,
Did you try to set it as an empty hashset?

Anything which is set to null is simply ignored by Kundera. In nosql world there is no definition of NULL. See if it works.

-Vivek

[2013-08-25 06:43] Gargee commented on #362
Hi Vivek,
Ill definitely try this tomorrow morning and let you know .
Thanks
Gargee

[2013-08-25 06:46] mevivs commented on #362
Hi Gargee,
Ok. I request you to spare few minutes to fill in for Kundera survey, here is the link:

http://www.surveymonkey.com/s/BMB9PWG

-Vivek

[2013-08-25 17:23] Gargee commented on #362
Hi Vivek,
I tried with empty hashset but the column "RoomTypeID" Set <'varchar'>  is not getting updated.
Its restoring the old value.

[2013-08-25 17:30] mevivs commented on #362
I will have a look, and get it fixed for 2.7

-Vivek

[2013-08-25 17:52] Gargee commented on #362
ok Thanks Vivek.So I hope i can push the fix in production after 3rd sep.

[2013-08-25 17:58] mevivs commented on #362
Yes. I understand that map support was required to get your application in production.

Your application is now running in production? Or this is a blocker for you before going into production?

-Vivek

[2013-08-26 00:57] Gargee commented on #362
Its a blocker right now.
Thanks
Gargee

[2013-08-26 12:41] kkmishra commented on #362
Hi Gargee,
It is fixed for both null and empty collection/map, and pushed into current
working branch ie. trunk, please verify.

Thanks
Kuldeep

On Mon, Aug 26, 2013 at 6:27 AM, Gargee Banerjee
notifications@github.comwrote:

##

Thanks and Regards
Kuldeep Kumar Mishra
+919540965199

[2013-08-26 15:56] Gargee commented on #362
Hi Kuldeep.,
I have verified with the trunk code and update to null is working fine now.
Thanks for the prompt support.
-Gargee

[2013-08-26 16:19] mevivs opened #363 "{kundera-discuss} Kundera&MongoDB (on Play 2.1.3) bi-directional relationship doesn't get referenced correctly on the DB"
EntityManagerFactory emf = Persistence.createEntityManagerFactory("mongo");;
EntityManager em = emf.createEntityManager();

User user = new User();
user.setName("John Doe");

Set<Document> documents = new HashSet<Document>();
Document document1 = new Document();
document1.setName("document name");

Document document2 = new Document();
document2.setName("document name 1");

documents.add(document1)

[2013-08-26 16:22] mevivs commented on #362
Closing. Releasing with 2.7 release.

-Vivek

[2013-08-26 16:22] #362 closed, assigned to nobody

[2013-08-27 10:06] kkmishra commented on #333
Hi,
It is fixed in current trunk branch, please verify.

Thanks
Kuldeep

[2013-08-27 13:58] bsideup opened #364 "Entities from another jar"
Hello!

Does Kundera allows to get entities from another jar? For example, i have 2 modules:
- model.jar
- application.war

and i want to store entities and DAOs in model.jar, but my persistence.xml and other things are in application.war

is it possible? Had no luck with :(

[2013-08-27 14:16] mevivs commented on #364
it should work. add model.jar within

[code]

if model.jar is available in classpath. It should work.

-Vivek

[2013-08-27 14:17] bsideup commented on #364
Ok, thanks!

[2013-08-27 14:38] bsideup commented on #262
Seems like it doesn't works after version 2.2 (including) :(

[2013-08-27 16:10] mevivs commented on #262
What's the error you getting?

Using Kundera version?

-Vivek

[2013-08-28 07:17] chhavigangwal commented on #262
Tested with Kundera 2.6.1 by specifying multiple server connection in

https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-mongo/src/test/resources/kunderaMongoTest.xml

[code]

And mapped it as a configuration file in persistence.xml as :

[code]

Verified using crud test case of Mongodb PersonMongoTest

https://github.com/impetus-opensource/Kundera/blob/trunk/kundera-mongo/src/test/

[2013-08-28 15:52] impetus-opensource-admin commented on #364
Any update? Are we good to close on it?

-Vivek

[2013-08-28 15:55] bsideup commented on #364
Yeah, works fine, but with <class>some.class.from.Jar</class> instead of <jar-file> :)

Thanks!

[2013-08-28 16:42] mevivs commented on #364
Hmm. Should have worked in both the cases(may be relative jar path is not correct). Closing.

-Vivek

[2013-08-28 16:42] #364 closed, assigned to nobody

[2013-08-29 09:32] mevivs commented on #262
@bsideup

Could you please share more on this? What's exactly not working for you?

-Vivek

[2013-08-29 09:38] bsideup commented on #262
Hello! Sorry for a long reply.

I have working project with kundera-mongo 2.1 and everything is fine, kundera ignores kundera.nodes property and uses servers from mongo.xml, but when i switch to 2.5, it's fails trying to connect to node from kundera.nodes property and ignores servers from mongo.xml :(

[2013-08-29 09:41] mevivs commented on #262
Hi,
Latest Kundera released version is 2.6.1. Could you please give it try, as verified by @chhavigangwal ?

Will try to test on 2.5 release as well.

BTW, using Kundera for?

If you could spare few minutes to fill for survery, here is the link:

http://www.surveymonkey.com/s/BMB9PWG

-Vivek

[2013-08-29 09:47] bsideup commented on #262
Done with survey.

Same story with 2.6.1. Kundera ignores servers from mongo.xml :(

Have you tried to specify non existing server in kundera.nodes property with kundera.client.property file? Seems like you use "localhost" everywhere, and you have mongo on localhost:)

[2013-08-29 09:53] mevivs commented on #262
non existing server ? Do you mean incorrect IP in persistence.xml, but correct one in mongo.xml?

Please share persistence.xml and sample mongo.xml, if possible.

[2013-08-29 09:54] nkasvosve commented on #221
I honestly do not understand why Kundera insists on "schema"  attribute in the Table annotation. It just makes the entities not usable with other JPA platforms like Hibernate; well, at least I cannot find a way to easily accomplish that and that's proving to be a challenge for to switch between different providers. Perhaps someone could enlighten me on this one

[2013-08-29 09:55] bsideup commented on #262
**persistence.xml**

[code]

**mongo.xml**

[code]

[2013-08-29 09:57] subes commented on #221
You can override the annotation on application bootstrap via reflection on
the class. That is what i do. Ideally introducing a persistence unit
annotation specifically for kundera would help resolve interoperability
issues.
Am 29.08.2013 11:54 schrieb "nkasvosve" notifications@github.com:

[2013-08-29 10:02] mevivs commented on #221
@subes
Thanks. Can you map your thoughts on this in form of a blog to contribute? I can add that as  FAQ/link in Kundera wiki.

Cheers,
-Vivek

[2013-08-29 10:35] kkmishra commented on #262
Hi,
Would you please try with following changes in your persistence-unit

1) remove property  <property name="kundera.ddl.auto.prepare" value="update" />
2) and provide simple name of client property ie use mongo.xml insted of META-INF/mongo.xml.

Let me know if it is working for you.

Thanks
Kuldeep

[2013-08-29 10:47] mevivs commented on #262
KK, correct me if i am wrong,

1) remove

[code]

property.

2) Change

[code]

TO

[code]

-Vivek

[2013-08-29 10:54] zhouhero opened #365 "the namedNativeQueries cach is not thread safe"
when running for a long time in multthread env, getQuery() will return null althogth it worked well at first time.

[2013-08-29 10:59] bsideup commented on #262
Nope, it's still trying connect to localhost (i should notice that i moved mongo.xml to src/main/resources instead of src/main/resources/META-INF/ )