[2013-08-29 11:03] zhouhero opened #366 "when excute one time native cql there will be memory leak in namedNativeQueries cache!"
when excute one time native cql there will be memory leak in namedNativeQueries cache. pls see it:

ApplicationMetadata.java's addQueryToCollection():
....
          namedNativeQueries.put(queryName, new QueryWrapper(queryName, query, isNativeQuery, clazz));
...

when and where release the QueryWrapper from the namedNativeQueries map after excuting the one time native cql?

[2013-08-29 11:04] mevivs commented on #262
Just to verify

[code]

is commented out in persistence.xml

Could you please share more on logs?

-Vivek

[2013-08-29 11:04] zhouhero commented on #366
the one time native cql , jpql should not to be cached i think.

[2013-08-29 11:14] bsideup commented on #262
Whoa! It works after a clean redeploy (without kundera.ddl.auto.prepare)

So, the problem is in the kundera.ddl.auto.prepare, yes?

[2013-08-29 11:36] bsideup commented on #315
+1

it would be very useful, we had the same situation with 2 PUs and shared entities two month ago and it was very painful to copy-paste same entity classes for different PUs.

[2013-08-29 13:53] subes commented on #221
Actually my solution is quite specific to my application bootstrap and differs from the normal way kundera is used, so code samples would not help a lot. But I can explain the procedure I use to do this:
1. When application is started I scan for all entities and evaluate the @Table schema annotation to find the persistence unit associated via the "schema@some_pu" convention of kundera.
2. Then I g

[2013-08-29 14:00] subes commented on #221
@cjaeger you can also use the annotation hack to modify your schema definition on application startup.
Here is a sample for doing it: http://stackoverflow.com/questions/14268981/modify-a-class-definitions-annotation-string-parameter-at-runtime
You can use http://code.google.com/p/reflections/ to do the classpath scanning, or use the spring way: http://www.nofluffjuststuff.com/blog/scott_leberknigh

[2013-08-29 16:03] Gargee opened #367 "UserName and Passsword Authentication"
Hi ,
I need to know if i can set the authentication for Cassandra for username and password  through Kundera externally ?
i can see we can do it in Persistence.xml using
kundera.username (Optional)**:** User name to authenticate to for Cassandra and MongoDB.

kundera.password (Optional)**:** Password for login authentication for Cassandra and MongoDB.

but can we put this data in the external conf

[2013-08-29 17:38] mevivs commented on #367
In external config file you can add that under server tag as:

[code]

It should work for you.

-Vivek

[2013-08-29 17:39] Gargee commented on #367
thanks

[2013-08-29 17:39] #367 closed, assigned to mevivs

[2013-08-30 11:43] kkmishra opened #368 "Pagination in mongodb"

[2013-08-30 18:54] subes commented on #315
+1

I also like making the schema @Table annotation optional when `<class>` is specified. Like this, no @PersistenceUnit annotation is needed which I suggested here: https://github.com/impetus-opensource/Kundera/issues/221#issuecomment-23490757

`<class>` is definitely the most flexible solution to support using the same entity in multiple persistence providers at the same time.

[2013-08-30 18:58] mevivs commented on #315
I see a point here. Looks like, we need to discuss and find a way for this, will plan a discussion and post an update on this.

-Vivek

[2013-08-30 21:48] subes opened #369 "Kundera and JTA with Atomikos/Application Server?"
Hi,

I've seen KunderaJTAUserTransaction and some code that ensures that "java:comp/UserTransaction" is bound to that implementation via JNDI.

Since Atomikos specifies its own J2eeUserTransaction, I wonder if it is possible to let kundera participate in JTA-Transactions managed by Atomikos? This would also count the same when trying to let kundera participate in JTA transactions managed by an app

[2013-08-31 11:10] subes commented on #369
I guess Kundera would need to implement some XAResources to support this.

Another question I have is: does the KunderaJTAUserTransaction properly handle two-phase-commit on kunderas underlying persistence units? So for example transactions that span across rdbms and cassandra at the same time?

If that is the case, maybe it would be possible to write a XAResource wrapper around KunderaJTAUserTran

[2013-09-01 11:06] mevivs commented on #369
[code]

Kundera ensures atomocity across polyglot databases,  em.commit(), em.rollback() would ensure same behavior for multiple databases(e.g. RDBMS,Cassandra etc).

We did try to enable existing JTA impementation such Atomikos, but they looked to very much tightly coupled with their custom implementation. Existing JTATransaction or UserTransaction implementation with atomikos doesn't provide a w

[2013-09-01 12:47] subes commented on #369
Ok, good to know. For now I went without 2PC across multiple EntityManagerFactories and rather design my code to distinguish between TransactionManagers properly when accessing different ORMs.

[2013-09-01 12:49] #369 closed, assigned to nobody

[2013-09-01 19:48] mevivs commented on #369
Using Kundera for?

Request you to spare few minutes to fill in survey, here is the link:
http://www.surveymonkey.com/s/BMB9PWG

Cheers,
-Vivek

[2013-09-01 21:48] subes commented on #369
done the survey, using for data access during parallellized financial backtests using hadoop; though I guess I will be waiting for MappedSuperclass support before using it fully, since my code depends on this feature.

[2013-09-02 06:39] mevivs commented on #333
Any update on this? Releasing with 2.7.
-Vivek

[2013-09-02 07:21] macluck commented on #333
Hi, I can't verify it today. Will do it tomorrow with the 2.7 release.

Thank you

[2013-09-02 08:35] mevivs commented on #366
Fix will require change across multiple databases. Planned for release after 2.7.

-Vivek

[2013-09-02 11:41] mevivs commented on #234
A test case added to validate @PostLoad on current trunk. Please refer above commit.

-Vivek

[2013-09-03 09:47] nkasvosve commented on #221
Here is my proposed solution inside Kundera core:

package com.impetus.kundera.annotations;

import java.lang.annotation.Documented;
import java.lang.annotation.ElementType;
import java.lang.annotation.Inherited;
import java.lang.annotation.Retention;
import java.lang.annotation.RetentionPolicy;
import java.lang.annotation.Target;

@Documented
@Target(ElementType.TYPE)
@Inherited
@Retention(Retent

[2013-09-03 10:02] subes commented on #221
I dont like that. The jpa table annotation has the schema part already
specified and should be kept as it is. Instead kundera should drop the @pu
convention in the schema declaration and introduce its own
PersistenceUnitName annotation that only contains the persistence unit name.

Though as discussed in a different ticket, both the table schema and the
persistence unit annotations should not be n

[2013-09-03 11:10] sbheda opened #370 "Pagination in RDBMS"
Hi,
How to implement pagination in MySQL using kundera.

[2013-09-03 12:18] subes commented on #370
If kundera properly works with spring-data-jpa and its jparepository, it
should be possible to reuse the paging implementation done in spring.
Normally one has to write his own paging implementation on top of the jpa
api, but here spring comes in handy.

An orm like kundera only needs to provide support for limits in the query
(start row and end row numbers) and sorting capabilities. As i read thi

[2013-09-03 12:22] mevivs commented on #370
[code]

Kundera works and can be easily integrated with spring JPA repository.

Kundera does provide support for pagination over Cassandra,HBase and with 2.7 it will be supported for MongoDB as well.  For RDBMS, it's unsupported, but you can set limit on number of records.

-Vivek

[2013-09-04 07:08] macluck commented on #333
I verify, it's working now with 2.7 release

[2013-09-04 07:48] pranav-gopi opened #371 "Handling EntityManager instances"
Hi,
In the spring-kundera example,
https://github.com/impetus-opensource/Kundera/wiki/Using-Kundera-with-Spring
entityManager instance is closed for save and remove, but not closed for find query functions. Won't this approach create new entityManager instances every time we call find function which are not closed at all?
##

Pranav

[2013-09-04 08:22] mevivs commented on #371
It's just to demonstrate how you can hook up things with spring. However, in real world scenario, with application managed entity manager you may not be creating so many emf and em instance for each method invocation.

-Vivek

[2013-09-04 08:29] #368 closed, assigned to nobody

[2013-09-04 08:30] #333 closed, assigned to nobody

[2013-09-04 08:30] #347 closed, assigned to mevivs

[2013-09-04 08:31] #365 closed, assigned to mevivs

[2013-09-04 09:23] pranav-gopi commented on #371
Hi,
I have a bean class with one to many lazy fetch join to another bean. So in find method if I close entitymanager and try to access child class, it will throw Lazy Initialization Exception.

<code>
@OneToMany(cascade={CascadeType.ALL},fetch=FetchType.LAZY)
@JoinColumn(name="showid")
private List<ShowmapBean> referencedShowmapList;
</code>

So either I had to keep entityManager open or I have to

[2013-09-04 14:40] mevivs commented on #371
Hi,
First, I suggest you to inject single EntityManager/EntityManagerFactory instance for each service instance. That way you would not get into any such issues.

-Vivek

[2013-09-05 07:05] #284 closed, assigned to nobody

[2013-09-05 07:15] vsreekar opened #372 "Wrong value being inserted into DB Kundera + Mongo"
Following are two prime beans for this issue.

@Entity
@Table(name = "product", schema = "griff-notification@griff-notification")
public class Product implements Serializable, GriffNotificationDto {

[code]

}

@Entity
@Table(name = "product_ecosystem_map", schema = "griff-notification@griff-notification")
public class ProductEcosystemMap implements Serializable, GriffNotificationDto {

[code]

}

[2013-09-05 07:15] #165 closed, assigned to vishri

[2013-09-05 07:16] mevivs opened #373 "Kundera 2.8 feature wishlist"
Format should in line with:

DB Name: Cassandra, HBase,Mongo etc.

DB Version:

Feature Description:

Specific reason(if any):

[2013-09-05 07:25] mevivs commented on #372
Hi,
Can you please share a bit more on how actually you are performing CRUD? Also If ProductEcosystemMap is holding a relationship with Product, any persistence via ProductEcosystemMap  needs to cascaded(CascadeType.ALL).

Looking for CRUD code snippet and output on mongo shell.

-Vivek

[2013-09-05 07:37] vsreekar commented on #372
Hello,

I'm using spring transaction manager. Below is more code snippets for your details

@Repository
public abstract class GriffNotificationDao<T extends GriffNotificationDto> {
    @PersistenceContext
    private EntityManager entityManager;

[code]

}

@Repository
@Transactional
public class ProductEcosystemMapDaoImpl extends
        GriffNotificationDao<ProductEcosystemMap> implements

[2013-09-05 07:42] mevivs commented on #372
So, you are persisting Products and DeviceEcoSystem associatios alongwith ProuctEcosystemMap?

IF yes.

Modify

[code]

With

[code]

See, if it works for you.

-Vivek

[2013-09-05 07:44] mevivs commented on #372
Also, There have been few fixes around this in latest 2.7 release. I would suggest to verify it with 2.7, in case working with older releases.

-Vivek

[2013-09-05 07:50] vsreekar commented on #372
Hello Vivek,

Data in Product and DeviceEcosystem is already persisted. I'm fetching the data from the other 2 tables and using them to add data in to this ProductEcosystemMap.

Before call to entityManager.persist() id of the product is different and after call to persist id of the product is different.

Also, after I added cascade = CascadeType.All it is inserting new values with the new id's ge

[2013-09-05 07:53] vsreekar commented on #372
I shall verify with 2.7 and will let you know.

Thanks!
- Sreekar

[2013-09-05 07:57] vsreekar commented on #372
Vivek,

Tried with 2.7 too. Same response.

Thanks!
- Sreekar

[2013-09-05 08:01] mevivs commented on #372
I think it's related to https://github.com/impetus-opensource/Kundera/issues/363

Let me verify and post an update on this.

-Vivek

[2013-09-05 10:21] vsreekar commented on #372
Vivek,

Following is summary my findings with the list of issues I have faced.
1. If a Filed of an entity is a custom object and has enum - Mongo DB throws cannot serialize that object exception
2. If an entity has nested objects defined as fields (similar to above point) - Mongo DB throws cannot serialize nested object exception. I faced this issue when i tried using an embedded composite key for

[2013-09-05 10:33] mevivs commented on #372
[code]

You mean enum within an embeddable entity? I will verify this, however enums are supported(without ordinal)

[code]

Need to verify, but composite keys are supported for MongoDB. Here is the link for junits.
https://github.com/impetus-opensource/Kundera/tree/trunk/kundera-mongo/src/test/java/com/impetus/client/crud/compositeType

[code]

It's an issue with auto generation(issue #363) in mo

[2013-09-05 10:35] mevivs commented on #372
Just to add on point 3. IT should work fine if you relax with @GeneratedValue.Soon will post an update on this with fix.

-Vivek

[2013-09-05 10:39] sbheda commented on #370
Thank you very much for your reply.

[2013-09-05 10:39] #370 closed, assigned to nobody

[2013-09-05 10:41] sbheda opened #374 "connection pooling using cp30 in kundera"
Hi,

How can I implement connection pooling using cp30 in kundera.

[2013-09-05 10:54] mevivs commented on #374
Kundera relies on Hibernate for RDBMS. if you configure c3P0 as hibernate properties either in persistence.xml or as external property configurations, it should work for you.

-Vivek

[2013-09-05 12:23] sbheda commented on #374
Thank you  for quick replay,
Can you provide  persistence.xml source code for c3P0 configuration ?

[2013-09-05 12:26] mevivs commented on #374
If you properties as:

[code]

in persistence.xml under configured persistence unit, it should work.

-Vivek

[2013-09-05 12:29] mevivs commented on #372
Could you please share @Info embeddable entity definition?

-Vivek

[2013-09-05 12:44] vsreekar commented on #372
Thank you for the other updates.
Below is the code snippet for Info

import javax.persistence.Column;
import javax.persistence.Embeddable;
import javax.persistence.Transient;

import org.apache.log4j.Logger;
import org.codehaus.jackson.annotate.JsonIgnoreProperties;
import org.json.JSONException;
import org.json.JSONObject;

@Embeddable
@JsonIgnoreProperties(value = { "json" })
public class Info {

[2013-09-05 13:37] mevivs commented on #372
Thanks. But i can't find an enum object within Info entity!

-Vivek

[2013-09-05 14:43] ttuti commented on #373
Support for kundera JavaConfig in SpringMVC for the persistence unit

[2013-09-05 14:46] ttuti opened #375 "Apache Cassandra 1.2.8, Kundera 2.6 NoSuchMethodError:org.apache.cassandra.thrift.TBinaryProtocol"
I keep getting the error:

   Getting the error NoSuchMethodError:org.apache.cassandra.thrift.TBinaryProtocol

I have detailed my project and the error in this page:

http://stackoverflow.com/questions/18638491/getting-the-error-nosuchmethoderror-org-apache-cassandra-thrift-tbinaryprotocol

What would be the problem?

[2013-09-05 15:46] mevivs commented on #375
Kundera cassandra libraries are running on 1.2.4 version. Ideally 1.2.8 or higher versions should always be backward compatible, but in this case unfortunately they are not!

Cassandra version upgrade is planned and i will post an update on this.

-Vivek

[2013-09-06 05:23] vsreekar commented on #372
Hello Vivek,

Enum was a field in DeviceEcosystem entity. As informed I have changed same to string now.

Pls do let me know if you need any other details.

Thanks!
- Sreekar

[2013-09-06 09:02] sbheda commented on #374
Hi Vivek,

Thank you very much.
I tried this configuration but its not working. Every time new connection object is created.
Persistance.xml is below :

<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd" version="2.0">

[2013-09-06 10:43] chhavigangwal opened #376 "Improve code coverage(kundera-core)"
Improved code coverage for ProxyList, ProxySet, AbstractMangedType and classreading

[2013-09-06 12:20] mevivs commented on #372
Hi,
Can you please provide composite key definitions ProductEcosystemMap for:

[code]

How different it is from https://github.com/impetus-opensource/Kundera/tree/trunk/kundera-mongo/src/test/java/com/impetus/client/crud/compositeType ?

-Vivek

[2013-09-06 12:42] vsreekar commented on #372
Vivek,

Difference with my compound key is it doesn't have basic java types (like String and entity) as members but it has one more entity, with @JoinColumn, as member.

In this case, it is trying to insert the member entity also into table and it fails. I found this jira similar to my issue https://jira.mongodb.org/browse/HADOOP-42

Hope this explains. If not I shall provide you sample implementa

[2013-09-06 15:36] #339 closed, assigned to nobody

[2013-09-06 18:19] mevivs commented on #372
[code]

This has been resolved in current trunk. Please validate.

For error such as

[code]

This happens if MongoDB is not able to serialize/deserialize any custom object( or unsupported data types).  Kundera does provide object mapping for all data types, but for objects such JSONObject it would simply rely on underlying database(in this case MongoDB).

Composite key/Compound key are supported

[2013-09-06 18:21] mevivs commented on #363
Fixed in current trunk

[2013-09-06 18:21] #363 closed, assigned to nobody

[2013-09-09 06:57] mevivs opened #377 "MongoDB junits"
More test cases and examples needed for MongoDB

https://github.com/impetus-opensource/Kundera/issues/363

[2013-09-09 06:58] mevivs opened #378 "Incorrect state handling"
In case of association mapping, node state for associated entities is incorrectly managed. Even if an associated node is in Transient state, still it was treated as Managed state(if owner node is in Managed State). This incorrect behavior leads to incorrect method call(sometimes meant for persistence but treated as update.

[2013-09-09 06:58] mevivs opened #379 "kundera.batch.size is not working properly whilte setting at entity manager instantiation."
If you try to override(kundera.batch.size) property with emf.createEntityManager(props). It is not behaving incorrectly.

[2013-09-09 06:59] mevivs opened #380 "Cascade in case of bi directional mapping"
Cascade is not working properly and resulting in StackoverflowError in case of bi directions(Specially ManytoOne)

[2013-09-09 07:01] #172 closed, assigned to nobody

[2013-09-09 09:50] bsideup opened #381 "NPE on persist/merge (Kundera v2.6.1)"
[code]

**Test.java:**

[code]

**CurvePoint.java:**

[code]

**Usage:**

[code]

[2013-09-09 11:20] mevivs opened #382 "Kundera github reorganization"

[2013-09-09 11:23] mevivs opened #383 "Datastore Version Upgrade For Cassandra"
Cassandra : 1.2.9

[2013-09-09 11:27] mevivs commented on #337
HBase version upgrade is planned for released( > 2.8)

-Vivek

[2013-09-09 11:34] mevivs opened #384 "Pagination support for Datastores"
Currently it is supported for
1) Cassandra
2) HBase
3) MongoDB

We need to enable it for
1) RDBMS
2)Neo4J
3)REDIS
4)ElasticSearch
5) Oracle-no-sql

[2013-09-09 11:37] mevivs commented on #372
Any update? Got chance to verify it with latest trunk?

-Vivek

[2013-09-09 12:19] mevivs commented on #381
Hi,
Could you please change code snippet as below:

[code]

I think it should work for you.

I will get it fixed for "Arrays.asList" in 2.8

-Vivek

[2013-09-09 12:26] bsideup commented on #381
Yeah! It works! Thanks!

BTW, also doesn't work with anonymous Lists

[code]

[2013-09-09 12:26] mevivs commented on #381
Just to add, problem with this issue is:
java.util.Arrays.ArrayList inner class does not expose any public "no-arg-constructor". Kundera needs it for dirty check and  deep cloning.

-Vivek

[2013-09-10 05:04] vsreekar commented on #372
Hello Vivek,

I shall verify today and will update you on the same. I have never worked with git till now, so I assume I will take sometime. Thanks for understanding.

Thanks!
- Sreekar

[2013-09-10 06:29] mevivs commented on #371
Are we good to close on this?

-Vivek

[2013-09-10 06:32] pranav-gopi commented on #371
Ya, thanks for your reply
Pranav

[2013-09-10 06:32] #371 closed, assigned to nobody

[2013-09-10 07:38] mevivs opened #385 "Support for Datastax java driver"
Analyze and see if this is feasible to provide Datastax java driver support.

[2013-09-10 07:39] mevivs opened #386 "Scala + Play + Kundera"
Has anyone built an application which exposes the entities as Scala case classes or the like and uses Kundera for persisting data?  I see one example out there where Play is used, but it is using Java for the entities and not Scala.  Is this possible?  If so does anyone care to share an example.  TIA for the assistance.

[2013-09-10 07:40] mevivs opened #387 "Support for orientDB"
OrientDB support in Kundera.

[2013-09-10 07:43] mevivs opened #388 "javax.persistence.PersistenceException in web project."
Discussion thread:
https://groups.google.com/forum/#!topic/kundera-discuss/U4CoZZIeWGo

[2013-09-10 09:10] sbheda opened #389 "Cache implementation in RDBMS"
Hi ,
  How to implement cache in RDBMS using kundera.

[2013-09-10 10:00] mevivs commented on #389
You mean configuring ehcache?

-Vivek

[2013-09-10 10:45] sbheda commented on #389
Thanks for quick replay.
Yes, I want to configure ehcache of hibernate or jpa.

[2013-09-10 12:02] kkmishra commented on #374
Hi,
This is what I have tried.

Verified initial number of open threads in mysql:

[code]

2) After configuring persistence.xml with:

[code]

3) Upon establishing a connection with database with above mentioned configurations as

[code]

4) Verified number of open connection as:

[code]

It seems to me working fine. A new pool initialization will only happen in case of new entity manager factory

[2013-09-11 05:05] vsreekar commented on #372
Hello Vivek,

"Incorrect value of product_id and device ecosystem mapping"
This is functioning fine now.

Thanks!
- Sreekar

[2013-09-11 05:41] mevivs commented on #372
I think we are good to close on this?

Support for enum,composite key and possible mongodb data type is already supported in Kundera. Serialization/DeSerialization errors on server side are because of unsupported mongodb data types.

-Vivek

[2013-09-11 05:55] vsreekar commented on #372
Yes we are good to close this.

Yes, I understand the other constraints and as informed earlier I found a way around for the same.

Thanks!
- Sreekar

[2013-09-11 05:57] #372 closed, assigned to chhavigangwal

[2013-09-11 09:42] kkmishra commented on #256
Hi,
This is what I have tried with latest version ie kundera-2.7 and working fine.

With single quotes:

[code]

With lucene keyword (+ and &):

[code]

Please give a try with 2.7 and let me know if we have anything to discuss.

Thanks
Kuldeep

[2013-09-11 09:45] #143 closed, assigned to nobody

[2013-09-11 14:58] bsideup opened #390 "Kundera + JBoss AS7"
Hi!

Seems like Kundera doesn't work well with JBoss:

https://gist.github.com/bsideup/40f7e22ec6ae0ecc6d7c

[2013-09-11 15:03] mevivs commented on #390
Hi,
There have been multiple discussions around this, you may refer:
https://github.com/impetus-opensource/Kundera/issues/180

It should work with JBoss 5,6 and 7.1.1

-Vivek

[2013-09-11 15:07] bsideup commented on #390
in #180 there was problem with locating persistence.xml, but my problem is in the "WEB-INF/classes" folder.

And yes, setting "jboss.as.jpa.managed" to "true" doesn't fix it :(

Thanks!

[2013-09-11 15:56] mevivs commented on #390
version of jboss?
packaging structure of war?

-Vivek

[2013-09-11 15:57] mevivs commented on #390
jboss.as.jpa.managed as false   not "true"!

[2013-09-11 22:15] Gargee opened #391 "Externalizing DB settings"
Hi,
When i try to externalise my DB connection I am getting an error like:-
11 Sep 2013 15:13:24,964 ERROR localhost-startStop-1 com.impetus.kundera.service.HostConfiguration (HostConfiguration.java:110) - Host or port should not be null / port should be numeric.

My persistence.xml looks like this:-
<'persistence xmlns="http://java.sun.com/xml/ns/persistence"
    xmlns:xsi="http://www.w3.org/2001

[2013-09-12 06:32] mevivs commented on #391
Hi,
if you change

[code]

with

[code]

Means, keeping start and end tag (host, port) in same line. It should work for you. It seems an issue related to parsing and i will get it fixed in 2.7.1

-Vivek

[2013-09-12 06:35] chhavigangwal commented on #295
Hibernate-core has already been upgraded to 4.1.7-final since Kundera 2.6. I tried the following code
I made two entities user and Address.

[code]

User entity which has ManyToOne association  with Address and is loaded lazily.

[code]

When I tried crud operation with the following code,it worked for me.

[code]

[2013-09-12 07:01] #295 closed, assigned to chhavigangwal

[2013-09-12 08:37] mevivs opened #392 "Decouple and remove hibernate dependency from kundera-core"
With current implementation, kundera-core relies on hibernate for proxy instance validation over RDBMS entities. This needs to be decoupled and move from kundera-core to kundera-rdbms.

-Vivek

[2013-09-12 09:22] bsideup commented on #390
Oops. Yes, it is "false".

JBoss AS 7.1.1.Final "Brontes"

i will try to package simple project with this issue to reproduce today

[2013-09-12 09:26] mevivs commented on #390
Have a look at:
https://github.com/impetus-opensource/Kundera/tree/kundera-structure/container/jboss/data-keeper

It's a sample app deployable over JBoss 7.1.1 final

-Vivek

[2013-09-12 09:48] bsideup commented on #390
[code]

https://gist.github.com/bsideup/b2dde7bf3cfc6d72c5c1

what am i doing wrong?

[2013-09-12 10:07] mevivs commented on #390
Nothing i can conclude from this log. Not sure if you can do a manual deploy, if it works.

-Vivek

[2013-09-12 10:34] mevivs opened #394 "Retry service doesn't retry on a cassandra node after restart"
While running in cluster, things works fine with Kundera. However, if a node eligible for retry goes down, but upon restart it didn't join retry host pool. Only workaround is either hot deploy of application or creating new factory instance.

CassandraRetryService should consider such nodes for scheduling later.

[2013-09-12 10:39] mevivs commented on #394
@zhouhero
Thanks for contributing on this defect.

-Vivek

[2013-09-12 10:39] bsideup commented on #390
Manual deploy to JBoss instance returns the same log.

How did you run your application?

[2013-09-12 10:40] mevivs commented on #390
KK,
Can you please provide more inputs on this?

-Vivek

[2013-09-12 10:43] mevivs commented on #390
It seems netty.jar is giving some issues.

https://community.jboss.org/thread/197426?start=0&tstart=0

[2013-09-12 10:49] bsideup commented on #390
Yes, but i changed nothing in this project, only transferred it to my own repo, so it should work well, isn't it?

[2013-09-12 11:35] kkmishra commented on #390
Just modified pom.xml to exclude netty.jar, try now, it should work fine for you.

Thanks
KK

[2013-09-12 11:39] mevivs commented on #390
Just to give you a brief about this project.

It's a polyglot application built to deal with multiple datastores(e.g. Cassandra and MongoDB). However you may modify it for single database by modifying:
1) appContext.xml
2) Entity definitions.

HTH.

-Vivek

[2013-09-12 11:41] bsideup commented on #390
Ok, netty exclusion works. Moving forward to make it looks like our project and break it:)

[2013-09-12 12:09] bsideup commented on #390
Woohoo!

[code]

this parameter fixed issue in our project.

[2013-09-12 12:12] mevivs commented on #390
Cool. Are we good to close on this?

-Vivek

[2013-09-12 12:36] bsideup commented on #390
Partially :)

Am i right that there is no chance not to specify each entity class in persistence.xml?

[2013-09-12 13:59] dtuzikov commented on #234
Not fixed.
Method EntityEventDispatcher.fireEventListeners(..) works well in test, but it's not getting fired when loading entities, so @PostLoad not working. (version 2.7)

[2013-09-12 14:42] mevivs commented on #234
Could you please provide a sample junit with what's exactly not working?

-Vivek

[2013-09-12 14:53] mevivs commented on #234
Verified. pre/post events are not fixed for finders.

[2013-09-12 15:34] dtuzikov opened #395 "BigDecimal values handles improperly for Cassandra CQL3 enabled model"
CQL3 decimal columns improperly maps to BidDecimal java type.
From CassandraDataHandlerBase.setFieldValueViaCQL:

[code]

According to Cassandra jdbc driver class [JdbcDecimal](http://grepcode.com/file/repo1.maven.org/maven2/org.apache.cassandra/cassandra-all/1.2.6/org/apache/cassandra/cql/jdbc/JdbcDecimal.java#JdbcDecimal) this should be changed like this:

[code]

Kundera 2.7
Cassandra 1.2.6

[2013-09-13 12:32] mevivs commented on #360
Fixed in current trunk, releasing with 2.7.1

[2013-09-13 12:32] #360 closed, assigned to mevivs

[2013-09-13 12:50] mevivs commented on #234
Fixed in current trunk. Releasing with 2.7.1.

Please verify.

-Vivek

[2013-09-16 16:32] jfgosselin opened #396 "byte[] @Column or @Id is not supported with Kundera+CQL"
For the following entity :

  TABLE test (
    key text,
    data blob,
    PRIMARY KEY (key)
  )

  @Entity
  @Table(name = "test", schema = "kunderatest@cassandra_pu")
   public class Dummy {

  @Id
  private String id;

  @Column(name = "data")
  private byte[] data;

  }

I get the following error :

12:25:41,067 ERROR   com.impetus.client.cassandra.pelops.PelopsClient: 465 - Error during pers

[2013-09-16 16:51] jfgosselin opened #397 "com.impetus.client.cassandra.CassandraClientBase.populateClientProperties not called ?"
I'm using Kundera with org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean .

I'm able to set the cql.version as a JPA properties but I can't pass the consistency.level.

Looking at com.impetus.client.cassandra.CassandraClientBase it seems that
the method is never called.

[2013-09-16 17:14] mevivs commented on #397
ConsistencyLevel is something needs to be set per read/write request:

You can set it with client as:

[code]

[2013-09-16 17:19] #397 closed, assigned to nobody

[2013-09-16 17:33] mevivs commented on #396
Hi,
Can you please provide more details on this?  CQL3 does provide some blob conversion function. Did you try executing a native CQL3 query with byte[] ?

-Vivek

[2013-09-17 00:57] Gargee commented on #391
we need to externalise this file to make it easily changeable in any env.

[2013-09-17 00:59] Gargee opened #398 "setting Time to Live using Kundera"
Hi,
in cassandra we have
 UPDATE commands support setting a column expiration time (TTL). In the update  we set the column to expire at x seconds...
Can we set time to live for any column in any update using kundera?

[2013-09-17 00:59] Gargee opened #399 "setting Time to Live using Kundera"
Hi,
in cassandra we can using cql
 UPDATE commands support setting a column expiration time (TTL). In the update  we set the column to expire at x seconds...
Can we set time to live for any column in any update using kundera?

[2013-09-17 01:14] Gargee commented on #391
can we expect an externalisable kunderaconfig in the next release of kundera?

[2013-09-17 03:05] impetus-opensource-admin commented on #391
Yes. We are working on it. Will post an update on this.

-Vivek

[2013-09-17 03:07] impetus-opensource-admin commented on #399
Please refer:
https://github.com/impetus-opensource/Kundera/issues/265

[2013-09-17 13:43] jfgosselin commented on #396
Hi,

No, it wasn't a native query, here's the code:

[code]

ERROR 2013-09-17 09:41:26,548 [main] com.impetus.client.cassandra.pelops.PelopsClient -  Error during persist while executing query  INSERT INTO "test"("id","data") VALUES('123',[B@2321b59a) , Caused by: .
InvalidRequestException(why:line 1:57 mismatched character ')' expecting '-')
    at org.apache.cassandra.thrift.Cassandra$execute_cq

[2013-09-17 13:54] mevivs commented on #396
Hi,
I mean did you try to execute CQL3 query for same scenario via cqlsh?

-Vivek

[2013-09-17 16:36] jfgosselin commented on #396
Yes , with cqlsh : INSERT INTO test(id,data) VALUES('123',0x6120626c6f62);

But Kundera is doing a .toString()

[2013-09-17 17:54] dentinger opened #400 "persistence.xml is hardcoded in kundera loader, not allowing for different config files"
The "persistence.xml" is hardcoded in the config loading process of kundera and does not allow for a user provided persistence file name (i.e.  like org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean).  This is presenting several limitations.  1) I am not able to have different persistence.xmls for different parts of my build.  (i.e.  One that specifies a localhost cassandra persis

[2013-09-17 19:45] #398 closed, assigned to nobody

[2013-09-17 19:45] #399 closed, assigned to nobody

[2013-09-17 19:45] Gargee commented on #399
thanks

[2013-09-18 02:05] mevivs commented on #391
This is fixed and releasing with 2.7.1

[2013-09-18 02:42] jfgosselin commented on #331
Hi,

[code]

I was also going to use something like this to set the consistency.level, is it working ?

[2013-09-18 06:22] mevivs commented on #395
Fixed and released with 2.7.1

-Vivek

[2013-09-18 06:22] #395 closed, assigned to mevivs

[2013-09-18 06:30] mevivs opened #401 "Using @PersistenceContext"
Analyze, if we need to enable @PersistenceContext to provide client level properties such as Consistency Level or any other properties etc.

Issues to refer:
https://github.com/impetus-opensource/Kundera/issues/331

[2013-09-18 07:58] #376 closed, assigned to chhavigangwal

[2013-09-18 07:59] chhavigangwal commented on #376
Increased to 76%

[2013-09-18 11:34] bsideup opened #402 "Kundera v2.7, external configuration"
Hi!

In current version AbstractPropertyReader reads "kundera.client.property" file as Resource ( https://github.com/impetus-opensource/Kundera/blob/4f988169b0467303726183597d48d6f82b793670/kundera-core/src/main/java/com/impetus/kundera/configure/AbstractPropertyReader.java#L90 ) :

[code]

Is it possible to read it from filesystem instead?

For example, we've different environments, such as dev,

[2013-09-18 12:30] mevivs commented on #402
This has been fixed in 2.7.1 to read from environment variables.

https://github.com/impetus-opensource/Kundera/issues/391

-Vivek

[2013-09-18 12:33] bsideup commented on #402
OK! Thanks!

[2013-09-18 12:33] #402 closed, assigned to nobody

[2013-09-18 14:40] Gargee commented on #331
Yes this is working for me.

[2013-09-18 18:34] jfgosselin commented on #331
Hmmm

Looking at the Kundera code, the following method is called with the properties passed via  @PersistenceProperty but consistency.level is ignored :

com.impetus.client.cassandra.CassandraClientProperties

[code]

[2013-09-19 15:33] bsideup opened #403 "Lucene dependency"
Hi!

Is it possible to make Lucene optional? "lucene-core" jar is 1.5Mb, and it feels.

[2013-09-20 07:35] #340 closed, assigned to chhavigangwal

[2013-09-21 20:24] TheGeekPharaoh opened #404 "Two versions of Netty listed as dependencies -- deployment errors"
When using Maven to manage dependencies for Kundera with Cassandra as a datastore, it appears to be pulling down two separate versions of the Netty library.  These, consequently, end up imported into an EAR and cause deployment errors on JBoss EAP 6.1.  Here's what I see during the Maven build:

...
[INFO] Copying artifact[jar:com.github.stephenc:jamm:0.2.5] to[lib/jamm-0.2.5.jar]
[INFO] Copying a

[2013-09-22 07:22] kkmishra commented on #404
Hi,
Do one thing, exclude netty jar from kundera-cassandra, and then try, let
me know if it works for you.

[code]

you can refer following pom.xml for dependency exclusion:

https://github.com/impetus-opensource/Kundera/blob/kundera-structure/container/jboss/data-keeper/pom.xml

Thanks
KK

On Sun, Sep 22, 2013 at 1:54 AM, sdnakhla notifications@github.com wrote:

##

Thanks and Regards
Kuldeep Ku

[2013-09-22 21:56] subes opened #405 "does kundera support a way to add custom type mappings?"
Hibernate has something called UserType and a TypeRegistry to add custom type mappings: http://docs.jboss.org/hibernate/orm/3.6/reference/en-US/html/types.html#types-registry

My question is, does something like this already exist for kundera?
The documentation only lists the currently supported types, but gives no hints about extensibility: https://github.com/impetus-opensource/Kundera/wiki/Objec

[2013-09-23 11:46] mevivs commented on #315
Work in progress on this. Suggested changes:
1. Existing entity definitions will work in same way as previously(Using @Table annotation and schema option)

For Single persistence unit:
1. @Table annotation will be optional.
2. Kundera will internally resolve schema  and table name(Using kundera.keyspace property in persistence.xml), By default Entity name will be treated as table name unless it is

[2013-09-23 12:11] bsideup commented on #315
Glad to hear it! Any estimates?

[2013-09-23 12:22] mevivs commented on #315
2.8 release. Will post an update as soon as i commit this in latest trunk

-Vivek

[2013-09-23 12:43] bsideup commented on #392
Yeah, it makes sense and will decrease size of final binary. Good enhancement!

[2013-09-23 13:28] TheGeekPharaoh commented on #404
Yes, if I manually exclude the Netty libraries it deploys fine.  However, this is a less-than-ideal situation.

[2013-09-23 15:48] mevivs commented on #404
No need to manually exclude jars,
As @kkmishra  mentioned, If you exclude

[code]

from pom.xml. It should work for you.

-Vivek

[2013-09-24 11:48] mevivs commented on #396
A fix has been pushed in current trunk branch. Releasing with 2.8

-Vivek

[2013-09-25 08:09] kkmishra opened #406 "Build failure on CI"

[2013-09-25 08:40] #406 closed, assigned to nobody

[2013-09-25 10:39] mevivs commented on #382
Done.

[2013-09-25 10:39] #382 closed, assigned to mevivs

[2013-09-25 10:40] mevivs commented on #396
Any update. Got a chance to verify ?

-Vivek

[2013-09-25 14:58] jfgosselin commented on #396
Thanks for the fix!

Do you have maven repo for 2.8-SNAPSHOT ?

[2013-09-25 15:12] mevivs commented on #396
Nope. you need to build

[2013-09-25 15:42] pires commented on #404
I agree with @sdnakhla. Working with exclusions is not the ideal solution! When using a library, I expect it to hide details such as circular or repeated dependencies.

In this particular case, _who's_ importing different versions of Netty.IO? Different Kundera modules or some dependencies of Kundera modules?

[2013-09-25 15:44] pires commented on #403
+1

AFAIK Lucene is only used for indexing on very specific cases rendering it optional. So there's no need to force it! Actually, this breaks apps working with different non-compatible versions of Lucene.

[2013-09-25 15:45] pires commented on #401
+1

[2013-09-25 15:53] pires commented on #385
+1

[2013-09-25 15:55] mevivs commented on #404
This version of netty is bought in by apache Cassandra jar. I assume it might be used for running daemon threads?

[2013-09-25 15:56] pires commented on #390
+1 for not having to specify every class in _persistence.xml_.

[2013-09-25 15:57] pires commented on #392
+1

[2013-09-25 15:57] pires commented on #394
+1

[2013-09-25 16:01] pires commented on #332
Any advances on this?

[2013-09-25 16:04] pires commented on #404
The thing is with JBoss that already includes Netty.IO, right @sdnakhla? If it is, then _kundera-cassandra_ should stay as is.

[2013-09-25 16:58] mevivs commented on #332
Well as discussed, i did add my comments on JIRA. this does not look to be a Kundera issue

[2013-09-25 16:59] mevivs commented on #392
It's already decoupled with 2.7.1. kundera-core no more requires on hibernate.

-Vivek

[2013-09-25 16:59] #392 closed, assigned to mevivs

[2013-09-25 17:48] mevivs commented on #394
Fixed and released with 2.7.1

-Vivek

[2013-09-25 17:48] #394 closed, assigned to mevivs

[2013-09-25 17:48] #234 closed, assigned to nobody

[2013-09-25 17:48] #366 closed, assigned to mevivs

[2013-09-25 17:48] #383 closed, assigned to nobody

[2013-09-25 17:48] #391 closed, assigned to mevivs

[2013-09-25 18:04] pires opened #407 "<exclude-unlisted-classes> on persistence.xml is not working"
I have a polyglot app that has two persistence-units, one with Hibernate as persistence provider, the other with Kundera 2.7.1 (kundera-cassandra).

Now, I have a single _persistence.xml_ that looks like this:

[code]

Now, when deploying the app Hibernate works as expected. It validates current PostgreSQL schema and updates if needed. Needless is to say that it also ignores every class, except `U

[2013-09-25 18:05] pires commented on #407
By the way, IIRC the JPA spec defines that `<excluded-unlisted-classes>` is _true_ by default.

[2013-09-26 09:30] bsideup opened #408 "Kundera v2.7.1, Cassandra, nativeQuery + KEY"
i'm trying **createNativeQuery**, but it fails to get ID. For example:

[code]

but if we force KEY:

[code]

[2013-09-26 09:32] mevivs commented on #408
Sorry, i am not able to understand exact issue with this. Possible to provide more details?

-Vivek

[2013-09-26 09:35] bsideup commented on #408
Now i'm talking about only "createNativeQuery".

When it's do not specify KEY in SELECT statement, Kundera not able to get id for result object, but if we specify concreate fields in SELECT including "KEY" - it works OK.

Looks like a bug in Kundera, but I may be wrong.

[2013-09-26 09:38] mevivs commented on #408
Please have a look at:
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/src/test/java/com/impetus/client/persistence/NativeQueryCQLV3Test.java

Let me know, if it is different

-Vivek

[2013-09-26 19:24] jfgosselin commented on #396
Problem solved ! Thanks

[2013-09-26 19:24] #396 closed, assigned to chhavigangwal

[2013-09-27 02:47] #379 closed, assigned to nobody

[2013-09-27 02:47] #327 closed, assigned to nobody

[2013-09-27 02:48] impetus-opensource-admin commented on #261
Fixed and will be released with 2.8

[2013-09-27 02:48] #261 closed, assigned to nobody

[2013-09-27 02:49] impetus-opensource-admin commented on #320
Already fixed with 2.7.1

[2013-09-27 02:49] #320 closed, assigned to nobody

[2013-09-27 09:20] chhavigangwal commented on #401
I tried with

[code]

it is working fine for me.

[2013-09-27 09:25] mevivs commented on #331
It's not an issue. Working fine. Please see #401  for more on this.

-Vivek

[2013-09-27 09:28] pires commented on #407
This is a _non-issue_ since I was lacking an entity ID (`@Id`annotation).

Nonetheless, I would suggest to improve the exception handling so that instead of having:

[code]

One should see something like:

[code]

Thanks to @mevivs for helping with debugging.

[2013-09-27 09:28] #407 closed, assigned to nobody

[2013-09-27 09:45] dtuzikov commented on #401
You can write any value for "consistency.level" property

[code]

doesn't matter, because it will be ignored in CassandraClientProperties.populateClientProperties method due to value type check.

[code]

The same issue is true for some other properties like "ttl.per.session" and "ttl.per.request".

[2013-09-27 17:17] jfgosselin opened #410 "Missing space between statements in CassandraClientBase.executeBatch()"
Line 1408 :                    batchQueryBuilder.append(query);

Should be : batchQueryBuilder.append(" " + query);

[2013-09-27 17:31] mevivs commented on #410
Is this happening in case of  "USING TTL " ?

-Vivek

[2013-09-27 17:40] mevivs commented on #410
:+1:  for change. A junit needs to be added for the same as well.

-Vivek

[2013-09-30 15:15] dtuzikov opened #411 "Can't configure kundera.batch.size by setting in persistence.xml when using Cassandra"
I'm using Kundera with Spring
spring-persistence.xml:

[code]

persistence.xml:

[code]

CassandraClientBase.setBatchSize method should configure batch size value from external properties or persistent unit metadata:

[code]

puProperties doesn't contains _kundera.batch.size_ property and it can't be null according to com.impetus.kundera.persistence.EntityManagerFactoryImpl constructor:

[code]

p

[2013-09-30 15:30] mevivs commented on #411
:+1:

I propose:

[code]

-Vivek

[2013-09-30 16:56] Gargee opened #412 "How can we set the Limit in a select statment"
Is there any way we can set the limit on the number of records that are fetched on a select statement?
in the logs i see that the limit is defaulted to 100.  How can I change this limit?

LOGS:-
2013-09-30 09:52:41,512 [INFO ] [main] com.impetus.client.cassandra.CassandraClientBase  - Executing query SELECT \* FROM "Moderator" LIMIT 100.

[2013-09-30 16:58] mevivs commented on #412
query.setMaxResults(); should work for you.

-Vivek

[2013-09-30 16:59] Gargee commented on #412
Thanks this works!

[2013-09-30 17:10] #412 closed, assigned to nobody

[2013-10-03 08:38] NotItemName opened #413 "Kundera doesn't return all list of entity"
In method <b>populateRelation</b> of the class <b>CassandraEntityReader</b> was hardcode maxResult 100, when CQL query doesn't have where clause.

[2013-10-03 08:40] mevivs commented on #413
I guess, You can always override that by query.setMaxResults() { with or without where clause}.

I see your point here. It is happening in case of associated entities. Will get it fixed.

-Vivek

[2013-10-04 12:01] bsideup opened #414 "MongoDB, Kundera v2.7.1, permissions issue"
https://github.com/impetus-opensource/Kundera/blob/9f7cd186965704d50c01f9c84fc166ff295d9fd5/src/kundera-mongo/src/main/java/com/impetus/client/mongodb/schemamanager/MongoDBSchemaManager.java#L350

[code]

This code throws

[code]

if user have no rights to query "show databases".

Seems like it's not necessary at all to call this block of code.

BTW, this issue was finded while using MongoHQ.com,

[2013-10-04 12:03] mevivs commented on #414
:+1:

KK, please look into this.

-Vivek

[2013-10-04 12:21] bsideup commented on #413
AFAIK Cassandra also had it own limit by 10.000 records per request.

[2013-10-04 13:02] bsideup opened #415 "Better migrations feature (Groovy?)"
Now migrations only allows you to change Schema, and everything is going "under the hood", user have no access to migration process. But what if it requires some data modification?

There is a pretty cool mechanism in RubyOnRails:
http://guides.rubyonrails.org/migrations.html

So, it would be cool to produce migrations as Groovy scripts. When entity is changed, Kundera will generate migration scri

[2013-10-07 20:31] Gargee opened #416 "Issue while using Kundera with counters"
Hi,
I am trying to increment a counter using kundera.
My code looks like this:-
    public String getCounterValue(String id) {
        EntityManager em = cKDao.getEntityManager();
        int i=0;
        Counters counter = new Counters();
          counter = em.find(Counters.class, id);
          i=counter.getCounter();
          counter.setCounter(i+1);
          counter.setId(id);
          em.

[2013-10-08 04:18] Thomas-S-B commented on #416
Hi,

the exception is ok, you try to persist an already persisted Counters - use merge instead.

Something like this (not tested of course):

public String getCounterValue(String id) {
EntityManager em = cKDao.getEntityManager();

Counters counter = em.find(Counters.class, id);
if(counter != null) {
counter.setCounter(counter.getCounter()); //better introduce a method incrementCounter()
em.merge(c

[2013-10-08 07:06] mevivs commented on #416
Hi,
Cassandra doesn't allow insert INSERT over counter columns. I will try but it looks quite similar to

https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/src/test/java/com/impetus/client/crud/countercolumns/CountersTest.java

-Vivek

[2013-10-08 16:08] Gargee commented on #416
Hi I tried,Merge,Persist and even Native update nothing is working :(
@mevivs  i tried to use the code given in the example you have pointed to and couldnot get this working.I am using 2.8 -SNAPSHOT JARS.
So my basic question is how do i increment/decrement counters using kundera in cassandra.

[2013-10-09 00:41] jfgosselin commented on #373
Decoupled persistence unit name from entity (e.g @Table(name = "Games", schema = "CS@cassandra_pu")) to support multiple persistence units.

Issue discussed here :
https://groups.google.com/forum/#!searchin/kundera-discuss/Entity$20persistence$20unit/kundera-discuss/FCrYXqVcEL0/rOshNBK5luUJ

Thanks

[2013-10-09 09:22] kkmishra opened #417 "Datastore addition : CouchDB"

[2013-10-09 09:25] kkmishra commented on #416
Hi @Gargee,
I recommend to use ThriftClientFactory as client.lookup.class for better performance and latest Kundera development.
I have fixed this for PelopsClientFactory as well

Thanks
Kuldeep

[2013-10-10 08:06] mevivs commented on #373
https://github.com/impetus-opensource/Kundera/issues/315

Work in progress.

[2013-10-10 13:37] jfgosselin opened #420 "Cassandra map<text, blob> ClassCastException: java.nio.HeapByteBuffer cannot be cast to [B"
When I read the data from a Cassandra CQL map<text, blob> , I get a ClassCastException.
I can persist the entity and read the entity but if I access the map e.g. :

[code]

I get a ClassCastException: java.nio.HeapByteBuffer cannot be cast to [B/

It seems that the map is copied as a Map<String, HeapByteBuffer> instead of Map<String, byte[]>

Entity:

[code]

Schema :

[code]

[2013-10-11 13:46] bsideup opened #422 "MetadataBuilder doesn't respect external properties for keyspace"
https://github.com/impetus-opensource/Kundera/blob/489913057897523bb64ac50cf96494f7a410aa40/src/kundera-core/src/main/java/com/impetus/kundera/metadata/MetadataBuilder.java#L212-212

[2013-10-13 08:44] chhavigangwal commented on #410
Can you please share the exact scenario ?

Could not reproduce the issue.

A junit added for the same :
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/src/test/java/com/impetus/client/crud/batch/CQL3BatchProcessorTest.java

[2013-10-14 09:42] ashishkshukla opened #424 "MongoDB Kundera Query not returning appropriate Data"
Hi,
I was trying to interact with mongodb using Kundera.
My Entity class is like below:-
@Table(name = "accounts", schema = "idbench@mongodb_pu")
public class IdbenchAccounts {
@Id
@Column(name="_id")
private ObjectId _id;
@Column(name ="a")
private int a;
@Column(name ="b")
private int  b;
//Getters and Setters
}

and I am trying to execute the following Query:-
Query qu = em.createQuery("select

[2013-10-14 20:20] mevivs commented on #55
Support added and releasing with 2.8

[2013-10-14 20:20] #55 closed, assigned to mevivs

[2013-10-14 20:21] mevivs commented on #56
Support enabled and releasing with 2.8

[2013-10-14 20:21] #56 closed, assigned to mevivs

[2013-10-14 20:21] mevivs commented on #128
Enabled in current trunk. Releasing with 2.8

[2013-10-14 20:38] pires commented on #128
Awesome! What are the constraints to use this? Can you point me examples or documentation?

[2013-10-15 06:05] chhavigangwal commented on #128
As per the Cassandra the order by clause is currently supported on following :
- if the table has been defined without any specific CLUSTERING ORDER, then then allowed orderings are the order induced by the clustering key and the reverse of that one.
- otherwise, the orderings allowed are the order of the CLUSTERING ORDER option and the reversed one.

A junit with sample test case:
https://github.

[2013-10-16 09:00] bsideup opened #425 "MongoDB-Specific-Features page"
https://github.com/impetus-opensource/Kundera/wiki/MongoDB-Specific-Features

this page totally should have link to https://github.com/impetus-opensource/Kundera/blob/9f7cd186965704d50c01f9c84fc166ff295d9fd5/src/kundera-mongo/src/main/java/com/impetus/client/mongodb/MongoDBConstants.java

it covers many of important aspects of MongoDB configuration with Kundera, for example, "connection.perhost" o

[2013-10-16 11:17] mevivs commented on #420
Fixed on current trunk. Releasing with 2.8

-Vivek

[2013-10-16 11:19] mevivs commented on #374
Are we good to close on this?

[2013-10-16 12:24] mevivs commented on #416
Verified, added a junit for the same.

[2013-10-16 12:24] #416 closed, assigned to nobody

[2013-10-16 13:28] jfgosselin commented on #410
If I remember it was a query with blob at the end.

[2013-10-16 20:41] kadiyams commented on #385
Hello, I have recently worked on the Datastax Java driver.  Can I work on this enhancement.

[2013-10-17 05:43] mevivs commented on #385
@kadiyams
:+1:

Please let us know, if case we need to discuss something during implementation.

-Vivek

[2013-10-17 07:32] mevivs opened #426 "YCSB benchmarking"

[2013-10-17 07:38] chhavigangwal commented on #425
Added.

[2013-10-17 07:38] #425 closed, assigned to nobody

[2013-10-17 09:40] szlwin opened #427 "I write a likely tool which is named SZLorm by myself"
I'm from China and I write a likely tool which is named SZLorm by myself.

I want to talk it with you,and I hope you interesting in it.(My english is not god)

It's now support the database:
-MySQL
-Oracle
-HBase (base on phoenix)
-Redis (only suport map now)

It's can do:
1.You can commit one data to multity data source as use a service (support the transaction,if the data base is support)

2.You

[2013-10-17 11:30] bsideup opened #428 "NPE on persist/merge/remove after clear()"
[code]

[code]

EHCache is not used.

[2013-10-17 11:32] bsideup commented on #428
one more:

[code]

with EHCache enabled.

[2013-10-17 11:37] kadiyams commented on #385
Thanks Vivek.
Using the DStax Driver we dont need to worry about the following things since it would automatically be handled at the driver level:
    connection pooling
    node discovery
    automatic failover
    load balancing
Coupled with it once we use the CQLTranslator in Thrift client we could have the clean client code.

[2013-10-20 06:49] #428 closed, assigned to nobody

[2013-10-21 14:39] chhavigangwal opened #432 "Or clause support in case of external indexer for hbase"

[2013-10-21 19:39] impetus-opensource-admin commented on #179
Support for couchbase added and releasing with 2.8

[2013-10-21 19:39] #128 closed, assigned to chhavigangwal

[2013-10-21 19:39] #204 closed, assigned to nobody

[2013-10-21 19:39] #256 closed, assigned to nobody

[2013-10-21 19:39] #298 closed, assigned to chhavigangwal

[2013-10-21 19:39] #315 closed, assigned to mevivs

[2013-10-21 19:39] #354 closed, assigned to nobody

[2013-10-21 19:39] #373 closed, assigned to nobody

[2013-10-21 19:39] #377 closed, assigned to chhavigangwal

[2013-10-21 19:39] #378 closed, assigned to nobody

[2013-10-21 19:39] #401 closed, assigned to nobody

[2013-10-21 19:39] #411 closed, assigned to chhavigangwal

[2013-10-21 19:39] #413 closed, assigned to chhavigangwal

[2013-10-21 19:39] #414 closed, assigned to nobody

[2013-10-21 19:39] #417 closed, assigned to nobody

[2013-10-21 19:39] #420 closed, assigned to mevivs

[2013-10-21 19:39] #375 closed, assigned to nobody

[2013-10-21 19:39] #410 closed, assigned to nobody

[2013-10-21 19:39] #292 closed, assigned to nobody

[2013-10-21 19:40] #374 closed, assigned to nobody

[2013-10-21 19:43] #422 closed, assigned to nobody

[2013-10-21 19:43] #432 closed, assigned to nobody

[2013-10-21 19:58] impetus-opensource-admin commented on #315
Releasing with 2.8

[2013-10-22 08:10] pires opened #433 "Kundera 2.8 blows my Cassandra app"
I have an app that was working with 2.8-SNAPSHOT as of 53f8840 but no longer works with 2.8 release.

Here's the error output:

<pre>
08:39:38.183 [main] DEBUG c.i.k.m.processor.IndexProcessor - Processing @Entity pt.lighthouselabs.sherlock.model.AuditRecord for Indexes.
08:39:38.188 [main] INFO  c.i.k.c.ClientMetadataBuilder - Loading client factory for persistence unit SherlockPU
08:39:38.188 [m

[2013-10-24 08:29] bsideup opened #434 "KunderaMongo 2.8, JPQL query with enum"
when query contains "where" with "enumField = :enumValue" condition i'm getting this Exception:

[code]

looks like enum handling in JPQL is broken.

Thanks!

[2013-10-24 10:33] bsideup opened #435 "Kundera 2.8, Mongo, ManyToOne with MappedSuperClass"
[code]

[code]

[code]

this sample code fails with

[code]

[2013-10-24 10:58] bsideup commented on #435
https://github.com/impetus-opensource/Kundera/blob/9fe036b963dd7b8ef0ee55cfa24405284087e191/src/kundera-core/src/main/java/com/impetus/kundera/metadata/processor/TableProcessor.java?source=c#L338

here should be else block

[2013-10-24 14:36] bsideup opened #436 "Kundera 2.8, empty @Table annotation"
if Entity has @Table annotation without body (tableName of schema definitions) Kundera will fail to verify MongoDB Schema. Default tableName in @Table annotation is "", maybe it's treated as valid table name and not checked for empty value?

[2013-10-25 07:16] mevivs opened #437 "Decouple Redis indexes from Redis client to redis indexer."
Implement Indexer interface and decouple indexing mechanism from Redis client

[2013-10-29 02:30] atlanticdecisionsciences opened #439 "Support Inheritance of OneToMany, ManyToOne fields, Kundera 2.8"
I have a class, DefaultInventoryLocation, annotated with @Inheritance:

@Entity
@Table(name = "InventoryLocation", schema = AtlanticKunderaTest@Atlantic_Mongo_PU_Test")
@Inheritance(strategy = InheritanceType.SINGLE_TABLE)
@DiscriminatorColumn(name = "location_class")
public class DefaultInventoryLocation { ....

@ManyToOne(cascade = { CascadeType.ALL }, fetch = FetchType.EAGER)
@JoinColumn(name="

[2013-10-29 05:22] mevivs commented on #439
It is already supported with 2.8 release.

-Vivek

[2013-10-29 12:53] atlanticdecisionsciences commented on #439
I attempted it last night, and it failed.  I'll try to modify one of your unit tests to illustrate.

[2013-10-29 15:01] atlanticdecisionsciences commented on #439
Made the following changes to your Mongo unit tests.  The new OneToMany TransactionCatagory table is created in Mongo, but the entity is not persisted.

Transaction class:
- \* Copyright 2013 Impetus Infotech.
  package com.impetus.kundera.client.crud.mappedsuperclass;

import javax.persistence.CascadeType;
import javax.persistence.Column;
import javax.persistence.DiscriminatorColumn;
import javax

[2013-10-30 07:42] kkmishra commented on #439
Hi,
I confirm it is a bug and will be fixed in 2.9 release.
As a work around you can move relations into separate entity.
In your case if you move following code

[code]

in CreditTransaction.java enity then it will work for you.

Thanks
Kuldeep

[2013-11-01 06:17] kkmishra opened #440 "Mongodb support for nested document."
If document contains a sub document then the query is  working fine but if sub document contains another sub document then its showing the  exception.

[2013-11-03 04:02] kadiyams commented on #385
Vivek,
I have gotten started with this and making good progress.
Quick comment/question:  Datastax driver exclusively supports only CQL3.0 as defined by their git page "A Java client driver for Apache Cassandra. This driver works exclusively with the Cassandra Query Language version 3 (CQL3) and Cassandra's binary protocol."
1.  Shall I make sure that this is checked while loading the configuratio

[2013-11-03 04:28] mehak0425 opened #441 "kundera-neo4j"
i was trying to run kundera-neo4j project..it was working fine..bt today it started giving following error..could you please provide some tips to resolve it..

org.neo4j.kernel.lifecycle.LifecycleException: Failed to transition org.neo4j.kernel.AbstractGraphDatabase$DefaultKernelExtensionLoader@17555b8 from NONE to STOPPED
        at org.neo4j.kernel.lifecycle.LifeSupport$LifecycleInstance.init(Li

[2013-11-04 12:50] mevivs commented on #441
It looks to me related to multiple lucene jars in classpath

-Vivek

[2013-11-04 12:55] mevivs commented on #385
[code]

Looks fine to me.

Thanks,
-Vivek

[2013-11-06 05:58] chhavigangwal commented on #436
Fixed.
in case of entity where tableName in @Table annotation is "", the default entity name is treated as default table name.

[2013-11-06 05:58] #436 closed, assigned to nobody

[2013-11-06 09:09] #440 closed, assigned to nobody

[2013-11-07 08:11] chhavigangwal commented on #424
By default mongo shell treats all numbers as floating point values. Please refer  http://docs.mongodb.org/manual/core/shell-types/#numberlong.

In order to access number data inserted via mongo shell using Kundera :
- It is recommended to use Double/Float data type.
- In case you still want to keep the data type of field as int then while inserting the values via mongo shell you should type cast i

[2013-11-07 08:11] #424 closed, assigned to nobody

[2013-11-14 06:57] mevivs opened #443 "External jar file support"
Currently Kundera supports <jar-file> with absolute path. It should support the same with relative path as well.

[2013-11-14 06:58] mevivs opened #444 "Support for Embeddable entities in oracle Nosql"
Currently Embeddable entities and data model is not supported for oracle-nosql client in Kundera. Target in 2.9 release.

[2013-11-14 07:00] mevivs opened #445 "kundera-test: need to start all the servers even running for any two of them"
Kundrea-test is a testing module to test for all databases for:
1. Association
2. Transaction

currently Association mapping junits can be run on selective databases, but still it requires to start all database servers to be up and running. We need to enhance kundera-test module for selective databases.

[2013-11-14 11:55] mevivs opened #446 "Issue with Hibernate client in case of polyglot persistence"
Since 2.8 release, Kundera allows to define entities without @Table annotation. In case of polyglot persistence, either we need to map entities explicitly with @Table annotation or need to map them using <class> tag. See https://github.com/impetus-opensource/Kundera/issues/315#issuecomment-24914158 for more details.

In case of hibernate, associated entities needs to be available for binding. Else

[2013-11-15 07:09] #403 closed, assigned to nobody

[2013-11-15 07:49] #390 closed, assigned to nobody

[2013-11-17 10:42] subes opened #447 "@Id is not used from @MappedSuperclass with Kundera 2.8"
I have an AbstractEntity class with @MappedSuperclass annotated which has a @Id annotated field:

[code]

Then a TestEntity that extends AbstractEntity.

[code]

Though Kundera complains that TestEntity has to have a field with @Id. In that case it would be wiser if Kundera would detect the @Id annotated field.

[code]

[2013-11-18 10:25] chhavigangwal commented on #447
I tried to reproduce the issue with Kundera 2.8 snapshot as well as with the current trunk but was not able to reproduce the issue. Can you please share a sample project and a bit more details around the specific scenario?

[2013-11-18 15:06] subes commented on #447
You say Kundera 2.8 snapshot, though I already see 2.8 released here: http://mvnrepository.com/artifact/com.impetus.core/kundera-core/2.8

Can you tell me what repository you used? If possible I would like to try then aswell with the snapshot version you mentioned.

[2013-11-18 16:20] subes commented on #447
With Kundera 2.9-SNAPSHOT I get a different Stacktrace:

[code]

The getDelegate() method in that case:

[code]

So I think you should be able to reproduce this problem when trying the above sample with Spring-Data-JPA.

[2013-11-18 17:22] ngrigoriev opened #448 "ObjectAccessor.getCopy() makes wrong call to "clone" method"
I am getting these messages in the log every time I persist something with Kundera:

[code]

After a quick check of the code I think this part of ObjectAccessor is wrong:

[code]

Should be "m.invoke(object)", I think  - since you want to clone the object, not its class.

[2013-11-18 18:39] mevivs commented on #447
Hi,
Could you please share a sample project to reproduce and debug this issue?

-Vivek

[2013-11-19 04:41] chhavigangwal opened #449 "Enable aggregate functions support"
Enable aggregate function support available in MongoDB with Kundera

[2013-11-19 06:05] mavencode01 commented on #120
This issue still occurs in 2.9-snapshot

I didn't not have time to debug it completely...but noticed the issue when I tried reading data I imported into Cassandra with the COPY command.

I fixed it by changing the method below

[code]

[2013-11-19 06:33] mevivs commented on #120
I suspect this is because of incorrect mapping. Please check if field type defined in entity and on database end are in sync?  Means, field is of int data type in Cassandra as well?

[2013-11-19 06:38] mavencode01 commented on #120
Yeah...they are both in sycn.
I did compare the output from cqlsh with my entity...and that solved my problem with the right data type.

[code]

[2013-11-19 06:47] mevivs commented on #120
Reopening it for verification.

[2013-11-19 10:54] mevivs opened #450 "Decouple ehcache dependency from kundera-core"
Currently ehcache is in tight coupling with kundera-core. Decouple and make second level cache framework extensible to bind other cache frameworks at runtime.

-Vivek

[2013-11-19 10:59] mevivs opened #451 "Migration to javaee-api from javax.persistence?"
From: kundera-discuss@googlegroups.com [mailto:kundera-discuss@googlegroups.com] On Behalf Of Sasikumar Vijayakumar
Sent: Wednesday, November 13, 2013 3:50 AM
To: kundera-discuss@googlegroups.com
Subject: {kundera-discuss} Re: Kundera 2.8 released

Hi Vivek and Kundera team:

Thanks for the 2.8 release. We are actively developing with Kundera against MongoDB. However, the problem we see with 2.8 i

[2013-11-19 12:49] subes commented on #447
I have created a sample project by extracting the relevant modules from my platform. You can download it here:
URL: http://invesdwin.de/public/kundera-sample.zip

You can try the sample by just running: mvn clean install
It should fail on the invesdwin-common-persistence-jpa-kundera-rdbms module (using Kundera-2.9-SNAPSHOT)
Alternatively import the maven modules in eclipse and run the KunderaTestS

[2013-11-19 13:05] chhavigangwal opened #452 "Verify polyglot persistence for Hibernate with higher versions of MySQL"

[2013-11-19 19:37] #446 closed, assigned to mevivs

[2013-11-19 19:37] #439 closed, assigned to nobody

[2013-11-19 19:37] #437 closed, assigned to mevivs

[2013-11-19 19:38] mevivs commented on #435
Fixed and releasing with 2.8.1

[2013-11-19 19:38] #435 closed, assigned to nobody

[2013-11-19 19:38] mevivs commented on #349
Releasing with 2.8.1

[2013-11-19 19:38] #349 closed, assigned to chhavigangwal

[2013-11-19 19:39] mevivs commented on #434
Fixed and releasing with 2.8.1

[2013-11-19 19:39] #434 closed, assigned to nobody

[2013-11-19 19:39] mevivs commented on #433
Fixed and releasing with 2.8.1

[2013-11-19 19:39] #433 closed, assigned to nobody

[2013-11-23 09:24] subes commented on #447
thanks, I verified that this now works for me with trunk

[2013-11-23 09:24] #447 closed, assigned to chhavigangwal

[2013-11-26 16:54] pires commented on #451
I have a workaround for my apps (no need to mess with Kundera code):

[code]

[2013-11-27 00:05] publicocean0 opened #453 "Kundera with Multiple PUM"
If i set a not default path for persistence.xml ... there is a exception
    <bean id="pum"
        class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
        <property name="persistenceXmlLocations">
            <list>
                <value>META-INF/dao/persons/persistence.xml</value>
            </list>
        </property>
    </bean>

[2013-11-27 00:10] publicocean0 commented on #453
there is problems also if i want use Spring MutablePesistenceInfo: if i configure PUM inside spring config(without use pesistence.xml) i can set it passing probperties from a general file properties ... for example. It is possible with Hibernate but not with Kundera

[2013-11-27 05:17] mevivs commented on #453
Hi,
Can you please provide more details around it? Few code snippets or a demo project will surly help.

-Vivek

[2013-11-28 22:06] acwest-cc opened #454 "Maven build fails for kundera-elastic-search if tests are disabled"
Trying to build the trunk with tests disabled fails, the maven.test.skip flag appears to be broken. If I try the 2.8.1 tag, it builds properly
mvn clean install -Dmaven.test.skip=true
....
[ERROR] Failed to execute goal on project kundera-elastic-search: Could not resolve dependencies for project com.impetus.client:kundera-elastic-search:jar:2.9-SNAPSHOT: Failure to find com.impetus.core:kundera-c

[2013-11-29 05:37] mevivs commented on #454
Can you please try with

mvn clean install -DskipTests ?

-Vivek

[2013-11-29 13:34] pires commented on #450
+1

[2013-11-29 13:49] pires commented on #451
But it seems Kundera is not compatible with Java EE 7 persistence API, which IIRC is JPA 2.1.

I get the following error with Kundera 2.8.1 on a Glassfish 4.0-b04 nightly build:

[code]

Here follows my `AbstractDao`class:

[code]

[2013-11-29 16:32] acwest-cc commented on #454
That did the trick, everything built successfully... Thank you. It looks like maven.test.skip disables building of the tests as well. Perhaps the documentation on building Kundera needs to be updated? I am thinking particularly of https://github.com/impetus-opensource/Kundera/wiki/Stable-Release

On Fri, Nov 29, 2013 at 12:37 AM, Vivek Mishra notifications@github.comwrote:

[2013-11-29 17:41] jfgosselin opened #455 "retry and retry.delay - Where should it be set ?"
[code]

Thanks

JF

[2013-12-02 09:19] kkmishra opened #456 "An Entity with two persistence unit not working."
If specify a entity in two persistence unit's class tag then it not loaded for one of persistence unit.

[2013-12-03 07:02] mevivs opened #457 "Enable Kundera for JPA 2.1"
JPA 2.1 and Javaee 7 is out. Enhance Kundera with JPA 2.1 support.

-Vivek

[2013-12-03 07:52] mevivs commented on #451
Changes checked-in. Kundera current trunk is deployable over jee7 containers. Work to make Kundera JPA 2.1 complaint is in progress.
https://github.com/impetus-opensource/Kundera/issues/457

[2013-12-03 14:10] jfgosselin commented on #455
Not an issue, but any reasons why these params need to be set in different places (retry in persistence-unit and retry.delay in the kundera.client.property file) ?

Thanks

[2013-12-03 17:43] mevivs commented on #455
Any such properties  in persistence.xml should be ignored. Client specific property is right place for it.

-Vivek

[2013-12-10 14:27] jfgosselin commented on #455
CassandraHostConfiguration

[code]

So it's a bug, if you look at CassandraHostConfiguration, Constants.RETRY is read from the  persistence.xml

It should be setConfig(cassandraHost, externalProperties,  persistenceUnitMetadata.getProperties()); instead ?

[2013-12-10 15:14] mevivs commented on #455
Sounds like a Bug. Yes, let me verify and fix this in 2.9

-Vivek

[2013-12-11 06:46] shiva404 opened #458 "Does Kundera supports sharding?"
I am trying to make kundera to work with cassandra and mySql also looking for mysql sharding? Need some help with rdbms sharding with kundera.

[2013-12-11 07:04] mevivs commented on #458
Kundera doesn't provide any direct way to support sharding over RDBMS.

-Vivek

[2013-12-11 08:32] #458 closed, assigned to nobody

[2013-12-11 08:33] shiva404 commented on #458
thanks Vivek :)

[2013-12-11 08:40] shiva404 opened #459 "Data getting persisted to the different persisting unit."
If I have two persisting units, lets say cassandra_pu and mysql_pu. And my persister.xml looks

`<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd" version="2.0">
<persistence-unit name="mysql_pu">
    <provider>com.im

[2013-12-11 08:44] shiva404 commented on #459
I am sorry.. XML data markdown is not working

[2013-12-11 08:59] mevivs commented on #459
Could you please enclose XML and entity definitions within  "```" as below ?

[code]

-Vivek

[2013-12-11 09:10] mevivs commented on #459
Looks like some issue `<class>` tags are not mapped correctly.

Here i am sharing an example to implement polyglot persistence without using schema.

<b>Person.java (goes into RDBMS) <b>

[code]

<b>Address.java  ( Goes into Cassandra) </b>

[code]

<b>PersonalData.java (Embeddable entity) </b>

[code]

<b>persistence.xml </b>

[code]

KunderaDAO.java(Executor)

[code]

Output

Persists PERSON int

[2013-12-11 09:13] mevivs commented on #454
Are we good to close it?

[2013-12-11 09:13] #448 closed, assigned to nobody

[2013-12-11 09:24] shiva404 commented on #459
I did that. But its not working somehow. If you want I can share my code.

[2013-12-11 09:26] mevivs commented on #459
Share your email id. Let me email you sample code, which i have tried

-Vivek

[2013-12-11 09:31] shiva404 commented on #459
shiva.n404@gmail.com

[2013-12-11 09:38] mevivs commented on #385
@kadiyams

Any update on this?

-Vivek

[2013-12-11 09:41] mevivs commented on #400
Could you please share a sample app to test and implement this ?

-Vivek

[2013-12-11 10:12] acwest-cc commented on #454
It isn't a major issue, but the dependencies for the build should probably
be fixed so that if you aren't compiling the tests, it shouldn't depend on
other tests being compiled
On Dec 11, 2013 4:13 AM, "Vivek Mishra" notifications@github.com wrote:

[2013-12-11 10:15] mevivs commented on #454
Keeping it open for 2.10

[2013-12-11 10:16] mevivs commented on #443
Fixed and releasing with 2.9

[2013-12-11 10:18] mevivs commented on #120
Fixed data type support on Cassandra. Please verify 2.9

-Vivek

[2013-12-12 02:23] ckdudrnjsdl commented on #90
I have tested my code with 2.7.1 and it worked okay. But after updating to 2.8.1, Kundera failed to search my entity classes given <jar-file> in persistence.xml. Nothing has changed on my code.
Here is persistence.xml.

<persistence xmlns="http://java.sun.com/xml/ns/persistence"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence

[2013-12-12 06:18] mevivs opened #460 "DeepEquals.deepEquals method should exclude association entities from deep equals check"
For example, suppose A-> B bi directional relationship exists. If any updates done in one of those entities while they are in managed state would mark both entities as dirty. Ideally concerned entities should be marked as dirty.   InheritenceDomainTest(kundera-cassandra) would make

[2013-12-12 07:49] mevivs commented on #90
Could you please provide a sample project for this?

Though, I have verified with https://github.com/dstrawson/kunderatest .

Modified persistence.xml for `<jar-file>` as:

[code]

Test1.java

[code]

modify core-package and api-package for pom.xml to point to 2.8.1 release

Working fine.

-Vivek

[2013-12-12 08:04] mevivs commented on #459
Any update?

[2013-12-12 08:04] #443 closed, assigned to chhavigangwal

[2013-12-12 08:05] mevivs commented on #380
Fixed and releasing with 2.9

[2013-12-12 08:07] mevivs commented on #263
Support for SecondryTable and AbstractEntityClass is releasing with 2.9.

Is this still an issue?

-Vivek

[2013-12-12 08:08] #408 closed, assigned to nobody

[2013-12-12 08:09] #120 closed, assigned to chhavigangwal

[2013-12-12 08:09] mevivs commented on #441
Any update? Are we good to close on it?

-Vivek

[2013-12-12 08:10] mevivs commented on #388
Fixed and releasing with 2.9

[2013-12-12 08:10] #388 closed, assigned to nobody

[2013-12-12 10:06] mevivs opened #461 "Upgrade kundera-cassandra to Cassandra 2.0 features,"
Current Kundera cassandra client supports Cassandra 1.2.9 . Cassandra 2.0 is a major release and kundera library should be upgraded to higher version.

[2013-12-12 10:08] mevivs opened #462 "Upgrade and release Kundera to JPA 2.1"

[2013-12-12 12:52] mevivs commented on #455
Fixed in current trunk. Please verify.

-Vivek

[2013-12-12 12:53] mevivs commented on #380
Should be fixed with #460

[2013-12-12 12:54] shiva404 commented on #459
No .. still issue not resolved. And it was looking unstable. I am not sure whether its a my mac machine problem or the build problem. And we mainly looking for RDBMS sharding support also.

[2013-12-12 12:57] mevivs commented on #459
Scheduling for 2.10 release.

-Vivek

[2013-12-12 13:00] shiva404 commented on #459
Cool.. thanks for the reply. Do you guys have timelines for 2.10 release? Any idea when it will get release?

[2013-12-12 13:13] mevivs commented on #459
Scheduled for 31st january. Though I have verified and emailed you sample project with what i have verified. I will further have a look to test the same with different platforms and post an update on this.

[2013-12-12 16:52] jfgosselin commented on #385
+1

I’m also interested into this mainly for the new feature like automatic paging (http://www.datastax.com/dev/blog/client-side-improvements-in-cassandra-2-0) which is only available with the CQL java driver.

Any update ?

Thanks

[2013-12-12 17:00] mevivs commented on #385
Thanks for the link, will have a look. BTW, pagination is supported by Kundera over Cassandra in both ways(Thrift and CQL3).

https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/src/test/java/com/impetus/kundera/query/ResultIteratorTest.java

-Vivek

[2013-12-12 17:09] jfgosselin commented on #385
Thanks Vivek , I'll take a look .

Based on this post from Datastax I thought it was only available via the CQL Native Protocol:
http://stackoverflow.com/questions/20394233/does-cql3-client-support-native-protocol

[2013-12-12 23:05] ckdudrnjsdl commented on #90
I used Spring for JPA.

spring-data-repo.xml

[code]

Test code

[code]

TestPojo is domain object from another maven project

[code]

persistence.xml

[code]

Log when I use 2.8.1

[code]

Log when I use 2.7.1

[code]

Log seems to be same for both but 2.7.1 is able to find my entity and 2.8.1 not.

I am using Java 1.7. I checked dependency change between 2.7.1 and 2.8.1 but found nothing special

[2013-12-13 03:15] mevivs commented on #90
Please email sample project to me at vivek.mishra@impetus.co.in

[2013-12-13 12:51] kadiyams commented on #385
Vivek,
I lost the traction on this, since my job (changed jobs recently) has gotten hectic and am struggling with the dead lines.  it would be another month before I could touch this.  So please if anyone else is proceeding with continue.  I will loop back in here after a month.  Sorry for the delay in providing this feature.

[2013-12-13 14:34] #103 closed, assigned to nobody

[2013-12-13 14:34] #263 closed, assigned to nobody

[2013-12-13 14:34] #283 closed, assigned to nobody

[2013-12-13 14:34] #404 closed, assigned to nobody

[2013-12-13 14:34] #455 closed, assigned to mevivs

[2013-12-13 18:48] jfgosselin opened #463 "Bug in ResultIterator"
In the class com.impetus.client.cassandra.query.ResultIterator for the method

[code]

it fails with  StringIndexOutOfBoundsException for a query that doesn't have LIMIT in it.

[2013-12-13 19:59] jfgosselin opened #464 "ResultIterator and @EmbeddedId"
It seems that the ResultIterator doesn't work with @EmbeddedId

(https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/src/test/java/com/impetus/kundera/query/ResultIteratorTest.java)

For a table like :

[code]

With a query like this :
   SELECT \* FROM foo WHERE a=bed3212d-e20a-4659-a563-0415ce9adcd0 AND b='abc';

[2013-12-15 15:21] mrniko commented on #450
+1

[2013-12-16 09:37] mevivs opened #465 "Enable IN clause with JPQL=>CQL3 transformation"
Add support of IN clause for Cassandra via JPQL to CQL3 transformation.

[2013-12-16 11:52] mevivs opened #466 "Strengthen lucene+elastic search indexing mechanism for Term queries."
Lucene/ES provides a way to qrite specific Term queries. Kundera should enable this support for better data type handling over lucene queries.

-Vivek

[2013-12-16 12:33] mevivs opened #467 "2.12 features wishlist"
Format should in line with:

DB Name: Cassandra, HBase,Mongo etc.

DB Version:

Feature Description:

Specific reason(if any):

@ttuti
Support for kundera JavaConfig in SpringMVC for the persistence unit

[2013-12-16 12:36] ttuti commented on #467
Hopefully the config will be able to happen entirely in a Java class rather than pulling it from an xml file.

[2013-12-16 12:37] mevivs commented on #467
Could you please add few more bits around this?

-Vivek

[2013-12-16 12:52] ttuti commented on #467
This is somewhat the current config

<persistence xmlns="http://java.sun.com/xml/ns/persistence"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
    https://raw.github.com/impetus-opensource/Kundera/Kundera-2.0.4/kundera-core/src/test/resources/META-INF/persistence_2_0.xsd"
    version="2.0">

[code]

</persistence>

Trying t

[2013-12-17 04:23] tarang-dawer opened #468 "Invalid Lucene query in case of a Double field in entity is passed for query with a negative value"
Example : - Select p from Entity p where p.volume= -1.0

generated Query ; - Entity.volume:-1.0

The generated query is invalid as when it's passed to a lucene based indexing server, a parse exception is thrown.

[2013-12-17 04:36] tarang-dawer opened #469 "NullPointerException is thrown while fetching data from hbase when a field is in query but not in the Entity"
Example Query : -  Select p from Entity p where p.volme = 9

field Name in Entity is volume

Kundera generates the query and throws null pointer while retrieving data from hbase.

[2013-12-17 04:38] tarang-dawer opened #470 "Invalid Lucene Query in case of a Double Field, when > or >= operators are used in the Query."
Example : - Select p from Entity p where p.volume > 9.0

query : - Entity.volume:{9.0 TO null}

This query gives parseException in a lucene based query server.

[2013-12-17 07:55] mevivs opened #471 "Update/Delete by Query is not working for Lucene"
Update/Delete by Query is not working for Lucene. Junit
com.impetus.kundera.query.LuceneQuery

[2013-12-17 08:45] mevivs commented on #469
2013-12-05 11:23:11 main [ERROR] ProcessFunction - Internal error processing query
java.lang.NullPointerException
    at java.util.StringTokenizer.<init>(StringTokenizer.java:182)
    at java.util.StringTokenizer.<init>(StringTokenizer.java:204)
    at com.impetus.client.hbase.query.HBaseQuery.getBytes(HBaseQuery.java:512)
    at com.impetus.client.hbase.query.HBaseQuery.access$200(HBaseQuery.java

[2013-12-17 08:50] mevivs commented on #469
Already fixed in 2.9 release. Please verify.

[2013-12-17 09:20] mevivs opened #472 "Code cleanup"
Code cleanup on client and as well kundera-core side.

-Vivek

[2013-12-17 10:26] #441 closed, assigned to nobody

[2013-12-17 10:27] #469 closed, assigned to nobody

[2013-12-17 12:55] jfgosselin commented on #467
Add support for the DataStax Java Driver client.

JF

[2013-12-18 10:13] mevivs opened #473 "Review & Design:Query and Reader interface"
1. Query implementation for each client is primarily responsible for translating JPQL to specific database api objects.Lots of common code and generalization is possible with current code base.
2. Scrolling API needs to generalized.
3. Redesign Reader interface

[2013-12-18 10:14] mevivs opened #474 "Refactor and arrange ObjectGraphBuilder.java"
1. ObjectGraphBuilder source code is quite complex and must be refactored.
2. Current deep copy check is not working properly. {https://github.com/impetus-opensource/Kundera/issues/460}

[2013-12-18 10:16] mevivs opened #475 "Define clear responsibility for properties"
design to properly assign
   a) External properties
   b) Em level properties
   c) EMF level properties

[2013-12-18 10:17] mevivs opened #476 "Strengthen RDBMS kundera client"
At present, kundera rdbms client needs to strengthen for test cases. Specially around schema creation, association mapping and polyglot persistence.  Also, need to explore hibernate specific support and enable the same within kundera-rdbms.

[2013-12-18 10:17] mevivs opened #477 "Client extension framework"
Client clean-up, Move JPA specific logic out of each client

[2013-12-18 10:18] mevivs opened #478 "Strengthen JPA entity validation as per JPA specification"
With current implementation, Kundera's JPA entity validation works for most of basic scenarios. But it must be made more robust. Such as:
1.  Validation on association attributes
2. Entity basic attribute validation
3.  Persistence unit based validation (e.g. improper persistence provider, or incorrect property)
4. Secondary table based validation

Also, we need to define single placeholder with c

[2013-12-18 10:19] mevivs opened #479 "Issue with jar packaging"
Current released jar structure

  com
   |**_impetus
              |__**_ client
              |_____ core
              |_____ kundera-parent
              |_____ kundera-tests
              |_____ kundera

It seems bit out of order and confusing. With 2.10 release onwards, this needs to be modified as per proposed structure(see below):

  com
   |**_impetus
              |____**_ kundera

[2013-12-18 10:21] mevivs opened #480 "Build"
1. Build time should be reduced by half atleast.
2. mvn clean install -DskipTests and mvn clean install -Dmaven.test.skip=true { Both should work}.
3. generate tests jar should be excluded from release process.
4. Kundera-cassandra build should not print stack traces

[2013-12-19 14:27] trajar commented on #467
+1 for DataStax Java Driver

[2013-12-19 18:41] #465 closed, assigned to nobody

[2013-12-20 08:36] mevivs commented on #208
Moving it to 2.10 release for assessment. Though @Notnull constraints doesn't make much sense in most of NoSQL databases.

-Vivek

[2013-12-20 23:10] yeshvanthni opened #481 "Flush in PersistenceDelegator fails in multi-threaded environment"
A number of Concurrency related issues which are not exactly reproducible in a tescase are seen in load or stress test environment.

The following are a few examples,

java.util.ConcurrentModificationException
        at java.util.ArrayDeque$DeqIterator.next(ArrayDeque.java:632)
        at java.util.AbstractCollection.toString(AbstractCollection.java:449)
        at java.lang.String.valueOf(String

[2013-12-21 07:56] mevivs commented on #481
@yeshvanthni

-if by design, flush will not acquire any lock then it should use thread-safe classes like ConcurrentHashMap for eventLogs and ConcurrentLinkedDeque for flushStack.

[code]

-Vivek

[2013-12-23 07:31] mevivs commented on #462
Closing, can be tracked with #457.

[2013-12-23 07:31] #462 closed, assigned to nobody

[2013-12-23 10:55] mevivs commented on #481
A fix has been added for this resolve this issue on trunk.

-Vivek

[2013-12-25 05:35] chhavigangwal opened #482 "Special characters in data need to be handled in case of Cassandra"
Data persistence and retrieval in Cassandra using Kundera on some locales throws errors. Thus marshalling and unmarshalling  of data in Cassandra via Kundera needs to be revisited to handle data for all locales.

[2013-12-25 06:57] chhavigangwal opened #483 "Enable the use of index name property with Kundera"
Currently Kundera does not support name property while creating indexes on different columns. This property needs to be enabled to allow user to specify the name of indexes.

[2013-12-27 06:31] mevivs commented on #478
Issue #208

[2013-12-27 08:49] ngayngo9x opened #484 "Remove Entity in Many-To-One (Cassandra)"
I remove Person, but Kundera not auto remove Address. And show exception:

Exception in thread "main" java.lang.NullPointerException
    at com.impetus.kundera.proxy.cglib.CglibLazyInitializer.invoke(CglibLazyInitializer.java:286)
    at com.pheu.learn.entities.Person1$$EnhancerByCGLIB$$8d97acb6.toString(<generated>)

[code]

Entities:

[code]

Persistence xml:

[code]

Kundera-cassandra.xml:

[co

[2013-12-27 09:03] mevivs commented on #484
Could you please share more on error logs?
Also version of kundera?
-Vivek

[2013-12-27 09:18] ngayngo9x commented on #484
Exception in thread "main" java.lang.NullPointerException
    at com.impetus.kundera.proxy.cglib.CglibLazyInitializer.invoke(CglibLazyInitializer.java:286)
    at com.pheu.learn.entities.Person1$$EnhancerByCGLIB$$8d97acb6.toString(<generated>)
    at com.pheu.learn.kundera_try_2.Main1.retrieveAllFunc(Main1.java:214)
    at com.pheu.learn.kundera_try_2.Main1.main(Main1.java:42)

Kundura 2.8.1, cass

[2013-12-27 10:39] mevivs commented on #484
Update on this issue:
1. Reason why cascade delete on address didn't work, because you did not assign set of addresses as:

[code]

However, by adding this it would still fail for #380
1. NPE with CGLib is valid :

<b>
Exception in thread "main" java.lang.NullPointerException
at com.impetus.kundera.proxy.cglib.CglibLazyInitializer.invoke(CglibLazyInitializer.java:286)
at com.pheu.learn.entities.Pe

[2013-12-27 10:54] ngayngo9x commented on #484
Thanks you so much, Vivek

[2014-01-02 10:18] mevivs commented on #454
kundera-core contains  generic entities and other configurations required by other modules. With `-Dmaven.test.skip=true` it would simply skip test compilation, hence ideal way is to go with `-DskipTests` to skip test execution.

I have modified
 https://github.com/impetus-opensource/Kundera/wiki/Stable-Release   for the same.

[2014-01-02 16:11] pires commented on #484
+1

[2014-01-02 16:12] pires commented on #481
+1

[2014-01-02 16:13] yeshvanthni commented on #481
Could this be made available as a hotfix on an earlier stable release?

[2014-01-02 16:14] pires commented on #467
Would be great to see something related to service discovery, namely for Cassandra hosts. Having different descriptors for development, testing/QA and production (in multiple instances) is a real PITA.

[2014-01-02 16:16] pires commented on #461
+1

You can also clean-up dependency mess. For instance, _snappy_ is not needed is in `src/kundera-cassandra/pom.xml` since it's already provided in Cassandra dependency (different version, as well).

[code]

[2014-01-02 18:13] mevivs commented on #481
We are planning for a maintenance release(before 2.10). will post an update once we finalize on it's date.

[2014-01-03 05:55] mevivs commented on #450
Looks like current ehcache support is broken. Targeting to fix it with 2.10 as well.

-Vivek

[2014-01-03 07:38] mrniko commented on #450
+1

[2014-01-03 07:41] mevivs commented on #450
@mrniko
Using Kundera for?

-Vivek

[2014-01-03 10:22] pires commented on #265
Is it possible for one to set TTL with JPA annotations? Something like:

[code]

[2014-01-03 10:27] pires opened #485 "Support Cassandra CLUSTERING ORDER BY with JPA annotations"
How can one map the following Cassandra statement to Kundera entity mapping?

[code]

This must be available during schema generation, otherwise one won't be able to `ALTER TABLE latest_temperature WITH CLUSTERING BY (event_time DESC);` given the ordering has been already defined and would imply destroying every available data.

[2014-01-06 05:54] yeshvanthni opened #486 "One To Many Relationship fails for an Object with Composite Key(EmbeddedID)"
One To Many Relationship fails for an Object with Composite Key(EmbeddedID)

Example: Tweet has many tags. Tweet has a composite key with timestamp and tweetid.( Ignore the business necessity of this example)

Class Tweet{
@EmbeddedId
TweetIdStamp   id;   //Compound key=Tweet_id+timestamp

@OneToMany
@JoinColumn(name=tagFgnKey)
List<Tag> tags;

}

The above entity fails because it couldn't persist

[2014-01-06 06:01] mevivs commented on #486
Only one-To-one and many-to-one are supported over composite keys with other entities.

-Vivek

[2014-01-06 12:12] mevivs opened #487 "Enable support for ddl.show.sql to show translated queries"
Enable support for ddl.show.sql to show translated queries.(e.g. ddl_show_sql)

[2014-01-07 16:10] sumeetchhetriwellogic opened #488 "MongoDBQuery getSingleResult should return null/exception in case no data is found"
Hello,

Love the work you guys have been doing, had an issue to report though,

this line inside MongoDBQuery.java getSingleResult() function should be changed from

return results.isEmpty() ? results : results.get(0);

TO

return results.isEmpty() ? null : results.get(0);

OR

if(results.isEmpty()) throw new EntityNotFoundException;
else results.get(0);

Thanks,
Sumeet Chhetri

[2014-01-07 16:32] mevivs commented on #488
:+1:  for returning null. scheduling it to release with 2.10

-Vivek

[2014-01-07 23:31] yeshvanthni opened #489 "slf4j binding should not be exposed through transitive dependency"
Kundera-Cassandra/pom.xml has slf4j-log4j in default scope. If a project uses logback as the chosen logger there will be multiple bindings in the classpath which is failing the expected logback configuration.
As per slf4j documentation (http://slf4j.org/faq.html#maven2) this should be switched to test scope or made <optional>true</optional.

[2014-01-08 10:02] sumeetchhetriwellogic opened #490 "Pagination - MongoDBQuery can support setFirstResult using the skip clause"
The QueryImpl class has the following implementation for setFirstResult()

@Override
    public Query setFirstResult(int startPosition)
    {
        throw new UnsupportedOperationException("setFirstResult is unsupported by Kundera");
    }

MongoDB can support setFirstResult using the skip function, i think this can be implemented in Kundera mongodb client (MongoDBQuery/MongoDBClient) code.

I as

[2014-01-08 10:18] mevivs commented on #490
Pagination is supported over Kundera mongoDB via limit function. So if fetchSize is set to 1 or maxResults is set to 1, it will return single record (e.g getSingleResult).

However, Implementing setFirstResult() using skip() is very much on roadmap. Thanks for raising it!

I will post an update soon on this, if we can plan it within 2.10 release.

-Vivek

[2014-01-08 11:08] chhavigangwal opened #491 "Composite Key with Lucene is not working"
When trying to execute a query over lucene with range applied on its cluster key columns, it fails giving null pointer exception.

[2014-01-08 11:42] mevivs commented on #490
Targeting for 2.11 release

[2014-01-08 13:42] sumeetchhetriwellogic opened #492 "MongoDB - Pre Perisist/Update callback hooks not getting honored with @MappedSuperclass"
With an abstract base class with @MappedSuperclass and a child entity class, the @PrePersist and the @PreUpdate callback hooks are not getting called.

Retested with a normal Event class(without a base class) and still both the hooks are not working.

[2014-01-08 15:33] yeshvanthni commented on #481
Thank you for making the fix available. We are continuing to test with snapshot. When can we expect the maintenance release? This is a blocking issue and its being seen within half an hour of starting the application and in 2-3 mins of load testing.

[2014-01-08 17:07] mevivs commented on #481
Possibly by next week. i will post an update on this.

-Vivek

[2014-01-09 07:07] mevivs commented on #479
Fixed on current trunk

[2014-01-09 08:22] mevivs commented on #489
Fixed on current trunk.

-Vivek

[2014-01-09 08:29] mevivs commented on #479
groupId for artifacts has been changed from `<groupId>com.impetus.client</groupId>` TO `<groupId>com.impetus.kundera.client</groupId>`. For example:

[code]

TO

[code]

[2014-01-09 14:56] yeshvanthni commented on #489
Thank you

[2014-01-10 00:12] jeetkulkarni opened #493 "Exception while inserting data into cassandra column having composite keys"
I am getting the below exception while inserting data into 4 columns in a column family having a composite key

me.prettyprint.hector.api.exceptions.HInvalidRequestException: InvalidRequestException(why:Not enough bytes to read value of component 0)
        at me.prettyprint.cassandra.service.ExceptionsTranslatorImpl.translate(ExceptionsTranslatorImpl.java:50)
        at me.prettyprint.cassandra.s

[2014-01-10 03:27] mevivs commented on #493
Looks like it's an issue with Hector not with Kundera. Hector community should help you out with this.

-Vivek

[2014-01-10 07:17] mevivs commented on #489
@yeshvanthni
Using kundera for? Request you to please spare few minutes to fill in kundera survey
http://www.surveymonkey.com/s/BMB9PWG

-Vivek

[2014-01-10 09:20] ashwyntirkey opened #494 "Kundera ehcache not working"
Kundera 2.8.1 . when i'm configuring ehcache in my persistence.xml its not being picked up. I have a ehcache-test.xml file configured in my classpath. On inspecting i'm finding that Kundera is not picking up the properties from persistence.xml.

In the constructor for EntityManagerFactoryImpl the Map properties is null.

[2014-01-10 09:20] ashwyntirkey opened #495 "Kundera ehcache not working"
Kundera 2.8.1 . when i'm configuring ehcache in my persistence.xml its not being picked up. I have a ehcache-test.xml file configured in my classpath. On inspecting i'm finding that Kundera is not picking up the properties from persistence.xml.

In the constructor for EntityManagerFactoryImpl the Map properties is null.

[2014-01-10 09:36] mevivs commented on #494
Will be fixed with #450

-Vivek

[2014-01-10 10:07] chhavigangwal commented on #492
Fixed. Please verify.
Junit to refer  :
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-mongo/src/test/java/com/impetus/kundera/client/crud/inheritence/AbstractEntityEventListenerTest.java

[2014-01-10 10:08] chhavigangwal commented on #464
Fixed. Please verify.
Junit to refer :
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/src/test/java/com/impetus/kundera/query/ResultIteratorEmbeddableTest.java

[2014-01-10 10:16] chhavigangwal commented on #470
Fixed. Please verify.
Junit to refer :

https://github.com/impetus-opensource/Kundera/blob/trunk/src/jpa-engine/fallback-impl/src/test/java/com/impetus/kundera/query/LuceneQueryTest.java

[2014-01-10 10:18] chhavigangwal commented on #468
Fixed. Please verify.

Junit to refer :
https://github.com/impetus-opensource/Kundera/blob/trunk/src/jpa-engine/fallback-impl/src/test/java/com/impetus/kundera/query/LuceneQueryTest.java

[2014-01-10 14:40] jeetkulkarni commented on #493
Ok Thanks. I will check with the Hector community

[2014-01-10 15:30] #493 closed, assigned to nobody

[2014-01-13 23:29] yeshvanthni commented on #489
Done. Thanks.

[2014-01-14 06:53] chhavigangwal commented on #488
Fixed.Please verify
Junit to refer :
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-mongo/src/test/java/com/impetus/client/crud/PersonMongoTest.java

[2014-01-14 12:03] mevivs commented on #495
Fixed and releasing with 2.9.1

[2014-01-14 12:49] baumhacklf opened #496 "kundera.ddl.auto.prepare problem"
Could be deleted. I've found the problem.

[2014-01-14 13:02] mevivs commented on #496
Ok. with "create-drop" it should get deleted, while with "create", it will exist till you re-instantiate emf for same keyspace.

[2014-01-14 13:11] trungtv opened #497 "attribute of the given name and type is not present in the managed type, for name:null"
Hi all,
I am experienced following error for a specific jpa query:

Exception in thread "main" com.impetus.kundera.query.QueryHandlerException: java.lang.IllegalArgumentException: attribute of the given name and type is not present in the managed type, for name:null
    at com.impetus.client.mongodb.query.MongoDBQuery.populateEntities(MongoDBQuery.java:143)
    at com.impetus.kundera.query.QueryIm

[2014-01-14 13:11] baumhacklf commented on #496
You are very fast :)
First it was a problem in the configuration (my fault). Now all tables are deleted. Only the keyspace still exists.

[2014-01-14 14:38] mevivs commented on #497
Looking into this.

-Vviek

[2014-01-14 18:22] mevivs commented on #497
Issue has been fixed on current trunk and releasing with 2.9.1.
Please verify.

-Vivek

[2014-01-14 21:20] trungtv commented on #497
Thanks very much for your support.

[2014-01-14 21:20] #497 closed, assigned to mevivs

[2014-01-15 05:54] mevivs opened #498 "Kundera lucene indexing support not honouring max result"
query.setMaxResults() is not being picked and provided to custom lucene indexer. "start"/"count" remains unaffected by this and are always with a value of "-1".

[2014-01-15 12:14] #495 closed, assigned to nobody

[2014-01-15 13:51] mevivs commented on #494
planned for 2.10 release

-Vivek

[2014-01-15 16:28] yeshvanthni commented on #481
Is this fix available in 2.9.1 release.?

[2014-01-15 16:30] mevivs commented on #481
Yes. Releasing today with 2.9.1

-Vivek

[2014-01-15 18:33] mevivs commented on #498
Fixed. Releasing with 2.9.1

-Vivek

<b>
Note: Group artifactId has been changed. Please refer https://github.com/impetus-opensource/Kundera/blob/trunk/src/README.md#note for the same.
</b>

[2014-01-15 18:33] #498 closed, assigned to mevivs

[2014-01-15 18:34] mevivs commented on #492
Fixed. Releasing with 2.9.1

-Vivek

<b>
Note: Group artifactId has been changed. Please refer https://github.com/impetus-opensource/Kundera/blob/trunk/src/README.md#note for the same.
</b>

[2014-01-15 18:34] #492 closed, assigned to chhavigangwal

[2014-01-15 18:35] mevivs commented on #489
Fixed. Releasing with 2.9.1

-Vivek

<b>
Note: Group artifactId has been changed. Please refer https://github.com/impetus-opensource/Kundera/blob/trunk/src/README.md#note for the same.
</b>

[2014-01-15 18:35] #489 closed, assigned to mevivs

[2014-01-15 18:35] mevivs commented on #488
Fixed. Releasing with 2.9.1

-Vivek

<b>
Note: Group artifactId has been changed. Please refer https://github.com/impetus-opensource/Kundera/blob/trunk/src/README.md#note for the same.
</b>

[2014-01-15 18:35] #488 closed, assigned to chhavigangwal

[2014-01-15 18:35] mevivs commented on #485
Fixed. Releasing with 2.9.1

-Vivek

<b>
Note: Group artifactId has been changed. Please refer https://github.com/impetus-opensource/Kundera/blob/trunk/src/README.md#note for the same.
</b>

[2014-01-15 18:35] #485 closed, assigned to nobody

[2014-01-15 18:36] mevivs commented on #481
Fixed. Releasing with 2.9.1

-Vivek

<b>
Note: Group artifactId has been changed. Please refer https://github.com/impetus-opensource/Kundera/blob/trunk/src/README.md#note for the same.
</b>

[2014-01-15 18:36] #481 closed, assigned to nobody

[2014-01-15 18:36] mevivs commented on #475
Fixed. Releasing with 2.9.1

-Vivek

<b>
Note: Group artifactId has been changed. Please refer https://github.com/impetus-opensource/Kundera/blob/trunk/src/README.md#note for the same.
</b>

[2014-01-15 18:36] #475 closed, assigned to nobody

[2014-01-15 18:37] mevivs commented on #471
Fixed. Releasing with 2.9.1

-Vivek

<b>
Note: Group artifactId has been changed. Please refer https://github.com/impetus-opensource/Kundera/blob/trunk/src/README.md#note for the same.
</b>

[2014-01-15 18:37] #471 closed, assigned to chhavigangwal

[2014-01-15 18:37] mevivs commented on #470
Fixed. Releasing with 2.9.1

-Vivek

<b>
Note: Group artifactId has been changed. Please refer https://github.com/impetus-opensource/Kundera/blob/trunk/src/README.md#note for the same.
</b>

[2014-01-15 18:37] #470 closed, assigned to chhavigangwal

[2014-01-15 18:37] mevivs commented on #468
Fixed. Releasing with 2.9.1

-Vivek

<b>
Note: Group artifactId has been changed. Please refer https://github.com/impetus-opensource/Kundera/blob/trunk/src/README.md#note for the same.
</b>

[2014-01-15 18:37] #468 closed, assigned to chhavigangwal

[2014-01-15 18:39] mevivs commented on #464
Fixed. Releasing with 2.9.1

-Vivek

<b>
Note: Group artifactId has been changed. Please refer https://github.com/impetus-opensource/Kundera/blob/trunk/src/README.md#note for the same.
</b>

[2014-01-15 18:39] #464 closed, assigned to chhavigangwal

[2014-01-15 18:40] mevivs commented on #463
Fixed. Releasing with 2.9.1

-Vivek

<b>
Note: Group artifactId has been changed. Please refer https://github.com/impetus-opensource/Kundera/blob/trunk/src/README.md#note for the same.
</b>

[2014-01-15 18:40] #463 closed, assigned to chhavigangwal

[2014-01-15 18:40] mevivs commented on #450
Fixed. Releasing with 2.9.1

-Vivek

<b>
Note: Group artifactId has been changed. Please refer https://github.com/impetus-opensource/Kundera/blob/trunk/src/README.md#note for the same.
</b>

[2014-01-15 18:40] #450 closed, assigned to mevivs

[2014-01-17 07:06] chhavigangwal opened #499 "Enable counter column support with CQL3"
Currently counter column support in Cassandra is enabled only via thrift in Kundera (i.e, with CQL2). This support should also be enabled with CQL3.

[2014-01-17 07:09] chhavigangwal opened #500 "ddl.auto.prepare is failing for validate"
In order to maintain the existing data ,  you can validate it by setting
`<property name="kundera.ddl.auto.prepare" value="validate" />` .

This however fails due to column definition mismatch while creating and validating data specially in case of data consisting counter columns by throwing error  :

[code]

[2014-01-17 07:23] chhavigangwal opened #501 "enable id auto generation support via timeuuid now function"
Cassandra provides now() function which takes no arguments and generates a new unique timeuuid at the time of execution of statement using it . Generated id support needs to be implemented using the same in Kundera (for Cassandra), in order to generate a unique id using Cassandra's api function support.

[2014-01-17 15:25] bcwajapey opened #502 "Kundera JPA query for oracle DB - table name prefixed with UNDERSCORE"
I am currently evaluating Kundera for one of our projects.

I am using it to connect to Oracle

Version: Oracle Database 11g Enterprise Edition Release 11.2.0.1.0 - 64bit Production

When I try to find an entity using entityManager.find(class , object), the underlying hibernate query generated has UNDERSCORE as prefix for the table name.

Select
        _KunderaUser.user_id,
        _KunderaUser.l

[2014-01-17 15:57] yeshvanthni opened #503 "Kundera does not support null in Insert queries for Cassandra"
Null is a valid value in Cassandra 1.2.4 or later and there is no way to update a field to null using kundera. [https://issues.apache.org/jira/browse/CASSANDRA-3783]

Persist and merge for kundera should be handled differently. Merge should fire partial queries with just the non-null values in the insert query like the current behavior. Persist should fire a complete query including the null value

[2014-01-17 15:58] yeshvanthni commented on #481
Thanks

[2014-01-17 17:56] impetus-opensource-admin commented on #503
Support for null is planned with Cassandra 2.x library upgrades. Will see if can be clubbed #478 for 2.10 release

-Vivek

[2014-01-20 05:29] DaVincii opened #505 "bad jpa query issue"
for the query

select s from seats s where s.flightId=IN-234

shows bad jpa query because of "IN" in the data

[2014-01-20 16:03] janinko opened #506 "NullPointerException creating EntityManager"
Hi,

I'm using Kundera for Neo4j on JBoss EAP some issues with getting it work. One of them is NullPointerException when trying to persist entity.

EAP 6.1.1
Kundera 2.9

[code]

[code]

[code]

[2014-01-20 16:10] mevivs commented on #506
Please refer
https://github.com/impetus-opensource/Kundera/issues/180

You need to:
1. jboss.as.jpa.managed as false in persistence.xml
2. include your entity classes with in tag and to true in persistence.xml

-Vivek

[2014-01-20 17:29] janinko commented on #506
I added

[code]

into my persistence.xml, and now it even fails to deploy:

[code]

[code]

[2014-01-20 19:25] mevivs commented on #506
Can't get much from logs. Please provide more logs. Also, Sample application to deploy over JBoss is available here =>
https://github.com/impetus-opensource/Kundera/tree/trunk/examples/container/jboss

-Vivek

[2014-01-21 07:23] baumhacklf opened #507 "ManyToMany JoinTable"
Hey there.
In my old application there are many-to-many relationships. I tried these implementations with the Kundera framework and got an other join table.

Classes:
@Entity
@Table(name = "bundle_barcode", schema = "test@cassandra_pu")
public class BundleBarcode {

[code]

}

@Entity
@Table(name = "bundle", schema = "test@cassandra_pu")
@IndexCollection(columns = { @Index(name = "item") })
public

[2014-01-21 07:33] mevivs commented on #507
Since a column family in Cassandra must have a row key. Where as it is not mandatory with Oracle. Hence a join table in Cassandra is implemented in this way. as Cassandra allows a billion columns for a row key, that's the reason for column name as table name + bundle_id

In short, Kundera replaces more rows of RDBMS with more columns in Cassandra.

Hope it helps.
-Vivek

[2014-01-21 07:41] baumhacklf commented on #507
So I have to write own queries to get for example all barcodes (in this example) for one bundle? Because the entity manager won't return any entries.

[2014-01-21 07:47] mevivs commented on #507
Can you please elaborate more on this?  As far as retrieving such many to many association are concerned, Kundera implicitly handles it for you.  Please refer
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-tests/src/test/java/com/impetus/kundera/tests/crossdatastore/useraddress/MTMBiAssociationTest.java

for a sample junit and running JPQLs

-Vivek

[2014-01-21 09:07] baumhacklf commented on #507
Bundle result = em.find(Bundle.class, smallBundle.getBundleId());
Will return a bundle with 0 barcodes (many-to-many relationship).

BundleBarcode loadedBarcode = em.find(BundleBarcode.class, barcodeOne.getId());
will throw an exception:

10:03:31,797 ERROR [ThriftClient]() Error while fetching key slices of column family bundle_barcode_join for column name bundle_id , Caused by: .
InvalidRequestE

[2014-01-21 09:11] mevivs commented on #507
[code]

please set CQL version to CQL3 with client.

[code]

if Bundle is holding associatied values with Barcode, then it should return.
-Vivek

[2014-01-21 14:10] janinko commented on #506
with `<property name="jboss.as.jpa.managed" value="false" />` https://gist.github.com/janinko/ffdf92b21592acbe8d3a
without https://gist.github.com/janinko/38ee472f847ce05c66af

[2014-01-22 01:03] bramp opened #508 "Parameters do not work on NativeQuery"
When I run this code:

[code]

it throws an exception:

[code]

looking a the Kundera code (QueryResolver.java), it doesn't support parameters for NativeQueries. The list of valid parameters it built up initFilter(), which is called from postParsingInit(). However, postParsingInit is not called if the query is native:

[code]

[2014-01-22 01:28] bramp opened #509 "CassQuery.getSingleResult returns empty list when item not found"
From what I understand about the JPA, getSingleResult is meant to throw an NoSuchElementException if there is no single result. Instead it returns an empty list. Additionally it should throw NonUniqueResultException if more than one element is found. It throws neither.

[code]

[2014-01-22 02:58] mevivs commented on #508
setParameter support is only available with JPQL and named queries.

-Vivek

[2014-01-22 10:36] mevivs commented on #509
Fix  added on current trunk and releasing with 2.10

-Vivek

[2014-01-22 11:07] chhavigangwal opened #510 "Add support for getSingleResult() for HBase, RDBMS, CouchDB, Neo4J, OracleNoSQl and Redis"
Currently getSingleResult() of a query is supported only in Cassandra and MongoDb. Enable this support for HBase, RDBMS, CouchDB, Neo4J, OracleNoSQl and Redis as well.

[2014-01-22 12:10] pdirksen opened #511 "Using Collections.EMPTY_SET or Collections.EMPTY_MAP causes a NullPointerException"
An additional warning appears:

Warnung: Returning null as error during clone, Caused by:Class com.impetus.kundera.utils.ObjectUtils can not access a member of class java.util.Collections$EmptySet with modifiers "private".

Instantiating a new HashMap oder a new HashSet solves it, but EmptySet and EmptyMap should work too.

[2014-01-22 12:20] mevivs commented on #511
Duplicate of https://github.com/impetus-opensource/Kundera/issues/381 ?

[2014-01-22 15:03] bramp commented on #509
Awesome thanks.
On Jan 22, 2014 2:36 AM, "Vivek Mishra" notifications@github.com wrote:

[2014-01-22 16:23] pdirksen opened #512 "ManyToOne & JoinColumn Annotation leads to persisting failure in MongoDB"
MongoDB Version: 2.2.7
Kundera: kundera-mongo 2.9

[code]

Kundera won't throw an exception, but MongoDB will:

[code]

[2014-01-22 18:29] mevivs commented on #512
I think XObs is missing @id field?

Could you please elaborate more?

-Vivek

[2014-01-23 15:33] kkmishra commented on #512
I have tried following and working fine for me.

Entities:

[code]

[code]

[code]

CRUD:

[code]

you have not provided join column name in your entity, so it will go as a blank string for column name in database mongodb.

Like:

[code]

Ideally it should be field name ie cause, instead of blank string, it will be fixed along with issue #478 and #208

It will be fixed in 2.10 release

Thanks
Kuld

[2014-01-23 15:50] logslie commented on #302
Hi, I created an eclipse plugin a year ago. I have to check if it works well and add more information about the project, so it's not a stable version. This is the link: https://github.com/logslie/CassandraRE

Laura

[2014-01-23 15:53] mevivs commented on #302
@logslie
:+1:

[2014-01-23 16:02] yeshvanthni opened #513 "Kundera Cassandra Provider does not work for JPQL delete"
JPQL for  delete has the following behaviour which is not expected,

1.does a fetch before delete which causes a select that impacts performance
2.there is no delete query fired after that and the actual delete doesn't happen

[2014-01-23 16:06] yeshvanthni opened #514 "em.CreateNativeQuery for Cassandra throws UnsupportedOperationException"
Queries like delete queries does not need the resultset to be translated to an Object so this api should still allow clients to invoke native CQL queries at their discretion.

Workaround:
Call delete query with em.createNativeQuery("queryString",DummyClass.class);

[2014-01-23 16:07] mevivs commented on #513
Cassandra allows to delete record by row key. If you enable CQL3 version with Kundera  and fire such Delete JPQL it should work. Have a look at:
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/src/test/java/com/impetus/client/crud/UpdateDeleteJPQLLiteralTest.java

-Vivek

[2014-01-23 16:10] mevivs commented on #514
Yes, it's a constraint. Since Kundera supports multiple databases and
em.createNativeQuery("queryString",DummyClass.class);  would be required to explicitly map to specific client(whether Cassandra,MongoDB etc) in case of polyglot persistence.

However in case of single persistence unit it should be supported to default one. Will analyze and get it fixed with 2.10 release

-Vivek

[2014-01-24 14:37] pdirksen commented on #511
The cause is a duplicate yes.

[2014-01-24 15:45] pdirksen opened #515 "KunderaMongo - Issues with JSON Serialization"
MongoDB Version: 2.2.7
Kundera: kundera-mongo 2.9

[code]

Causes:

[code]

Did I really miss something?

[2014-01-24 18:14] mevivs commented on #515
[code]

Such queries are not yet supported, only scalar values are allowed as part of Where clause(Except in case of embedded composite key). I am wondering what you exactly want by this JPQL?

-Vivek

[2014-01-24 19:24] pdirksen commented on #515
I would like to get all TestObservation objects which have a specific Feature object.

[2014-01-24 19:26] mevivs commented on #515
Since it is a bi directional association. You could query same via TestFeature as well!

-Vivek

[2014-01-25 18:56] Deepak-Vohra opened #516 "EntityManager does not get created."
If  @PersistenceContext is used to inject EntityManager  or @PersistenceUnit  used to inject EntityManagerFactory the following exception is generated.

Exception in thread "main" java.lang.NullPointerException
    at kundera.KunderaClient.create(KunderaClient.java:50)
    at kundera.KunderaClient.main(KunderaClient.java:37)

If EntityManager is created from factory as follows:
emf = Persistence.c

[2014-01-25 19:09] mevivs commented on #516
Have a look at https://github.com/impetus-opensource/Kundera/tree/trunk/examples/container/tomcat-glassfish for Container managed EM/EMF binding.

-Vivek

[2014-01-25 19:14] Deepak-Vohra commented on #516
Thanks Vivek. Not using a application/web server. The following error is fixed by updating  the javax.persistence jar  to version 2.0.

INFO: EntityManagerFactory created for persistence unit : kundera
Exception in thread "main" java.lang.NoSuchMethodError: javax.persistence.Entity
ManagerFactory.getProperties()Ljava/util/Map;

But, still getting NullPointer if injecting EM with @PersistenceContex

[2014-01-25 19:16] Deepak-Vohra commented on #516
The @PersistenceContext or  @PersistenceUnit may be used  only if using a web/application server.

[2014-01-25 20:22] Deepak-Vohra opened #517 "UPDATE and DELETE JPA does not get applied with WHERE clause"
The executeUpdate() does not apply UPDATE and DELETE queries if WHERE clause used in query.

For UPDATE with WHERE the following exception is generated.

EntityManagerFactory created for persistence unit : kundera
Exception in thread "main" java.util.NoSuchElementException

For DELETE with WHERE an error is not generated but a delete is not made.

Example too extensive to list. Shall send separate

[2014-01-26 06:01] mevivs commented on #516
@dvohra

As i said earlier, @PersistenceUnit and @PersistenceContext are for container manager entity manager or entity manager factory, For application managed em/emfs you need to use

[code]

Not sure what your case is, please share persistence.xml, entity definition and CRUD code snippet to look into this

-Vivek

[2014-01-26 06:05] mevivs commented on #517
Kundera version?
Database name/version?
share JPQL query.

[code]

Not able to understand what you mean by above statement

-Vivek

[2014-01-26 16:09] Deepak-Vohra commented on #517
Kundera version?
2.2.1
Database name/version?
Cassandra 2.04
share JPQL query.

em.createQuery( "UPDATE Catalog c  SET c.author = 'Kelly, David A.'  WHERE c.catalogId='catalog1'") .executeUpdate();

em.createQuery( "DELETE FROM Catalog c WHERE c.title='Engineeering As a Service'").executeUpdate();

For DELETE with WHERE an error is not generated but a delete is not made.

Not able to understand wh

[2014-01-29 07:18] mevivs commented on #507
Are we good to close on this?

-Vivek

[2014-01-29 08:39] #479 closed, assigned to mevivs

[2014-01-29 08:47] mevivs commented on #517
Hi,
2.2.1 is quite old release. Latest released version is 2.9.1. Here i am sharing a junit quite similar to what you are trying at your end. Here it is:
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/src/test/java/com/impetus/client/crud/UpdateDeleteJPQLLiteralTest.java

Hope it helps.

-Vivek

[2014-01-29 08:49] mevivs commented on #516
Are we good to close on this?

-Vivek

[2014-01-29 08:50] mevivs commented on #514
Moving for 2.11 release. For non polyglot cases , will asses and post an update.

-Vivek

[2014-01-29 16:11] Deepak-Vohra commented on #516
Yes. Thanks Vivek for the DELETE with WHERE example.

[2014-01-29 17:37] #516 closed, assigned to mevivs

[2014-01-29 19:16] tarang-dawer commented on #470
Verified & working.

[2014-01-29 19:16] tarang-dawer commented on #469
Verified & working.

[2014-01-29 19:16] tarang-dawer commented on #468
Verified & working.

[2014-01-31 08:10] mevivs commented on #514
Support has been added for em.createNativeQuery(jpaQuery) and releasing with 2.10

[code]

Alternative you may also use @NamedNativeQuery to define such native queries and use as follows:

[code]

[code]

Hope it helps.

-Vivek

[2014-01-31 17:17] msfbrasil opened #518 "Invalid stream header while retrieving an EmbeddedId using Kundera 2.9"
Hello there!

I'm migrating the persistence API of an application from "Hector API" to "Kundera".

Application is pretty simple and have only two entities.

It was very ease to create the DAO for both entities with all common operations using Kundera (version 2.9).

The problem occurs on all operations that involve the reading the entity that has an EmbeddedId (or composite key on Cassandra).
This

[2014-01-31 17:23] mevivs commented on #518
Data persisted via Kundera or was already available with database?

-Vivek

[2014-01-31 17:24] mevivs commented on #518
Please share your entity definition as well

-Vivek

[2014-01-31 17:46] msfbrasil commented on #518
Hi and thanks for the help!

We are starting with the database from scratch.
I've just installed Cassandra and created the model using "cqlsh". Versions of them follow below:

[cqlsh 4.1.0 | Cassandra 2.0.4 | CQL spec 3.1.1 | Thrift protocol 19.39.0]

Entities were created with commands:

CREATE TABLE tags (id text PRIMARY KEY, backend text, customer_id text, entity text, location text, ip text, m

[2014-01-31 17:48] mevivs commented on #518
I am trying at my end. Till the time Please try by changing

[code]

to

[code]

If it works.

-Vivek

[2014-01-31 18:24] mevivs commented on #518
Hi,
This is what i have tried.

[code]

[code]

CRUD snippet

[code]

cql3 output

![image](https://f.cloud.github.com/assets/456249/2053271/cab82db8-8aa4-11e3-8471-3134da29c569.png)

I think issue here is:
1. same column name for timeseries embedded id and embeddable attribute "id"

Hope it helps.

-Vivek

[2014-01-31 18:40] msfbrasil commented on #518
Man...

I was trying to debug it here...
Getting into the deep of Kundera when I saw your response...

I was a little sceptic because of the nature of the "fix" :-p, but I changed it and it worked perfectly.

Thanks a lot!
You saved my weekend :-D.

Best regards,
Mauro.

[2014-01-31 18:54] mevivs commented on #518
Reason for this issue is , you cannot have two 2 columns(nested column) with same name

Closing it.

-Vivek

[2014-01-31 18:54] #518 closed, assigned to nobody

[2014-01-31 18:57] #517 closed, assigned to mevivs

[2014-01-31 18:59] mevivs commented on #509
Fixed and releasing with 2.10

-Vivek

[2014-01-31 18:59] #509 closed, assigned to mevivs

[2014-01-31 18:59] mevivs commented on #494
Fixed and Releasing with 2.10.

[2014-01-31 18:59] #494 closed, assigned to mevivs

[2014-01-31 19:00] mevivs commented on #380
Fixed and releasing with 2.10

[2014-01-31 19:00] #380 closed, assigned to nobody

[2014-01-31 19:01] mevivs commented on #484
Releasing with 2.10

-Vivek

[2014-01-31 19:01] #484 closed, assigned to nobody

[2014-01-31 19:02] #454 closed, assigned to mevivs

[2014-01-31 19:02] #456 closed, assigned to nobody

[2014-01-31 19:02] #460 closed, assigned to nobody

[2014-01-31 19:02] #474 closed, assigned to mevivs

[2014-01-31 19:02] #476 closed, assigned to nobody

[2014-01-31 19:02] #478 closed, assigned to chhavigangwal

[2014-01-31 19:02] #480 closed, assigned to mevivs

[2014-01-31 19:05] #445 closed, assigned to chhavigangwal

[2014-01-31 19:05] #426 closed, assigned to mevivs

[2014-01-31 19:06] mevivs commented on #208
Support for bean validation has been added in this 2.10

-Vivek

[2014-01-31 19:06] #208 closed, assigned to nobody

[2014-01-31 19:07] mevivs commented on #453
Fixed and releasing 2.10.

support for createContainerEntityManagerFactory() has been added.

-Vivek

[2014-01-31 19:07] #453 closed, assigned to nobody

[2014-01-31 19:08] mevivs commented on #514
Support has been added and releasing with 2.10

-Vivek

[2014-01-31 19:08] #514 closed, assigned to mevivs

[2014-01-31 19:10] msfbrasil commented on #518
Thanks a lot for sharing the reason.
It's good to know.

Thanks again for the help and have a good weekend.
Mauro.

[2014-02-03 06:58] #507 closed, assigned to nobody

[2014-02-03 07:02] #502 closed, assigned to nobody

[2014-02-03 07:09] mevivs commented on #389
This is supported with 2.10 and now it is also possible to plugin other cache frameworks with Kundera as well.

-Vivek

[2014-02-03 07:09] #389 closed, assigned to nobody

[2014-02-04 06:29] mevivs commented on #513
Are we good to close on this?

-Vivek

[2014-02-04 06:29] mevivs commented on #508
Are we good to close on this?

-Vivek

[2014-02-04 06:30] mevivs commented on #486
Are we good to close on this?

-Vivek

[2014-02-04 07:08] #336 closed, assigned to nobody

[2014-02-04 14:52] jfgosselin opened #519 "EntityManagerImpl constructor, bug in Kundera 2.10"
The constructor EntityManagerImpl calls the method getPersistenceUnit() in the debug log but factory is no initialized yet.

[code]

[2014-02-04 15:22] jfgosselin opened #520 "MetamodelConfiguration.loadEntityMetadata bug with resource URL"
In com.impetus.kundera.configure.MetamodelConfiguration when reader.getResourceIterator is called, the resource URL is e.g file:/C:/projects/svn/storage/target/classes
(no "/" at the end).

[code]

Because the URL doesn't contain a "/" at the end, getResourceIterator will return a JarFileIterator instead of a ClassFileIterator.
The issue was introduced in 2.10. In 2.9, PersistenceXMLLoader.getPers

[2014-02-04 16:10] mevivs commented on #520
Will plan a patch release for this.

-Vivek

[2014-02-04 16:14] mevivs commented on #519
Planned with a patch release in couple of days

-Vivek

[2014-02-05 06:44] mevivs commented on #400
With 2.10 release , it is possible to provide external persistence.xml file path as well.

[2014-02-05 06:44] #400 closed, assigned to nobody

[2014-02-05 07:04] mevivs commented on #148
Are we good to close on this? I believe it is a discussion thread.

-Vivek

[2014-02-06 05:46] kkmishra commented on #520
Could you please provide some more brief about your scenario.
Running inside container or outside and use case which you trying.

Thanks
Kuldeep

[2014-02-06 07:57] kkmishra commented on #506
Looks like issue #519 , Fixed in current trunk branch.
Please verify.

Thanks
Kuldeep

[2014-02-06 17:01] jfgosselin commented on #520
I'm using Kundera Cassandra with Spring Data JPA.

When the EntityManagerFactory is created via KunderaPersistence.createEntityManagerFactory(String persistenceUnit, Map map) it works but for my scenario KunderaPersistence.createContainerEntityManagerFactory(PersistenceUnitInfo info, Map map) is invoked.

For my scenario puInfo.getPersistenceUnitRootUrl() will return e.g. : file:/C:/projects/svn/s

[2014-02-06 21:20] mxk1235 opened #521 "In-memory mock db for testing"
May application is switching from using MySql to using Cassandra.  In the past, I was able to run unit tests in my app by creating a fresh instance of derby in memory, which would be gone after all my tests finished.   Here is a sample persistence config for doing this with JPA/Derby.

"javax.persistence.jdbc.driver": "org.apache.derby.jdbc.EmbeddedDriver",
"javax.persistence.jdbc.url": "jdbc:derb

[2014-02-07 00:24] mxk1235 commented on #521
Fwiw, the current workaround that I found was to start an EmbeddedCassandraService and configure kundera.nodes="localhost".  I don't like this solution very much because it still uses a system-wide resource (port), but I am willing to live with it for now.

[2014-02-07 13:17] msfbrasil opened #522 "FindByExample with Kundera 2.9"
Hello there!

I'm creating a generic DAO implementation to access Cassandra using Kundera 2.9.
Everything is fine until now.

Kundera is great, by the way :-D.

All basic operations are "up and running", and now I was trying to add a generic "findByExample" when I've got the message below:

org.apache.commons.lang.NotImplementedException: Criteria Query currently not supported by Kundera

Question

[2014-02-07 13:53] impetus-opensource-admin commented on #522
[code]

Yes. https://github.com/impetus-opensource/Kundera/issues/118

[code]

You may use em.createNativeQuery(),em.createQuery() or em.createNamedQuery(). You may refer these for examples:
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/src/test/java/com/impetus/kundera/query/ResultIteratorTest.java

https://github.com/impetus-opensource/Kundera/blob/trunk/src/kund

[2014-02-07 16:11] msfbrasil commented on #522
Thanks a lot for the information Vivek.

The examples are nice, but I want to build a generic "findByExample" (valid for any entity, or at least to handle the "flat" and very simple entities we have now).

Thanks anyway.
The examples to create the queries will be quite useful.

[2014-02-08 14:22] MazizEsa commented on #174
Hi Vivek.
I've tried with kundera 2.8 and created the table / column family via CQL. The problem still persist.
It is ok if I've created the table using cassandra-cli.
Please advise.

[2014-02-08 14:53] MazizEsa commented on #174
I've found out that, if you've created with CQL and included "WITH COMPACT STORAGE" in the create table statement, you can insert data fine. My understanding it should work regardless of the "With Compact Storage" option?

[2014-02-08 15:39] mevivs commented on #174
Please use one of them either CQL3 or thrift.  "WITH COMPACT STORAGE" is for thrift compatible column families.

-Vivek

[2014-02-08 15:48] MazizEsa commented on #174
Sorry, when you mentioned use either CQL3 or thrift, what are you referring to? and where to change this setting?

[2014-02-08 16:02] mevivs commented on #174
If you are creating column families via CQL3, please use CQL3 via Kundera for dml operations. Similarly if column families created via thrift, please use thrift for the same.

[code]

Have a look at:
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/src/test/java/com/impetus/client/crud/compositeType/CassandraCompositeTypeTest.java

It is also possible to set it while

[2014-02-08 23:31] MazizEsa commented on #174
Thanks Vivek. It's working after changing the mentioned setting.

Regards,
Maziz.

[2014-02-10 19:28] FangmingD commented on #110
Is the "Composite keys support" working now for Hbase???

I'm trying to use the example for Cassandra to Hbase, but met an error

[2014-02-10 19:31] mevivs commented on #110
Not yet supported. planned with 2.11 .

-Vivek

[2014-02-12 18:55] dzalbo commented on #205
After a couple of hours I've finally succeeded to prepare some changes to "OSGfy" Kundera

1) Added a compliant Manifest

2) Did a very quick workaround around ClassLoader to load META-INF/persistence.xml from other bundles

3) Entity classes are loaded via DynamicImport-Package: *,  which is not good. But turned out to be a quick fix for now..

4) Also added an Activator to comply with OSGI JPA (

[2014-02-12 19:05] mevivs commented on #205
@dzalbo
:+1:
Great!
Please share your pull request and let me have a look and plan with 2.11

[2014-02-13 01:59] xdavidjung opened #523 "Executing update with ANDs and ORs incorrectly transformed into broken select query"
When executing this query:

UPDATE Secret s SET s.revoked=true WHERE s.id.client_name = test_client AND s.id.secret_name = 'test_secret_2' OR s.id.secret_name = 'test_secret'

I get this error when I hit query.executeUpdate():
    2014-02-12 17:56:54 ERROR CassandraClientBase:1925 - Error during executing query SELECT \* FROM "secret" WHERE "client_name" = 'test_client' AND "secret_name" = 'test_s

[2014-02-13 02:43] xdavidjung commented on #523
Nevermind, didn't realize Kundera didn't support OR for Cassandra.

[2014-02-13 02:43] #523 closed, assigned to nobody

[2014-02-13 07:00] mevivs opened #524 "Support AES, RSA encryption with kundera-rest"
Current Kundera rest api offers session token based access to data layer. Support for AES, RSA based encryption should also be enabled.

[2014-02-13 10:19] mevivs commented on #522
Closing it as support for Criteria queries can be tracked with #118

-Vivek

[2014-02-13 10:19] #522 closed, assigned to nobody

[2014-02-13 10:20] mevivs commented on #521
Are we good to close on this?

-Vivek

[2014-02-13 10:21] mevivs commented on #519
Fixed on current trunk

-Vivek

[2014-02-13 21:00] mxk1235 commented on #521
is this a feature you'd rather not support?

[2014-02-13 21:12] msfbrasil opened #526 "kundera.client missing with external configuration"
Hello there!

I'm using Kundera 2.9 on an application to access a Cassandra database.
Everything was completely fine before change below:

I'm migrating all properties present on "persistence.xml" to an external file and getting them set on "EntityManagerFactory" instantiation.

Code is below:
#

Map<String, String> propertyMap = new HashMap<String, String>();

propertyMap.put(CassandraConstants.C

[2014-02-13 23:19] mevivs commented on #521
In case of Cassandra, you need to enable EmbeddedCassandraService for in-memory Cassandra daemon thread. Same goes with HBase, mongoDB as well.

Feature has been supported as the way provided by Cassandra api itself!

HTH,
-Vivek

[2014-02-14 00:11] mxk1235 commented on #521
I agree that this is not an issue, but rather a feature parity request, since other JPA implementations allow you to do this without starting up your own cassandra thread, and thus not making me use a separate code path just for testing.

but i understand that it might messes with kundera code too much.  no problem if you'd like to close it.

[2014-02-14 09:08] chhavigangwal commented on #506
Looks like issue is more specific to CDI configuration. Same is being discussed on google group  https://groups.google.com/forum/#!topic/kundera-discuss/spkIZnKYNdQ. We are looking into this.

[2014-02-14 11:45] msfbrasil commented on #526
Hello there!

Another peace of information that could be useful is the stack prior to exception thrown regarding the missing configuration, that is:

#

PersistenceUnitMetadata.getClient() line: 540
MetamodelConfiguration.processGeneratedValueAnnotation(Class<?>, String, EntityMetadata, Map<String,IdDiscriptor>) line: 506
MetamodelConfiguration.scanClassAndPutMetadata(InputStream, Reader, Map<Stri

[2014-02-14 12:20] msfbrasil commented on #526
Hello there!

One place that externally provided properties could be "merged" to "loaded by file" properties of "PersistenceUnitMetadata" definitions coud be at "loadEntityMetadata" method right after code block below:

#

PersistenceUnitMetadata puMetadata = persistentUnitMetadataMap.get(persistenceUnit);
classesToScan = puMetadata.getManagedClassNames();
managedURLs = puMetadata.getManagedURLs()

[2014-02-14 12:25] mevivs commented on #526
Hi,
I will have a look and get back to you in few minutes.

-Vivek

[2014-02-14 12:35] msfbrasil commented on #522
Hello there!

I don't know if this could be of any help to anyone.

And I don't know if this is the place to post such kind of code, but I've created a helper class to help me to create the "so called" generic "findByExample". :-p

Its limited to what I've needed here (flat entities with EmbeddedId - for composite keys - support at most).
It's not something hard to do, and I don't know if it's at

[2014-02-14 12:46] mevivs commented on #526
Given below code snippet looks problematic to me:

[code]

In case of auto id generation, this would happen. However it should work fine  with non @GeneratedValue entities.

Fix for this issue is:

[code]

I will check-in this fix after some refactoring. But i guess it should work for you

-Vivek

[2014-02-14 12:55] mevivs commented on #522
Please submit a pull request and let me have a look on it, will see if we can reuse the same with JPA criteria query implementation.#118

-Vivek

[2014-02-14 13:06] msfbrasil commented on #526
Hello Vivek, and thanks for the help!

The problem is at "getClient" method called on line below:

String clientFactoryName = KunderaMetadataManager.getPersistenceUnitMetadata(kunderaMetadata,
                m.getPersistenceUnit()).getClient();

Inside method "processGeneratedValueAnnotation".

The "getClient" validates the existence of "kundera.client.lookup.class" property on "PersistenceUnit"

[2014-02-14 14:05] msfbrasil commented on #526
Just one little peace of information.

I'm considering here that something will need to be changed (and a new version released), because the dynamic configuration is "not" working here because of the problem reported above.

Please, let me know If I'm doing something wrong.

Thanks a lot and best regards,
Mauro.

[2014-02-14 15:14] mevivs commented on #526
As mentioned above, it needs a fix and i will post an update once check-in this in current trunk

[2014-02-14 15:26] msfbrasil commented on #522
Vivek, the helper I've mentioned is really a simple peace of code that is completely unrelated with Kundera code.

It would be considerably easier to me place it here if I can't attach it by some other mean.
And the code will be broken because I'll need to remove some dependencies, not relevant for the understanding and usage, and codes related with our product.

Is it possible just to place the c

[2014-02-14 15:30] msfbrasil commented on #526
I was just clarifying that it don't work for me (because of your comment "But i guess it should work for you"). Just that.

I'll wait the fix.

Thanks a lot and best regards.

[2014-02-17 15:46] gurkerl83 opened #527 "@Embeddable not working on kundera-neo4j"
Hi, is it possible to use @Embeddable, @Embedded and @EmbeddedId with kundera-neo4j - 2.10? Trying the mentioned Annotations Neo4jClient is throwing

java.lang.IllegalArgumentException: Unknown property type on: , class "@Embeddable Entity"

at org.neo4j.kernel.impl.nioneo.store.PropertyStore.encodeValue(PropertyStore.java:582)[120:neo4j-kernel:1.9.05]
    at org.neo4j.kernel.impl.nioneo.xa.WriteT

[2014-02-17 18:44] mevivs commented on #527
Could you please share entity definitions?

-Vivek

[2014-02-18 15:03] msfbrasil opened #528 "Kundera don't allow "persistence.xml" in another place"
Hello there!

In order to have an alternative to dynamically load the persistence configurations from an external properties file (issue #526 at "https://github.com/impetus-opensource/Kundera/issues/526"), I've tried to load the "persistence.xml" itself from another place.

I've found a very simple solution provided by "Evgeniy Dorofeev" at "http://stackoverflow.com/questions/13717324/is-it-possib

[2014-02-18 15:42] mevivs commented on #528
Hi,
please have a look at https://github.com/impetus-opensource/Kundera/issues/453

With 2.10 onwards it is possible to provide external persistence configuration properties.

[code]

this is as per JPA.

You may use Spring PersistenceUnitManager to load these configuration explicitly.

-Vivek

[2014-02-18 17:48] msfbrasil commented on #528
Thanks a lot Vivek, and sorry by posting a duplicate.

I've noticed that version 2.10 isn't available at "https://server.oosnmp.net/dist/release/" maven repository yet.

Could you please tell me if and when it will be available?

Thanks again and best regards,
Mauro.

[2014-02-18 17:58] mevivs commented on #528
I think you should be able to download it from https://oss.sonatype.org/content/repositories/releases.
given below settings should work for you:

[code]

-Vivek

[2014-02-18 18:18] msfbrasil commented on #522
Hello there, Vivek!

I've got stuck with the option to get the code and make a "pull request", so I've decided by the hybrid approach below.

First I've posted the helper class that, given an example (entity with some values) and the entity's class, it builds a map with the name only of the fields that have valid values (by valid, I mean "not null").

This helper is at: "http://codetidy.com/8206/"

[2014-02-18 18:24] mevivs commented on #522
@msfbrasil
Thanks. I am planning to have a look on this in a day or two and will share my thoughts on this

Sincerely,
-Vivek

[2014-02-18 18:39] msfbrasil commented on #528
Sorry Vivek, my bad.
I've posted the wrong link.

Just checking it out.

I've noticed that version 2.10 is available at "com/impetus/kundera/2.10/" relative path, but what I couldn't find is "com/impetus/core/kundera-core/2.10" and "com/impetus/client/kundera-cassandra/2.10" which are the libraries that I'm using, in fact.

[2014-02-19 12:22] dzalbo opened #529 "Lower case Enum constants do not work"
I accidentally used lower case in defining Enum constants, which is allowed in Java, but fails to work in Kundera

Because EnumAccessor does toUpperCase(), it can never find proper enum constant and fails.

this might cause some headache

[2014-02-19 12:24] mevivs commented on #529
I will have a look and fix it.

Thanks,
-Vivek

[2014-02-19 13:51] msfbrasil opened #530 "Problems with "IN" clause on Kundera 2.10 ..."
Hello there!

I've tried to validate the use of "IN" clause on new 2.10 version of "Kundera", but got the following problems:
#

19 Fev 2014 10:21:18 [main] INFO  com.impetus.client.cassandra.CassandraClientBase.executeQuery - Executing query SELECT \* FROM "tags" WHERE token("id") IN ('[teste1', 'teste2', 'qq coisa]') LIMIT 1000000.
19 Fev 2014 10:21:18 [main] ERROR com.impetus.client.cassandra.C

[2014-02-19 13:54] mevivs commented on #530
Running as a native CQL3 query or as a JPQL?

-Vivek

[2014-02-19 14:07] msfbrasil commented on #530
I've used the following configuration to initialize the "EntityManagerFactory":

propertyMap.put(CassandraConstants.CQL_VERSION, CassandraConstants.CQL_VERSION_3_0);

So, CQL3, right?

Thanks!

[2014-02-19 14:10] mevivs commented on #530
Correct.
executing via em.createNativeQuery or em.createQuery?

em.createNativeQuery is to execute CQL3 queries in native way. whereas em.createQuery is for JPQL queries with in clause

Please share code snippet and let me have a look.

-Vivek

[2014-02-19 14:22] msfbrasil commented on #530
Code follows below:

#

public List<ConfigurationTag> findByIds(List<String> configurationTagIdsList) {

[code]

}

#

Thanks and best regards,
Mauro.

[2014-02-19 14:38] mevivs commented on #530
As per JPA, setParameter should match data type of entityName.id ( i assume it is not of type list).
Support such as setParameterList needs to be added explicitly added in Kundera to enhance query support.

Marking it as an enhancement.

-Vivek

[2014-02-19 14:58] msfbrasil commented on #530
I forgot to mention that the "id" field is a String.
Is it a problem?

Will a fix be provided to consider use of "IN" clause with String fields, or you will left this to "setParameterList" enhancement?

Thanks and best regards,
Mauro.

[2014-02-19 15:08] mevivs commented on #530
Queries such as
        inClause = "Select u from CassandraPrimeUser u where u.key.userId IN (\"mevivs\",\"cgangwal's\",\"kmishra\") ORDER BY tweetId ASC";

should work.

I will get it fixed for setParameter in current trunk, but support for setParameterList() needs to planned.

HTH,
-Vivek

[2014-02-19 17:13] msfbrasil commented on #453
Does anyone have an example or code snippet using "createContainerEntityManagerFactory()" in order to allow to place "persistence.xml" file in another place?
Put it on "/opt/my-application/conf/persistence.xml", for example?

Thanks and best regards,
Mauro.

[2014-02-19 18:00] msfbrasil commented on #530
Just trying to understand it here :-D
You've suggested to provide an formated string on "setParameter", instead of the list itself, right?

*\* Format includes: "," as per string item separator and "\\"" as string delimiter.

I just tried that and the query logged was:

SELECT \* FROM "tags" WHERE token("id")INtoken('\"teste1\",\"teste2\",\"qq coisa\"') LIMIT 1000000

Which cause the exception bel

[2014-02-19 18:14] msfbrasil commented on #528
Just a feedback.
I didn't noticed that the "groupid" changed. I was looking at the wrong place.

I've noticed that just today while build from sources. :-p

Best regards,
Mauro.

[2014-02-20 08:19] mevivs commented on #529
Fixed on current trunk.

-Vivek

[2014-02-20 11:37] mevivs commented on #526
A fix has been added for this on current trunk. Please verify with latest snapshot.

-Vivek

[2014-02-20 11:48] janinko opened #532 "Neo4j kundera.datastore.file.path - what is it?"
What is `kundera.datastore.file.path` property in persistence.xml for?

It says "For Neo4J, it's mandatory to specify kundera.datastore.file.path property in persistence.xml" (BTW exception with this message is caught in KunderaPersistence and thrown away, so I needed to debug Kundera do get to it), but I don't know what should I set there.

[2014-02-20 11:52] mevivs commented on #532
Kundera currently supports embedded Neo4J server.  `kundera.datastore.file.path` is local/remote  path to file system directory. It is mandatory if using Kundera with Neo4J only.

-Vivek

[2014-02-20 11:58] janinko commented on #532
So it doesn't support standalone Neo4J server?

[2014-02-20 12:03] janinko opened #533 "Changed GroupID without notice"
It seems to me that groupid changed between versions 2.9 an 2.9.1 and there is no information about this. On https://github.com/impetus-opensource/Kundera/wiki/Stable-Release page there is:

[code]

but it looks like it is now:

[code]

[2014-02-20 12:17] msfbrasil commented on #526
I'm getting this error while building "2.11-SNAPSHOT":

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:2.5.1:testCompile (default-testCompile) on project kundera-cassandra: Compilation failure
[ERROR] /home/ima_mbrasil/projects/github/Kundera/Kundera/src/kundera-cassandra/src/test/java/com/impetus/client/crud/BaseTest.java:[50,20] error: cannot find symbol
[ERROR] ->

[2014-02-20 12:20] mevivs commented on #533
https://github.com/impetus-opensource/Kundera/blob/trunk/src/README.md#note

We did publish it as part of release email as well.

-Vivek

[2014-02-20 12:22] mevivs commented on #526
You need to manually build snapshot

-Vivek

[2014-02-20 12:23] mevivs commented on #533
Same is available on https://github.com/impetus-opensource/Kundera/wiki/Getting-Started-in-5-minutes as well

HTH,
-Vivek

[2014-02-20 12:23] janinko commented on #533
Ok, sorry about the part with no information, but I think the wiki https://github.com/impetus-opensource/Kundera/wiki/Stable-Release should be changed.

[2014-02-20 12:28] mevivs commented on #533
I will have a look, will add over there as well

-Vivek

[2014-02-20 12:50] msfbrasil commented on #526
Tested and working pretty fine.

Thanks and best regards,
Mauro.

[2014-02-21 20:17] dtraverso opened #534 "Kundera + Jave EE (CDI) + JBoss 7.2 = Persistence Unit not found."
Hello,

We are encountering an issue that appears to be specific to deployment on JBoss 7.x (7.2 used in example). I have uploaded a sample Java EE 6 webapp to a public BitBucket git repo to exhibit the erroneous behavior.

KunderaJbossCDI sample webapp Java EE stack:
- JPA Provided by Kundera (Cassandra)
- CDI container provided
- JAX-RS Jersey provided

Prereqs:
- local Cassandra DB (we used 2.0

[2014-02-21 20:29] dtraverso commented on #534
An additional concern I'd like to point out. Per the documentation on Kundera GitHub Wiki, we have configured our persistence.xml with the property:

property name="jboss.as.jpa.managed" value="false"

I am wondering if perhaps for Java EE environment this is creating an issue that is absent in your provided sample Spring based data-keeper app? However, removing it did not seem to fix the issue..

[2014-02-24 06:32] mevivs commented on #534
Hi,
I will have a look and get back to you on this.

Sincerely,
-Vivek

[2014-02-24 08:13] lburgazzoli commented on #205
Great!

Once ready, I'll try to add an example on my Karaf JPA Examples repository (https://github.com/lburgazzoli/lb-karaf-examples-jpa).

[2014-02-25 13:51] jfgosselin commented on #385
Hi Vivek,

Are you adding support for the Datastax java driver ?

JF

[2014-02-25 14:05] mevivs commented on #385
Yes. I have started work on it

-Vivek

[2014-02-25 14:45] janinko opened #535 "Problems with Kundera Neo4j on JBoss EAP 6.1.1"
Hi,

I encountered some problems when trying to make Kundera with Neo4j working for EAP 6.11. I was trying Kundera versions 2.10 and 2.11-SNAPSHOT of 25ede9fa7e7514188ed35a83aa576e7633cc221b.

In my persistence.xml:

[code]

When trying to deploy, it failed with:

[code]

---

Then I removed line with `jboss.as.jpa.managed` from the peristence.xml.
Whith Kundera 2.10 I got following error when the

[2014-02-25 16:30] mevivs commented on #535
Can you please verify, if you have multiple lucene-core jars in classpath. AFAIK, kundera-neo4j is using neo4j 1.8.1 and lucene-core 's 3.5.0 only

-Vivek

[2014-02-25 16:59] gmatej opened #536 "kundera.client property is missing for persistence unit, version 2.10"
When testing kundera 2.10 with tomee 1.6 I get an exception like this:
java.lang.IllegalArgumentException: kundera.client property is missing for persistence

Similliar to this SO post. Alzough I am not using spring.
http://stackoverflow.com/questions/21700915/error-kundera-client-property-is-missing-for-persistence

When changing to 2.9.1, everything works.

[2014-02-25 18:02] mevivs commented on #536
Defining persistence properties as part of persistence.xml or as an external property map?

-Vivek

[2014-02-25 20:31] gmatej commented on #536
Yes, as persistence.xml file

Matej

[2014-02-26 03:53] mevivs commented on #536
Please share crud code snippet and persistence.xml

-Vivek

[2014-02-26 08:36] gmatej commented on #536
It's very simple setup. Altough I have 2 PU units. Today I reproduced the problem, only cganging version number from 2.9.1 to 2.10. Produces me the kundera.client property error.

 @GET
    public Response getResources() {

[code]

[2014-02-26 08:40] mevivs commented on #536
Thanks. Could you please email me sample project at vivek.mishra@impetus.co.in for quick resolution?

-Vivek

[2014-02-26 14:55] janinko commented on #536
I had the same issue with 2.10. Isn't there a inverted condition here?
https://github.com/impetus-opensource/Kundera/blob/kundera-2.10/src/jpa-engine/core/src/main/java/com/impetus/kundera/configure/PersistenceUnitConfiguration.java#L133

[2014-02-26 15:22] janinko commented on #535
I packaged it with com.impetus.kundera.core:fallback-impl witch comes with lucene 4.4.0.
When I packaged it withoud fallback-impl there was lucene 3.5.0 from kundera-neo4j, but when deploying I was getting `ClassNotFoundException` for `com.impetus.kundera.cache.ehcache.EhCacheProvider` which I found in the fallback-impl.

[code]

Should I use something different in persistence.xml then this?

[cod

[2014-02-26 15:35] mevivs commented on #536
Duplicate of https://github.com/impetus-opensource/Kundera/issues/526?

-Vivek

[2014-02-26 15:36] voom opened #537 "KunderaQuery doesn't support parentheses in clause"
If I pass a complex query with parentheses KunderaQuery throws exception:
"No column found by this name :  ( my_property. Check your query."
I suppose this happens because bracket is not excluded when trying to find such a column.

[2014-02-26 15:42] mevivs commented on #535
Do you need to enable L2 cache? if not, then you can disable this property

[code]

from persistence.xml

https://github.com/impetus-opensource/Kundera/wiki/Troubleshooting (point 3)

Else, i suggest to exclude  lucene-core dependency with fallback-impl dependency as:

[code]

[2014-02-26 15:44] mevivs commented on #537
Work in progress to fix issues with IN clause.

https://github.com/impetus-opensource/Kundera/issues/530

-Vivek

[2014-02-26 15:55] janinko commented on #535
Ok, I disabled it and now it deployed. But I'm getting followong error when trying to use entityManager.persist()

[code]

[2014-02-26 17:46] mevivs commented on #535
transaction-type attribute in persistence.xml is set to "JTA" ?
If yes, you need to bind it as transaction resource.
In case of Tomcat

http://tomcat.apache.org/tomcat-7.0-doc/jndi-resources-howto.html

<Transaction> - Add a resource factory for instantiating the UserTransaction object instance that is available at java:comp/UserTransaction.

[code]

HTH,
-Vivek

[2014-02-26 18:21] tsbatista commented on #536
I have the same use case as this. If i set the property, i get the exception mentioned by janinko. If i unset it from my persistence.xml, i get the message from https://github.com/impetus-opensource/Kundera/blob/kundera-2.10/src/jpa-engine/core/src/main/java/com/impetus/kundera/metadata/model/PersistenceUnitMetadata.java#L532

Looking at both conditions, I would say that even if this is related to

[2014-02-26 18:25] mevivs commented on #536
With fix provided for #526, i guess, additional check on
https://github.com/impetus-opensource/Kundera/blob/kundera-2.10/src/jpa-engine/core/src/main/java/com/impetus/kundera/metadata/model/PersistenceUnitMetadata.java#L532

https://github.com/impetus-opensource/Kundera/blob/kundera-2.10/src/jpa-engine/core/src/main/java/com/impetus/kundera/configure/PersistenceUnitConfiguration.java#L133

not req

[2014-02-26 18:46] tsbatista commented on #536
I think this particular issue is now solved.  That was fast!!!

Thank you

[2014-02-26 23:11] tarunsas opened #538 "Getting exception when using kundera.ddl.auto.prepare as validate"
Hi,

Posted on google code also.

Exception stack trace

We have an Entity with composite columns using @EmbeddedId, when we try to use ddl.auto.prepare with validate, it throws an error.

Even though the column family exists in keyspace, it is not able to find it.

15:31:20,411 ERROR CassandraSchemaManager:438 - Error occurred while validating grid, Caused by: .
com.impetus.kundera.configure.sche

[2014-02-27 01:38] mevivs commented on #538
Looking into this and will post an update.

-Vivek

[2014-02-27 01:43] mevivs commented on #538
Looks like duplicate of https://github.com/impetus-opensource/Kundera/issues/500

-Vivek

[2014-02-27 09:28] gmatej commented on #536
Vivek.

Is this issue closed or would you need the small project still?
Btw, this is sure OK?
            if (puInfo.getProperties().getProperty(PersistenceProperties.KUNDERA_CLIENT_FACTORY) != null)

Best regards

Matej

[2014-02-27 09:43] mevivs commented on #536
Yes, i guess it should work. Could you please verify it with latest trunk?

-Vivek

[2014-02-27 11:16] mevivs commented on #538
Hi,
Fix has been added for this issue. Reason for this issue:
1. kundera.ddl.auto.prepare with "validate" option is now supporting CQL3 based columnfamilies(tables), earlier it was not.

Please have a look at:
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/cassandra-core/src/test/java/com/impetus/client/schemamanager/CassandraSchemaManagerTest.java#L133

You need to

[2014-02-27 11:19] mevivs opened #539 "Issue with Columnfamily/Table created having CQL3 enabled"
Even if

[code]

While managing schema via Kundera with kundera.ddl.auto.prepare with "create", Column family/table created is having row key name as "key" and ignoring @Column annotation or attribute  name over @Id attribute.

[2014-02-27 11:55] pires commented on #536
I said this before, but here I come again. It would be great if commits would reference issues in the commit logs. That way, people could know what changes have been made to fix an issue, and eventually participate in reviewing it.

[2014-02-27 11:57] mevivs commented on #536
As mentioned above, duplicate of #526. Indirectly fixed with https://github.com/impetus-opensource/Kundera/issues/526. Commit history is available over there.

-Vivek

[2014-02-27 14:05] tarunsas commented on #538
Vivek,

We are using 2.9.1, so which version we need to migrate to ? . Also will it be published to public repository?

Thanks
sriram

[2014-02-27 16:38] mevivs commented on #538
Issue is fixed on latest trunk. You need to manually build it.

-Vivek

[2014-02-27 18:48] tarunsas commented on #538
Can you give me the link to check out and test it? Also what will be timeline and version number for next release.

[2014-02-27 18:59] mevivs commented on #538
2.11 is slated to release around 21st March.

Steps to build snapshot locally:
1. git clone https://github.com/impetus-opensource/Kundera.git
2. mvn clean install -DskipTests
3. change dependency version to 2.11-SNAPSHOT

-Vivek

[2014-02-27 20:44] tarunsas commented on #538
Thanks vivek,

When build and use 2.11-SNAPSHOT.

We get lot of our tests failing, especially i see when i have OneToMany. It is failing.

@Entity
@Table(name = "EdgeUverseInfo", schema = "grid@cassandra_pu")
public class EdgeUverseInfo implements Serializable {

[code]

persistence.xml

Note: This is failing against embedded cassandra.(>1.2)

14:35:57,237  INFO CassandraClientBase:1039 - Returnin

[2014-02-28 04:24] mevivs commented on #538
Issue with this query is:
INSERT INTO "WorkRequest"("workRequestId","key","workRequests","workRequests")

"workRequests" is occuring twice in CQL query, which seems incorrect.

Please share entity definition for EdgeUverseInfo and WorkRequest entities

-Vivek

[2014-02-28 07:57] gmatej commented on #536
I ahve tried it. It works.

Altough had to disable units tests:)

Thanks!

Matej

[2014-02-28 10:38] mevivs commented on #179
Reopening as support is enabled for Couchdb not for couchbase.

-Vivek

[2014-02-28 17:28] tarunsas commented on #538
@XmlAccessorType(XmlAccessType.FIELD)
@XmlType(name = "EdgeUverseInfo", propOrder = { "workRequests" })
@Entity
@Table(name = "EdgeUverseInfo", schema = "grid@cassandra_pu")
public class EdgeUverseInfo implements Serializable {

[code]

@XmlAccessorType(XmlAccessType.FIELD)
@XmlType(name = "WorkRequest")
@Entity
@Table(name = "WorkRequest", schema = "grid@cassandra_pu")
public class WorkRequest im

[2014-02-28 18:45] mevivs commented on #538
This looks ok. However this is not complete entity definition.
As per the generated insert query,

[code]

looks like 2 attributes are mapped with same name(e.g. "workRequests"). Which is causing this issue. You can't have 2 columns with same name.

Please verify if there is any other attribute either annotated with @Column(name="workRequests") present or attribute name itself is "workRequests".

[2014-02-28 18:48] tarunsas commented on #538
The same entity works with 2.9.1

attribute name is workRequests.

Entity is WorkRequest.

[2014-02-28 18:51] mevivs commented on #538
@tarunsas
I understand that it works with 2.9.1. Either provide complete entity definition and crud code snippet to reproduce it at my end. You can email me sample project at vivek.mishra@impetus.co.in

-Vivek

[2014-03-01 00:04] dtraverso commented on #534
Hi Vivek,

Just wanted to follow up and see if there's been any updates on this issue? I appreciate you looking into this matter.

Thanks,
Dario

[2014-03-01 04:56] mevivs commented on #534
Hi Dario,
I did post it over kundera-discuss but somehow missed to update here.

[code]

Still i need to work on https://github.com/impetus-opensource/Kundera/pull/525.

Hope it helps,

-Vivek

[2014-03-02 04:11] ganeshkannan commented on #385
Hi Vivek,
Adding support for Datastax driver will be really helpful. I have been looking for something like Kundera for Cassandra for a while, and I think support for Datastax driver needs to be provided so enterprises like ours can easily start adopting Kundera.

Thank you.

[2014-03-02 04:12] ganeshkannan commented on #385
Hi Vivek,
When do you think tentatively this issue will be closed?
Thanks

[2014-03-02 06:23] mevivs commented on #385
Team is working on it and first version of Data stax java driver support is planned with 2.11 release

-Vivek

[2014-03-02 10:14] mevivs opened #540 "Redis transaction Problem with AOP"
Example

---

[code]

---
## Line 1 execute successfully but line 2 failed with following exception:

redis.clients.jedis.exceptions.JedisDataException: ERR DISCARD without MULTI
at redis.clients.jedis.Protocol.processError(Protocol.java:54)
at redis.clients.jedis.Protocol.process(Protocol.java:61)
at redis.clients.jedis.Protocol.read(Protocol.java:122)
at redis.clients.jedis.Connection.getStatusC

[2014-03-02 17:16] trajar commented on #385
For those interested, I started a project 'normandra' (https://github.com/trajar/normandra) which provides a kind of 'JPA-light' API for cassandra via the DataStax 2.x driver.  It started out of a need to have simple JPA operations (but not the full stack) via the DataStax library, which at the time wasn't available with Kundera.  It reads JPA annotations, creates CQL3 schemas, and supports save/g

[2014-03-04 10:27] mevivs commented on #385
Update on this
Added first cut support. Still working to add more junits and functionalities.

How to use?
Have a look at https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/cassandra-ds-driver/src/test/java/com/impetus/kundera/client/cassandra/crud/PersonEntityTest.java

Wiki page will be published with 2.11 release.

-Vivek

[2014-03-05 16:18] yeshvanthni commented on #486
Yes

[2014-03-05 18:18] hank-cp commented on #540
HI Vivek,

Seems this issue hasn't been fixed thoroughly. If you run executeUpdate() and em.persist() in a single transaction, an exception will be thrown. And the follow transaction wouldn't be created successfully. See my updated test case.

[2014-03-06 10:52] mevivs commented on #385
Support added for most of features as:
1. Pagination
2. Id auto generation
3. Association
4. Composite key
5. Batch processing

https://github.com/impetus-opensource/Kundera/commit/a3d004344e4520937e4148611e5422a0d7dbc0b5

-Vivek

[2014-03-06 12:46] mevivs commented on #540
This seems to be an issue with underlying JedisPool API. If you comment out
<property name="kundera.pool.size.max.active" value="10" />

it should work for you.

Looking into this

-Vivek

[2014-03-06 15:15] danielfrg opened #541 "Neo4JClientFactory does not use externalProperties"
I am trying to overwrite the default `persistence.xml` settings using: `emf = Persistence.createEntityManagerFactory(db, kunderaMap);`, works fine for HBase but not for Neo4J.

I debug it a little bit and `Neo4JClientFactory.createPoolOrConnection()` is only using the persistenceUnit settings not the `externalProperties` attribute. Like this: `String datastoreFilePath = (String) props.get(Persiste

[2014-03-06 16:01] mevivs commented on #541
Looks like an issue. Planning to contribute a pull request for this?

-Vivek

[2014-03-06 16:30] danielfrg commented on #541
I tried using a different Factory based on `Neo4JClientFactory` doing something like: `<property name="kundera.client.lookup.class" value="MyFactory" />` and overwriting the `createPoolOrConnection()` method but couldn't make it work (not a Java expert). I ended up fixing it using different persistence units since it was faster for the tests I am doing, i don't like it but is working.

If I got so

[2014-03-08 00:25] vanessaschissato commented on #526
He guys,

I'm using Kundera 2.9 and setting the properties externally to pesistence.xml, like msfbrasil:

Map propertyMap = new HashMap();
...
propertyMap.put("kundera.client.config", "KunderaLoadConfig.xml");

this.entityManagerFactory = Persistence.createEntityManagerFactory(PERSISTENCE_UNIT, propertyMap);

BUT, doesn't work the "try next on fail" definied in KunderaLoadConfig.xml unless all the

[2014-03-08 06:26] mevivs commented on #526
[code]

I did not get you on this. Any example?

-Vivek

[2014-03-10 13:24] msfbrasil commented on #526
Hello there!

Maybe I can be of some help on that, given that this is an evolution of our internal development.

At some point, we have made the configuration loading of most of properties from an external properties file.
Providing these properties via a map on "EnittyManagerFactory" initialization, like show below:

---

Map<String, String> propertyMap = new HashMap<String, String>();

propertyM

[2014-03-10 16:34] pritish5699 opened #542 "ORDER BY not working with compound key."
Hi,

Here is my entity class:

@Entity
@Table(name = "box_tier", schema = "KunderaExamples@cassandra_pu")
@IndexCollection(columns = { @Index(name = "cid"), @Index(name = "admin") })
@XmlRootElement(name = "BoxTier")
@XmlSeeAlso({Date.class})
//@XmlSeeAlso({String.class,Long.class,Date.class,Integer.class,Boolean.class})
@NamedQueries({
    @NamedQuery(name="BoxTier.getByCidType",query="select bt

[2014-03-10 17:52] mevivs commented on #542
Targetting for 2.11 release.

-Vivek

[2014-03-10 17:58] mevivs commented on #526
[code]

Is it still an issue with latest trunk? I think it should load external config file property dynamically.

External configuration file are for "data store specific" configurations. For more details on this, please refer https://github.com/impetus-opensource/Kundera/wiki/Cassandra-Specific-Features

@msfbrasil
Using Kundera in production? If yes, can we publish it over https://github.com/im

[2014-03-10 18:03] vanessaschissato commented on #526
The tests were done with versions 2.9 e 2.10.
I will try with the trunk code.

[2014-03-10 22:51] poornerd commented on #118
I would love to see this, too. Is there an ETA?

[2014-03-11 02:02] pritish5699 commented on #542
Thanks Vivek.

[2014-03-11 17:57] jeevitesh opened #543 "Could not find any META-INF/persistence.xml"
hi all,
New guy to kundera need your help in running my first application in kundera
This is my folder architecture of project
SRC
 |- com.junitTestKundera
 |  -testKundera.java
 |
 |-com.testkundera
 | -App.java
 | -user1.java
 |JRE SYSTEM LIBRARY
 |Web APP LIBRARY
 |WebContent
 | -META-INF
        -persistence.xml
 | -Web-INF
        -lib
            all library goes here
Just following the exam

[2014-03-11 18:05] mevivs commented on #543
Hi,
Please move persistence.xml within SRC folder and try.
SRC
|-
| -META-INF
-persistence.xml

persistence.xml should be with root folder where entity definition is placed.

-Vivek

[2014-03-11 18:07] mevivs commented on #543
A sample web project can be found at:
https://github.com/impetus-opensource/Kundera/tree/trunk/examples/container/tomcat-glassfish/data-keeper/src/main

-Vivek

[2014-03-11 18:25] jeevitesh commented on #543
thanks vivek..
Now my error got unable to find persistence got resolved but unfortunately
getting different error in the same domain
ERROR configure.PersistenceUnitConfiguration: Unconfigured persistence
unit: hbase_pu please validate with persistence.xml
ERROR kundera.KunderaPersistence: EnrityManagerFactory not created,
returning null.

On Tue, Mar 11, 2014 at 11:35 PM, Vivek Mishra notification

[2014-03-11 18:41] jeevitesh commented on #543
thanks vivek..

it is mid night so went completely wrong in my sentence formation.

my previous error got resolved but unfortunately getting different error in
the same domain

ERROR configure.PersistenceUnitConfiguration: Unconfigured persistence
unit: hbase_pu please validate with persistence.xml
ERROR kundera.KunderaPersistence: EnrityManagerFactory not created,
returning null.

here is my pers

[2014-03-11 18:42] mevivs commented on #543
as per provided persistence.xml persistence unit name is "hbaseTest" . Though looks like "hbase_pu" is configured with either of the entities?

-Vivek

[2014-03-12 05:44] adilfulara opened #544 "CQL issue with "Getting Started in 5 minutes" tutorial"
I followed you "Getting Started in 5 minutes" tutorial and was able to get it to work correctly.

I then tried to create the equivalent cal table for the same table. It seems that when i use "KunderaExamples" as the keyspace name, cal cannot use the specific keyspace.

If i change the keyspace name to be all lower case, it does recognize the keyspace.
Note that the query

[code]

still does report

[2014-03-12 05:50] mevivs commented on #544
By default CQL3 case insensitive and assume it with lower case only. So in place of:

[code]

Run

[code]

It should work for you. Also to use Kundera with CQL3 enabled, you can explicitly set it to CQL 3. https://github.com/impetus-opensource/Kundera/blob/22c58fbd8745544a92ae833f82a5e799413e1da8/src/kundera-cassandra/cassandra-core/src/test/java/com/impetus/client/cassandra/thrift/cql/PersonCassa

[2014-03-12 06:12] adilfulara commented on #544
Thank you @mevivs

Any plans for Datastax Java drive support ?
Adil

[2014-03-12 06:15] mevivs commented on #544
Issue #385 . Support available on current trunk will be releasing 2.11

-Vivek

[2014-03-12 06:52] jeevitesh commented on #543
hi vivek,

thanks a lot...now getting another issue.. it will be of great help if can
provide some insight

When I run my program I get following warning.
14/03/12 11:39:46 INFO zookeeper.RecoverableZooKeeper: The identifier of
this process is 5116@DELL-75
14/03/12 11:39:46 WARN client.ZooKeeperSaslClient: SecurityException:
java.lang.SecurityException: Unable to locate a login configuration
occur

[2014-03-12 06:58] mevivs commented on #543
Hi,
Properties specific to HBase

[code]

must be defined with external configuration. Please have a look at:
https://github.com/impetus-opensource/Kundera/wiki/Data-store-Specific-Configuration

AND

https://github.com/impetus-opensource/Kundera/wiki/HBase-Specific-Features

for mapping such properties.

Hope it helps.

-Vivek

[2014-03-12 06:58] jeevitesh commented on #543
bit more information which is missed earlier
Hbase server version
HBase Version 0.96.1.1-hadoop2
but in my client hbase point to 0.94.3 is something i need to worry about.
zookeeper I have not installed explicitly. In server zookeeper is hosted
which comes by default with hbase.

On Wed, Mar 12, 2014 at 12:22 PM, jeevi tesh jeevitesh.ms@gmail.com wrote:

[2014-03-12 06:59] mevivs commented on #543
For sample persistence.xml, please  refer:
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-hbase/src/test/resources/META-INF/persistence.xml#L20

-Vivek

[2014-03-12 07:00] mevivs commented on #543
Kundera HBase apis are compatible with 0.94.3. I assume that 0.96 must be backward compatible!

-Vivek

[2014-03-12 07:05] jeevitesh commented on #543
thanks a lot, I'll follow on those lines...

On Wed, Mar 12, 2014 at 12:30 PM, Vivek Mishra notifications@github.comwrote:

[2014-03-12 10:27] jeevitesh commented on #543
Hi vivek,
Still error persists not able to understand for where error is _propagating.
Please i would request your reslve my issue it looks like etc/host file
issue._
ERROR
When I run my Program app.java (
https://github.com/impetus-opensource/Kundera/wiki/Getting-Started-in-5-minutes
)
14/03/12 15:38:49 INFO zookeeper.ClientCnxn: Opening socket connection to
server /192.168.1.42:2181
14/03/12 15:

[2014-03-12 10:33] mevivs commented on #543
Seems like your JVM is defaulting to IPv6 traffic. Try adding -Djava.net.preferIPv4Stack=true to your HBASE_OPTS envvar (just a few lines below JAVA_HOME in hbase-env.sh), and restarting HBase.

http://hortonworks.com/community/forums/topic/connecting-with-haredb-hbase-client/

see if it helps

-Vivek

[2014-03-12 13:00] jeevitesh commented on #543
hi vivek,
Looks like this the issue with me
https://issues.apache.org/jira/browse/HBASE-2418
http://hbase.apache.org/book/zk.sasl.auth.html
What is your view?

On Wed, Mar 12, 2014 at 4:03 PM, Vivek Mishra notifications@github.comwrote:

[2014-03-12 14:34] jeevitesh commented on #543
Hi vivek,
As per my understanding i feel for Authentication purposes i need to
provide some kind file.. Because any client who gets ip will able to write
. So from verion 91 hbase  to validate client we need to do above steps

Sent from my Windows Phone

---

From: jeevi tesh jeevitesh.ms@gmail.com
Sent: 12-03-2014 18:30
To: impetus-opensource/Kunderareply@reply.github.com
Cc: impetus-opensource/K

[2014-03-12 18:41] mevivs commented on #543
[code]

Zookeeper version mismatch issue?

HBase 0.94.3 comes with     <zookeeper.version>3.4.3</zookeeper.version> . Can you please verify if it is same on server as well?

I believer HBase shell to remotely connect with Server is working fine?

-Vivek

[2014-03-13 06:42] jeevitesh commented on #543
Hi vivek,
The version of zookeeper were different in server it was 3.4.5 now copied
the 3.4.3 jar to the following location
Now
/home/hadoop/hadoop-2.2.0/share/hadoop/common/lib/zookeeper-3.4.5.jar
/home/hadoop/hadoop-2.2.0/share/hadoop/httpfs/tomcat/webapps/webhdfs/WEB-INF/lib/zookeeper-3.4.5.jar
/home/hadoop/hbase-0.96.1.1-hadoop2/lib/zookeeper-3.4.5.jar

Also have set to pick IPV4 disabled IP6

[2014-03-13 06:53] mevivs commented on #543
@jeevitesh
Can you give it a try with HBase 0.94.3 . it would help to understand if issue is with some configuration or something else

-Vivek

[2014-03-13 06:58] mevivs commented on #543
[code]

looks like kunderaTest.xml is not in classpath. That could be the issue

-Vivek

[2014-03-13 07:12] jeevitesh commented on #543
I moved kunderaTest.xml outside meta-inf folder no longer i'm getting that issue..
But still i'm unable add rows to user table... moving into hbase 0.94.3 lets hope things get settled there

[2014-03-13 08:54] builtofire opened #545 "Question about entity inheritance"
Hi ALL, sorry to be lame

so can i have this ?

class ACasssandraObject {
   @Column
   private Date dob;

   @Column
   private Date dom;
}

@Entity
class Customer extends ACassandraObject {
   @Id
   private int id;
   @Column
   private String name;
}

and i should have in the customer table 4 columns ?
because i see that in code you use clazz.getDeclaredFields() and this is not looking and sup

[2014-03-13 09:00] mevivs commented on #545
Given below definitions should help you out.

<b>Entities</b>

https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-mongo/src/test/java/com/impetus/kundera/client/crud/inheritence/TwitterProfile.java
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-mongo/src/test/java/com/impetus/kundera/client/crud/inheritence/FacebookProfile.java

<B>Abstract entity </B>

http

[2014-03-13 09:01] mevivs commented on #543
Okay. Let me know, if still it doesn't work for you.

-Vivek

[2014-03-13 09:57] builtofire commented on #545
ok, something makes sense :)

now the second question :

why do i need an id in the abstract class ?
@MappedSuperclass
public abstract class ACasssandraObject {
@Id
private int id;
@Column
private Date dob;
@Column
private Date dom;
}

if i leave out the @id then i get the @id missing error in customer entity

[2014-03-13 09:59] mevivs commented on #545
@Id
private int id;

You can keep it with sub class entity as well. Mapped super class is not an entity but attributes can be inherited with sub classes

-Vivek

[2014-03-13 10:03] builtofire commented on #545
thanks for the example, it really helped me, but i still feel confused :)

[2014-03-13 10:07] mevivs commented on #545
http://docs.oracle.com/javaee/5/api/javax/persistence/MappedSuperclass.html

This should help you out

-Vivek

[2014-03-13 13:15] jeevitesh commented on #543
Finally it worked for me... really a big thanks to you.. you showed so much of patience in addressing issues.. I'm really happy I don't have words to explain...looking forward to work with you thanks..

I don't know exactly which one resolved the issue..
I switched to hbase 0.94.3
and after that there was some etc host issue...
in my windows system C:\Windows\System32\drivers\etc

# localhost name

[2014-03-13 14:01] mevivs commented on #543
Cool! Great. Looks like we are good to close on this.

-Vivek

[2014-03-14 04:56] #544 closed, assigned to nobody

[2014-03-17 14:51] petermetz opened #547 "Ear deployment fails on Wildfly 8.0.0 Final (Cassandra related)"
This is a question rather than an issue.
The deployment fails, unless I change the code in PersistenceUnitMetadata like the diff mentions below.
Am I doing something wrong, or is this a defect in the metadata collection?
I was using the Cassandra quick start examples from the wiki to set up my configuration.

Here is my artifact structure:

.EAR
&nbsp;&nbsp;&nbsp;&nbsp; EJB.jar (declaring Kundera

[2014-03-17 15:36] mevivs commented on #547
EJB.jar  => Contains entity definitions or anything else?

webapp.WAR => structure and content?

Could you please share few more details around it?

-Vivek

[2014-03-17 15:43] petermetz commented on #547
EJB.jar depends on another jar file which contains the model entities.

webapp.WAR is a minimalistic JAX-RS endpoint. No static files (empty webapp directory), no web.xml, only a JAX-RS application subclass and a resource class for implementing the endpoint itself.

If the problem doesn't obvious from these, I'll quickly throw together a deployable example project to reproduce the problem, just le

[2014-03-17 17:26] mevivs commented on #547
please email sample project if possible. That would surely help to quickly resolve this. Also, What the error you getting?

[2014-03-19 00:09] petermetz commented on #547
Sample project sent.
The error I'm getting without the mentioned patch (Kundera 2.10 stable) is this:

[code]

[2014-03-19 02:34] mevivs commented on #547
Hi Peter,,
Looks like this issue has been reported earlier as well. A fix has been added for the same in current trunk. I will have a look on the project. Meantime you may refer https://github.com/impetus-opensource/Kundera/issues/526 and https://github.com/impetus-opensource/Kundera/issues/536 for reference

-Vivek

[2014-03-20 17:36] petermetz commented on #547
Ah okay. I'll just wait for 2.11 then. Thanks for the help!

[2014-03-20 17:36] #547 closed, assigned to nobody

[2014-03-20 17:58] mevivs commented on #547
@petermetz
Using Kundera for? It would be great help if you could spare few minutes to fill in for survey:
http://www.surveymonkey.com/s/BMB9PWG

[2014-03-20 18:58] petermetz commented on #547
I just did, hope it helps.

[2014-03-20 19:01] gargeeBanerjee opened #548 "Retry Logic in Kundera 2.8 not working with External config file configured with retry logic set to true"
Hi,
When we use Kundera 2.8 the retry logic for a sick node doesn't work with the normal external config setup.
However when we set the config file a bit differently it works

[2014-03-20 19:03] gargeeBanerjee opened #549 "Elimiate the Limit keyword from the final query which is created using CQL3"
Hi,
When kundera creates a cql query the limit keyword is set by default .We need a way not to include the limit key word.

[2014-03-21 04:57] mevivs commented on #118
First cut support added for JPA criteria 2.0 but still under development. Though Basic JPA Criteria query support should work.

-Vivek

[2014-03-21 10:36] #539 closed, assigned to nobody

[2014-03-22 14:04] capalbc opened #550 "Support for composite partition keys in Kundera-Cassandra"
CQL3 allows for composite partition keys, for example:

[code]

insert data:

[code]

query:

[code]

cassandra-cli:

[code]

It would be nice if this was supported for in Kundera-Cassandra.

Perhaps the @Embedded annotation can be used to denote the composite partition key, for example:

[code]

[code]

[code]

[2014-03-22 17:09] mevivs commented on #550
Hi,
Yes. It's very much on plan. Will post an update for this.

-Vivek

[2014-03-22 20:50] capalbc commented on #550
Wonderful thanks!  Yes, please do.

Reading about the inclusion of support for the Datastax java-driver in the upcoming 2.11 release (#385), I'm very interested in the workings of Kundera and using it in my projects.  So in the meantime I'll pull the Kundera code and try to familiarize myself with it.  If you can point me to the main classes at play with this enhancement, I may even be able to hel

[2014-03-25 05:56] sumeetchhetriwellogic opened #551 "Cannot find the latest 2.11 release jar in maven repository"
Hi,

I'm unable to find the latest Kundera 2.11 release jar in the repository mentioned (https://oss.sonatype.org/content/repositories/releases/com/impetus/core/kundera-core/).
Can someone please point me to the correct updated repository or upload the latest jars if not already done.

Thanks,
Sumeet Chhetri

[2014-03-25 06:00] mevivs commented on #551
Hi,
ArtifactId has been changed since 2.9.1 onwards. {https://github.com/impetus-opensource/Kundera/tree/trunk/src#note}

https://oss.sonatype.org/content/repositories/releases/com/impetus/kundera/core/kundera-core/2.11/

HTH,
-Vivek

[2014-03-26 21:50] jfgosselin opened #552 "DS Client and composite key"
First thank you for adding the Datastax Java Driver client . Any plan to add support for Cassandra 2.x ?

I've started to use Kundera 2.11 and ran into some issues when a composite key is used. In DSClient when you iterate over the rows you should create a new
compositeKeyInstance each time :

Instead of :

[code]

You should have (I think) :

[code]

[2014-03-26 22:14] jfgosselin opened #553 "blob, map and DSClient"
With Kundera 2.11 and DSClient .

When a blob is used for a composite key there's a ClassCastException from HeapByteBuffer to byte[]. Same kind of issue when a map< ascii , blob > is used .
Here's an example of schema that doesn't work :
          CREATE TABLE test (
            a uuid,
            b blob,
            c text,
            d blob,
            e text,
            f map < ascii , blob

[2014-03-27 09:23] mevivs commented on #552
Fix has been added for this issue.

Thanks,
-Vivek

[2014-03-27 23:41] vanessaschissato opened #554 "Fail recovery in Cassandra Cluster"
Hi,

We are currently using Kundera 2.11 with a Cassandra Cluster (5 nodes).
I figure out that when a node fails, Kundera try the next available (my configuration is below).
BUT, when the node is restarted, Kundera doesn't reconnect to this node never more while the application is running.
So, if i stop one node per time, restarting them immediatally (a delivery scenario), so that there isn't more

[2014-03-28 09:03] #151 closed, assigned to chhavigangwal

[2014-03-28 09:03] #223 closed, assigned to nobody

[2014-03-28 09:03] #225 closed, assigned to nobody

[2014-03-28 09:03] #226 closed, assigned to nobody

[2014-03-28 09:03] #385 closed, assigned to mevivs

[2014-03-28 09:03] #459 closed, assigned to mevivs

[2014-03-28 09:03] #482 closed, assigned to nobody

[2014-03-28 09:03] #483 closed, assigned to nobody

[2014-03-28 09:03] #496 closed, assigned to mevivs

[2014-03-28 09:03] #500 closed, assigned to nobody

[2014-03-28 09:03] #501 closed, assigned to chhavigangwal

[2014-03-28 09:03] #506 closed, assigned to nobody

[2014-03-28 09:03] #510 closed, assigned to chhavigangwal

[2014-03-28 09:03] #512 closed, assigned to chhavigangwal

[2014-03-28 09:03] #519 closed, assigned to nobody

[2014-03-28 09:03] #520 closed, assigned to nobody

[2014-03-28 09:03] #530 closed, assigned to nobody

[2014-03-28 09:03] #536 closed, assigned to nobody

[2014-03-28 09:03] #537 closed, assigned to nobody

[2014-03-28 09:03] #538 closed, assigned to nobody

[2014-03-28 09:03] #542 closed, assigned to nobody

[2014-03-28 09:04] mevivs commented on #148
Bulk closing.

[2014-03-28 09:04] #150 closed, assigned to nobody

[2014-03-28 09:06] #548 closed, assigned to nobody

[2014-03-28 09:06] #549 closed, assigned to nobody

[2014-03-28 09:07] mevivs commented on #545
Are we good to close on this?

[2014-03-28 09:08] mevivs commented on #533
Wiki page changed. Are we good to close on this?

-Vivek

[2014-03-28 09:27] mevivs commented on #553
https://github.com/impetus-opensource/Kundera/commit/3469ddf5259b5fbc7c9f5afbaccc8ac3de10d228

A fix has been added for the same. Also, default character encoding is supported for UTF-8 only. for Ascii support i will open another issue for the same. Rest for blob and other type it should be good to go.

-Vivek

[2014-03-28 09:43] mevivs commented on #467
Support for Datastax java client added with 2.11

[2014-03-28 15:47] jfgosselin opened #555 "DS client and connection properties"
It seems that I can only pass the DS connection properties via a kundera.client.property file.  Isn't there a way to pass these properties in a Map ?

From DSClientFactory the properties are only read via the file :
     Properties connectionProperties = CassandraPropertyReader.csmd.getConnectionProperties();)

[code]

Thanks

JF

[2014-03-28 17:40] mevivs commented on #555
Will fix it.Need to cross check with other clients.

-Vivek

[2014-03-28 18:01] makearl opened #556 "Hibernate drops tables for relational database when using polyglot persistence"
Hi,

I was following the Polyglot Persistence example with a few mocked-out databases for Cassandra and MariaDB: https://github.com/impetus-opensource/Kundera/wiki/Polyglot-Persistence

When creating an EntityManagerFactory for Cassandra by itself or for MariaDB by itself, everything works as expected and I was able to persist objects.

When creating an EntityManagerFactory that references both co

[2014-03-31 11:43] mevivs commented on #555
Not an issue.
Properties which can be overriden other that file are host, port and keyspace. which is also valid in case of DS client.
=>
https://github.com/impetus-opensource/Kundera/blob/trunk/src/jpa-engine/core/src/main/java/com/impetus/kundera/service/HostConfiguration.java#L78

-Vivek

[2014-03-31 11:59] impetus-opensource-admin commented on #556
I have added a fix for this issue in current trunk. Schema drop would only happen in case opted for "hibernate.hbm2ddl.auto" with value as "create" or "create-drop".

Thanks,
-Vivek

[2014-03-31 12:21] mevivs commented on #551
Are we good to close on this?

-Vivek

[2014-03-31 12:21] mevivs commented on #529
Fixed and released with 2.11

[2014-03-31 12:22] #529 closed, assigned to mevivs

[2014-03-31 12:23] mevivs commented on #526
Fixed with 2.11

[2014-03-31 12:23] #526 closed, assigned to nobody

[2014-03-31 12:25] mevivs commented on #535
Any update? Tested with 2.11?

-Vivek

[2014-03-31 14:14] makearl commented on #556
I built with the latest and this is resolved. Thanks!

[2014-03-31 14:14] #556 closed, assigned to nobody

[2014-04-01 06:34] #551 closed, assigned to nobody

[2014-04-01 06:34] #545 closed, assigned to nobody

[2014-04-01 06:35] #543 closed, assigned to nobody

[2014-04-01 06:35] #533 closed, assigned to nobody

[2014-04-01 06:35] #513 closed, assigned to nobody

[2014-04-01 06:36] #203 closed, assigned to nobody

[2014-04-01 06:36] #486 closed, assigned to nobody

[2014-04-01 06:36] #508 closed, assigned to nobody

[2014-04-01 06:36] #521 closed, assigned to nobody

[2014-04-01 06:40] mevivs commented on #427
Hi,
Interesting. Few queries:
1. How is it related to Kundera?
2. It is built using Kundera or want to integrate it with Kundera?

Looking forward for your response.

-Vivek

[2014-04-01 08:51] ansarrafique opened #557 "Set consistency level for cassandra using kundera"
Is there any way to set the consistency level for cassandra using kundera ? The idea option is to set at entity level or a session level for each query execution. I am using kundera-cassandra 2.9.

[2014-04-01 09:03] mevivs commented on #557
Please refer https://github.com/impetus-opensource/Kundera/issues/331

[2014-04-01 09:25] ansarrafique commented on #557
Can I also specify the consistency level for entity manager like

@PersistenceContext(type = PersistenceContextType.EXTENDED, properties = {@PersistenceProperty(name="consistency.level", value="QUORUM")})
Does it work ?

Also, is there any way to set consistency level for entitymanager rather than directly getting thrift client then I have to execute queries using thrift client not entity manager

[2014-04-01 09:29] mevivs commented on #557
[code]

Yes it works.

[code]

use em.setProperty() or create entityManagerFactory with a map prepoulated with such properties. Query execution is via em only, irrespective of whether set via client.setConsistencyLevel or em.setProperty().

[code]

Yes it is ONE

-Vivek

[2014-04-01 09:55] ansarrafique commented on #557
Yes, but kundera allows you to use both clients thrift and pelops underneath. The example you mentioned only works for Thrift client, what about pelops ? I think em.setProperty() would be the idea choice then what is the name of the property and what is the value ?

[2014-04-01 10:01] mevivs commented on #557
setConsistencyLevel is independent of client implementation would work in same way for Thrift,Pelops and DSClient. Same is true with other ways to set consistency level

-Vivek

[2014-04-01 13:34] jfgosselin commented on #555
How can I set e.g. loadbalancing.policy without a kundera.client.property file ?

[2014-04-01 13:50] mevivs commented on #555
Not allowed. Such client specific properties are only allowed via external configuration file.

-Vivek

[2014-04-01 13:58] jfgosselin commented on #555
The section "External Properties Configuration" in the wiki wasn't clear to me.
"DS specific properties can be set externally via property map as well."
https://github.com/impetus-opensource/Kundera/wiki/Datastax-java-driver-support-for-Cassandra-using-Kundera

Enhancement ?

Thanks

JF

[2014-04-01 14:27] mevivs commented on #555
Will update wiki. Only host, port an keyspace can be overridden via external map.

-Vivek

[2014-04-01 14:30] petermetz commented on #547
Hi Vivek,

I retested it with 2.11 and it still produces issues. (I used the very same test project I emailed you before, just changed the dependency version to 2.11)

The stack trace I get is pasted below. I'm not sure if it's just me not configuring something properly or some other issue with the same thing. Please let me know if I should reopen this or not.

[code]

[2014-04-01 14:38] makearl opened #558 "Can't write to MariaDB unless autocommit mode is set to true"
Hi,

I'm seeing a problem where Kundera can't write to MariaDB unless autocommit mode is set to true in the persistence.xml.

According to MariaDB's documentation, it should be a drop-in replacement for MySQL in hibernate: https://mariadb.com/kb/en/hibernate-mariadb/

When I use the same configuration with MySQL instead, I can commit.

Here's what the persistence looks like for MySQL

[code]

Here

[2014-04-01 16:34] mevivs commented on #547
Hi Peter,
Earlier error was

[code]

Which is fixed on current trunk.

Recent error is bit different. Could you please try by adding

[code]

in persistence.xml and see if it works.
Work to OSGify Kundera and deploy with jboss/CDI EJB container is under progress.

https://github.com/impetus-opensource/Kundera/issues/534
https://github.com/impetus-opensource/Kundera/pull/525

Thanks,
-Vivek

[2014-04-01 16:40] petermetz commented on #547
By adding the mentioned property the problem goes away indeed. Huge thanks for the help, very much appreciated!

Peter

[2014-04-01 16:44] mevivs commented on #558
Version of mysql is > 5.5 ? AFAIK MariaDB built on top of MYSQL 5.5

Kundera relies on Hibernate for RDBMS related persistence, so ideally behavior should be consistent.

-Vivek

[2014-04-01 18:49] petermetz opened #559 "Entity merging works for non-existent keys but does nothing if key existed already."
Queries to read from the database are working and the merge as well, as long as I won't try to merge an entity with an existing key (which would be the point)
The entity I'm testing on is nothing special, just a bunch of elementary fields, no relationships defined, no embeddable, etc.
I tried to wrap the persist call between .begin() and .commit() transaction code as well.

If I change the entity'

[2014-04-01 20:47] makearl commented on #558
Sorry, that was a relic from trying all variations of the MySQL dialects.

I've opened a pull request for this issue: https://github.com/impetus-opensource/Kundera/pull/560

The logic for onBegin in HibernateClient.java was inverted, which caused MariaDB to not commit properly.

[2014-04-02 02:27] mevivs commented on #559
Please create a sample junit for this. I suspect it is because of timestamp value.

-Vivek

[2014-04-02 12:19] #558 closed, assigned to nobody

[2014-04-02 13:50] ansarrafique opened #562 "Kundera performance slow down with load increase"
I have 3 nodes cassandra cluster and I am generating load on 3 nodes using kundera client. I realized that the performance goes down quickly if I increase the load. I did the same experiment using Datastax driver 2.0.1 and there was no issue with performance. There might be a possibility that I have not configured it correctly. I have only persistence.xml file and there is no other configuration f

[2014-04-02 15:48] petermetz commented on #559
It was indeed the timestamp, sorry for giving a misleading explanation. I still have a problem though, namely that Kundera seems to hard code the mode of timestamp generation for mutations, and the legacy code (which I'm trying to replace with Kundera) does the same, but in a different manner.

Kundera uses `System.currentTimeMillis()` while the code that used to handle the data before uses
`Syste

[2014-04-02 16:57] mevivs commented on #562
1. With how much volume you testing with?
2. please do em.flush() or em.clear() to clear persistence cache(first level cache)
3. Try with given connection pooling properties

[code]
1. Pelops is build on top of Thrift hence relatively slow. Also there is no active development going on with Pelops, that's the reason behind bringing in Kundera's thrift client.
2. For Datastax java driver, Kundera al

[2014-04-02 17:09] ansarrafique commented on #562
1. I am inserting 1 million records with a single session. There is a single entity with no association and have only 10 columns in it.
2. Actually em.persist() is called for each entity, do I have to call em.flush() for each entity and why ?
3. I don't want to use connection pooling at this point and I want to evaluate the performance without connection pooling.
4. If calls are synchronous, how k

[2014-04-02 17:41] mevivs commented on #562
[code]

Because Kundera keeps in memory cache for managed entities as per JPA. No need to call it for each entity. Periodic flush say after count on entities reaches to 5000. We did test 1 million record over on single thread and multiple threads as well.

I assume you are using single entity manager factory as you mentioned single session.

[code]

Datastax java driver is based on CQL binary prot

[2014-04-02 17:44] mevivs commented on #559
[code]

Let me think about this and discuss with team. Will get back to you on this.

HTH,
-Vivek

[2014-04-02 18:37] petermetz commented on #559
Thank you, very much appreciated!

Peter

[2014-04-02 20:23] ansarrafique commented on #562
Yes, I am using single entity manager factory. I only create a single entity manager and persist data. I have noticed that it works fine for half million records but eventually become slow if records are greater than half millions. The same test I did with datastax api and it works fine.

I am inserting data with kundera thrift, kundera pelops, and datastax api. I noticed that kundera performs bet

[2014-04-03 05:51] mevivs commented on #562
[code]

Please add em.clear() and try. Clearly it is because of first level cache as memory is not getting freed up

[code]

Kundera only supports synchronous executions.

We have used ycsb for Kundera vs raw thrift API comparison. Have a look at:
https://github.com/impetus-opensource/Kundera/blob/trunk/test/benchmark/ycsb/src/main/java/com/impetus/kundera/ycsb/benchmark/KunderaThriftClient.java

[2014-04-03 07:18] jeevitesh opened #563 "Auto ID generation in Kundera - hbase"
Hi,

found a issue in auto id generation in kundera for hbase.

if I use below code id get generated at interval of 50(i guess is default) like 1, 50, 100 etc
 @Id
 @GeneratedValue(strategy = GenerationType.TABLE)

It was bit confusing because I have multiple entity and H-rider was not showing in right order.  so wanted to generate in sequence(like 1,2,3,4.. for given entity)
So started with below

[2014-04-03 07:30] mevivs commented on #554
A fix has been added for the same in current trunk.

[2014-04-03 17:15] FangmingD opened #564 "nullable properties for neo4j entities"
I have created an entity to be persisted in neo4j through kundera.

But when I don't set all the properties, the find() method will through an exception.

I traced down the error and found out kundera tries to set all the properties from neo4j database, but not all of them exists. (in com.impetus.client.neo4j.GraphEntityMaper getEntityFromNode())

But in JPA, default all the properties are nullabl

[2014-04-03 17:43] mevivs commented on #564
Could you please provide more details?  A sample project would be a great help

-Vivek

[2014-04-03 20:54] FangmingD commented on #564
I just use the example classes (Actor,Movie,Role) https://github.com/impetus-opensource/Kundera/wiki/Graph-Database-Support.

Then set id of the Actor, Persist it and then find it.
Got NotFoundException in GraphEntityMapper.java line 184.
Because it is trying to get the property of actor name, which was not persisted.

change line 169 to
PropertyAccessorHelper.set(entity, field, fromNeo4JObject(no

[2014-04-03 21:04] FangmingD commented on #564
I'll provide a simple code I used.

[code]

TEST

[code]

Persistence xml

[code]

[2014-04-04 10:43] mevivs commented on #540
Hi,
Added a fix for this issue. Should be fine now.

-Vivek

[2014-04-04 15:59] FangmingD opened #565 "Kundera does not handle multiple relations in neo4j entities"
I just created a simple Actor class with two relations. When persist new Actor instance, I only set one relation and in find I got Exception, because Kundera try to set a relation I did not persist. (In my own code, I have two different relation and entities related to one entity, here just created two dummy movie, role classes)

In real scenario, one entity could have tens of relations, but not e

[2014-04-04 17:36] mevivs commented on #565
Sounds like an issue. Will have a look and fix this.

-Vivek

[2014-04-04 20:21] FangmingD commented on #565
fix line 261 in com.impetus.kundera.persistence.AssociationBuilder
add

[code]

[2014-04-06 13:30] janinko commented on #535
Hi,

I'm now testing Hibernate OGM.

Honza

[2014-04-06 13:54] #535 closed, assigned to nobody

[2014-04-07 16:24] jfgosselin opened #566 "CQL collections and null keys or values"
null values (or keys for map) are valid with CQL collections (set, list and map)  but are discarded by Kundera

CQLTranslator.java :

[code]

[2014-04-07 16:38] mevivs commented on #566
CQL3 column family would have kind of static schema. Even if a column value is not assigned(implicitly "null"), it would be displayed as null only. Similarly if you retrieve it back it would be assigned a null reference. Is there a to convert "null" into a byte[] ? I am also not able to find a reference http://cassandra.apache.org/doc/cql3/CQL.html for NULL.

-Vivek

[2014-04-07 17:30] jfgosselin commented on #566
I couldn't find any references but was playing with com.datastax.driver.core.querybuilder.QueryBuilder to validate

[code]

This statement will  produce :

INSERT INTO foo.bar(amap) VALUES ({'key2':null,'key1':null});

[2014-04-07 17:46] mevivs commented on #566
I agree. But would still wonder what's the point of having a map with null values. At present Cassandra doesn't provide a way to index key or values within collection. Also there is no such "isNull" support. But may be available in future.

Will discuss and post an update.

-Vivek

[2014-04-08 02:12] prabhalar opened #567 "Transient JPA fields being stored"
Trying out Kundera for Cassandra -noticed that Kundera driver, instead of ignoring the transient field in JPA, stores the information in database.

[2014-04-08 02:32] mevivs commented on #567
using thrift client factory or ds java driver?

[2014-04-08 08:58] prabhalar commented on #567
Thrift client factory

Sent from my iPhone

[2014-04-08 09:50] #528 closed, assigned to nobody

[2014-04-08 09:51] mevivs commented on #499
Fixed in 2.11

[2014-04-08 09:51] #499 closed, assigned to nobody

[2014-04-08 10:02] kkmishra commented on #567
version of Kundera you are using ?

[2014-04-08 10:20] prabhalar commented on #567
2.11

[2014-04-08 10:58] kkmishra commented on #567
I have tried following with 2.11 and working fine for me.

Entity

[code]

CRUD

[code]

Please share your scenario, that would be quite helpful.

Thanks
Kuldeep