[2014-04-08 11:58] kkmishra commented on #566
Verified with cassandra-1.2.9 and cassandra-2.0.6 but null is not supported inside collections.

Done Following steps

**create table script**

[code]

**Inserting data**

[code]

**Verifying**

[code]

**While inserting null for collection I am getting following error.**

[code]

Thanks
Kuldeep

[2014-04-08 13:57] ghost opened #568 "Autodetect Feature"
Hello Guys,

We've started using Kundera and we really appreciate the polyglot persistence feature. One thing that's super annoying right now is that we have to declare all the entity classes in persistence.xml, well, that's ok if you have small number of entities but as soon as you grow past 50 odd entities it becomes a nightmare to maintain plus you have to maintain multiple PUs.

I know Kundera

[2014-04-08 18:13] mevivs commented on #568
Hi,
For polyglot persistence, other than specifying entities within persistence.xml, you may also hard code schema@pu with @table annotation. For more on this, please refer https://github.com/impetus-opensource/Kundera/issues/315.
Lazy loading of entities at the time save/update operation would be an overhead and not desired with such operation, as per JPA metamodel must be readily available befor

[2014-04-09 13:55] jfgosselin commented on #566
You're right, I did a test with the java driver and I get :
Exception in thread "main" com.datastax.driver.core.exceptions.InvalidQueryException: null is not supported inside collections

The problem that I saw is that CQLTranslator will send e.g. {,,,,} if a map has only null values and it will throw an InvalidRequestException

Caused by: InvalidRequestException(why:line 1:105 no viable alternati

[2014-04-09 16:28] mevivs commented on #566
So are we good to close on this? As Cassandra doesn't allow map with null values.

-Vivek

[2014-04-09 17:09] jfgosselin commented on #566
Yes, but the question is should Kundera send e.g. {'key1':null, 'key2':null} instead of {,} and let Cassandra return the InvalidQueryException.

[2014-04-11 07:35] goodfriend2ks opened #569 "Cassandra Kundera with RMI throws java.io.NotSerializableException"
SEVERE:
org.springframework.remoting.RemoteAccessException: Could not access remote service [rmi://localhost:1199/UserService]; nested exception is java.rmi.UnmarshalException: error unmarshalling return; nested exception is:
    java.io.WriteAbortedException: writing aborted; java.io.NotSerializableException: com.impetus.client.cassandra.pelops.PelopsClient
    at org.springframework.remoting.rmi

[2014-04-11 09:05] chhavigangwal commented on #569
Can you please share some more details and sample entity classes?

[2014-04-11 09:22] moldziej opened #570 "SchemaGenerationException when auto schema generation is set to "validate"."
Hello,

There is SchemaGenerationException when:
- schema auto generation is set to "validate", and
- primary key auto generation is used.

To illustrate the problem I've modified cassandra-pelops KunderaQueryTest unit test:

[code]

I run the test with kundera.ddl.auto.prepare set to create for the first time. When I run next time with "validate" following execption is thrown:

[code]

There is i

[2014-04-11 10:06] mevivs commented on #570
Looks like column family created via CQL3 whereas schema generation is set for CQL version 2(i.e. thrift). Please set CQL version to 3 and try.

-Vivek

[2014-04-11 10:35] goodfriend2ks commented on #569
@Entity
@Table(name = MUser.TABLE_NAME)
public class MUser extends EO<UUID> implements Serializable {
    /**
     \*
     */
    private static final long serialVersionUID = -4149073077917488670L;

[code]

//  @Transient
    private List<MUserRole> userRoles;

[code]

//  public Set<UUID> getValues() {
//      return values;
//  }
//
//  public void setValues(Set<UUID> values) {
//      this.valu

[2014-04-11 12:42] moldziej commented on #570
I work on empty Cassandra database.
Keyspace and colum families are created by kundera when I run the test for the first time with kundera.ddl.auto.prepare set to "create".
Then I run the test once again with kundera.ddl.auto.prepare set to "validate".

Do you mean setting CassandraConstants.CQL_VERSION_3_0 on entityManagerFactory ?

[2014-04-11 12:44] mevivs commented on #570
Yes. Using Kundera version 2.11?
-Vivek

[2014-04-11 13:54] moldziej commented on #570
Yes, 2.11.

Setting CQL3 helps, but could you explain more deeply where is the mismatch? I had to recreate the schema after setting CQL3. To sum up I run multiple times cassandra-pelops KunderaQueryTest, starting from empty Cassandra:
1. kundera.ddl.auto.prepare="create"   - passed
2. kundera.ddl.auto.prepare="validate"  - SchemaGenerationException on <b>kundera_sequences</b>
3. kundera.ddl.auto.p

[2014-04-11 15:44] mevivs commented on #570
[code]

Let me verify and get back to you on this.

For ThriftClientFactory and PelopsClientFactory it will be Thrift RPC.But for Cassandra DS driver it will be CQL3 binary protocol. I recommend  to use ThriftClientFactory for thrift rpc and DS driver factory for CQL3 binary protocol.

Hope it helps.

-Vivek

[2014-04-11 16:15] moldziej commented on #570
I've checked that in KunderaQueryTest, in 1st and 2nd point described above, CF are <i>not</i> generated with CQL3 but as you can see schema validation fails on kundera_sequences.

[2014-04-11 19:28] ghost commented on #568
Well, i think i was more or less looking for `<exclude-unlisted-classes>true</exclude-unlisted-classes>` which resolved a lot of speed issues, not sure why kundera scans all the classes on classpath to select entities, its a real problem when you build  fat jars (e.g. building services stanalone services with jetty).

So if you look at following two code blocks and the position of this statement

[2014-04-12 07:53] mevivs commented on #568
Hi,
For loading explicit class and entities from specific jar files, you may map them as:

[code]

If you don't specify above properties in persistence.xml, it would require to scan available classes for valid entity definitions.

Let me discuss this within team to find a reason for moving

[code]

out of valid annotation check.

Thanks,
-Vivek

[2014-04-14 08:55] ansarrafique opened #571 "Set consistency level for Datastax Java driver using kundera"
I have just switched to Kundera 2.11 to use Datastax Java driver underneath. Is there anyway to specify Consistency level for Datastax Java driver using Kundera ? For thrift I have used

[code]

return mgr;

Also, em.persist() and em.find() are also supported for Datastax Java driver ?

Thanks,

[2014-04-14 09:02] mevivs commented on #571
Yes. It will work in same way for em.persist()/em.find() and consistency level as well.

-Vivek

[2014-04-14 09:10] ansarrafique commented on #571
Thanks Vivek, but how to specify consistency via client  for the entity manager? Datastax allows to specify consistency for each operation. Do you have simple example ?

Thanks,

[2014-04-14 09:25] ansarrafique commented on #571
Does this property works for each driver supported underneath ? e.g Thrift, Pelops, and Datastax Java driver ?

em.setProperty("consistency.level",  ConsistencyLevel.QUORUM);

[2014-04-14 10:10] mevivs commented on #571
Yes

[2014-04-14 10:53] ansarrafique commented on #571
Thanks Vivek, Is there any way to check the current consistency level for Kundera entity manager at run time ? I doubt that em.setProperty("consistency.level", ConsistencyLevel.QUORUM) doesn't work properly because it takes the same amount of time to execute queries both using consistency level ONE or QUORUM.

There was a difference when I set Consistency level by getting the thrift client using e

[2014-04-14 11:06] mevivs commented on #571
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/cassandra-ds-driver/src/main/java/com/impetus/kundera/client/cassandra/dsdriver/DSClient.java#L521

Not sure about performance, but it is in consistent with Thrift and pelops.

To verify, whether it is being set or not? Try using reflection to invoke getConsistencyLevel()
https://github.com/impetus-opensource/Kundera/bl

[2014-04-14 13:27] ansarrafique opened #572 "Datastax Java driver no hosts avaialble exception"
Getting no host exception below with a datastax java driver. The same code works for Pelops and Thrift. I have changed kundera client lookup class and port in persistence.xml file.

com.datastax.driver.core.exceptions.NoHostAvailableException: All host(s) tried for query failed (tried: /192.168.100.20 (com.datastax.driver.core.TransportException: [/192.168.100.20] Unexpected exception triggered (j

[2014-04-14 14:06] moldziej commented on #570
Hello again,
I've found out what's the reason of validation failure when primary key autogeneration is used.

When schema in kundera is created, "kundera_sequences" TableInfo is created with type set to "CounterColumnType":

[code]

Then, when schema is exported to schema manager, it is validated with schema retrieved from Cassandra:

[code]

In cfDef (retrieved from Cassandra) column type is <b>"

[2014-04-14 14:08] Restage opened #573 "[Neo4j] Database lock is not removed after IllegalArgumentException in NullOrInvalidEntityRule class"
I tried to insert an entity in my Neo4j database and got an IllegalArgumentException from the NullOrInvalidEntityRule class, stating that my "Entity object is invalid". After this exception is thrown I'm no longer able to work with the embedded database, because the connection is not closed, which leaves the lock in the graph database folder. As a result I get an java.nio.channels.OverlappingFileL

[2014-04-14 14:56] mevivs commented on #572
Did you enabled native_cql3_support in cassandra.yaml?

-Vivek

[2014-04-14 14:57] mevivs commented on #570
@moldziej
You are right. Team is working on to fix it on current trunk.Will soon post an update.

-Vivek

[2014-04-14 14:58] mevivs commented on #573
@kkmishra : please look into this.

-Vivek

[2014-04-14 14:59] ansarrafique commented on #572
I am using Cassandra 2.0.6 version, latest one and I think it is enabled by default. There is no property native_cql3_support in cassandra.yaml. However, start_native_transport is enabled.

[2014-04-14 15:01] mevivs commented on #572
Datastax java driver 1.x is not compatible with Cassandra 2.x(As per datastax team)

Kundera currently supports Cassandra 1.2.9 and Datastax 1.x version

-Vivek

[2014-04-14 15:06] ansarrafique commented on #572
Thanks and when a support for Cassandra 2.x is planned  ?

[2014-04-14 16:06] ansarrafique commented on #572
I have tried again with Cassandra 1.2.9, but getting same exception. I am using Kundera 2.11 with Apache Cassandra 1.2.9, and  start_native_transport is enabled.

[2014-04-14 16:09] ansarrafique commented on #572
Are there other properties to specify while creating entity manager factory for datastax java driver ?

EntityManagerFactory emf = Persistence.createEntityManagerFactory("cassandra_pu");
            mgr = emf.createEntityManager();

I assume it should work as it works for Thrift and Pelops.

[2014-04-14 16:48] mevivs commented on #572
Just had a look:

[code]

I suspect it is because of multiple guava jars present in classpath.

-Vivek

[2014-04-15 08:16] ansarrafique commented on #572
Rite, that was the problem I think, but still it doesn't work properly. I have excluded other jars from classpath

[code]

Actually, I am  not getting any exception neither on the server side nor on the client side, but it doesn't seems to persist data. The same code works fine for Thrift and Pelops using Kundera.

[2014-04-15 10:51] kkmishra commented on #573
I tried few combinations but was not able to replicate.
Please share your sample code snippet.

[2014-04-15 14:13] msfbrasil opened #575 "Insert with timestamp on Cassandra with Kundera 2.11"
Hello there!

First of all, this is most a question than an issue report.

I've tried to use TIMESTAMP insert option of Cassandra using Kundera 2.11 without success, and I would like to know if is there any chance I'm doing it wrong or is, in fact, a known limitation of this version.

First try, I've used "createQuery", but when I've got the first exceptions, during some research, I've found some

[2014-04-15 15:32] mevivs commented on #575
setParameter() will not work over native CQL3 queries. it is only applicable for JPQLs

-Vivek

[2014-04-15 16:32] jossef opened #576 "Index Annotation"
I followed the documentation and applied the Index annotation.
Then i found out that it's deprecated

![image](https://cloud.githubusercontent.com/assets/1287098/2709894/2aa13f9e-c4bb-11e3-83e4-1586e3f21135.png)

What should i do?

[2014-04-15 16:40] mevivs commented on #576
Please use
https://github.com/impetus-opensource/Kundera/blob/trunk/src/jpa-engine/core/src/main/java/com/impetus/kundera/index/Index.java
https://github.com/impetus-opensource/Kundera/blob/trunk/src/jpa-engine/core/src/main/java/com/impetus/kundera/index/IndexCollection.java

## Sample entity

https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/cassandra-core/src/test/j

[2014-04-15 18:30] jossef commented on #576
Thanks :)
please update https://github.com/impetus-opensource/Kundera/wiki/Schema-Generation

[2014-04-15 18:30] #576 closed, assigned to nobody

[2014-04-15 19:53] msfbrasil commented on #575
Thanks a lot Vivek.

I'm not familiar with such usage of JPA and JPQL.
I've constructed the insert string with parameters and It worked pretty fine.

Thanks again and best regards,
Mauro.

[2014-04-15 19:53] #575 closed, assigned to nobody

[2014-04-15 21:50] makearl opened #577 "Entities that extend a MappedSuperclass do not validate Ids properly"
Hi,

If an Entity containing an @Id annotation extends a MappedSuperclass without an @Id annotation, a RuleValidationException is thrown. This happens because the list of keys found when iterating through the Entity's annotations gets erased when each super class is evaluated.

I think the fix to this problem would just be removing the line that clears the list of keys at line 99 of EntityFieldAnn

[2014-04-16 07:16] chhavigangwal commented on #577
Is DeviceType an entity or mappedSuperClass? Can you please share entity hierarchy structure ?

[2014-04-16 13:15] makearl commented on #577
DeviceType is an Entity. Here's the mapped super class and the entity that inherits from it:

[code]

Here's the DeviceType Entity:

[code]

When I remove line 99 from EntityFieldAnnotationRule.java, I can successfully persist this Entity.

[2014-04-16 17:15] chhavigangwal commented on #577
Sounds like an issue! Would you like to submit a pull request for same?

[2014-04-17 00:15] makearl commented on #577
Sure, I added pull request #578 for this issue. Thanks!

[2014-04-17 18:36] #577 closed, assigned to nobody

[2014-04-17 20:51] vanessaschissato commented on #554
When is supposed to be launched the next release with this feature?

[2014-04-17 23:59] mevivs commented on #554
A patch release is planned along with Cassandra 2.x upgrade probably in next 3 weeks

-Vivek

[2014-04-18 07:23] kkmishra opened #579 "Can't get RDBMS Entities with relationships"
Hi,

I'm having a problem retrieving RDBMS Entities that have relationships (I've tried OneToOne and ManyToOne). When I try to retrieve them, I get a Null Pointer Exception:
java.lang.NullPointerException
at java.util.concurrent.ConcurrentHashMap.hash(ConcurrentHashMap.java:333)
at java.util.concurrent.ConcurrentHashMap.get(ConcurrentHashMap.java:988)
at com.impetus.kundera.metadata.model.Applicat

[2014-04-18 07:52] mevivs commented on #567
Are we good to close on this?

-Vivek

[2014-04-18 18:37] ghost commented on #110
Hey Guys,
Is the composite key feature supported for HBase in 2.11 ? or planned for future release?

[2014-04-21 06:16] chhavigangwal commented on #110
It is on road map. Team is working on it. Will post an update soon.

[2014-04-21 10:05] kkmishra commented on #563
Fixed in current trunk, Please verify.

Thanks
Kuldeep

[2014-04-21 10:47] kkmishra commented on #579
Hi,

1) NullPointerException has been fixed in current trunk.
2) I am working on lazy loading problem, will update soon.

Thanks
Kuldeep

[2014-04-21 13:16] chhavigangwal commented on #569
Looking into the issue. Will soon post an update.

Chhavi

[2014-04-21 19:48] prabhalar commented on #567
Apologies for not getting back to you for so long. We had the issue with an embeddable object (@Embeddable) and unfortunately I don't have the source code to share with you. Perhaps you can check the above code with any embeddable object and see if it works. I will also look into it once again and get back to you if there any any more updates from my side. If not, feel free to close this issue. Th

[2014-04-22 11:27] kkmishra commented on #567
This is what I Verified with @Embeddable as well and working fine i.e. transient fields not persisting.

User Entity :

[code]

Embeddable Entity

[code]

Test :

[code]

If you could share your sample code then it would be good for me to reproduce the problem.

-kuldeep

[2014-04-22 11:52] chhavigangwal commented on #568
Fix has been added. Releasing with 2.11.1

[2014-04-23 11:19] mevivs commented on #164
Closing. Keep tracking with #24

[2014-04-23 11:19] #164 closed, assigned to nobody

[2014-04-23 11:39] mevivs commented on #341
Closing it. Continue tracking with #24

[2014-04-23 11:39] #341 closed, assigned to nobody

[2014-04-23 12:20] petermetz commented on #559
Hi Vivek,

Just wanted to ask if this still in discussion?

Thanks,
Peter

[2014-04-23 12:58] mevivs commented on #559
Hi Peter,
Yes. We had a discussion, and need to finalize among given below points:
1. Provide a way to allow user plugin own TimeStampGenerator implementation.
2. Allow user to set time stamp per operation (similar to em.getDelegate() and then client.setConsistencyLevel).

With point 1, it would simply override default behavior, if implementation found in classpath. Question is what if multiple im

[2014-04-23 13:07] kkmishra commented on #579
Hi,

Please share your sample code, that would be good for me to replicate  org.hibernate.SessionException problem.

Thanks
Kuldeep

[2014-04-23 14:26] kkmishra commented on #572
Hi Ansar,

Is it possible for you to share some sample code, to reproduce the error which you are facing?

There are some junits which are working with same persistence.xml properties which you have provided in your persistence.xml

Here are some link :
Test :
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/cassandra-ds-driver/src/test/java/com/impetus/kundera/client

[2014-04-24 01:45] prabhalar commented on #567
The last field in the userinfo class should be transient, something like

  @Embedded
@Transient
    private EmbeddedInfo info;
// getters and setters

[2014-04-24 18:09] ghost opened #580 "Lazy Loading and Neo4J"
Raising a new issue based on the discussion here:
https://groups.google.com/forum/#!topic/kundera-discuss/eUfWn0I5OXk

Here's the Context:

Here's a scenario, we're using neo4j as a triple store and store the linked data in it (http://www.neo4j.org/develop/linked_data), which is a perfectly suitable scenario. Our requirements are also to support the polyglot persistence, hence, Kundera is by the b

[2014-04-24 18:49] eliquious commented on #195
Hey, I'm seeing this error as well. I'm new to Spring and probably also have an error in my persistence.xml file but I just can't seem to find it.

You guys have any ideas?

[code]

[2014-04-24 18:52] ghost opened #581 "Incorrect handling of bi-directional relationship In Neo4JClient"
Current code:

[code]

Currently the way neo4j handles bi-directional relationship is based just on type, which in my opinion is incorrect. Given following scenario:

[code]

Now let's say you load the the person with name "Time Cook" then the code above would actually creates a relationship like this

Person("Tim Cook") -- memberOf -> Organization ("Applie") -- founder -->  Person("Tim Cook")

wh

[2014-04-24 18:54] mevivs commented on #195
Please share com.examples.spring.hibernate.CollectionEntity  definition and CRUD code snippet

-Vivek

[2014-04-24 19:06] eliquious commented on #195
Here's the Entity:

[code]

And here's the Spring controller

[code]

The error is reported when I call `findAll()` on the `collectionRepository`.

The `CollectionRepository` interface simply extends `JpaRepository<CollectionEntity, Long>`.

[2014-04-24 19:39] eliquious commented on #195
It looks like the `getResult()` call in `KunderaQuery.initEntityClass` (line 390) is `null`.

Going back even further, the `tokenizer` for the `KunderaQueryParser` has a `queryString` of `Select  from CollectionEntity null`. Which seems to be wrong as well. I hope that gives some more insight.

[2014-04-24 20:48] zeremit opened #582 "Order by doesn't work."
I wrote a simple project https://github.com/zeremit/kundera-example
I used mongodb.
And try to use order by.
        CriteriaBuilder criteriaBuilder = em.getCriteriaBuilder();
        CriteriaQuery<User> query = criteriaBuilder.createQuery(User.class);
        Root<User> from = query.from(User.class);
        query.select(from.alias("p"));
        query.orderBy(criteriaBuilder.desc(from.get("name"

[2014-04-24 23:01] eliquious commented on #195
I've documented the error in more detail [here](http://stackoverflow.com/questions/23281335/nullpointerexception-spring-jpa-kundera-error-creating-entity-class).

[2014-04-25 11:02] SunilHulikal commented on #203
hello sir..
this is sunil
i am newer to maven…i am facing a problem while creating new maven project it throws an below error….i am using eclipse 4.3(kepler), apache-maven 3.2.1 and i am installed maven integration for eclipse from eclipse market place…

Errors occurred during the build.
Errors running builder ‘Maven Project Builder’ on project ‘Helloworld’.
Could not calculate build plan: Plugin

[2014-04-25 11:44] mevivs commented on #203
@SunilHulikal
Not able to understand, how is it related to #203 . But yes, by looking into error looks like

[code]

either repository configure with project's maven settings are missing this dependency jar or artifactId or version id is not correct

Please refrain pasting issues which are irrelevant to project.

-Vivek

[2014-04-25 12:16] chhavigangwal commented on #582
Looking into the issue. Will soon update.

[2014-04-25 14:45] jfgosselin opened #583 "DSClientFactory and Session"
Right now the Session are created and closed on every operations in DSClientFactory  which isn't optimal based on the API.

http://www.datastax.com/drivers/java/2.0/com/datastax/driver/core/Session.html

“ … A session holds connections to a Cassandra cluster, allowing it to be queried. Each session maintains multiple connections to the cluster nodes, provides policies to choose which node to use f

[2014-04-25 14:50] SunilHulikal commented on #203
thanks a lot sir..and sorry...

[2014-04-25 15:17] mevivs commented on #583
Make sense. Will make this change.

-Vivek

[2014-04-25 19:29] ghost commented on #581
Ok, so i guess the fix might actually need to be done while building relation metadata object, so inside relation class when setting the reference class

[code]

[2014-04-29 18:21] jeevitesh opened #584 "a function which gets rowid as soon as I set the value"
Need to find a function or feature where in I can know rowid as soon as I set the value and use persists. The workaround which I can think of is using select. Any other features...
thanks in advance

[2014-04-30 03:59] kkmishra commented on #584
Hi,

Are you using auto generation for id and for which database?

Id field of persisting object get updated after persist, so you can get Id from that object as well.

-Kuldeep

[2014-04-30 06:20] jeevitesh commented on #584
Yes I'm using autogeneration for Hbase.
Thanks it works

[2014-04-30 06:20] #584 closed, assigned to nobody

[2014-04-30 15:38] petermetz commented on #559
Hi Vivek,

This was roughly my idea as well, just want to ask a quick question about point one:
Would the classpath scan take place based on annotations (let's say @TimeStampProvider) or it would check for a class which was declared in the persistence.xml?
I guess the best would be to do both of them and let the user decide if they prefer annotations, or XML configuration, but that's more work as

[2014-04-30 22:58] Rastusik opened #585 "v2.11 - cassandra - InvalidRequestException(why:Unknown identifier key)"
When trying to persist an entity to cassandra, Kundera assumes, that the entity identifier's column name is "key".

Example - I have an entity like this:

[code]

when I try to call

[code]

I'm getting this error:

Error during executing query BEGIN BATCH   INSERT INTO "test"("title","key") VALUES('titleTest',1)  APPLY BATCH, Caused by: com.impetus.kundera.KunderaException: InvalidRequestExceptio

[2014-05-01 08:07] chhavigangwal commented on #583
Fixed in Kundera-2.11.1

[2014-05-01 08:08] #583 closed, assigned to nobody

[2014-05-01 08:08] chhavigangwal commented on #582
Fixed in Kundera-2.11.1

[2014-05-01 08:08] #582 closed, assigned to mevivs

[2014-05-01 08:08] chhavigangwal commented on #570
Fixed in Kundera-2.11.1

[2014-05-01 08:08] #570 closed, assigned to chhavigangwal

[2014-05-01 08:09] #568 closed, assigned to chhavigangwal

[2014-05-01 08:10] chhavigangwal commented on #567
Fixed in Kundera-2.11.1

[2014-05-01 08:10] #567 closed, assigned to nobody

[2014-05-01 08:10] chhavigangwal commented on #566
Fixed in Kundera-2.11.1

[2014-05-01 08:10] #566 closed, assigned to nobody

[2014-05-01 08:10] chhavigangwal commented on #563
Fixed in Kundera-2.11.1

[2014-05-01 08:10] #563 closed, assigned to nobody

[2014-05-01 08:11] chhavigangwal commented on #554
Fixed in Kundera-2.11.1

[2014-05-01 08:11] #554 closed, assigned to chhavigangwal

[2014-05-01 08:11] chhavigangwal commented on #553
Fixed in Kundera-2.11.1

[2014-05-01 08:11] #553 closed, assigned to chhavigangwal

[2014-05-01 08:11] chhavigangwal commented on #552
Fixed in Kundera-2.11.1

[2014-05-01 08:11] #552 closed, assigned to chhavigangwal

[2014-05-01 08:11] chhavigangwal commented on #550
Fixed in Kundera-2.11.1

[2014-05-01 08:11] #550 closed, assigned to nobody

[2014-05-01 08:12] chhavigangwal commented on #541
Fixed in Kundera-2.11.1

[2014-05-01 08:12] #541 closed, assigned to nobody

[2014-05-01 08:12] chhavigangwal commented on #490
Fixed in Kundera-2.11.1

[2014-05-01 08:12] #490 closed, assigned to chhavigangwal

[2014-05-01 08:12] #260 closed, assigned to nobody

[2014-05-01 21:12] Rastusik commented on #585
I have just downloaded the 2.11.1 version (released just a couple of hours ago) and it seems like this issue is fixed already.

[2014-05-02 06:12] chhavigangwal commented on #461
Upgraded to Cassandra 2.0.4 in kundera-2.11.1

[2014-05-02 06:12] #461 closed, assigned to mevivs

[2014-05-02 06:15] chhavigangwal commented on #564
Fixed in Kundera-2.11.1

[2014-05-02 06:15] chhavigangwal commented on #540
Fixed in Kundera-2.11.1

[2014-05-02 06:16] #540 closed, assigned to mevivs

[2014-05-02 06:21] chhavigangwal commented on #452
When trying polyglot with MySQL-5.1+ , it throws foreign key constraint .

[2014-05-02 06:57] jeevitesh opened #586 "Order of data"
Hi,
    Need to get data in same order as I inserted in hbase-kundera.
If there is a way please give inputs
Thanks

[2014-05-02 08:41] chhavigangwal commented on #524
Enable an authentication mechanism over rest-layer of Kundera

[2014-05-02 16:35] mrniko commented on #457
+1

[2014-05-03 13:18] Rastusik commented on #585
So, today I found the cause of the problem - it's the CassandraUtilities class, getIdColumnName() method.

Since the CassandraConstants.CQL_VERSION key is missing in the externalProperties HashMap, this method tries to find out, whether the entity class uses some of the CQL3 types in it's columns. My example entitie's columns use only basic types, so this code:

..
return isCql3Enabled || contains

[2014-05-04 18:19] Rastusik opened #587 "cassandra - high concurrency read-write app problems"
I'm implementing an app, which is generating hundreds of thousands rows in 4 threads. Each thread opens a separate connection to cassandra.

Every item of the table has a unique hash identifier (String), but the primary key is an uuid.

The process of the item persisting is the following:

1) The item is created and its hash is computed.
2) Then a lookup for the hash is being executed in a second

[2014-05-05 02:32] chhavigangwal commented on #585
Looking into the issue will get this fixed.

[2014-05-05 05:49] chhavigangwal commented on #586
AFAIK there is no direct support for order by in HBase .
ES and Lucene based indexing can be used to achieve the same and can easily be integrated with Kundera .You can also try exploring Hive and see if that helps (https://cwiki.apache.org/confluence/display/Hive/LanguageManual+SortBy) .
However support of Hive query within Kundera is not available

[2014-05-05 13:12] chhavigangwal commented on #587
Can you please share sample entities and emf operation code snippet ?

[2014-05-05 19:35] Rastusik commented on #587
I am using following entities:

[code]

The basic process is like this:

[code]

after I collect at least 100 entities, I run this:

[code]

The process runs in 2 steps, all the above code runs for the first time on with an empty database, after that it runs with the generated data from the first step.

When running in 2 separate threads, no errors or exception occur, but when running in more thre

[2014-05-05 19:46] Rastusik commented on #587
when I was using hibernate for data persisting, the code worked correctly

[2014-05-06 15:52] eliquious commented on #195
Has there been any progress on this issue?

[2014-05-06 16:12] mevivs commented on #195
@eliquious
Let me have a look and post an update by tomorrow?

-Vivek

[2014-05-06 16:14] eliquious commented on #195
@mevivs
Thanks! That would be great!

[2014-05-06 16:36] mevivs commented on #195
Possible to email me sample project to have a quick look on this?

-Vivek

[2014-05-06 16:40] eliquious commented on #195
Sure, let me put something together. I'll get it to you later today.

[2014-05-06 17:48] msfbrasil opened #588 "Using a different "consistency level" for a ColumnFamily."
Hello there!

Is there any way to configure the consistency level just for one entity?

We are using Kundera version 2.11.
Our original code creates the EntityManagerFactory passing the map with customized properties, including the consistence level: ConsistencyLevel.ONE.

To access the mentioned entity using ConsistencyLevel.QUORUM, I've tried to set this configuration after retrieving the Entity

[2014-05-06 18:36] msfbrasil commented on #588
Problem solved!

Most of posts regarding the subject presented examples where the ConsistenceLevel were provided as a enum (like, ConsistenceLevel.ONE).

Auto-complete always give me two options, being: 1- "org.apache.cassandra.db.ConsistencyLevel", and 2- "org.apache.cassandra.thrift.ConsistencyLevel".

Minding the independence of client implementation, I've used the prior option, that didn't wor

[2014-05-06 18:36] #588 closed, assigned to nobody

[2014-05-06 18:44] mevivs commented on #588
+1 to define as String. Enum conversion would be implicitly  handled by Kundera

-Vivek

[2014-05-07 10:00] jossef opened #589 "Cassandra update existing entity - adding index issue"
Hey,

I'm using the latest release (2.11) with Cassandra
I have this line in my persistence.xml [taken from wiki](https://github.com/impetus-opensource/Kundera/wiki/Schema-Generation):

[code]

This is my existing entity:

[code]

I modified it by adding a new field to be indexed:

[code]

Afterwards, i executed my code again and noticed that the change iv'e made has not been detected by the updat

[2014-05-07 11:30] kkmishra commented on #589
Hi,

Confirming its an issue with thrift base schema generation, however it should work with cql3.
To use cql3 pass property map while creating EntityManagerFactory like :

[code]

a fix will be added in current trunk branch.

Thanks
Kuldeep

[2014-05-07 14:14] kkmishra commented on #587
Please provide the code which is working fine with mysql, because that would help to dig out the problem easily.

Thanks
Kuldeep

[2014-05-07 14:25] Rastusik commented on #587
the code which is working with mysql is the same, it just works with hibernate entities and hibernate repositories, no difference there, even with 6-8 parallel worker  threads I get no errors (I haven't tried more, because there's no need to do that).

the main problem is, that Kundera Entities become wrong data from JPA. In the 1st data example above, the Json string I'm storing in Cassandra is

[2014-05-08 04:56] kkmishra commented on #587
Hi,

Could you please share your working project?
That would help us to find out the problems.

On Wed, May 7, 2014 at 7:55 PM, Rasta notifications@github.com wrote:

##

Thanks and Regards
Kuldeep Kumar Mishra
+919540965199

[2014-05-08 07:44] kkmishra commented on #585
I think it is a case of cql and thrift interoperability, that is you have created column families using cqlsh, and using kundera-cassandra in thrift way.

If you are creating column families using cqlsh then it is recommended to use kundera-cassandra in cql3 way.
To use kundera-cassandra in cql3 way just do the following while creating EntityManagerFactory.

[code]

Hope it will work for you.

Tha

[2014-05-08 07:53] Rastusik commented on #585
Thanks, I will try it as soon as possible, but I am leaving for a week now.

[2014-05-08 07:56] Rastusik commented on #587
Hi, I would prefer not to publish my project. I will try to create my entity manager factory as told in #585 and see, if the problem still occurs. Anyway, I'm going away for a week, so I'll provide the feedback later. Thanks for help.

[2014-05-08 09:39] ansarrafique opened #590 "Kundera Datastax Exception"
Getting the exception below when try to use Kundera using Datastax. It works fine on a single node but problem occurs in a distributed environment.

WARN 11:30:30,987 Failed to accept a connection.
java.io.IOException: Too many open files
    at sun.nio.ch.ServerSocketChannelImpl.accept0(Native Method)
    at sun.nio.ch.ServerSocketChannelImpl.accept(ServerSocketChannelImpl.java:241)
    at org.jb

[2014-05-08 09:42] mevivs commented on #590
Not related to Kundera.
Check this out:
http://www.datastax.com/docs/1.1/troubleshooting/index#toomany

This should help you out.

-Vivek

[2014-05-08 09:45] ansarrafique commented on #590
Thanks Vivek. Actually I really doubt that it's not related to Kundera. It absolutely works fine if I use native datastax java driver on the same nodes in a distributed environment, but the exception occurs when I use it with Kundera.

[2014-05-08 09:55] mevivs commented on #590
Did you try with  http://www.datastax.com/docs/1.1/troubleshooting/index#toomany?
what's the connection pooling settings for Kundera powered datastax java driver?

-Vivek

[2014-05-08 11:08] ansarrafique commented on #590
Where I have set the connection pooling setting. Do I also have to set external dsclient.xml configuration file ? If so, what should be in dsclient.xml file. Any example ?

[2014-05-08 11:13] kkmishra commented on #590
Have a look into it
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/cassandra-ds-driver/src/test/resources/dsclient.xml

Thanks
Kuldeep

[2014-05-08 12:52] impetus-opensource-admin commented on #557
Closing. Released with 2.11.

[2014-05-08 12:52] #557 closed, assigned to nobody

[2014-05-08 12:54] impetus-opensource-admin commented on #427
Not An Issue. Closing

[2014-05-08 12:54] #427 closed, assigned to nobody

[2014-05-08 12:55] impetus-opensource-admin commented on #555
Closed. Released with 2.11.1

[2014-05-08 12:55] #555 closed, assigned to nobody

[2014-05-08 13:02] jeevitesh commented on #586
Thanks for the input, but this suggestion wont help much because I working with Hbase and using kundera.

[2014-05-08 15:51] ansarrafique commented on #590
I am still the getting the same problem. I have already tried http://www.datastax.com/docs/1.1/troubleshooting/index#toomany

and configure the external dsclient.xml. If you persist a single entity in a distributed environment it works fine, but the problem arises if you try to insert > 5000 entities. There is nothing wrong in code as the same code works for Kundera-Thrift and Kundera-Pelops

[2014-05-09 01:31] vanessaschissato opened #591 "Problem with SELECT DISTINCT in partition key"
Hi,

I'm trying to make a 'select distinct' in the partition key (my entity has a composite key), but i'm receiving an error (below).
CQL 3 allow this: https://issues.apache.org/jira/browse/CASSANDRA-4536

Entity 'Tag':

@Entity
@Table(name = "tags", schema = "a")
public class Tag {

[code]

}

Entity 'TagId':

@Embeddable
public class TagId
{
    @Column(name = "keya") // <----------- PARTITION K

[2014-05-09 07:13] kkmishra commented on #591
Hi,

Selecting the entire composite key will work for you, however selecting partial attribute of composite key is not yet supported and also DISTINCT keyword.

Following query should work for you.

[code]

It is a bug, will provide a fix soon.

-kuldeep

[2014-05-09 10:35] kkmishra commented on #586
Adding to @chhavigangwal comment
HBase returns data in sorted order. First by rowkey then by columnfamily and then by column qualifiers and finally by timestamp.

One Way to achieve insertion order in kundera that design your rowkey in such way that it always get sorted in insertion order.

-Kuldeep

[2014-05-09 10:45] kkmishra commented on #590
Closing because Duplicate of #572

[2014-05-09 10:45] #590 closed, assigned to nobody

[2014-05-09 10:48] jeevitesh commented on #586
thanks.. I'll try to achieve that.. My initial guess is it very difficult to adopt in our project.In case if I don't achieve can you suggest any other alternative

[2014-05-09 10:55] ansarrafique commented on #572
The same code has already been shared.

[2014-05-09 10:56] kkmishra commented on #572
yes, looking into it. Will update you soon.

[2014-05-09 10:57] ansarrafique commented on #572
Thank you.

[2014-05-09 13:12] kkmishra commented on #569
Hi,
I would like to suggest you to use ThriftClientFactory instead of PelopsClientFactory.

But I don't think it is a problem of client.

Could you please send me your reduced version of sample project with all spring configuration at kuld.cs.mishra@gmail.com. That would help me to debug the problem.

-Kuldeep

[2014-05-10 23:37] sltang opened #592 "Cannot persist a map in Cassandra"
Hi,

I am using Cassandra 2.0.5 and Kundera 2.12-SNAPSHOT. I have a domain class with a Map field called properties defined as:

[code]

and a method for adding properties to the map:

[code]

I add properties to the field and persist:

[code]

I do see the column being created in Cassandra:

[code]

But it throws an exception:

[code]

Once the above is removed, it works without a problem. Do you

[2014-05-11 03:28] sltang commented on #592
I found the cause. I have to switch from Thrift to CQL as documented in https://github.com/impetus-opensource/Kundera/wiki/Cassandra-Specific-Features.

[2014-05-11 03:28] #592 closed, assigned to nobody

[2014-05-12 07:29] impetus-opensource-admin commented on #511
Closing ... the duplicate issues. Please track through #381.

[2014-05-12 07:29] #511 closed, assigned to nobody

[2014-05-12 07:36] impetus-opensource-admin commented on #451
Duplicate. Please track with #457.

[2014-05-12 07:36] #451 closed, assigned to mevivs

[2014-05-12 12:35] impetus-opensource-admin commented on #205
Duplicate of #525. Closing.

[2014-05-12 12:35] #205 closed, assigned to mevivs

[2014-05-12 17:02] vanessaschissato opened #593 "Problem in Cassandra pagination over composite keys"
I'm trying to make a pagination in Cassandra using composite keys.
CQL 3 (cassandra >= 2.0.6) allow this: https://issues.apache.org/jira/browse/CASSANDRA-4851

Entity 'Tag':

@Entity
@Table(name = "tags", schema = "a")
public class Tag {

@EmbeddedId
private TagId id;

// setters e getters
}

Entity 'TagId':

@Embeddable
public class TagId
{
@Column(name = "keya") // <----------- PARTITION KEY
pri

[2014-05-12 19:39] ghost opened #594 "External Properties Not Honored For Neo4J"
Looks like the neo4j client factory never looks at external properties when instantiating GraphDatabaseService,  it only looks at what's in the puMetadata.

[code]

Looks like a bug to me.

[2014-05-13 05:46] chhavigangwal opened #595 "Upgrade Kundera-oraclenosql for Oracle NoSQL Database 3.0"
Current Kundera oraclenosql client supports Oracle NoSQL 2.0.26  version . Oracle NoSQL Database 3.0 is a major release and kundera library should be upgraded to support higher version.

[2014-05-13 09:41] chhavigangwal commented on #593
Trying on which version of Kundera ?

[2014-05-13 11:43] vanessaschissato commented on #593
2.11.1

[2014-05-13 12:00] chhavigangwal commented on #593
Few things :
1) Kundera-2.11.1 is currently stable to be used with Cassandra 2.0.4
2) However , I tried running the following query with Cassandra 2.0.7 running as a standalone server :
 Query q = em.createNativeQuery("SELECT \* FROM \"CompositeUser\""
                + " WHERE \"userId\" = '" + key.getUserId() + "'"
                + " AND (\"tweetId\", \"timeLineId\") >= (" + key.getTweetId() +

[2014-05-13 12:47] chhavigangwal commented on #527
Please share the entity definitions to further analyze the issue.

Chhavi

[2014-05-13 13:18] chhavigangwal commented on #594
Its an issue and needs to be fixed . Will discuss with the team if we can provide a fix for the same in 2.12 release.
However , as the fix is not major and if its too critical and impacting your current work would you like to contribute a pull request for same?

Chhavi

[2014-05-13 15:40] kkmishra commented on #591
Hi,

Selecting partial attribute of composite key is only requirement or you want to select the partial attribute of another embedded objects as well ?

Partial key selection on composite id would be released with 2.12, but support for later one you have to wait for > 2.12 releases

Please provide your input.

-Kuldeep

[2014-05-13 17:55] vanessaschissato commented on #591
My actual need is only selecting partial attribute of composite keys.

[2014-05-13 17:57] vanessaschissato commented on #591
I'm using Kundera 2.11.1 and i'll be waiting for the 2.12 ;)

For now i'm using a native query that works for me.

[2014-05-13 18:04] vanessaschissato commented on #593
My real schema is below (i simplified this in the example above, but forgot to change in the logs):

CREATE TABLE tags (
    customer text,
    host text,
    metric text,
    PRIMARY KEY (customer, host, metric)
);

em.createNativeQuery(
                                                        "SELECT \* FROM \"tags\""
                                                       + " WHERE \"customer\" =

[2014-05-14 10:01] kkmishra commented on #565
Hi,

You have same MapKeyJoinColumn for both relation i.e. @MapKeyJoinColumn(name = "ACTS_IN") as per jpa you have to provide different-different MapKeyJoinColumn for different-different relations.

Please try by changing it. It should work for you.

-Kuldeep

[2014-05-14 20:16] chhavigangwal commented on #593
Tried running the same query along with the defined schema on Cassandra 2.0.6 and 2.0.7  both and it works fine . Which version of Cassandra are you using?

Can you share some more details of your app?

Chhavi

[2014-05-15 18:50] msfbrasil opened #596 "Cassandra list with entities missing fields..."
Hello there!

We were using Kundera for some time to access a Cassandra cluster.

I've created a new service that is executed lots of times and lists a subset of rows of an entity.
After getting this entity's list, I perform a loop to build an array with the values of a "Double" field that belongs to this entity.

This code is crashing because, sometimes, this "Double" field value is unexpectedly

[2014-05-15 20:15] msfbrasil commented on #596
Hello there!

In order to better understand the problem, I've printed out the returned entity list after every call.

I could notice that sometimes other fields of the entity are "null" as well and that this happens mainly (I can't say by now if this wasn't a coincidence), involving the newest records.

Important: This service is responsible for listing the "X" newest entities. And those that are

[2014-05-16 13:35] chhavigangwal commented on #596
Can you share some server/kundera logs to help us further look into the issue ?

Chhavi

[2014-05-16 17:13] Rastusik commented on #585
it seems that the code snipplet from @kkmishra worked for me, the issue with CQL3 detection hasn't occured anymore.. shall I close the issue?

thank you very much for your help!

[2014-05-16 18:07] Rastusik commented on #587
So now I'm creating the entity manager factory as suggested in #585, but nothing happens, same errors occur. I checked the number of active connections to cassandra and I got 20 of them, so the connections are opened as expected (every thread opens a new connection in a fixed thread pool, but only 4 of them are active, e.g. are writing and reading data). Could it be that there is a piece of unsync

[2014-05-16 18:50] msfbrasil commented on #596
Hello there!

I'm not sure how to get the logs that could help you guys.

These queries are performed too many times by a STORM topology.
So, switch the debug level to a more detailed option would generate too much data, and I think it's quite unlikely this problem comes from Cassandra.

Could you please specify the logs you would like to get?

And, despite that, no one have ever made such complai

[2014-05-16 19:08] mevivs commented on #596
Hi,
We need to look into kundera specific logs for error messages. I suspect it is because improper marshalling/unmarshalling of data.

Earlier such issues have been discussed and mostly related to incorrect mapping.

-Vivek

[2014-05-16 19:23] mevivs commented on #587
Just to summarize, basically it is happening in case of :
1. Data with same hash - uuid is present, means in case of update
2. Working fine with 2 concurrent threads but creating issue with more than > 2, please confirm.
3.  I can see UUID is generated via random function, what about the hash function?

Finally, about JSON string, can you please provide more detail how actually it is getting mappe

[2014-05-16 19:52] Rastusik commented on #587
1) correct
2) correct (but I cannot confirm that on other computers it would work in the same way, it's just an inaccurate observation on my setup)
3) the hash function is a md5 checksum generated from the data of the data structure, but there is no problem with my app algorithm or checksum generation, I designed the algorithm to work with no conflicts at all, I'm 100% sure that there are no hash

[2014-05-17 15:28] chhavigangwal commented on #585
+1
Please close the issue.

Chhavi

[2014-05-17 16:26] #585 closed, assigned to chhavigangwal

[2014-05-17 20:29] Rastusik commented on #587
I created a sample app which reproduces the problem (as @kkmishra and @mevivs requested). You can download the sources from this link:
https://www.dropbox.com/s/1lhlf462yj2abvu/KunderaThreadTest.zip

Inside the zip archive, there is a maven project with a simpler demonstration of my problem (the problem still occures in the simpler version).

To run it correctly, you have to update the persistence

[2014-05-18 15:03] ghost opened #597 "mongodb: LIKE operator"
Hi there,

I'am trying to use the LIKE operator with mongodb. Since the wiki says it works I expected it to work. But I tried it without success. I only get results using the LIKE operator when there is an exact match.

I tried it with a jpa-query and without lucene.

I couldn't get lucene to work because of missing class. If I try to use lucene I get the following message:
com.impetus.kundera.uti

[2014-05-19 13:29] chhavigangwal commented on #596
If not set explicitly , Kundera creates default logs in home directory of your system under name of kundera.log
Can you please share the same ?

Chhavi

[2014-05-19 14:09] msfbrasil commented on #596
Hello there!

Sorry by the delay in answering, but I was trying to find out what can I send you guys that could be of some help.

I think this couldn't be an incorrect mapping problem, because this should have a deterministic behavior, shouldn't it?

I've performed two execution rounds on our test environment. First one for 2047197 queries, just 116 showed the problem with the field I'm checking (

[2014-05-19 15:20] chhavigangwal commented on #597
Like operator should work with jpa-query. A sample test case for using like operator with mongoDB

https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-mongo/src/test/java/com/impetus/client/twitter/TwitterTestBaseMongo.java

Also in order to use lucene you need to add the following to persistence.xml  :

[code]

And also add following dependency along with core to use lucene

[cod

[2014-05-19 15:20] ansarrafique commented on #572
Solved.

[2014-05-19 15:20] #572 closed, assigned to nobody

[2014-05-19 20:35] msfbrasil commented on #596
Hello there!

Just an update.
I've tried to find out the reason behind these incomplete unmarshalling issue, including:

1- Tests with older versions, like 2.10 and 2.11;
2- Removed the ordering; and
3- Changed the consistency level to "QUORUM".

All without success.
The problem was perceived after all these changes.

The only pattern I've noticed after lots of tests is that it seems that this hap

[2014-05-20 13:07] ghost commented on #594
Yes, i will go ahead and submit a pull request soon.

Thanks
Manish

[2014-05-20 15:40] ngrigoriev opened #598 "isTokenAware configuration property does not work"
I have not tested it but I have spotted a problem in the code while looking for the policy logic (DSClientFactory class):

[code]

Most likely it is meant to be !isBlank(). Which is, in fact, not needed - using Boolean.valueOf() would be enough.

[2014-05-20 15:45] mevivs commented on #598
Valid point. Would you like to contribute? Not sure but may need to handle Npe a well
+1 for change

-vivek

[2014-05-20 15:48] ngrigoriev commented on #598
Sure, will be my pleasure. No, Boolean.valueOf() handles nulls. However, I think a unit test would be probably needed...I did not check if there was a test for handling of this property or not.

[2014-05-20 15:56] mevivs commented on #598
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/cassandra-ds-driver/src/test/java/com/impetus/kundera/client/cassandra/dsdriver/DSClientExternalPropertyTest.java

it is there.but looks like doesn't handle this scenario.

Thanks again,
-Vivek

[2014-05-20 16:22] ngrigoriev commented on #598
Looks like there is another place in the same file:

[code]

Will take care of that one too.

[2014-05-20 16:33] mevivs commented on #598
My bad. Definitely I missed things. Copy paste effect. Thanks for fixing it

Cheers,
-Vivek

[2014-05-20 17:56] ngrigoriev commented on #598
Vivek,

Do I need anything special in the environment to run your unit tests? Specifically, I am trying to run DSClientExternalPropertyTest. No luck on my Mac, runs out file descriptors when opening the sockets. I have tried to raise the limits until I killed my system ;) Trying now on a Linux box, not any better:

Tests run: 4, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 48.171 sec <<< FAIL

[2014-05-20 18:01] mevivs commented on #598
Can you share your patch. let me take care of this test case. What's the thrift rpc_port setting? 9160 or different?

Cheers,
-Vivek

[2014-05-20 18:05] chhavigangwal commented on #596
Can you share a sample project to help us further analyze the issue ?

Chhavi

[2014-05-20 18:08] ngrigoriev commented on #598
https://gist.github.com/ngrigoriev/a359d19c9c35c490b0dc

[2014-05-20 18:09] ngrigoriev commented on #598
Also I did not configure anything for the tests - I was assuming it would use the default settings since the test starts embedded Cassandra, creates keyspace etc.

[2014-05-20 18:10] mevivs commented on #598
@ngrigoriev
Thanks. i will get this merged. Although a pull request could have been better.

-Vivek

[2014-05-20 18:19] ngrigoriev commented on #598
@mevivs

I can do a pull request, just was not comfortable about submitting something that may break the test(s) and not being able to try the tests

[2014-05-20 18:22] ngrigoriev opened #599 "support for LatencyAwarePolicy"
It would be nice to support LatencyAwarePolicy in addition to DCAwareRoundRobinPolicy and RoundRobinPolicy.

[2014-05-20 21:19] msfbrasil commented on #596
Hello there!

I'm trying to get some usable logs here, but Cassandra's "system.log" shows nothing besides some "Memtable.java" and "AutoSavingCache.java" info about internal procedures.

And logs from Kundera are all only of "INFO" level.
Nothing about any unmarshalling issue.

I'll try to get back to this issue as soon as possible.
Maybe build an isolated project that shows the problem.

Thanks a

[2014-05-21 08:22] chhavigangwal commented on #595
Issue fixed. Released with Kundera-2.12.

[2014-05-21 08:22] #595 closed, assigned to mevivs

[2014-05-21 08:22] chhavigangwal commented on #591
Issue fixed. Released with Kundera-2.12.

[2014-05-21 08:22] #591 closed, assigned to chhavigangwal

[2014-05-21 08:22] chhavigangwal commented on #559
Issue fixed. Released with Kundera-2.12.

[2014-05-21 08:23] chhavigangwal commented on #564
Fixed. Released with Kundera-2.12.

[2014-05-21 08:23] #564 closed, assigned to chhavigangwal

[2014-05-21 08:23] chhavigangwal commented on #579
Fixed. Released with Kundera-2.12.

[2014-05-21 08:23] #579 closed, assigned to nobody

[2014-05-21 08:23] chhavigangwal commented on #505
Fixed. Released with Kundera-2.12.

[2014-05-21 08:23] #505 closed, assigned to chhavigangwal

[2014-05-21 08:23] chhavigangwal commented on #457
Fixed. Released with Kundera-2.12.

[2014-05-21 08:23] chhavigangwal commented on #444
Fixed. Released with Kundera-2.12.

[2014-05-21 08:23] #444 closed, assigned to mevivs

[2014-05-21 08:24] #559 closed, assigned to chhavigangwal

[2014-05-21 08:25] chhavigangwal commented on #571
Fixed. Released with Kundera-2.12.

[2014-05-21 08:25] #571 closed, assigned to chhavigangwal

[2014-05-21 16:59] ansarrafique opened #600 "Kundera Datastax Distributed Persistence"
I am in trouble while persisting data in Cassandra using Kundera-Datastax, The control never comes back after em.persist(object) method is called. There is no exception on either client or the server side. However, the code works fine on a single node. I am using Kundera-Cassandra 2.11.1. I have a 3 node cluster with replication factor =2 and consistency level=1. I have specified all three nodes i

[2014-05-21 18:11] Rastusik commented on #587
has anybody tested the included app?

[2014-05-22 06:06] chhavigangwal commented on #587
Hi,

The team was busy with 2.12 release and hence did not get a chance to test the project.
Will now test the shared project and share the findings.

Chhavi

[2014-05-23 08:33] chhavigangwal commented on #598
Merged the changes.
Thanks for contributing.

Chhavi

[2014-05-23 08:34] chhavigangwal commented on #599
+1
Would you like to share a pull request for same ?

Chhavi

[2014-05-23 11:37] chhavigangwal commented on #589
Fixed with Kundera-2.12. Please verify.

Chhavi

[2014-05-24 05:21] ghost commented on #594
Looks like this is already fixed in trunk.

[2014-05-26 06:43] chhavigangwal commented on #594
Got it fixed. Thanks.
Are we good to close on this issue ?

Chhavi

[2014-05-26 12:33] ansarrafique opened #601 "Exception while using JPA Query"
Getting an exception while reteriving exisiting store records using JPA queries. I am using Kundera 2.11.1

java.lang.NoSuchMethodError: org.apache.commons.lang.StringUtils.containsAny(Ljava/lang/String;Ljava/lang/String;)Z
    at com.impetus.kundera.query.KunderaQuery.initEntityClass(KunderaQuery.java:398)
    at com.impetus.kundera.query.KunderaQuery.postParsingInit(KunderaQuery.java:357)
    at

[2014-05-26 14:38] ansarrafique commented on #601
Problem solved.

[2014-05-26 14:38] #601 closed, assigned to nobody

[2014-05-27 04:06] kkmishra commented on #587
Hi @Rastusik

There is nothing in application.properties.
Is there any property which should be in application.properties?

Thanks
Kuldeep

[2014-05-27 07:03] DaVincii commented on #452
The newer version of MySQL has InnoDB as its default engine which imposes default foreign key constraints on schema so in order to use polyglot persistence with Kundera with MySQL as one of the datastore please make sure that you do not use InnoDb as storage engine for your database.

[2014-05-27 07:06] #452 closed, assigned to nobody

[2014-05-27 07:18] Rastusik commented on #587
Hi @kkmishra
No, there should be nothing inside the application properties, I just let it there empty. You must understand, that the sample project is extracted from my working project, just for the demonstration purposes. In the working project, there is hibernate configuration inside, maybe also something else, but nothing is necessary to demonstrate the problem in the sample app.

Why are you a

[2014-05-27 14:00] ansarrafique opened #602 "JPQL exception no indexed columns"
Getting an exception while using JPQL. I am only trying to search columns with the annotations @id and @column as stated in documentation.

javax.persistence.PersistenceException: InvalidRequestException(why:No indexed columns present in index clause with operator EQ)
    at com.impetus.client.cassandra.thrift.ThriftClient.find(ThriftClient.java:995)
    at com.impetus.client.cassandra.query.CassQ

[2014-05-27 14:06] #602 closed, assigned to nobody

[2014-05-27 18:30] ngrigoriev commented on #599
will do - please assign to me

[2014-05-28 10:57] chhavigangwal commented on #599
You can go ahead and submit a pull request even if the issue not being assigned to you :)
Please share the same.

Chhavi

[2014-05-28 13:20] chhavigangwal commented on #598
Are we good to close on this ?

Chhavi

[2014-05-28 13:29] chhavigangwal opened #603 "Enable Composite Key support for HBase"
Currently composite key is not supported for HBase using Kundera . Need to build the support for same.

[2014-05-28 13:31] chhavigangwal commented on #110
Opened https://github.com/impetus-opensource/Kundera/issues/603 to enable composite key support for HBase.

[2014-05-28 13:31] #110 closed, assigned to nobody

[2014-05-29 01:18] ngrigoriev commented on #598
yes, thanks!

[2014-05-29 05:19] #598 closed, assigned to chhavigangwal

[2014-05-29 07:10] kkmishra commented on #587
Hi @Rastusik
Actually It was referred in one class and so wanted to check why is it empty?

Also, in order to better analyze and resolve the issue it will good to connect once, can you please share your gmail id or any other messenger id for further discussion? Or you can also connect me at kuld.cs.mishra@gmail.com.

Thanks
Kuldeep

[2014-05-29 07:20] Rastusik commented on #587
Yeah, it's just because I have made a copy of my real project and emptied the file, because there was nothing important for the sample project ... The file has really no importance in the sample project, I just stripped my project off from all irrelevant things, some empty config files or simple classes may have stayed in there.

I have sent you my contact info to your gmail address, feel free to

[2014-05-29 11:23] chhavigangwal commented on #569
Hi @goodfriend2ks ,

Did the suggestion work for you?

Chhavi

[2014-05-29 11:30] chhavigangwal commented on #527
A sample test case for using @Embeddable, @EmbeddedId  with kundera-neo4j can be found at :

https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-neo4j/src/test/java/com/impetus/client/neo4j/imdb/composite/IMDBCompositeKeyTest.java

Chhavi

[2014-05-29 13:35] chhavigangwal opened #604 "Support standalone Neo4J server with kundera-neo4j"
Kundera currently supports embedded Neo4J server. Need to enable its support with standalone server as well.

[2014-05-29 13:36] chhavigangwal commented on #532
Opening https://github.com/impetus-opensource/Kundera/issues/604 to enable support

[2014-05-29 13:36] #532 closed, assigned to chhavigangwal

[2014-06-01 06:23] ghost opened #606 "Deleting/Searching Relationship Entities in Neo4J"
Per the issue described here:
https://groups.google.com/forum/#!topic/kundera-discuss/XeZ-OdzbKTI

There seems to be no way to search/delete relationship entities when working with neo4j/kundera.  Searching for just the relationship may not be as useful but deleting certainly is in my opinion.

I looked at this method:

[code]

And this one only looks for the nodes but never considers that the ent

[2014-06-01 11:50] Rastusik commented on #587
I suspect a problem in the thrift client factory somewhere in the connection pooler maybe, but that's just a guess after I have walked through the code ...

[2014-06-02 13:02] kkmishra commented on #581
Hi @mbellani360

Are you trying self association in Neo4j?

Thanks
Kuldeep

[2014-06-03 03:45] ghost commented on #581
I'm modelling  http://schema.org/Person, this is not a self association.

[2014-06-03 11:35] kkmishra commented on #581
In given modeling definition http://schema.org/Person.
It seems to me that person has some self-association.
Like person has children, colleague, follows etc.

Correct me if I am getting something wrong!

[2014-06-04 05:02] chhavigangwal commented on #606
Hi Manish,

Can you share a pull request for the solution you suggested along with a test case added for same?

Chhavi

[2014-06-04 06:27] kkmishra commented on #581
Hi @mbellani360

In order to quickly resolve the issue it will be good to connect once, can you please share your gmail id or any other messenger id for further discussion? Or you can also connect me at kuld.cs.mishra@gmail.com.

Thanks
Kuldeep

[2014-06-05 14:55] moldziej opened #607 "InvalidRequestException while primary key auto generation and CQL 3 is used"
There is an InvalidRequestException when:
- @GeneratedValue is used
- CQL 3.0.0 is set up on entity factory
- schema auto generation is used

On Kundera 2.12, I've modified CassandraGeneratedIdTest:

[code]

Running the test:

[code]

causes InvalidRequestException(why:Not enough bytes to read value of component 0):

[code]

It seems that there is a problem with schema auto generation when CQL 3.0

[2014-06-05 17:42] kkmishra commented on #607
Hi
Change the given code

[code]

by this one

[code]

It should work.

Thanks
Kuldeep

[2014-06-05 20:42] moldziej commented on #607
I guess that id column name in kundera_sequences table is taken from _one of entities_ from the test. I provided the one with GenerationType.IDENTITY as an example.

In my code I only use GenerationType.TABLE. I provided the patch to the unit test for your convinience.

The test actually fails for the CassandraGeneratedIdStrategyTable when em.persist() is invoked:

[code]

CassandraGeneratedIdStra

[2014-06-06 11:04] kkmishra commented on #607
Hi @moldziej

It is working with thrift. As a work around you can create entity manager factory without property map.

[code]

I confirm its an issue with cql-3.0.0 version. Will get fixed and released with 2.13 version.

Thanks

[2014-06-06 12:33] moldziej commented on #607
Thank you for fast response.

I actually need CQL-3.0.0 because I use HashSet in entities (with thrift there is  com.impetus.kundera.KunderaException: java.lang.ClassCastException: java.util.HashSet cannot be cast to java.lang.String exception)

I am looking forward to Kundera 2.13 being released.
Thank you,
Marcin.

[2014-06-08 09:32] zeremit commented on #467
Add support isNull and isNotNull

[2014-06-08 16:24] ghost commented on #597
But the Twitter example only searches for string parts which are at the beginning of the string (like startsWith() function). This also works for me.

I didn't find a way to search for any part of a string and not depening on the position of my search string.

[2014-06-08 18:56] kkmishra commented on #607
A fix has been added in the current trunk branch.
Please verify.

Thanks
Kuldeep

[2014-06-09 12:45] moldziej commented on #607
The fix solves the issue.

I wonder however, what is the difference between setting CQL3 on entity manager factory:

[code]

and on client only:

[code]

Why if I set CQL3.0 directly on PelopsClient, InvalidRequestException described above doesn't occur?

Regards,
Marcin.

[2014-06-09 13:31] mevivs commented on #607
@moldziej
I prefer to use ThriftClient, as with PelopsClient underlying Pelops API is not maintained by pelops developers anymore!

AFAIK, setting it with EMF would set it for multiple sessions, where as at client level it would be specific to client only.

HTH,
-Vivek

[2014-06-09 22:03] ghost commented on #606
Hello Chhavi,

I forked the repo and have the fix in my repo however, my test is failing for, i've not had a chance to debug the issue yet and i'll be out all next week, will submit a pull request once i'm back.

Manish

[2014-06-10 06:36] chhavigangwal commented on #597
Team is working on a fix for this issue. Will soon update.

Chhavi

[2014-06-10 07:33] chhavigangwal commented on #597
A fix for the same has been added in current trunk.
Please verify.

Chhavi

[2014-06-10 20:38] Rastusik commented on #587
@kkmishra is anybody working on this issue right now? I'm just asking about the status. Thanks.

[2014-06-11 00:30] vanessaschissato opened #608 "Where can i found the releases changelog?"
Anyone can tell me where can i found the Kundera releases changelog?

Thanks.

[2014-06-11 05:46] kkmishra commented on #587
Yes, we are working on it. Planning to release with 2.13.

Thanks
Kuldeep

[2014-06-11 07:05] mevivs commented on #608
I guess https://github.com/impetus-opensource/Kundera/tree/trunk/src#recent-releases should help you out.

-Vivek

[2014-06-13 04:25] chhavigangwal commented on #608
Thanks Vivek for pointing out to the right link !

@nessauepa  are we good to close on this ?

Chhavi

[2014-06-13 19:35] vanessaschissato opened #609 "How to define load balancing policies with Cassandra Datasax Driver (binary protocol)"
Hi people,

I was using Thrift and the KunderaLoadConfig.xml (below) to define the load balancing policies to my application.
But now, i'm trying to migrate to Datasax Driver provider (com.impetus.kundera.client.cassandra.dsdriver.DSClientFactory) with the same config file.
I'm using the Kundera 2.12 version and i'm receiving the error below.

KunderaLoadConfig.xml:

[code]

Stack trace:

[code]

[2014-06-13 21:32] vanessaschissato opened #610 "How to define load balancing policies with Cassandra Datasax Driver (binary protocol)"
Hi people,

I was using Thrift and the KunderaLoadConfig.xml (below) to define the load balancing policies to my application.
But now, i'm trying to migrate to Datasax Driver provider (com.impetus.kundera.client.cassandra.dsdriver.DSClientFactory) with the same config file.
I'm using the Kundera 2.12 version and i'm receiving the error below.

KunderaLoadConfig.xml:

[code]

Stack trace:

[code]

[2014-06-13 22:05] vanessaschissato commented on #609
I figure out that the properties are slightly different with DataStax Driver (ex: https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/cassandra-ds-driver/src/test/resources/dsclient.xml).

After change the "roundrobin" to "RoundRobinPolicy" i got the error:

[code]

So, i remember that the binary protocol port is different from the normal port in cassandra...and changing

[2014-06-15 16:57] arvindNeergunda opened #611 "Issue with Mongodb JPQL LIKE queries"
I was trying to get the below query working and it does not seem to work.
Query query = em.createQuery( "SELECT c FROM School c WHERE c.city LIKE :city " ) ;
query.setMaxResults( 10 );
query.setParameter( "city", "Ban%" );

The % query fails. Also When i use SELECT c FROM School c WHERE  ( ( c.city LIKE :city ) AND (c.area = :area) )

Are multiple parenthesis in query have issues in Kundera.
Are t

[2014-06-16 05:41] #609 closed, assigned to nobody

[2014-06-16 10:59] chhavigangwal commented on #610
You need to set the property as :

[code]

Please check the following test case for reference :

https://github.com/impetus-opensource/Kundera/blob/3e2782f6e0bf843d93083b7e1d3bd280688584a8/src/kundera-cassandra/cassandra-ds-driver/src/test/java/com/impetus/kundera/client/cassandra/dsdriver/DSClientExternalPropertyTest.java

Chhavi

[2014-06-18 03:59] chhavigangwal commented on #467
You mean in JPQL queries  or entity annotations ?
- In case of JPQL this support will be added via Criteria query support enhancement in future release.
- For entity based annotations @Null and @NotNull are already supported.

[2014-06-18 16:20] vanessaschissato opened #613 "java.lang.IllegalArgumentException: attribute of the given name and type is not present in the managed type, for name:serialVersionUID"
I'm getting this exception when iterating results:

java.lang.IllegalArgumentException: attribute of the given name and type is not present in the managed type, for name:serialVersionUID

Shouldn't Kundera skip this field validation?

[2014-06-18 17:09] vanessaschissato opened #614 "Iterate over multiple partition key table with Cassandra DataStax Driver"
I have this table with a multiple partition key:

[code]

And i'm trying iterate like this:

[code]

But, due to my table having composite partition keys, i'm got this error:

[code]

[2014-06-19 16:13] chhavigangwal commented on #614
Can you share the sample entity corresponding to the table created ?

Chhavi

[2014-06-19 16:21] chhavigangwal commented on #613
Please share the entity definition.

Chhavi

[2014-06-19 17:14] vanessaschissato commented on #613
[code]

[code]

[code]

[2014-06-19 17:54] vanessaschissato commented on #614
[code]

[code]

[2014-06-19 18:10] vanessaschissato opened #615 "Iterating over registers in a single Cassandra row"
HI,

I'm using Kundera and i want to iterate between the values in a table.
But, i'm want to iterate over the values in a SINGLE row.
I'm trying to use the iterate query of Kundera (below), but when I do a query stating the value of the partition keys, Kundera don't understand that i want querying like this:

[code]

Instead, creates the query like this:

[code]

I'm think that is a new feature th

[2014-06-19 18:27] vanessaschissato commented on #615
I'm think that the solution is:

When the Kundera is creating the query from the invocation of the method "iterate", to look for all the fields of the key, adding in the where clause that aren't present.

For example:

[code]

In my table there are 3 keys: core, date_hour and document, being that my query does not contain only the latest (document) in the where clause.

In this case, Kundera shoul

[2014-06-19 18:36] #615 closed, assigned to nobody

[2014-06-19 18:43] vanessaschissato commented on #615
I'm thinking that the problem is in the method com.impetus.client.cassandra.query.ResultIterator.prepareNext(), that only considerate the first field of the id (when using composite id) to build the query with token:

[code]

[2014-06-20 08:18] chhavigangwal commented on #613
Yes serialVersionUID should indeed be skipped for iterating over composite columns. Will be releasing the fix soon.
Would you like to share a pull request for the fix ?

Chhavi

[2014-06-20 08:34] tsbatista commented on #587
+1 I've been seeing a lot of null values read from cassandra when I'm sure the entries contain valid data. I was using 2.9. I have just updated to 2.12, and will retest under load soon.

Is there anything I can do to help resolve this?

[2014-06-20 11:57] chhavigangwal commented on #614
Two things here :
 1)  I tried the same with Cassandra 2.0.4 and Kundera's trunk code and it is iterating over the results without any exception. What is the content of your BaseEntity ? This will help me debugging issue further.
 2)  For multiple partition key you need to create EmbeddedId composite key field
Sample entity definition can be found at :
https://github.com/impetus-opensource/Kundera

[2014-06-23 05:12] mevivs commented on #386
A sample project can be found https://github.com/knoldus/playing-kundera-cassandra

[2014-06-23 11:48] zeremit commented on #467
Yes, I mean JPQL

[2014-06-23 14:16] vanessaschissato commented on #614
Thank you.

[2014-06-23 16:21] vanessaschissato commented on #614
I mapped my entities like suggested above, but now i'm getting a Kundera Exception.
I'm using Kundera 2.12.

[code]

[code]

[code]

[code]

[2014-06-24 15:25] cpoisel opened #616 "When persisting an unchanged entity with changed manytomany children the children are not written to the database"
Cassandra 2.0.8, Kundera 2.12
When persisting an unchanged entity with changed manytomany children the children are not written to the database.
While debugging i found that in com.impetus.kundera.persistence.context.FlushManager
(method: addNodesToFlushStack, line 215) there is a test:

if (node.isDirty() && !node.isTraversed())

that is run for every child. "node" is a method parameter (the pare

[2014-06-25 06:07] kkmishra commented on #613
Fixed in current trunk branch, please verify.

Thanks
Kuldeep

[2014-06-25 14:41] Abhijith-Nagaraja opened #617 "int data type not working with mongodb on windows 7 box."
The detailed explanation can be found at
http://stackoverflow.com/questions/24411456/persistence-unit-for-class-issue

[2014-06-25 17:08] chhavigangwal commented on #617
Can you try removing

[code]

 and share test.jar entities code ?

Which version of Kundera are you using ?

Chhavi

[2014-06-25 17:12] chhavigangwal commented on #611
Complex JPQL queries with multiple brackets are not supported in Kundera as of now, but will be planned for future releases.

Support for % in like query will be added in 2.13 release. For now you can try using like query by changing

[code]

to

[code]

and where query

[code]

Chhavi

[2014-06-25 21:50] FangmingD commented on #384
Is it supported for Neo4J now?
or any plan for this?

[2014-06-26 03:39] Abhijith-Nagaraja commented on #617
I removed the above mentioned property but no avail. It loaded in the classpath. This problem occurs only when I introduce the int data type. Otherwise it works just fine

The code is here:
https://github.com/Abhijith-Nagaraja/kundera-issue

Kundera : 2.11
MongoDb : mongodb-win32-i386-2.6.3

[2014-06-26 04:38] mevivs commented on #617
@Abhijith-Nagaraja
as per SO trace, it is some message entity, but code link which you have shared doesn't have any message entity.

Am i missing anything?

-Vivek

[2014-06-26 05:09] Abhijith-Nagaraja commented on #617
@mevivs
As per SO trace, the error is "Persistence unit for class : int is not loaded".
From where are you inferring it is message entity?. I have only those 4 files.
I am wondering whether it is a windows machine issue or not. I haven't tested it on a linux box yet

NOTE: This happens only when I introduce "int" data type. It does not matter whether it is a basic type or Object type. I haven't te

[2014-06-26 05:22] mevivs commented on #617
@Abhijith-Nagaraja

[code]

I understand that.

[code]

Can't figure out this entity over

[code]

As per error, it looks like some relational entity is defined with type of int. Project which you have share doesn't have it.

AFAIK, Java over windows box and linux should not make any difference.

-Vivek

[2014-06-26 05:30] Abhijith-Nagaraja commented on #617
@mevivs
There is no relational entity that is defined with type of int. I have only those 4 files. This is reproducible in my other project as well.

[2014-06-26 05:31] mevivs commented on #617
@Abhijith-Nagaraja
Could you please create a sample project to reproduce at our end? Only entity definition will not be of much help

-Vivek

[2014-06-26 05:35] mevivs commented on #617
@Abhijith-Nagaraja
I can see there is App.java. How are you testing it? Is it a maven based project or running with standalone jar?

-Vivek

[2014-06-26 05:37] Abhijith-Nagaraja commented on #617
@mevivs
This is a maven based project. But I am running App.java to populate the mongodb.
I will upload the sample project as you requested around 8pm IST

[2014-06-26 05:58] chhavigangwal commented on #617
@Abhijith-Nagaraja

I tested the entities along with operation using the files you shared on Linux box and it seems to working smoothly. Will check the the same with project on Windows once you share it.

Chhavi

[2014-06-26 06:32] kkmishra commented on #614
Fix has been added into current development branch (trunk).
You can find related test case here
https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-cassandra/cassandra-ds-driver/src/test/java/com/impetus/kundera/client/cassandra/composite/DSEntityWithMultiplePartitionKeyTest.java

Please verify.

Thanks
Kuldeep

[2014-06-26 17:57] chhavigangwal commented on #617
I tried the persisting the data using the classes you shared on Windows 7 box with MongoDB 2.6.3 and this code works for me.

Here's how my persistent unit looks like and entity classes and operation is as shared by you :

[code]

Can you try to add jar classes before properties tag  and after provider tag in your persistence unit?

Share a sample project to look into the issue further.

[2014-06-27 03:46] Abhijith-Nagaraja commented on #617
@chhavigangwal
I tried it, but no avail.

Here is the project setup
https://www.dropbox.com/s/g2fq9tlfovqey0a/kunderaissue.zip

[2014-06-27 17:21] chhavigangwal commented on #617
I tried running the project setup you shared on Windows 7 box with mongodb-win32-i386-2.6.3 and it ran successfully without giving any exception. If possible share some of you messenger id so that we can connect and help you debug/resolve the issue.

P.S. : The only change I made was in keyspace name of persistence unit you shared which was  mistakenly written as "ac" instead of "test"

Chhavi

[2014-07-01 04:51] vanessaschissato opened #618 "Kundera allows mapping-file tag in persistence.xml?"
I want to define a default listener to my entities in a external file (orm.xml).
For that, i need to define this mapping file in the persistence.xml, according to the specification JPA:

[code]

But, this exception is throwed by Kundera:

[code]

[2014-07-01 10:36] chhavigangwal commented on #600
Any updates ? Is the issue resolved ?

Chhavi

[2014-07-01 10:39] chhavigangwal commented on #596
Hi @msfbrasil

Any updates ?

Chhavi

[2014-07-01 10:47] chhavigangwal commented on #565
Does the suggestion resolves the issue? Any updates ?

Chhavi

[2014-07-01 10:53] tsbatista commented on #596
I thought i was hitting #587, but now I'm not so sure anymore. Could the two be related?

I only hit this when reading large amounts of data from cassandra, and i have not been able to reliably replicate it. Do you have any pointers as to where i should start looking?

[2014-07-02 05:39] Abhijith-Nagaraja commented on #617
We finally found out the issue.

I had one entity class which I haven't used in the main program had the following declaration

[code]

When you are preparing metadata, you are parsing all the entity class via reflection and populating the metadata instead which are all required.

I am closing this issue, but I have to say above is also an issue but you can debate it as designed.

[2014-07-02 05:39] #617 closed, assigned to nobody

[2014-07-02 06:29] chhavigangwal commented on #617
@Abhijith-Nagaraja

In order to prevent parsing of all classes you can explicitly include the classes you need by adding them in class tag and exclude the ones that you do not want by setting (as in sample pu shared above)

[code]

Glad your issue got resolved !

Chhavi

[2014-07-02 17:01] msfbrasil commented on #596
Hello there!

The only update I can give by now is that we are using Kundera 2.12 and the problem persists.

It's not critical by now for our solution, given that the last run of our system indicated only 14 occurrences of the problem for over 5440010 queries.

I need to mention that this "14" quantity considers only the field I need to calculate an aggregation value (generally over 40 entity rows

[2014-07-03 09:45] kkmishra commented on #587
Hi,

Kundera implementation for EntityManager is non thread-safe . So please try and use one EntityManager per thread so that each thread can run independently without affecting the other.

Hope that Helps!
Kuldeep

[2014-07-03 09:57] mevivs commented on #587
@kkmishra

Non thread safe em means, thinking entityManager as a session and multiple threads within same session can't  be spooned!

-Vivek

[2014-07-03 11:38] kkmishra commented on #581
A test case has been added into current trunk branch.
Please follow the following link and verify your scenario.

https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-neo4j/src/test/java/com/impetus/client/neo4j/imdb/ActorWithMultipleRelationTest.java

[2014-07-04 10:17] chhavigangwal commented on #603
Fixed releasing with 2.13

[2014-07-04 10:17] #603 closed, assigned to nobody

[2014-07-04 10:17] #607 closed, assigned to nobody

[2014-07-04 10:17] #610 closed, assigned to chhavigangwal

[2014-07-04 10:17] chhavigangwal commented on #611
Fixed releasing with 2.13

[2014-07-04 10:17] #611 closed, assigned to chhavigangwal

[2014-07-04 10:17] chhavigangwal commented on #613
Fixed releasing with 2.13

[2014-07-04 10:17] #613 closed, assigned to chhavigangwal

[2014-07-04 10:18] chhavigangwal commented on #614
Fixed releasing with 2.13

[2014-07-04 10:18] #614 closed, assigned to chhavigangwal

[2014-07-04 10:19] chhavigangwal commented on #597
Fixed releasing with 2.13

[2014-07-04 10:19] #597 closed, assigned to chhavigangwal

[2014-07-04 10:20] chhavigangwal commented on #599
Fixed releasing with 2.13

[2014-07-04 10:20] #599 closed, assigned to nobody

[2014-07-04 10:20] chhavigangwal commented on #581
Fixed releasing with 2.13.

[2014-07-04 10:20] #581 closed, assigned to nobody

[2014-07-04 10:21] chhavigangwal commented on #491
Fixed releasing with 2.13

[2014-07-04 10:21] #491 closed, assigned to nobody

[2014-07-04 10:21] #527 closed, assigned to chhavigangwal

[2014-07-04 10:22] chhavigangwal commented on #487
Support added for Cassandra and MongoDB   releasing with 2.13

[2014-07-04 10:43] #589 closed, assigned to nobody

[2014-07-04 10:43] #195 closed, assigned to nobody

[2014-07-04 10:59] DaVincii opened #619 "Support for composite partition key in lucene."
Enable multiple keys in partition key using while using Lucene.

[2014-07-04 11:28] DaVincii opened #620 "Support for selected column i.e. partial object using lucene."
Specific column selection for composite keys over lucene is not working e.g  "Select p.personName from person p". Need to enable the support for same.

[2014-07-04 11:30] #565 closed, assigned to chhavigangwal

[2014-07-04 11:40] DaVincii opened #621 "Enable Support for showQuery in Redis,Hbase and OracleNosql"
Currently showQuery support is enabled only for mongoDB, Cassandra and RDBMS. Build support for showQuery in Redis,Hbase and OracleNosql as well

[2014-07-04 11:45] #487 closed, assigned to nobody

[2014-07-04 22:50] Rastusik commented on #587
@kkmishra @mevivs as far as I know I'm using a separate session for each thread. in my example application. feel free to prove me wrong :)

but nevermind, I found a simpler library which works under my workload.

[2014-07-07 21:18] Rastusik commented on #587
I have run my test app with Kundera 2.13 and it seems to work.

Should I close this issue?

[2014-07-08 05:41] kkmishra commented on #587
Cool.. go head and close the issue!

On Tue, Jul 8, 2014 at 2:48 AM, Rasta notifications@github.com wrote:

##

Thanks and Regards
Kuldeep Kumar Mishra
+919540965199

[2014-07-08 07:21] Rastusik commented on #587
thanks for the fix ;)

[2014-07-08 07:21] #587 closed, assigned to nobody

[2014-07-16 13:04] sbheda opened #622 "Data not inserted in child table which have Many to many relation ship in mongoDB"
Hi ,
I have two table like employee and project. Both have many to many relationship. Tables create properly but when i insert data ,data inserted in Employee table not in project table. Following are snap shot :
(1) Employee
@Entity
public class Employee {
     @Id
      @Column(name="ID")
      private long id;

[code]

}

(2)Project

@Entity
public class Project {
     @Id
      @Column(name="I

[2014-07-16 15:06] mevivs commented on #622
Try with cascading. Make sure if not opted for kundera to manage your schema,then those tables should be in place.

[2014-07-17 08:49] sbheda commented on #622
Thank you very much for replay.
This issue has been solved by using cascading.

[2014-07-17 08:49] #622 closed, assigned to nobody

[2014-07-17 09:30] hanishbansal opened #623 "Type cast error in CassandraDataTranslator class"
When we use compose api of  CassandraDataTranslator class to convert data type of particular object, it is giving java.lang.ClassCastException.

For example:

[code]

Above piece of code is giving below exception:

[code]

Expected Behaviour:

It should cast the value properly using `double d = Double.valueOf(obj)` api or `double d = new Double(obj.toString())`.

Actual Behaviour:
It is casting th

[2014-07-17 09:58] mevivs commented on #623
i wonder why don't you try with

[code]

AFAIK, CassandraDataTranslator is meant to compose/decompose bytes in Cassandra format. May be you should try  Kundera's accessor api.

HTH,
-Vivek

[2014-07-17 09:59] mevivs commented on #623
=>
https://github.com/impetus-opensource/Kundera/blob/7b58ecab2f65c04b7a1e396de71bda308b58b762/src/jpa-engine/core/src/main/java/com/impetus/kundera/property/accessor/DoubleAccessor.java

[2014-07-18 05:33] sbheda opened #624 "How to retrive two differnt table's particular filed."
Hi,
I have two table and i want to get particular column value in select query in mongoDB.
My JPQL query is :

Query q = em.createQuery(" select emp.name , prj.name form Employee emp , Project prj where
emp.ID = prj.employee.id")

Isit possible in mongoDB ?

[2014-07-18 09:08] hanishbansal commented on #623
We are also using CassandraDataTranslator to compose/decompose bytes in Cassandra format.

Object's values are coming at run time so their data types may be different for different objects.

[2014-07-18 09:28] mevivs commented on #623
@hanishbansal
Point which i am trying to discuss here is, Either compose/decompose using CassandraDataTranslator or if it is about double to byte[] conversion then DoubleAccessor would be best place to look into.

Rest, Kundera core team people can be best to comment on it.

-Vivek

[2014-07-18 12:42] chhavigangwal commented on #624
You can select particular columns in select query in mongoDB. However,  in order to retrieve the data from multiple tables  having relations you need to define associations in entity objects and query them . A sample entity class  :

   https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-mongo/src/test/java/com/impetus/client/crud/compositeType/association/UserInfo.java

[code]

a

[2014-07-18 12:59] sbheda commented on #624
Thank you  chhavigangwal for replay.
I got one field values from one entity but if i want to get two different fields from two entities using join
then is it possible in mongoDB  ?

[2014-07-19 15:16] chhavigangwal commented on #624
@sbheda

Currently you cannot select the specific column of associated entity in mongoDB using Kundera. However , we will add this support soon in the trunk.

Also, join queries are not supported in Kundera. It handles related data via associations.

Chhavi

[2014-07-21 06:47] sbheda commented on #624
@chhavigangwal
Thank you for replaying.
Currently join queries not supported by kundera but  is it  in your road map to support join queries ?

[2014-07-23 13:21] sbheda commented on #624
Waiting for your replay.....

[2014-07-23 16:19] chhavigangwal commented on #624
Two things here :
- MongoDB does not support joins and so, at times, requires bit of denormalization. For better understanding modelling using MongoDB you can refer to : http://docs.mongodb.org/ecosystem/tutorial/model-data-for-ruby-on-rails/.
-  Join queries are not really needed in case of NoSQL and  since main idea behind Kundera is to make working with NoSQL easier, supporting join queries is

[2014-07-24 07:13] sbheda commented on #624
It's difficult to us to denormalize data as of now.

join query will help us lot

Is there any approximate date when you are going to release join query support. It will help us to plan our development accordingly.

[2014-07-24 11:27] moldziej opened #625 "Null reference when lazy loading is used."
I'm using Kundera 2.13 with Cassandra.

Suppose we have following entity:

[code]

and for given data in Cassandra there is no Book for particular Reader.

When I'm executing SELECT \* FROM "Reader" LIMIT 100 using EntityManager the result is empty HashSet.

When I change FetchType to LAZY then initially books reference is ProxySet which is fine. But when I access books, e.g. using books.size() th

[2014-07-24 14:19] tsbatista commented on #596
Hello Mauro,

What driver are you using? I am currently using thrift, but I wonder if switching to the datastax driver would solve this. Have you tried anything like this?

Tiago

[2014-07-24 22:10] vanessaschissato opened #626 "Leak in Kundera 2.12 and Datastax Java Driver"
I would to report that we have notice a memory leak when switched from Thrift to Datastax Java Driver that crashes our application (kundera 2.12).

[2014-07-25 04:13] mevivs commented on #626
Could you please share few more details?
-Vivek

[2014-07-25 12:11] kkmishra commented on #625
Fixed in current trunk.
@moldziej  thanks for sharing!

[2014-07-30 11:12] nixoldb commented on #572
How do you solved it?

[2014-07-30 14:31] zeremit opened #627 "OR doesn't work properly"
I have an Example
https://github.com/zeremit/kundera-example
https://github.com/zeremit/kundera-example/blob/master/src/main/java/com/khorevich/App.java
Predicate p1 = criteriaBuilder.equal(from.get("surname"), "Smith");
Predicate p2 = criteriaBuilder.equal(from.get("name"), "Alex");
query.where(criteriaBuilder.or(p1,p2 ));
But OR works like AND.
Expected results: All users with Surname "Smith", b

[2014-07-31 16:34] mevivs commented on #627
@zeremit
Does it work fine for you with simple JPQL? I doubt it is related to criteriabuilder. Might be OR support for Mongo is not working properly. What is the output for

[code]

-Vivek

[2014-07-31 16:37] mevivs commented on #624
IMHO, being a high level api, Kundera allows to work and build generic platform to interact with multiple nosql datastores. But it doesn't encourage to use all JPA type features with Nosql datastores. Ideally Applications must avoid joins,relations etc with nosql datastores and that's why those are not supported  with nosql datastores e.g. Mongodb. Try to build a map-reduce or stream processing us

[2014-07-31 16:41] zeremit commented on #627
The same result.
Return only Alex Smith

[2014-07-31 16:46] mevivs commented on #627
Means issue is MongoDB OR support not with CriteriaBuilder. Thanks @zeremit  it should help Kundera team to get some pointers around it.

-Vivek

[2014-08-01 14:01] ansarrafique opened #628 "Persistence Problem"
Getting below exception while creating EntityManagerFactory when using Kundera vesion > 2.11. I have used the previous versions of Kundera and there was no problem. Changed POM to point to new versions and getting this exception. I have again changed to previous version and it worked fine.

java.lang.NoClassDefFoundError: javax/persistence/Persistence
    com.leuven.lmaas.dmmiddleware.damiddleware

[2014-08-01 15:17] ansarrafique commented on #600
The issue was not resolved.

[2014-08-01 15:19] ansarrafique commented on #562
The problem was solved.

[2014-08-01 15:19] #562 closed, assigned to nobody

[2014-08-01 15:20] ansarrafique commented on #572
I was constantly getting this exception so I decided to stick with Thrift
and Pelops.

Ansar

On Wed, Jul 30, 2014 at 1:13 PM, nixoldb notifications@github.com wrote:

[2014-08-02 04:57] sirsavary commented on #179
Couchbase support would be stellar. Looking forward to having it.

[2014-08-04 04:59] chhavigangwal commented on #627
There is an issue with MongoDB's as Vivek helped pointing out.
@zeremit
We are working on it and will share the fix soon.

Chhavi

[2014-08-04 05:03] chhavigangwal commented on #628
Can you share further details ?
Also please try upgrading it to latest version (2.13) to check if the issue still persists ?

Chhavi

[2014-08-04 08:10] ansarrafique commented on #628
I have verified it with the version 2.13. I am getting the same exception. If I use it with the previous of Kundera, I don't see problem any more and it works for me. Any clue ?

[2014-08-04 10:33] chhavigangwal commented on #628
Which version of Java are you using ?
From 2.11.1 onward Kundera requires JDK 7 and works with Cassandra 2.x versions, best compatible with 2.0.4.

Chhavi

[2014-08-04 12:35] ansarrafique commented on #628
I am using Java 7 and Cassandra 2.0.9. I am getting java.lang.NoClassDefFoundError: javax/persistence/Persistence exception. However, the same code works fine if I point out to previous versions of Kundera

[code]

[2014-08-04 14:28] vanessaschissato commented on #626
We have an application that makes massive inserts and reads from and to cassandra and we have identified a leak that makes our application turn down.
Debugging the application, we have isolated the problem and realize that it is in the use of Kundera with DataStax Driver.

[2014-08-05 11:21] ansarrafique commented on #628
I have created a simple project and it works fine with Kundera 2.13, but if I create a web project then I am getting an exception. I think the problem is with the persistence.xml file and Kundera is not able to find it in web application.

java.lang.ClassNotFoundException: javax.persistence.Persistence
    at org.apache.catalina.loader.WebappClassLoader.loadClass(WebappClassLoader.java:1714)
    a

[2014-08-05 13:16] ansarrafique commented on #628
Problem solved.

[2014-08-05 13:16] #628 closed, assigned to nobody

[2014-08-05 13:21] chhavigangwal commented on #628
@ansarrafique

Glad to know your problem got resolved !
Can you please share what was the actual issue as we were looking into it simultaneously ?

Chhavi

[2014-08-05 13:27] ansarrafique commented on #628
Thanks Chhavi and I really apologies, I forgot to discuss the solution. I was executing a Java EE code, but Java EE API jar was  missing in tomcat server.

[2014-08-05 13:37] ansarrafique opened #629 "EntityManagerFactory with external properties throws NullPointerException"
I am using Kundera 2.13. If I want to create entity manager factory with external properties, do I have specify ALL PERSISTENCE UNIT PROPERTIES in map ? I am getting NullPointerException if I specify some properties in persistence unit and some provided in map. Is this supported ?

[2014-08-05 13:38] ansarrafique commented on #629
I don't know if it has support yet in Kundera ?

[2014-08-05 13:52] mevivs commented on #629
Few properties are mandatory. AFAIK But kundera.nodes should definite ly be overridden
Sent from Yahoo!7 Mail on Android

[2014-08-05 13:55] mevivs commented on #629
AFAIK It is supported and should work. Kundera team?

Sent from Yahoo!7 Mail on Android

[2014-08-05 14:18] ansarrafique commented on #629
Apparently it works if properties already exist in persistence.xml configuration file and one is willing to override it OR there is an empty persistence-unit.  I have a case when some properties can be defined in persistence.xml configuration file and some cannot.

[2014-08-06 06:26] kkmishra commented on #629
Hi Ansar,

Please provide port along with host in property map.

Map<String, Object> test = new HashMap<String, Object>();
test.put("kundera.nodes", "localhost");
test.put("kundera.port", "port number");
entityManager =Persistence.createEntityManagerFactory("test",test);

Hope it will help you.

On Tue, Aug 5, 2014 at 7:48 PM, ansarrafique notifications@github.com
wrote:

##

Thanks and Regards
Ku

[2014-08-06 06:32] sanjivsingh commented on #629
NullPointerException have occurred to me as well . I have seen only in case i override  "kundera.nodes" only (not "kundera.port"). Other than that it will fetch other  parameter property value from persistant.xml.

 Map<String, String> paramMap = new HashMap<>();
        paramMap.put("kundera.nodes", host);
        EntityManagerFactory emf = Persistence.createEntityManagerFactory("CassandraPU", pa

[2014-08-06 07:07] mevivs commented on #629
Keep a dummy value of kundera.nodes and kundera.host in persistence.xml and override as many times as you want. This is an issue or a protocol? Kundera team can decide on it. IMHO, having dummy or fallback configuration in persistence.xml is a better configuration

-Vivek

[2014-08-06 08:13] ansarrafique commented on #629
Hi Kuldeep and Vivek,

Thank you for your reply. As I said, there is no problem if dummy properties or even properties with real values are defined in persistence.xml file. The map properties will override it. The only case I see, if node property doesn't exist in persistence.xml and is provided via map. In idea case it should not be an exception, but it's not a big requirement I guess so things a

[2014-08-06 08:14] ansarrafique commented on #629
Kundera team: Do you want me to close this issue ?

[2014-08-06 08:54] impetus-opensource-admin commented on #629
Hi Ansar ... Although not a blocking one, but would suggest you to please keep this defect open. It's a small fix and we would deliver it next release.

[2014-08-06 09:11] ansarrafique commented on #629
Perfect, also now I can see a scenario when this would be a big  plus. Thanks.

[2014-08-08 00:15] gputti opened #630 "How to configure orm.xml entity mapping file with kundera?"
HI
I am using kundera version 2.13. I am exploring to use Kundera with Oracle NOSQL db.
How do I configure Kundera to use my custom xml mapping file that is generated during runtime?
Due to design I can't use annotation for entities(they are also generated runtime).
So, I have to use XML mapping. But all examples shows only annotation.
For eclipselink parameter "eclipselink.metadata-source.xml.fil

[2014-08-08 06:29] chhavigangwal commented on #618
Kundera currently does not support reading

[code]

You need to define these listeners as class files only. An example for same :+1:
https://github.com/impetus-opensource/Kundera/blob/ad6998066adc0d9157f3f706dbdd7f87c2bb0576/src/kundera-mongo/src/test/java/com/impetus/client/crud/event/PersonHandler.java

Hope this Helps !
Chhavi

[2014-08-08 17:11] gputti commented on #630
Looks like you already answered this type of question.
https://github.com/impetus-opensource/Kundera/issues/618  (helpful if example is a bit elaborate )
https://github.com/impetus-opensource/Kundera/issues/276
It would be good to have it in documentation somewhere so saves time.

appreciate your efforts.
Gopi

[2014-08-11 14:39] AleksanderMielczarek opened #631 "ALLOW FILTERING when refer to collection"
Hi,
I'm using Cassandra 2.10rc5 and Kundera 2.13
I have two entities: User and Group:

User.java

[code]

Group.java

[code]

When I want to get all users and refer to user's group:

[code]

I get following exception

[code]

But when I use EAGER fetching everything is OK. Could you investigate this problem?
Thanks

[2014-08-11 17:31] chhavigangwal commented on #631
You need to call :

[code]

instead of

[code]

Chhavi

[2014-08-12 01:34] mevivs commented on #631
In addition, it looks to me because of not applying limit while fetching relation by query. Ideally it should 100 as default. Sounds like a bug while lazily fetching relation values(eg groups)

-Vivek

[2014-08-12 01:35] mevivs commented on #631
Also its better to use thrift client factory in place of pelops

[2014-08-12 06:32] AleksanderMielczarek commented on #631
HI,

Thanks for replay but none of those answers worked. I'm still getting exception with allow filtering. I tried to use getMaxResult() but it failed.

[2014-08-12 06:39] mevivs commented on #631
@lusiak
Looks like i am not able to convey  my thoughts. setMaxResults() would not be any help. This is an issue with Kundera while implicitly fetching relational entities. Code should set limit(default 100) or set to MaxResults() provided by parent query. That should solve the issue.

Kundera team should be able to better judge on this.

-Vivek

[2014-08-12 07:12] AleksanderMielczarek commented on #631
As I understood, actually the only solution is to use eager fetching. Also  function find behaves weirdly for me. When I try to get user:

[code]

and refer to its list of groups, i get empty list. Is it normal behaviour?

[2014-08-12 12:49] AleksanderMielczarek commented on #631
However, when all fetching type I've changed to eager, something very terrible has occurred. I cannot get from database even one object. For example this code:

[code]

produces:

[code]

[2014-08-12 17:08] jfgosselin opened #632 "com.datastax.driver.core.Session are closed with the EntityManager"
From the API http://www.datastax.com/drivers/java/2.0/

"Session instances are thread-safe and usually a single instance is enough per application. "

Right now  the Session is closed  after each EntityManager.close() in DSClientFactory. This isn't optimal since each session maintains multiple connections to the cluster nodes and provides policies to choose which node to use for each query (e.g. r

[2014-08-20 05:39] chhavigangwal commented on #625
Fixed in 2.13.1

[2014-08-20 05:39] #625 closed, assigned to nobody

[2014-08-20 06:41] chhavigangwal commented on #626
Can you please share the code snippet or sample app which leads to this leak ?

Chhavi

[2014-08-21 06:24] chhavigangwal commented on #631
@lusiak

I tried the same with around 1000 records in users table and could not reproduce the issue at my end. Can you share a sample app to further debug the issue ?

Chhavi

[2014-08-21 10:35] chhavigangwal commented on #632
@jfgosselin

Agreed, will get this fixed in upcoming release so that session is closed only when EntityManagerFactory is closed.

Chhavi

[2014-08-22 09:45] jeevitesh opened #633 "IN operator in kundera hbase"
Hi,
I'm using kundera 2.10, along with HBASE
Issue is I have collection of ID (here in the form of List).
So need to get all the details in db for the list of ID's so planned to use IN operator.
Here is the code:

 List<String> names = Arrays.asList("00969425", "00969442");
            String jpql = "Select t from Data t where t.ID IN :names";
            Query query = entityManager.createQuery(jp

[2014-08-22 10:37] chhavigangwal commented on #633
@jeevitesh

Currently Kundera doesn't support "In" clause for Hbase , so you can use range query to handle your case by adding exceptions to ids not required in given range.

You can use the following test case for reference :

https://github.com/impetus-opensource/Kundera/blob/273c13342ddd1aceed0cd23504649926ce8fdb84/src/kundera-hbase/src/test/java/com/impetus/client/hbase/crud/PersonHBaseTest.ja

[2014-08-22 18:05] chhavigangwal commented on #633
A fix for enabling "In" clause will be added in current trunk soon!

Chhavi

[2014-08-28 00:07] gorishagh opened #634 "Entity object is invalid, operation failed"
Hi, I have a simple Entity which I want to persist to Cassandra database. But I keep getting the following exception. Also, the schema doesn't get created at all. I include my entity class and persistence.xml. I dont know what I am doing wrong. Please help.

///////////////////////////////////////// persistence.xml ///////////////////////////////
<persistence xmlns="http://java.sun.com/xml/ns/pers

[2014-08-28 01:09] gorishagh commented on #634
The Exception is:

Aug 27, 2014 5:49:53 PM com.sun.jersey.spi.container.ContainerResponse mapMappableContainerException
SEVERE: The RuntimeException could not be mapped to a response, re-throwing to the HTTP container
com.impetus.kundera.KunderaException: java.lang.IllegalArgumentException: Entity object is invalid, operation failed. Please check previous log message for details
    at com.impetus

[2014-08-28 07:32] chhavigangwal commented on #634
@gorishagh

Can you try changing

[code]

to

[code]

And check if the  problem still persists ?

Auto id generation using AUTO strategy  in Kundera-cassandra is supported over non number data types.

Hope that Helps!
Chhavi

[2014-08-28 18:46] gorishagh commented on #634
Hi Chhavi,
thanks for your answer, but I still have the same problem.

[2014-08-28 19:19] gorishagh commented on #634
OK

[2014-08-28 19:22] gorishagh commented on #634
I think I've narrowed down the problem down to persistence.xml. I do get the same exception when I delete <class>com.sra.EPiCSCloudAnalytics.Model.RiakFileInfo</class>. So basically I think Kundera doesnt see that there exists such class. Is it possible that this is the problem? And any Idea how to fix it? Thanks.

[2014-08-28 19:24] gorishagh commented on #634
< class >com.sra.EPiCSCloudAnalytics.Model.RiakFileInfo< /class >

This is what I delete from persistence.xml. the <class> tag was deleted mistakenly in the previous comment.

[2014-08-29 05:44] chhavigangwal commented on #634
@gorishagh

Please make sure each of the entity class included have an id attribute annotated with @Id. Also, Please add the following in persistence.xml :

[code]

below classes tag like :

[code]

This tells Kundera to not include any other class except for the ones mentioned.
Also, please change the auto generated field type from Long.

Chhavi

[2014-08-29 06:01] chhavigangwal commented on #634
@gorishagh

If possible, Can you please share a sample project which can help us debug the issue further?

Chhavi

[2014-08-29 18:44] gorishagh commented on #634
Thanks allot Chhavi. the < exclude-unlisted-classes>true< /exclude-unlisted-classes> solved the problem. But it doesn't kind of make sense to me. Why should we list our entity classes if at the end we have to exclude the unlisted classes? It seems Kundera includes everything by default? or ...? I don't understand.
So the changes that I did are the followings:
add < exclude-unlisted-classes> to per

[2014-08-31 14:04] chhavigangwal commented on #634
@gorishagh

It is a mechanism which tells Kundera not to include anything else apart from the classes specified, for a given persistence unit, even if some other classes are present in the classpath.

Chhavi

[2014-09-01 08:51] DaVincii opened #635 "Query over many to many entity not working in hbase"
Though kundera is able to persist many to many entities and corresponding join table in hbase, but query over the same is not working. On querying, it reports error: missing join table

[2014-09-01 08:59] DaVincii opened #636 "Persistence unit property override not working in OracleNoSql"
Not able to override persistence unit properties in OracleNoSql while creating emf.

[2014-09-01 09:21] DaVincii opened #637 "Persistence unit property override not working properly in Redis"
During emf creation in Redis, Kundera is not able to override persistence unit properties which are already present in persistence unit , but if a property is not present in persistence unit, it is able to add it through external map.

[2014-09-01 13:34] chhavigangwal opened #638 "Enable OR clause support with Hbase"
Currently OR clause is not supported in Kundera for Hbase. Enable the support for same.

[2014-09-02 05:49] chhavigangwal commented on #633
A fix for the same has been added in current trunk.

Chhavi

[2014-09-03 03:19] sunrain99 opened #639 "No Persistence provider for EntityManager named cassandra-pu"
Hello!
I am using Kundera 2.13 on an dynamic web application to access cassandra database and everything works fine. I created EntityManagerFactory and EntityManager to handle entity bean CRUD.

this.emf = Persistence.createEntityManagerFactory("cassandra-pu");
EntityManager cem=emf.createEntityManager();

However, after I combine separate web components into EAR package, EntityManagerFactory and

[2014-09-03 05:03] sunrain99 opened #640 "Cassandra configure multiple persistence.xml files in ear application"
Can anyone help Kundera cassandra configuration for multiple persistence units in multiple persistence files? I always get error messages:
com.impetus.kundera.configure.PersistenceUnitConfiguration] unconfigured persistence unit: cassandra-pu please validate with persistence.xml
[com.impetus.kundera.KunderaPersistence](default task-5) EntityManagerFactory not created, returning null.

Many thanks!

[2014-09-03 13:42] fe2s opened #641 "Hbase, multiple tables"
I've got 50 jpa entities that I want to persist to 50 different Hbase tables. It looks like the only option is to create a peristence unit per entity since in Kundera Hbase table is mapped to keyspace. There are several issues:
1. this is very inconvenient. Persistence.xml becomes large and contains 50 almost copy pasted blocks.
2. I have to create 50 EnityManagers where each manager works with it

[2014-09-04 06:33] chhavigangwal commented on #639
@sunrain99

Can you share a sample app to help me debug the issue and resolve the same ?

Chhavi

[2014-09-04 07:03] chhavigangwal commented on #641
@fe2s

For issue#1 , you can create one pu and set its keyspace while creating EMF by setting them in external property map :

[code]

For issue#2 and issue#3, I acknowledge it is an issue with Kundera and team will be working on resolving the same.

Thanks,
Chhavi

[2014-09-04 15:20] sunrain99 commented on #639
@chhavigangwal
Thanks for the taking a look. How can I share with you my app?

[2014-09-04 15:52] sunrain99 commented on #639
@chhavigangwal
I create a war project test_1, its persistence.xml is like this. I can deploy test_1.war to jboss server and run the app successfully.
&lt;persistence-unit name="cassandra-pu">
        &lt;provider>com.impetus.kundera.KunderaPersistence&lt;/provider>
        &lt;class>entity.Vendor&lt;/class>
        &lt;exclude-unlisted-classes>true&lt;/exclude-unlisted-classes>
        &lt;propert

[2014-09-04 16:22] craig8 opened #642 "@MappedSuperclass when child class doesn't add any columns"
Hello,

I have a class structure where a child class doesn't add any addition attributes (columns) to the parent class.  Is it possible to use Kundera in this case?  I end up with a NullPointerException because the "type" is null on the line (SchemaConfiguration, ~133) as the following:

TableInfo tableInfo = new TableInfo(entityMetadata.getTableName(), type.name(), idClassName, idName);

@MappedS

[2014-09-05 13:11] chhavigangwal commented on #639
@sunrain99

I am trying to replicate the same scenario at my end, if possible please share your app by creating a repo over github or email it on kundera@impetus.co.in

Chhavi

[2014-09-05 17:54] sunrain99 commented on #639
@chhavigangwal
I have send you zipped package to kundera@impetus.co.in. Please check it.
Thanks!

[2014-09-06 17:20] chhavigangwal commented on #639
@sunrain99

Your issue seems to be related to setting classpath in Maifest. Take a look at the relevant thread.

https://groups.google.com/forum/#!msg/kundera-discuss/3-iUJQOShvE/kJihv32IbjYJ

I will have a look into your project and update you on same.

Chhavi

[2014-09-06 23:45] sunrain99 commented on #639
@chhavigangwal
Thanks for your suggestion. I tried but still does not work. Can you please advise again? Thank you and appreciate!
What I did is:
1. in pom.xml, <build><plugin> add
&lt;configuration>
                    &lt;archive>
                        &lt;manifest>
                          &lt;addClasspath>true&lt;/addClasspath>
                        &lt;/manifest>
                    &lt;

[2014-09-08 08:37] chhavigangwal opened #643 "Kundera-redis does not fetch values of related entity associated by OneToMany relation"
When performing em.find or querying the entity with OneToMany relation , the data of related entity is not fetched along with the parent entity.
e.g.

[code]

   em.find(Person.class, 1)  or em.createQuery("Select p from Person p")

returns address objects as null despite of having data in address.

[2014-09-16 13:27] chhavigangwal commented on #643
Not an issue. The join column set here is wrong. Closing the same.

Chhavi

[2014-09-16 13:28] #643 closed, assigned to nobody

[2014-09-18 09:26] chhavigangwal commented on #639
Mailed you the working version of ear deployment. Please verify and let me know.

Chhavi

[2014-09-23 12:56] chhavigangwal opened #644 "Query in case of related objects in couchDB fetches random data"
While fetching data in CouchDb with query, it fetches related object as parent object with null values.

[2014-09-23 18:05] dhayek opened #645 "Kundera Datastax CQL Driver - Autodiscovery of Cassandra Nodes"
Hi

I'm working with version 2.13.1 of the Kundera Cassandra Datastax driver:

[code]

We have three nodes in our ring, but the Kundera Datastax driver only seems to connect to the one host that is configured in persistence.xml. (I noticed this issue when that host went down briefly.)

When I tried using the Datastax CQL driver directly with the same initial host, it autodiscovered the other 2 in

[2014-09-24 09:45] DaVincii commented on #645
In order to make all the nodes in your ring available to Kundera, you need to specify them in an external configuration file.

For further details check this link :

https://github.com/impetus-opensource/Kundera/wiki/Using-multiple-node-support-and-load-balancing-policy-in-Kundera

[2014-10-03 17:29] gncm opened #646 "@Enumerated broken 2.13 - Cassandra"
I am using 2.13 with cassandra 2.10. @Enumerated seems to be broken. I tried both EnumType.STRING and ORDINAL. Any ideas ?

java.lang.IllegalArgumentException: Invalid value INACTIVE of type unknown to the query builder
    at com.datastax.driver.core.querybuilder.Utils.appendStringIfValid(Utils.java:134)
    at com.datastax.driver.core.querybuilder.Utils.appendValue(Utils.java:115)
    at com.dat

[2014-10-03 19:08] karthik1516 opened #647 "A blog column in the name of _ebean_intercept automatically inserted."
I am using Kundera with play framework. I have the create option (<property name="kundera.ddl.auto.prepare" value="create" />)  in the persistence.xml. It inserts new row without any error. But, If I do a describe on the table, it is automatically adding a column  _ebean_intercept of type blob. If  I do a select on the table, I see a huge blob chunk along with my data. Can you please suggest what

[2014-10-05 17:23] chhavigangwal commented on #647
Can you share you entity definition and check whether it has a byte[] type column /attribute defined ?

Chhavi

[2014-10-05 17:27] chhavigangwal commented on #646
Kundera is currently most stable with Cassandra - 2.04 , however can you please share your entity definition ?

Chhavi

[2014-10-06 02:00] karthik1516 commented on #647
Thanks! Following is the entity that I used. Please let me know, if you see something wrong here.

package models;
import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Id;
import javax.persistence.Table;
@Entity
@Table(name = "car", schema = "fdl@fdlPu")
public class Car {
    @Id
    @Column(name="id")
    public String id; //Auto generated id
    @Column(nam

[2014-10-06 06:45] chhavigangwal commented on #647
@karthik1516

Try disabling ebean enhancer in your project , by setting ebeanEnabled := false in build.scala and the do a clean compile and try persisting the data again.

Chhavi

[2014-10-06 14:27] karthik1516 commented on #647
thanks!

[2014-10-06 14:27] #647 closed, assigned to nobody

[2014-10-07 12:06] dtuzikov commented on #503
Hi,
Is there any progress on this issue? Haven't found fix in CQLTranslator for ver. 2.13.

[2014-10-08 05:53] chhavigangwal commented on #503
Marking it for verification for 2.14 release

[2014-10-08 07:28] dtuzikov commented on #503
Please check method _appendValue_ in _CQLTranslator_:

[code]

It always returns _isPresent_ for null-values, by default it is _false_ (see _CQLTranslator.appendColumnValue_ method).

May be we can use _externalProperties_ for ability to configure this behaviour.

[2014-10-08 08:42] mevivs commented on #503
@dtuzikov
What if value hasn't been provided, isn't by default null? Also Does Cassandra 2.x allows searches like "isNull" or "not null"?

-Vivek

[2014-10-08 08:43] mevivs commented on #503
With entity validation framework in place, i guess we have got null and not null validation place.

-Vivek

[2014-10-08 08:46] mevivs commented on #646
[code]

isn't it like you are using Spring data for this?

-Vivek

[2014-10-08 09:35] dtuzikov commented on #503
@mevivs
As for 2._, Cassandra supports *null_ for insert/update with CQL:

[code]

Neither _is null_ nor _not null_ supported, setting column to _null_ means deleting it.

If value for column hasn't been provided when inserting new row, it's null by default. But, if i want to set null value for existing not null column and set it for entity _myEntity.setMyValue(null)_, CQLTranslator will ignore it

[2014-10-08 09:41] mevivs commented on #503
@dtuzikov  I see your point!   Perfect and make sense with JPA model

:+1:  to fix it

[2014-10-10 13:10] chhavigangwal commented on #639
The same deployment works with wildfly 8.1. Closing this one as the same will be resolved with  #534 .

Chhavi

[2014-10-10 13:10] #639 closed, assigned to chhavigangwal

[2014-10-10 13:11] chhavigangwal commented on #640
The same thing works with wildfly 8.1. Closing this one as the same will be resolved with  #534 .

Chhavi

[2014-10-10 13:11] #640 closed, assigned to chhavigangwal

[2014-10-14 01:19] gbmamat opened #648 "kundera-cassandra JPA 2.1 using clause LIK and IN"
Dear,

I work with kundera-cassandra 2.13,   cassandra-2.0.10,  lucene 4.10.1,  Spring 3.2.6, Java SDK 7.

I want implement  search component: following my configuration files:

Kundera-cassandra.xml
<clientProperties>
    <datastores>
        <dataStore>
            <name>cassandra</name>
            <connection>
                <properties>
                    <property name="cql.version" value=

[2014-10-16 03:35] chhavigangwal commented on #648
@gbmamat

We are looking into the issue.  Meanwhile, can you confirm if this works in case you turn of cql version setting to 3.0.0 ?

Chhavi

[2014-10-17 08:57] chhavigangwal commented on #648
This seems to be fixed with current trunk . Can you please verify ? Will be releasing fix with 2.14

[2014-10-17 09:03] chhavigangwal commented on #645
@dhayek

Is the issue resolved at your end ?

Chhavi

[2014-10-17 12:19] chhavigangwal commented on #631
@lusiak

Was the issue resolved at your end ?

Chhavi

[2014-10-17 13:07] DaVincii opened #649 "Support for selected column i.e. partial object selection in couchdb"
Specific column selection in couchdb is not working e.g "Select p.personName from person p". Need to enable the support for same.

[2014-10-17 13:12] DaVincii opened #650 "Support for selected column i.e. partial object using lucene in Rdbms,Oraclenosql,Redis and Couchdb"
Specific column selection over lucene is not working e.g "Select p.personName from person p". Need to enable the support for same.

[2014-10-17 13:33] chhavigangwal commented on #596
@msfbrasil

Are we good to close on this?

Chhavi

[2014-10-17 14:21] chhavigangwal commented on #648
Fixed with Kundera -2.14 Release

[2014-10-17 14:21] #648 closed, assigned to nobody

[2014-10-17 14:21] chhavigangwal commented on #644
Fixed with Kundera -2.14 Release

[2014-10-17 14:21] #644 closed, assigned to nobody

[2014-10-17 14:21] chhavigangwal commented on #638
Fixed with Kundera -2.14 Release

[2014-10-17 14:21] #638 closed, assigned to chhavigangwal

[2014-10-17 14:21] chhavigangwal commented on #637
Fixed with Kundera -2.14 Release

[2014-10-17 14:21] #637 closed, assigned to nobody

[2014-10-17 14:22] chhavigangwal commented on #632
Fixed with Kundera -2.14 Release

[2014-10-17 14:22] #632 closed, assigned to nobody

[2014-10-17 14:22] chhavigangwal commented on #633
Fixed with Kundera -2.14 Release

[2014-10-17 14:22] #633 closed, assigned to nobody

[2014-10-17 14:22] #634 closed, assigned to chhavigangwal

[2014-10-17 14:22] chhavigangwal commented on #635
Fixed with Kundera -2.14 Release

[2014-10-17 14:22] #635 closed, assigned to chhavigangwal

[2014-10-17 14:22] chhavigangwal commented on #636
Fixed with Kundera -2.14 Release

[2014-10-17 14:22] #636 closed, assigned to nobody

[2014-10-17 14:23] chhavigangwal commented on #503
Fixed with Kundera -2.14 Release

[2014-10-17 14:23] #503 closed, assigned to chhavigangwal

[2014-10-17 14:23] #593 closed, assigned to chhavigangwal

[2014-10-17 14:23] #594 closed, assigned to nobody

[2014-10-17 14:23] #608 closed, assigned to chhavigangwal

[2014-10-17 14:23] chhavigangwal commented on #620
Fixed for Cassandra, HBase and MongoDB with Kundera -2.14 Release

[2014-10-17 14:23] #620 closed, assigned to nobody

[2014-10-17 14:24] chhavigangwal commented on #629
Fixed with Kundera -2.14 Release

[2014-10-17 14:24] #629 closed, assigned to nobody

[2014-10-17 14:25] chhavigangwal commented on #515
@pdirksen

Is the issue resolved for you?

Chhavi

[2014-10-17 14:26] chhavigangwal commented on #646
@gncm

An updates ?

Chhavi

[2014-10-17 14:38] gbmamat commented on #648
I use JPA  2.1  Query.

[2014-10-17 14:44] chhavigangwal commented on #648
Please test the same with 2.14. It should be working

Chhavi

[2014-10-17 14:58] gbmamat commented on #648
Thinks.
I'll try It.

Best regards.

[2014-10-18 20:11] msfbrasil commented on #596
Hello there!

Unfortunately, I'm not working on this project any more.
So, I can't give any further information about this issue.

Thanks and best regards,
Mauro.

On Fri, Oct 17, 2014 at 10:33 AM, chhavigangwal notifications@github.com
wrote:

[2014-10-21 16:04] tsbatista opened #651 "Container managed transactions: Lookup of java:comp/UserTransaction not allowed for Container managed Transaction beans"
This illustrates what I think is wrong:

https://github.com/tsbatista/kundera-cmt

Basically, if I try to use kundera and CMT under glassfish, it breaks as you try to lookup a user transaction here: https://github.com/impetus-opensource/Kundera/blob/273c13342ddd1aceed0cd23504649926ce8fdb84/src/jpa-engine/core/src/main/java/com/impetus/kundera/persistence/EntityManagerImpl.java#L858

Is there any w

[2014-10-21 18:44] mevivs commented on #651
@tsbatista  check this out
https://github.com/impetus-opensource/Kundera/wiki/Transaction-Management.

Most of JTA implementation like atomikos, hibernate one etc are bound with JDBC API which is not applicable in case of NoSQL databases and Kundera. So Kundera brings in its own implementation of JTA transaction and which would require to define binding

[code]

With tomcat you can easily bind thi

[2014-10-22 08:13] tsbatista commented on #651
I dont have much time right now. I will look at this during the weekend and get back to you if I have any ideas.

[2014-10-22 08:46] mevivs commented on #651
@tsbatista  let's keep it open for discussion. Would appreciate your views whenever you get some time to discuss.

-Vivek

[2014-10-22 13:51] kannuriajay opened #652 "Issue in Cassandre query table with subclass data."
Hi,

An  Material.class has--------------------------------
@Inheritance(strategy = InheritanceType.SINGLE_TABLE)
 @DiscriminatorColumn(name = "matl_cat_discr", discriminatorType = DiscriminatorType.STRING)
has coloms example..
@EmbeddedId
    private MaterialPK materialPK;

[code]

and another Class with

VendorMaterial extends Material------------------------------------
@DiscriminatorValue("Ven

[2014-10-22 19:19] karavayeu opened #653 "Add ability to specify --authenticationDatabase for MongoDB"
Suppose there is one mongodb user that is added to "admin" database and has access to multiple client databases. With current driver (version 2.9.1) I have to create the same user in each database. The latest MongoDB Java driver uses MongoCredentials that takes database where the user is defined parameter.

[2014-10-27 07:27] chhavigangwal commented on #653
@karavayeu   +1 for suggestion.

This will involve the upgrade of version supported of MongoDB by Kundera. We shall plan the same soon !

Chhavi

[2014-10-27 07:34] mevivs commented on #653
Isn't it already supported or am i missing something?

https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-mongo/src/test/resources/META-INF/persistence.xml#L36

https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-mongo/src/test/resources/META-INF/persistence.xml#L37

https://github.com/impetus-opensource/Kundera/blob/273c13342ddd1aceed0cd23504649926ce8fdb84/src/k

[2014-10-27 10:58] karavayeu commented on #653
The authentication itself is supported, but the user must be in the same database. If the user is placed in a separate database the authentication will fail.

[2014-10-27 13:25] chhavigangwal commented on #652
@kannuriajay

If your Material.class is a MappedSuperClass then while executing the query you need to query it with subclass , e.g.

[code]

Also, can you please share further details of your sub classes ?

Chhavi

[2014-10-28 08:49] kannuriajay commented on #652
Yes that Correct .. problom resolved.
Thank you.

[2014-10-28 08:49] #652 closed, assigned to nobody

[2014-11-02 20:38] mevivs opened #654 "can't serialize class com.avaje.ebean.bean.EntityBeanIntercept"
Getting given below error
Caused by: com.impetus.kundera.KunderaException: java.lang.IllegalArgumentException: can't serialize class com.avaje.ebean.bean.EntityBeanIntercept
        at com.impetus.kundera.persistence.EntityManagerImpl.merge(EntityManagerImpl.java:210) ~[kundera-core-2.14.jar:na]
        at controllers.services.UserDao.save(UserDao.java:27) ~[flavourstreet_2.11-1.0-SNAPSHOT.jar:1.0

[2014-11-03 09:52] kannuriajay opened #655 "I need to Insert a Image Content into BLOB in Cassandra DB"
I have a  Column in the DB  Table data_center    binary_content blob, with primary key(labid, name, data_id),

I have created Entity Class     @Column(name = "binary_content")
    private ByteBuffer binaryContent;

I need EJB Method with JPA ..  How to write an Image Location and convert and save to BLOB,

Thanks in Advance.

[2014-11-03 09:55] kannuriajay opened #656 "I need to Insert a Image Content into BLOB in Cassandra DB"
I have a  Column in the DB  Table data_center    binary_content blob, with primary key(labid, name, data_id),

I have created Entity Class 	@Column(name = "binary_content")
	private ByteBuffer binaryContent;

I need EJB Method with JPA ..  How to write an Image Location and convert and save to BLOB,

Thanks in Advance.

[2014-11-03 13:16] kannuriajay commented on #656
I have come up with some Solution Wrote EJB
public DataCenter storeDataCenterFile(DataCenter datacenter) {

[code]

Test Case for that Method

public void testInsertBlobFile() throws Exception{
        File file = new File("C:\Users\akannuri\Desktop\Student_img.jpg");

[code]

[2014-11-04 09:29] chhavigangwal commented on #656
@kannuriajay

Is your solution working for you ?

Chhavi

[2014-11-04 09:30] chhavigangwal commented on #655
Same as #656

[2014-11-04 09:30] #655 closed, assigned to nobody

[2014-11-04 09:39] kannuriajay commented on #656
Yes
my code is working, But Converting Image to ByteBuffer is happening in the Test Case Method, Can any other option the conversion can be handled in the EJB  storeDataCenterFile(DataCenter datacenter) ?

AjayKumar

[2014-11-04 10:55] chhavigangwal commented on #656
@kannuriajay

In order to save blob data you need to convert it into byte array and then only save the same. So you will have to do this conversion.A sample test case for same can be found at :
https://github.com/impetus-opensource/Kundera/blob/273c13342ddd1aceed0cd23504649926ce8fdb84/src/kundera-cassandra/cassandra-core/src/test/java/com/impetus/client/crud/datatypes/ByteDataTest.java

Also, data

[2014-11-04 13:45] kannuriajay commented on #656
can we write this in the EJB Method?
public DataCenter storeDataCenterFile(DataCenter datacenter) {

???

[code]

}

[2014-11-04 18:25] kannuriajay commented on #656
could you please suggest how to write REST webservice  to storeDataCenterFile to BLOB

Thanks in advance,
AjayKumar

[2014-11-05 06:43] chhavigangwal commented on #656
@kannuriajay

In order to write  the Rest service that uploads file contents you need to create web service that accepts OCTET content and then provide it the file input data. Your service can then take this binary data and convert it into byte array and save it in a blob field using Kundera

You can find sample projects (not rest service based) using Kundera (which also includes file upload at )

[2014-11-05 13:41] kannuriajay commented on #656
For Inserting Image Wrote TEST Case,

[code]

---

For Reading Image, I wrote TEST CASE ,
@Test
    public void testGetBlobFile() throws Exception {

[code]

} catch (Exception x) {
   System.err.println(x);
}

Below are two Console Log shows.  There might be a data Loss. I am not getting Image on reading from DB,

while upload  : binaryContent=java.nio.DirectByteBufferR[pos=0 lim=3400 cap=3400]
w

[2014-11-06 07:12] jamesxukun opened #657 "Connection in the pool was not renewed after Cassandra db restarted."
I have a connection pool set up with com.impetus.client.cassandra.thrift.ThriftClientFactory client. After I restart Cassandra database, the connection in the pool was not renewed, so I kept getting following network exception:

Caused by: org.apache.thrift.transport.TTransportException
    at org.apache.thrift.transport.TIOStreamTransport.read(TIOStreamTransport.java:132)

Could you let me know h

[2014-11-06 07:28] chhavigangwal commented on #656
@kannuriajay

Can you please take a look at the way files are saved as blob from the following code and try saving the blob data as byte array instead of bytebuffer and then check the same
https://github.com/impetus-opensource/Kundera/blob/273c13342ddd1aceed0cd23504649926ce8fdb84/src/kundera-cassandra/cassandra-core/src/test/java/com/impetus/client/crud/datatypes/ByteDataTest.java

Chhavi

[2014-11-06 10:16] chhavigangwal commented on #657
@jamesxukun

Can you share further details on how have you set up this connection and pool and how do you use the same ?  Also, please take a look at the following to check if it helps :

https://github.com/impetus-opensource/Kundera/wiki/Using-multiple-node-support-and-load-balancing-policy-in-Kundera

Chhavi

[2014-11-06 11:24] kannuriajay commented on #656
For Cassandra DB now I have changed Entity from byteBuffer to byte[] as below.

DataCenter.java---------------------------------
@PartitionKey(0)
    @Column(name = "labid")
    private UUID labId;

[code]

@Lob
    @Column(name = "binary_content")
    private byte[] binaryContent;

DataCenterBean.java--------------------------------------

public DataCenter storeDataCenterFile(DataCenter datacent

[2014-11-06 13:16] jamesxukun commented on #657
Thanks for your quick reply.

Here is my persistence.xml file:

[code]

And the kunderaLoadConfig.xml file:

[code]

But, every time, after the cassandra db is restarted, I always get thrift exception, looks like the testonborrow or retry settings don't work.

[2014-11-06 13:33] jamesxukun commented on #657
Properties defined in persistence.xml:

[code]

And properties in kunderaLoadConfig.xml:

[code]

[2014-11-06 13:38] jamesxukun commented on #657
Properties defined in persistence.xml:

property name="kundera.keyspace" value="cls_new"/>
            property name="kundera.nodes" value="localhost"/>
            property name="kundera.port" value="9160"/>
            property name="kundera.username" value="ucontrol"/>
            property name="kundera.password" value="test"/>
            property name="kundera.pool.size.min.idle" value="5" />

[2014-11-07 09:08] chhavigangwal commented on #656
@kannuriajay

From what I see here you haven't given the path of the image completely but only path till folder containing image:
Change the line

[code]

to :

[code]

Chhavi

[2014-11-07 13:12] chhavigangwal commented on #657
@jamesxukun

Please try upgrading Kundera to 2.11.1 or to latest version as a fix for same has been added. Please check the following issue for reference #554

Chhavi

[2014-11-07 15:12] jamesxukun commented on #657
Thanks, I will try it. A general question, is the load balancer configuration taken by Thrift client? For me, seems not, how I can confirm that the configuration works as defined?

[2014-11-09 11:21] kannuriajay commented on #656
It works when I Call EJB  with Test Case, for Inserting and retrieving Image.

[code]

[2014-11-09 11:32] kannuriajay commented on #656
Hi,

I wrote RESTFUL  webservice  and Test Client, It doesn't works to create Image to Cassandra.

webservice

@POST
     @Path("/upload")
     @Consumes(MediaType.MULTIPART_FORM_DATA)
    // @Produces(MediaType.APPLICATION_JSON)

[code]

*/
            return Response.ok("True").build();

[code]

---

REST Client Test Case.

@Test
        @InSequence(6)
        public void testDataCenterRecordInt

[2014-11-10 05:59] chhavigangwal commented on #656
@kannuriajay

As you are already converting your stream data into byte array and then sending it across you need to convert it into xml or json and then consume the data in form of InputStream/xml or json itself and  save the same.

Hope that Helps!
Chhavi

[2014-11-10 09:06] kannuriajay commented on #656
Hi ,

I did with json type but same error javax.ws.rs.ProcessingException: Unable to invoke request
Can you help me with RESTFuleasy Example Code that which store the @Consumes(MediaType.MULTIPART_FORM_DATA) and store into DB with Client test.

Thanks,
AjayKumar.

[2014-11-10 09:50] chhavigangwal commented on #656
Please do the following in order to get a webservice working , create a json encoded String and set the service to consume the same :

Your client code should look something like this :

[code]

whereas the service should consume it like :

[code]

i.e, object conversion should be done in web service rather than client.

Hope that Helps!
Chhavi

[2014-11-10 11:26] kannuriajay commented on #656
Hi,,

@POST
'' '''   '''

public Response uploadFile(DataCenter datacenter)throws AppException, IOException {
        System.out.println("Dtat out1");

[code]

-----------------------Test Case

FileInputStream fis = new FileInputStream("C:\Users\akannuri\Desktop\Image.jpg");
                    byte[] b= new byte[fis.available()+1];
                    fis.read(b);
                 String dataFile

[2014-11-10 11:29] chhavigangwal commented on #656
You can use any utility to do this conversion (from byte to Base64 encoded string).Would suggest using apache codec utility for same

Chhavi

[2014-11-10 11:32] chhavigangwal commented on #657
You can test your configuration testing by obtaining CassandraHostConfiguration as done in

https://github.com/impetus-opensource/Kundera/blob/aca0912c4115e055d8b0c0647ba217c7177da5d4/src/kundera-cassandra/cassandra-core/src/test/java/com/impetus/client/cassandra/config/CassandraPropertySetterTest.java#L216

Hope that Helps !
Chhavi

[2014-11-11 13:14] kannuriajay commented on #656
Can you share Restful easy code which can upload file into cassandra.  the generated URL, I need to test it with Advance Rest Client.

Thanks,
AjayKumar.

[2014-11-11 22:02] jamesxukun opened #658 "Connection pool doesn't work with username and password set up"
I have Spring framework set up with Cassandra database, everything is work fine. However, as long as I created a Cassandra super user with password, and set up the properties in persisten.xml file, it gave me following error message:

Caused by: InvalidRequestException(why:You have not logged in)
    at org.apache.cassandra.thrift.Cassandra$get_range_slices_result$get_range_slices_resultStandardSc

[2014-11-12 05:01] chhavigangwal commented on #656
Please mail me your sample project at kundera@impetus.co.in so that I can further check what is the issue.

Chhavi

[2014-11-13 05:15] chhavigangwal commented on #658
@jamesxukun

Although we are looking into the issue but just to ensure does the authentication works without connection pool in your case?
Also, Kundera versions older than 2.12.1 support Cassandra 1.x and latter ones are most compatible with 2.0.4. So I would suggest you to upgrade Kundera to the latest version 2.14.

Chhavi

[2014-11-14 13:05] kannuriajay opened #659 "How to query map type column in cassandra."
HI  I have table with column ----
CREATE TABLE experiment_by_lab (
labid timeuuid,
procedure map<timeuuid, text>,
experiment_id timeuuid,
title text,
type text,
primary key(labid, experiment_id, title, type)
);

I need to write two method fetch records the procedure by type
procedure by name.

so I wrote first method

	public Experiment getProcedureId(UUID labId,Map <UUID,String> procedure) {
		St

[2014-11-14 13:47] chhavigangwal commented on #659
@kannuriajay

Kundera currently supports (and is most stable with) Cassandra 2.0.4.
In order to query over a field in Cassandra , you need to create an index on it. However indexing is not supported over collections in Cassandra till version 2.1 (https://issues.apache.org/jira/browse/CASSANDRA-4511)

Hence you cannot query over map type columns in Cassandra as of now.

Chhavi

[2014-11-14 17:49] ansarrafique opened #660 "Updating byte [] data (Blob) failure"
If I update data that already exist in Cassandra/MongoDB using Kundera works as long as it is not byte [] data. I never get response back when I update byte [] data. It takes ages.

[2014-11-14 18:05] jamesxukun commented on #658
Hi Chhavi,

Thanks for your response.

Yes, it is working fine if I didn't have any kunderaExtendConfig.xml, means everything is defined in persistence.xml.

And also I found that if I define the kunderaExtendConfig.xml, I can put the username and password properties in the file, under the <server></server> section, it works.

[2014-11-16 06:37] kannuriajay opened #661 "javax.ejb.EJBException: java.lang.IllegalArgumentException: is not a column defined in this metadata"
Hi,
## In cassandra DB. table, I have

CREATE TABLE experiment_by_lab (
    experiment_id timeuuid,
    status text,
       labid timeuuid,
primary key(labid, experiment_id)
## );

In Experiment.java I have entity class .

@Column(name ="status")
    private String experimentStatus;
    public String getExperimentStatus() {
        return experimentStatus;
    }
    public void setExperimentStatus

[2014-11-16 07:01] kannuriajay commented on #659
Hi,
I have upgraded DB to cassandra 2.1.1.

how to write a method: get experiment by procedure id pointing to procedure map.

In code How can I separate the Key from map. and display only key.

procedure map<timeuuid, text>,

Regards.
AjayKumar.

[2014-11-16 09:58] kannuriajay opened #662 "How to write java code to get Map field in cassandra 2.1.1"
CREATE TABLE map_example (
  id text,
  m map<timeuuid, text>,
  PRIMARY KEY ((id))
)

I have a field that is a m map<timeuuid, text>, which I am trying to write method to get Key from Map in a Java

AjayKumar.

[2014-11-17 06:33] chhavigangwal commented on #661
@kannuriajay

entityManager.find searches specified object for an entity class with the given primary key and not an entire object . Your code

[code]

ideally should be like :

[code]

Hope that Helps!
Chhavi

[2014-11-17 06:42] chhavigangwal commented on #661
And to add clarify further as the key experiment table in your case is of  composite type, so you need to create an embeddedId and perform search corresponding to the embeddedId object instead of complete experiment object. Sample entity class  :

https://github.com/impetus-opensource/Kundera/blob/273c13342ddd1aceed0cd23504649926ce8fdb84/src/kundera-cassandra/cassandra-core/src/test/java/com/impet

[2014-11-17 07:10] mevivs opened #663 "Get scalar values for native query over Cassandra"
Right now, Kundera doesnt allow running such native queries

select keyspace_name,columnfamily_name,column_name,type,validator from system.schema_columns

unless we define a dummy entity. With Dummy entity, it is returning incorrect results with data wrapped around dummy entity. With native query support i should be allowed to fetch scalar values as an array.

-Vivek

[2014-11-17 09:17] kannuriajay commented on #661
Hi,

Because I have added to set composite Key so.

Experiment experimentLocal = entityManager.find(Experiment.class, experiment);

primary key(labid, experiment_id)

Experiment experiment = new Experiment();
        experiment.setLabId(labId);
        experiment.setExperimentId(experimentId);

so primary Key is combination of two columns, so I wanted to soft delete the whole row based on primary

[2014-11-17 09:22] kannuriajay commented on #661
Hi,

For  the below statement
And to add clarify further as the key experiment table in your case is of composite type, so you need to create an embeddedId and perform search corresponding to the embeddedId object instead of complete experiment object. Sample entity class :

we are using :

[code]

So we are not using embeddedId , how to resolve issue.

Thanks.
Ajaykumar

[2014-11-17 10:21] chhavigangwal commented on #661
@kannuriajay

Being a JPA compliant object mapper Kundera supports composite key by using @EmbeddedId annotation (https://docs.oracle.com/javaee/7/tutorial/doc/persistence-intro001.htm) . So in order to use Kundera , you need to declare the composite key of your class using @EmbeddedId annotation.  e.g :

[code]

Chhavi

[2014-11-17 12:36] kannuriajay commented on #661
It works .. thanks you

[2014-11-17 12:36] #661 closed, assigned to nobody

[2014-11-17 14:42] zeremit opened #664 "com.impetus.kundera.query.JPQLParseException: Out of order keyword from, entity alias must not be any reserved keyword.."
I write such JPA Query
@Test
  public void testKeyWordFail(){
        CriteriaBuilder criteriaBuilder = emp.getCriteriaBuilder();
        CriteriaQuery<User> query = criteriaBuilder.createQuery(User.class);
        Root<User> from = query.from(User.class);
        query.select(from.alias("t"));
        query.where(criteriaBuilder.equal((Expression) from.get("name"), "Screenshot from 2013-10-30 17:

[2014-11-17 14:49] chhavigangwal commented on #659
@kannuriajay

For now Kundera only supports Cassandra 2.0.4 so you cannot query or create indexes over collections. However you can query the map using Kundera by using its native query support for now e.g.

[code]

You can find more help at :
http://www.datastax.com/dev/blog/cql-in-2-1

Hope that Helps!
Chhavi

[2014-11-17 14:53] chhavigangwal commented on #662
@kannuriajay

Can you please elaborate further on what are you trying to achieve by giving example

Chhavi

[2014-11-17 17:50] mevivs opened #665 "Enable support for GridFS with MongoDB"
More details are available at
http://docs.mongodb.org/manual/core/gridfs/

-Vivek

[2014-11-18 05:03] sreekanth0041 opened #666 "Many-To-One InvalidRequestException(why:Unknown identifier category_id)"
i am trying to map the one-to-many operation but its showing the error as below.
Caused by: com.impetus.kundera.KunderaException: InvalidRequestException(why:Unknown identifier category_id)
    at com.impetus.client.cassandra.CassandraClientBase.execute(CassandraClientBase.java:2328)
    at com.impetus.client.cassandra.CassandraClientBase$CQLClient.persist(CassandraClientBase.java:2026)
    at com

[2014-11-18 06:44] chhavigangwal commented on #666
@sreekanth0041

Please try setting cql version to 3 while creating EMF and try the same operation. You can set the cql version by :

[code]

Chhavi

[2014-11-18 07:38] sreekanth0041 commented on #666
Hi chhavigangwal,
Thank you for giving the replay.
I updated the code but still getting the same error.

[2014-11-18 07:59] mevivs commented on #666
@sreekanth0041
Can you please share output of given below command by running over cql shell:

[code]

-Vivek

[2014-11-18 08:20] sreekanth0041 commented on #666
Hi Vivek,
Output of the cammand:

CREATE TABLE xxx.product_category (
    key text PRIMARY KEY,
    category_name text
) WITH COMPACT STORAGE
    AND caching = '{"keys":"ALL", "rows
    AND comment = ''
    AND compaction = {'min_threshold':
mpaction.SizeTieredCompactionStrategy',
    AND compression = {'sstable_compres
LZ4Compressor'}
    AND dclocal_read_repair_chance = 0.
    AND default_time_t

[2014-11-18 08:43] mevivs commented on #666
@sreekanth0041
Check as per error, there is no field "category_id".Either change your entity as

[code]

OR

alter table xrg.product_category  to define Primary key column name as "category_id" instead of "key".

-Vivek

[2014-11-18 08:44] sreekanth0041 commented on #666
Thank you its working now

[2014-11-18 10:30] mevivs commented on #666
@sreekanth0041
I guess it can be labelled as "Not an Issue" and good to close?

-Vivek

[2014-11-18 10:37] chhavigangwal commented on #664
@zeremit

The issue is with the use of keyword "from" in the string of where clause which throws the exception. We are looking into the issue.

Chhavi

[2014-11-18 11:42] kannuriajay commented on #659
Hi,

We are using Datastax driver not Kundera. and cassandra 2.1.1

AjayKumar

[2014-11-18 11:57] chhavigangwal commented on #659
@kannuriajay

I did not get you , are you not using Kundera to perform operations on data stored in Cassandra ?

Because , if you are trying to query data stored in Cassandra 2.1.1 using Kundera, you need to create index over the map column manually and then query it using nativeQuery support as I shared in example above.

Chhavi

[2014-11-18 14:52] mherwig opened #667 "Kundera "could not find any META-INF/persistence.xml" in EJB project"
I tried to migrate from EclipseLink 2.5 to Kundera but I get the following exception:

[code]

This is how my EJB project looks like:
- ejbModule
  -  src
  - META-INF
    - persistence.xml

And I have the following entry in my classpath:
`<classpathentry kind="src" path="ejbModule"/>`

persistence.xml:

[code]

EntityManagerProvider.java:

[code]

Am I missing something? With EclipseLink and the

[2014-11-19 06:40] #666 closed, assigned to nobody

[2014-11-19 06:47] chhavigangwal commented on #667
@mherwig

Similar issues have been reported with earlier like https://github.com/impetus-opensource/Kundera/issues/303, related thread which can be of help : https://groups.google.com/forum/#!topic/kundera-discuss/x0AqH_Te6eQ
Can you please share which version of Kundera are you using and on which server are you trying to deploy the project?

Chhavi

[2014-11-19 07:25] mherwig commented on #667
Oh, I'm sorry that I missed to give information about the application server and kundera version I use.
I'm currently using:
- kundera-mongo revision 2.14
- Glassfish 4.1 (latest build 13, which is linked on the the project's site).

I also did find these threads you mentioned but since that was posted over a year ago and I couldn't find a suitable solution for me in it, I come up with this report

[2014-11-19 07:59] sreekanth0041 opened #668 "OnetoMany kundera cassandra"
Hi,
I am using one to many mapping in kundera cassandra, Its working fine.My problem is when the category_name in parent table already exist then i want to skip it ,But  i want to insert the data in child table at the same time i want to check the same object exist in the child table aswell,If exist skip else insert.
My code is below
Category.java

[code]

Product.java

[code]

Main class

[code]

[2014-11-19 10:11] chhavigangwal commented on #668
@sreekanth0041

You can update the category object using em.merge , e.g. something like ,

[code]

Hope that Helps!
Chhavi

[2014-11-20 05:42] mevivs opened #669 "Kundera ES: parent-child mapping -would be great feature to have"
More details can be found at

http://www.elasticsearch.org/guide/en/elasticsearch/guide/current/parent-child-mapping.html

-Vivek

[2014-11-20 09:25] mevivs commented on #669
Actually it's bit different. already supported by ES via Association mapping.

Also how to define mapping such as
http://www.elasticsearch.org/guide/en/elasticsearch/guide/current/parent-child-mapping.html

Another part is
Question is
http://www.elasticsearch.org/guide/en/elasticsearch/guide/current/nested-objects.html

Which is support of Embeddable object.

PS: Embedded composite key is supporte

[2014-11-20 09:50] hwaastad commented on #651
Hi, I've started to test Kundera along with TomEE and have met a couple of issues, and maybe related to this discussion.

`Please bind [com.impetus.kundera.persistence.jta.KunderaJTAUserTransaction]  for :{java:comp/UserTransaction} lookupclass  org.apache.openejb.core.CoreUserTransaction`

I asked TomEE dev's if it's possible to fix this by using resources og setting system properties, but Romain

[2014-11-20 12:21] sreekanth0041 opened #670 "All hosts are down. please check servers manully(Kundera cassandra)"
My application working fine for local database but when connecting to remote database i am getting the below error

[code]

My code is
persistence.xml

[code]

ehcache-test.xml

[code]

kunderaCounter.xml

[code]

Category.java

[code]

Product.java

[code]

Test,java

[code]

Please help me

[2014-11-20 12:47] chhavigangwal commented on #670
Is your Cassandra server configured to accept connections from remote server ?

Chhavi

[2014-11-20 13:28] mevivs commented on #651
@hwaastad
Let me think about and post an update on this.

-Vivek

[2014-11-20 14:04] hwaastad commented on #651
Hi, sure,
 and I'll happily help testing when needed :-)

[2014-11-21 04:01] sreekanth0041 commented on #670
Yes i given the permissions, and also its connecting with the below code without jpa.
When we use kundera cassandra i am getting the error.

[code]

[2014-11-21 05:49] chhavigangwal commented on #668
Did your issue get resolved?

Chhavi

[2014-11-21 05:51] sreekanth0041 commented on #668
Yes ,Thank you Chhavi.

[2014-11-21 05:53] chhavigangwal commented on #668
Are we good to close on it ?

[2014-11-21 05:57] chhavigangwal commented on #670
We are looking into  the issue !

Chhavi

[2014-11-21 05:59] #668 closed, assigned to nobody

[2014-11-21 06:01] sreekanth0041 commented on #670
Maven dependencies are

[code]

[2014-11-21 10:49] chhavigangwal commented on #660
@ansarrafique

As communicated the issue is not with updating byte[] but with EntityManager object's cache getting full. So by clearing the cache periodically there should not be any problem with byte[] data.

Chhavi

[2014-11-21 10:52] chhavigangwal commented on #670
@sreekanth0041

Can you share a sample project to replicate the issue and help you resolve the same ?

Chhavi

[2014-11-21 11:00] sreekanth0041 commented on #670
Can you please share your mail id

[2014-11-21 11:24] chhavigangwal commented on #670
Please mail your project at kundera@impetus.co.in

Chhavi

[2014-11-21 11:39] chhavigangwal commented on #658
@jamesxukun

So is the code working fine at your end now ?

Chhavi

[2014-11-21 17:57] mevivs commented on #670
@sreekanth0041

[code]

is for native protocol not for thrift. Either change persistence.xml from ThriftClientFactory to DSClientFactory or change kundera.port to point thrift port( i.e 9160, by default).

HTH,
-Vivek

[2014-11-21 18:17] mevivs commented on #667
@mherwig
IMO it is related to META-INF/persistence.xml not available with classpath.
Please see if given below link
https://github.com/impetus-opensource/Kundera/tree/trunk/examples/container/tomcat-glassfish/data-keeper/src/main/resources/

would help to place it properly!

HTH,
-Vivek

[2014-11-21 18:56] mherwig commented on #667
@mevivs

Actually that doesn't help me. I created an ejb project in eclipse which doesn't generate a resources folder. Is kundera searching for a resources folder? Should I create one? I already tried adding the META-INF folder explicitly to the classpath which didn't help. Is using JPA/Kundera in a ejb project that uncommon?

Anyways, since I didn't get Kundera to run in my project I'm back at ec

[2014-11-21 19:00] mevivs commented on #667
@mherwig
Oh, ok. I guess best way then was to bundle persistence.xml and entities as a separate jar. That way should have worked.

But Neverthless, you may try it later whenever you evaulate Kundera for next time!

Cheers,
-Vivek

[2014-11-21 19:13] mherwig commented on #667
@mevivs
Don't get me wrong, I'm currently working on a project with a tight schedule so I currently can't hunt down this issue any further but I definitely gonna try Kundera and your advice at another time since I see the great potential in Kundera. Thanks!

Best regards,

Mike

[2014-11-27 11:02] mevivs opened #671 "Kundera ES: fetch specific fields from Elastic search"
Currently it is not supported to fetch specific fields from Elastic search. But Elastic search 1.4 api provides a way to fetch specific fields only!
That would enable support for given below query:
[code]
Transport client apis prepareGet and preapreSearch provides methods such "addField" or "setFields" to support this.

-Vivek

[2014-12-02 12:28] mevivs opened #672 "Any plan to remove deprecated Index implementation?"
Here is the link:
https://github.com/impetus-opensource/Kundera/blob/273c13342ddd1aceed0cd23504649926ce8fdb84/src/jpa-engine/core/src/main/java/com/impetus/kundera/annotations/Index.java

[2014-12-10 08:19] rabejens opened #673 "Using with Spring: Timeout trying to create/update schema"
I am using Spring boot to create a web service and want to persist my data model in HBase. I want to use Kundera for this task. However, I cannot get it to work. When spinning up the application, it starts up, freezes for about a minute and runs into a timeout. Here are some snippets of my configuration:

My persistence.xml:

[code]

My configuration for the entity manager:

[code]

When trying to

[2014-12-10 09:02] rabejens commented on #673
I am one step further. It turned out that in my hbase-site.xml zookeeper.znode.parent was not set to /hbase which kundera expects. After setting it to /hbase, the tables are created, but now it fails at another stage:

[code]

[2014-12-10 09:38] chhavigangwal commented on #673
@rabejens

Can you please share how are you issuing the  query and entity definition ?

Chhavi

[2014-12-10 09:46] rabejens commented on #673
I solved this one, too. It has to do with using repositories like PagingAndSortingRepository. The query parser gets to parse things like `MyEntity.findBySomethingAndSomeOtherThing`, fails and throws the aforementioned `JPQLParseException`. Since this exception does not extend `IllegalStateException`, it bails out instead of trying to resolve the query. This happens in `org.springframework.data.jpa

[2014-12-10 09:46] #673 closed, assigned to nobody

[2014-12-10 09:49] rabejens commented on #673
@chhavigangwal I raise another issue about the "real" problem I am having.

[2014-12-10 09:59] rabejens opened #674 "Query building from repositories does not work."
Lets say I have a simple entity:

[code]

and a simple repository:

[code]

creating the schema at start causes the application to bail out:

[code]

This is because the query parser is instructed to build a query from the String `MyEntity.findByNameContainingIgnoringCase`. In this case, the aforementioned exception is thrown. However, this is done in the `CreateIfNotFoundQueryLookupStrategy` (nes

[2014-12-11 05:57] chhavigangwal commented on #674
@rabejens

Criteria query support is not completely enabled in Kundera as of now and is there on our roadmap.So for now you can write basic JPQLs to get your queries working . An example of same can be found at :

https://github.com/impetus-opensource/Kundera/blob/trunk/src/kundera-hbase/src/test/java/com/impetus/client/hbase/crud/PersonHBaseTest.java

Hope this Helps !
Chhavi

[2014-12-11 06:03] chhavigangwal commented on #674
Can you also share the current manner in which you are issuing the query ?

Chhavi

[2014-12-11 06:33] #670 closed, assigned to nobody

[2014-12-11 07:10] sreekanth0041 opened #675 "OnetoMany kundera cassandra based on condition"
I have two table one is products and next one is discounts,problem is when i am getting the products i want to get the discounts based on valid date.If date expires then i don't want to get the record.
My code is below
Products.java

[code]

Discount.java

[code]

Main.java

[code]

Can you please help me.

[2014-12-11 14:03] chhavigangwal commented on #675
@sreekanth0041

In order to enable querying over non-primary key columns you need to create indexes on them in the following manner :

[code]

However, you cannot directly query over associated entity's attribute using Kundera. So you can resolve your problem in the following manner :
- Fetch all objects of Discount which are not expired

[code]
- Loop through discount objects to retrieve the prod

[2014-12-12 07:34] chhavigangwal commented on #674
Further to add on this currently most of the queries supported by JPQL in Kundera are supported via Criteria as well, so can you please share your specific query to look into the issue further.

Chhavi

[2014-12-16 07:25] sreekanth0041 opened #676 "Like operation in kundera cassandra"
Hi,
Can you please tell me how to use the 'like' query operations in cassandra.

[2014-12-16 10:54] chhavigangwal opened #677 "Fix Elastic and Lucene Indexes support with CQL3"
Currently indexes enabled with Elastic serach or Lucene do not work properly over CQL3 . So need to add fix for same.

[2014-12-16 11:51] chhavigangwal commented on #658
@jamesxukun

Are we good to close on this ?

Chhavi

[2014-12-16 13:27] chhavigangwal commented on #676
@sreekanth0041

Like operation is not directly supported in Cassandra. You can however achieve the same by creating indexes over Lucene or Elastic search and then querying the data.

Chhavi

[2014-12-16 15:21] jamesxukun commented on #658
OK, you can close it. I word around it, the issue still there.

[2014-12-17 05:28] chhavigangwal commented on #658
@jamesxukun

The issue is not reproducible at my end .So can you please mail me the sample project which will help me look into the issue further ?

Chhavi

[2014-12-18 09:38] sshivankar opened #678 "Entities are not getting removed from Cassandra."
I am using Kundera 2.9.1 for my project and Cassandra 2.1.0 is installed on my clustered nodes. With this configurations, when I am trying to delete the entities from Cassandra with the help of below mentioned method, I am seeing intermittent behavior from Cassandra and entities are not getting removed from clustered nodes. However, same method works fine sometimes without any issue. Could you ple

[2014-12-18 14:18] ansarrafique commented on #660
Fixed

[2014-12-18 14:18] #660 closed, assigned to nobody

[2014-12-18 16:22] chhavigangwal commented on #678
@sshivankar

Few things here :
- Kundera's latest release 2.14 is most compatible with Cassandra 2.0.4.
- Also, Kundera's support for Cassandra- 2.x + was added from Kundera version 2.11.1 and might not be very stable with earlier versions.

Would suggest you to upgrade Kundera's code to the latest version 2.14 and check if the issues still persists. If it does , can you please mail us a sample pr

[2014-12-22 06:45] mevivs commented on #651
@hwaastad
Sorry for late response, kinda got busy with some stuff.
Can you please share a sample project to try it my end with TomEE?

-Vivek

[2014-12-25 05:30] chhavigangwal opened #679 "Lucene query with where clause over associated objects does not work"
Currently where clause  over relation objects in a query does not gives expected results. Enable querying over relation columns using Lucene.

[2014-12-27 06:40] sreekanth0041 opened #680 "Join query in mongodb"
Hi,
I am using kundera library, I want to join two tables in mongodb.
Help me.

[2014-12-27 12:31] gurkerl83 opened #681 "Add support for querydsl"
Hi,
tried the querydsl-jpa with kundera 2.10. Unfortunately both technologies do not work on top of each other. Debugging a query results in a immediate termination. It`s an query parsing problem starting in KunderaQuery initEntityClass - fromArray is much larger than the allowed size of two, Entity + alias.

It think querydsl makes writing queries much easier and typesafe. It has different implem

[2014-12-29 09:36] sreekanth0041 opened #682 "Working on collections MongoDB"
My entity class is below
[code]
Now i want to get the data with where clause of contactNumbers contains key.(Ex contactNumbers CONTAINS 'addressline1')

Any one can help me please

[2014-12-29 10:30] sreekanth0041 opened #683 "Kundera mongoDB native query support"
I am trying to get the data using native support but the error is
[code]

My code is
[code]
Please help me.

[2014-12-29 14:34] devender-yadav commented on #680
Please let us know more details of your use case so that we might find a more efficient way to deal with your use case (rather than joining two tables).

[2014-12-30 06:59] devender-yadav commented on #683
For executing Native Queries in MongoDB using Kundera you need to write scripts. Please refer this test case

https://github.com/impetus-opensource/Kundera/blob/273c13342ddd1aceed0cd23504649926ce8fdb84/src/kundera-mongo/src/test/java/com/impetus/client/crud/PersonMongoTest.java#L155

Please let me know if you face any further issue.

[2014-12-30 08:22] sreekanth0041 commented on #683
Thank you for giving the reply devender.
I tried with above but problem is not resolved

[code]

[2014-12-30 09:16] devender-yadav commented on #683
Hi @sreekanth0041  no need to call
em.createNativeQuery(findAllJScript, Restaurant.class).getResultList();

U will get your result in
 result = ((MongoDBClient)client).executeScript(findAllJScript);

You can not use em.createNativeQuery() method as exception itself says "Native query support is not enabled in mongoDB". Please go through the test case again.

[2014-12-30 09:28] sreekanth0041 commented on #683
I am getting the result data like below

[code]

Now how to get the collection from the above.

[2014-12-30 11:36] pragalbhgarg commented on #681
Hi,
We have been working on the issue and are trying to fix it as soon as possible. Meanwhile you may send us your test cases so that we can help you in a better way.

[2014-12-30 12:33] mevivs commented on #683
@sreekanth0041
Based on parsing above json result(using http://json.parser.online.fr/), i think you looking for

[code]

Correct?   You need to use, jackson or google's json parser to parse and extract relevant json column!

HTH,
-Vivek

[2014-12-30 12:39] mevivs commented on #682
I guess it is only possible via regex pattern matching. I think Kundera doesn't support it yet but possible?
http://howtodoinjava.com/2014/05/29/mongodb-selectqueryfind-documents-examples/

Point 9.

-Vivek

[2014-12-30 12:43] mevivs commented on #680
@sreekanth0041
i think we should get into basic understanding and reason behind such supports. NoSQL databases are meant for large amount of data and probably one of the reason to avoid such in-memory expensive joins.  Although as @devender-yadav  mentioned, more insights would surly help.

-Vivek

[2015-01-02 10:14] hwaastad commented on #651
Hi,
I'll see if I can push a project to github during the weekend.

Edit:
https://github.com/hwaastad/KunderaDebugTest.git

Pretty simple implementation just for providing the error described

br hw

[2015-01-03 11:37] sreekanth0041 commented on #680
I have two table one is product_master and second one is item_review, Now i want to get the top average review items first.
Product.java

[code]

Reviews.java

[code]

Please tell me which way is better for this.

[2015-01-06 11:02] chhavigangwal commented on #683
@sreekanth0041

You can also modify your script to retrieve collection objects in following manner:

[code]

and then parse the json object.

Hope that Helps!
Chhavi

[2015-01-06 11:17] chhavigangwal opened #684 "Upgrade Kundera to support Elasticsearch version 1.4.2"
Currently Kundera supports Elastic search verison 0.90.3. Upgrade it to support 1.4.2.

[2015-01-06 11:23] chhavigangwal opened #685 "Upgrade Kundera to support MongoDB version 2.6.+"
Currently Kundera supports MongoDB 2.0.4. Upgrade it to support 2.6.+.

[2015-01-06 12:20] chhavigangwal commented on #656
@kannuriajay

Did your issue get resolved ?

Chhavi

[2015-01-06 13:19] chhavigangwal opened #686 "Upgrade Kundera to support Redis version 2.8.+"
Currently Kundera supports Redis 2.6.6. Upgrade it to support 2.8.+.

[2015-01-07 08:19] devender-yadav commented on #682
Kundera currently does not support searching on a map object directly. However you can achieve this  using  mongoDB's Native Script in the following manner :

Suppose your Map<String,String> contactNumbers has an entry <”reception” , “9999”>
 and you want to query on the basis of KEY of this Map.
You can achieve this by writing a Script like this:

[code]

Code :

[code]

You will get BasicDBList

[2015-01-08 14:02] uladzimirFilipchanka opened #687 "Cassandra single table inheritance issue"
Hello,

We've found strange behaviour with JPA model inheritence (SINGLE_TABLE mapping) on insert.
Looks like kundera tries to add two mention of column which is descriminator: first time as simple column from metadata, second time as descriminator column

We're using 2.14 kunderra + jboss infrastructure.
Here is our hierarchy (names changed a bit, getters/setters omitted)

[code]
And DAO looks ve

[2015-01-08 18:16] jisaacstone opened #688 "Minor typo in the wiki"
on [this page](https://github.com/impetus-opensource/Kundera/wiki/Datastax-java-driver-support-for-Cassandra-using-Kundera) under the __Maven dependency__ header the example xml has a closing tag of `</dependancy>`. should be `</dependency>`

Don't seem to be able to do pull requests for a wiki so I am notifying you guys here.

Thanks. You guys are super awesome and the wiki is very helpful :+1:

[2015-01-09 09:02] pragalbhgarg commented on #616
Sorry for late response. Can you please share the entity details to help us reproduce the issue at our end?

[2015-01-09 10:36] chhavigangwal opened #689 "Enable Lucene and Elasticsearch Indexer with Redis"
Currently Redis does not support indexing with Lucene and elastic-search. Need to enable the same.

[2015-01-09 10:57] pragalbhgarg commented on #687
@uladzimirFilipchanka
You need not add discriminator column specifically as a separate entity attribute i.e. this should be removed

[code]

Hope that helps !
-pragalbh

[2015-01-09 10:59] chhavigangwal commented on #689
https://github.com/impetus-opensource/Kundera/commit/43af3752123e491cc1399a2fce2b5ba145987b1c

[2015-01-09 11:11] arnaudsjs opened #690 "Kundera not working with jboss"
I have some problems getting kundera (mongodb) to work with Jboss. I followed the guidelines on the wiki, but without success.

My persistence.xml file within the META-INF directory looks as follows:

[code]

Apart from that I added the following dependency to the pom.xml file:

[code]

And the following is within the application-context.xml file (webapp/WEB-INF directory):

[code]

Injecting the

[2015-01-09 11:19] chhavigangwal commented on #690
Can you share some error logs to help us look into issue ?

Chhavi

[2015-01-09 11:30] arnaudsjs commented on #690
Here is the server log. The error gets thrown as soon as I try to access the database.

[code]

[2015-01-09 12:41] mevivs commented on #687
:+1:  for @pragalbhgarg  that is the reason behind multiple definitions found.

-Vivek

[2015-01-11 01:55] gcastigl commented on #641
Hi, are there any updates on this? any workaround?

Thanks in advance!

[2015-01-11 13:17] chhavigangwal opened #691 "Querying over entity objects with multiple bidirectional association objects caused stackoverflow"

[2015-01-11 22:28] fnmartinez commented on #641
Hi! I'm having this exact same issue. I'd like to be able to have N tables, one per entity, and manage them all with one entity manager. Has there been any progress with these? Is there any workaround I might be missing?

Te most important question would be if every EntityManager spawned would effectively imply a new connection.

Thanks in advance!

[2015-01-12 06:10] pragalbhgarg commented on #691
To further demonstrate this issue, lets say we have 3 entity classes namely Books, Categories and Languages.
1. Books and Categories are bidirectionally associated i.e. Many Books can belong to a single Category and One Category can have many Books. The fetch type is 'EAGER' both side.
2. Similarly, Books and Languages are bidirectionally associated with fetch type being 'EAGER' both side.

Books.

[2015-01-12 10:22] uladzimirFilipchanka commented on #687
Thanks for the response.
Yes, I've tried removing 'type' column from base class at all. But I've got exception during selecting data. I have following code for getCatByName in DAO object (omitting non-unique issues):

[code]

   Exception throws on third line: 'java.lang.IllegalArgumentException' exception.

[code]

attribute of the given name and type is not present in the managed type, for name:

[2015-01-12 10:26] mevivs commented on #687
What's

[code]

Can you please point me to trace it in entity definition?

-Vivek

[2015-01-12 10:30] mevivs commented on #687
@uladzimirFilipchanka
My bad i got it! Please share updated entity definitions.

-Vivek

[2015-01-12 11:10] uladzimirFilipchanka commented on #687
@mevivs
Entities stay the same.

[code]

is field in Cat class. In general, any query against Cat or Dog entities cause IllegalArgumentException.

[2015-01-12 11:10] chhavigangwal commented on #662
@kannuriajay

Any updates ?

Chhavi

[2015-01-12 11:11] chhavigangwal commented on #656
@kannuriajay

Any updates ?

Chhavi

[2015-01-12 11:16] chhavigangwal commented on #515
@pdirksen

Any updates ?

Chhavi

[2015-01-12 17:25] chhavigangwal commented on #691
Fixed. Released with Kundera-2.15.

Chhavi

[2015-01-12 17:25] #691 closed

[2015-01-12 17:25] chhavigangwal commented on #689
Fixed. Released with Kundera-2.15.

Chhavi

[2015-01-12 17:25] #689 closed

[2015-01-12 17:25] chhavigangwal commented on #688
Fixed. Released with Kundera-2.15.

Chhavi

[2015-01-12 17:25] #688 closed

[2015-01-12 17:26] chhavigangwal commented on #687
Fixed. Released with Kundera-2.15. Can you please verify at your end ?

Chhavi

[2015-01-12 17:26] chhavigangwal commented on #686
Fixed. Released with Kundera-2.15.

Chhavi

[2015-01-12 17:26] #686 closed

[2015-01-12 17:26] chhavigangwal commented on #685
Fixed. Released with Kundera-2.15.

Chhavi

[2015-01-12 17:26] #685 closed

[2015-01-12 17:26] chhavigangwal commented on #684
Fixed. Released with Kundera-2.15.

Chhavi

[2015-01-12 17:26] #684 closed

[2015-01-12 17:27] chhavigangwal commented on #683
Fixed. Released with Kundera-2.15.

Chhavi

[2015-01-12 17:27] #683 closed

[2015-01-12 17:27] chhavigangwal commented on #679
Fixed. Released with Kundera-2.15.

Chhavi

[2015-01-12 17:27] #679 closed

[2015-01-12 17:27] chhavigangwal commented on #677
Fixed. Released with Kundera-2.15.

Chhavi

[2015-01-12 17:27] #677 closed

[2015-01-12 17:29] chhavigangwal commented on #676
Fixed. Support enabled with Lucene and elastic search indexes as native Cassandra does not support 'like' query itself. Released with Kundera-2.15.

Chhavi

[2015-01-12 17:29] #676 closed

[2015-01-12 17:29] chhavigangwal commented on #662
Closing with Kundera-2.15.

Chhavi

[2015-01-12 17:29] #662 closed

[2015-01-12 17:30] chhavigangwal commented on #653
Fixed. Released with Kundera-2.15.

Chhavi

[2015-01-12 17:30] #653 closed

[2015-01-12 17:30] chhavigangwal commented on #656
Closing with Kundera-2.15.

Chhavi

[2015-01-12 17:30] #656 closed

[2015-01-12 17:30] chhavigangwal commented on #642
Fixed. Released with Kundera-2.15.

Chhavi

[2015-01-12 17:30] #642 closed

[2015-01-12 17:30] chhavigangwal commented on #621
Fixed. Released with Kundera-2.15.

Chhavi

[2015-01-12 17:30] #621 closed

[2015-01-12 17:31] chhavigangwal commented on #619
Fixed. Released with Kundera-2.15.

Chhavi

[2015-01-12 17:31] #619 closed

[2015-01-12 17:31] chhavigangwal commented on #671
Fixed. Released with Kundera-2.15.

Chhavi

[2015-01-12 17:31] #671 closed

[2015-01-12 17:36] chhavigangwal commented on #682
Closing with Kundera-2.15 release.

Chhavi

[2015-01-12 17:36] #682 closed

[2015-01-13 08:32] casslover opened #692 "Kundera Timeout Exception"
Hello ! I'm using Kundera Cassandra for my application. When i inserted 10.000 rows. Kundera give me error :

I'm having 3 nodes 16GB RAM with 12 cores for each. I'm using this persistence.xml for my application configuration.

Can anyone give me advance about my problem? Thank in advance!

[2015-01-13 10:26] mevivs commented on #692
@casslover
few things:
1. You should configure multiple host with Kundera and define load balancing policy
https://github.com/impetus-opensource/Kundera/wiki/Cassandra-Specific-Features#cql-version-setup
1. Configure connection pool with Kundera's persistence.xml.
   https://github.com/impetus-opensource/Kundera/blob/trunk/test/benchmark/ycsb/src/main/resources/META-INF/persistence.xml#L38
2. Chec

[2015-01-13 10:31] boferri commented on #604
so is neo4j server mode support right now, or not? ;)

[2015-01-13 12:28] chhavigangwal commented on #690
@arnaudsjs

We are looking into the issue and trying to reproduce the same at our end. Will get back to you on this soon.

Chhavi

[2015-01-13 12:43] zazi opened #693 "support protected default constructor"
Currently only public default constructors are supported by Kundera. However, the JPA spec says: "Either public or protected no-arg constructor must exist. Additional constructors are fine". So it be cool, if you also can support this, because one do not always want to provide public default constructors ;)

[2015-01-13 13:17] chhavigangwal commented on #604
@zazi

The support is not enabled as yet. We are yet to plan same. Shall keep updates posted.

Chhavi

[2015-01-13 23:29] casslover commented on #692
Thanks you. I will try.
When will Kundera support Map/Reduce?

[2015-01-14 09:31] devender-yadav commented on #680
@sreekanth0041
Sorry for delayed response. You can achieve your purpose in following ways :
-  Using execute script of MongoDB client :

[code]

productList is your desired output.
- Another way can be , 
  Add two more columns in product table :
  average_reviews and
  num_times_reviewed

While persisting a review, you can update values of average_reviews and num_times_reviewed in product collect

[2015-01-14 10:30] devender-yadav commented on #680
Also, please update your "rating" field type to Double to calculate average using MongoDB.

--Devender

[2015-01-15 13:47] karthikprasad13 commented on #690
@arnaudsjs

We are unable to reproduce this issue at our end. Can you please share your sample app to help us debug this further?
Meanwhile, you can find a sample application for jboss deployment at  : https://github.com/impetus-opensource/Kundera/tree/trunk/examples/container/jboss

Karthik

[2015-01-15 17:22] jaydlowrider opened #694 "Entity fields are always needed for correctly initializing objects"
Dear Kundera Developers,

I have an issue for entities where I have used a dummy field to get my entity class instantiated by kundera.

Here is my sample structure:

@MappedSuperclass
@IndexCollection(columns = { @index(name=name) }
BaseVehicle
 - Name
 - Specs
 - Axle
 - Type

@Entity
@Table(name="ToyotaTable")
ToyotaCamryVehicle extends BaseVehicle
 -

If I don't provide any field definitions on

[2015-01-16 09:55] amit-kr commented on #694
@jaydlowrider

Which version of Kundera are you using?
Can you please try using it with Kundera version 2.15

Please let us know if issue still persist.

-Amit

[2015-01-16 14:18] jamesxukun opened #695 "Couldn't update (DML) records saved by CQLSH from Thrifty Client"
We have a Java application running in Kundera 2.11.1 and Cassandra 2.0.5 with JPA and Spring 3.2.8.

If we created/update some records in a table from CQLsh and want to update them from Java application, the records didn't save in the database.

I searched and find the following thread:

"i can not update the column which updated by cql by entity.persistence()! #154"

Has the issue been fixed, cou

[2015-01-19 06:55] sreekanth0041 opened #696 "Return generated keys in kundera mongoDb"
How to get the inserted object primary key in kundera mongoDb
My code is below
[code]
Main class
[code]
Help me

[2015-01-19 06:59] chhavigangwal commented on #695
@jamesxukun

Yes the issue has been fixed. Just to make sure , hope the cql3 version is enabled in your kunderaLoadConfig.xml file. Also, can you please share your entity definition, table structure and operation code to verify the issue at our end ?

Chhavi

[2015-01-19 07:18] pragalbhgarg commented on #696
@sreekanth0041

Kundera keeps a reference to the object being persisted. So you can obtain the generated key simply by using the getter method of your field "category_id" after the object is persisted. HTH!

-Pragalbh

[2015-01-19 08:05] sreekanth0041 commented on #696
Yes its working.Thank you Pragalbh.

[2015-01-19 12:07] chhavigangwal commented on #681
@gurkerl83

Can you please share some sample code to help us debug the issue further?

Chhavi

[2015-01-19 14:48] jamesxukun commented on #695
Chhavi,

Thanks for your response.

I have several questions regarding to your response:
1. How can I enable the cql3 version in the kunderaLoadConfig.xml file, do you have an example, here is my configurations in the file:

[code]
1. One of Entity definition for site_entity:

[code]

Table structure for the site_entity is:

[code]

Operation code to update the site_entity:

[code]

Thanks,
James

[2015-01-19 15:08] jamesxukun commented on #695
@chhavigangwal

I have following lines set up in the persistence.xml, does it mean I have cql3 version enabled:

<property name="kundera.dialect" value="cassandra"/>
<property name="cql.version" value="3.0.0"/>

Thanks,
James

[2015-01-19 20:14] uladzimirFilipchanka commented on #687
@chhavigangwal
Yep, it's work. Thanks a lot!

[2015-01-20 07:08] chhavigangwal commented on #695
Please enable cql3 by specifying in your kunderaLoadConfig.xml as

[code]

https://github.com/impetus-opensource/Kundera/wiki/Cassandra-Specific-Features

Hope that Helps!
Chhavi

[2015-01-20 21:11] jamesxukun commented on #695
Thanks, that works fine.

[2015-01-23 05:16] sreekanth0041 opened #697 "Unique column in kundera mongodb"
I want restaurant_item_name must be Unique

My class is below

[code]
Help me.

[2015-01-23 07:25] chhavigangwal commented on #697
@sreekanth0041

Currently you cannot specify this using using Kundera, however you can ensure unique names in  MongoDB  by creating a unique index over it in the following manner :

[code]

Hope this Helps!
Chhavi

[2015-01-23 07:29] sreekanth0041 commented on #697
Thank you for giving the replay chhavigangwal,We need to do it manually right?

[2015-01-23 07:30] chhavigangwal commented on #697
Yes

Chhavi

[2015-01-23 07:30] sreekanth0041 commented on #697
Ok thank you

[2015-01-23 07:32] chhavigangwal commented on #696
@sreekanth0041

Are we good to close on this ?

Chhavi

[2015-01-23 07:33] chhavigangwal commented on #695
@jamesxukun

Are we good to close on this ?

Chhavi

[2015-01-23 07:36] sreekanth0041 commented on #696
Yes chhavigangwal

[2015-01-23 07:40] #696 closed

[2015-01-23 08:06] mevivs commented on #697
@sreekanth0041

http://docs.mongodb.org/manual/tutorial/create-a-unique-index/

Better to use

[code]

Also, IMHO it should be invoked during application bootstrap.  With Kundera, i guess you should be able to execute it in native way. So while instantiating EMF, get a handle of Mongo DB client and just invoke it.

Kundera Team, can enable this support by extending @Index and @IndexCollection for

[2015-01-23 08:08] mevivs commented on #695
Just to add, you can also enable cql3 programmatically for each session as well. Above setting is for per application level, i guess!

-Vivek

[2015-01-23 08:10] mevivs commented on #692
@casslover
Can you mention your map-reduce use case you looking to sort out with Kundera?

I guess, a mapper/reducer can act/inject Kundera powered DAOs as an alternative.

Later,
-Vivek

[2015-01-23 14:39] jamesxukun commented on #695
Hi Vivek,

Yes, it solve the issue. Please close the request.

Thanks for your help!
James

On Fri, Jan 23, 2015 at 2:08 AM, Vivek Mishra notifications@github.com
wrote:

[2015-01-27 05:27] #695 closed

[2015-01-30 13:39] chhavigangwal commented on #693
@zazi

Enabling the support for protected default constructor is targeted for an upcoming patch release in February and will be added in trunk soon.

Chhavi

[2015-02-03 07:39] sreekanth0041 opened #698 "Kundera one to many not working"
One to many working for different entities but not working in the same entity
My code is below
[code]
Adding followers below
[code]

Help me

[2015-02-03 14:25] chhavigangwal commented on #698
@sreekanth0041

With Kundera you have only one @Id attribute in an entity class, so please remove @Id annotation from one of the attributes.
Also, we tried persisting self referential OneToMany objects in MongoDB and it works fine .We are looking into the issue while fetching the object response and will update soon.

Chhavi

[2015-02-04 04:34] sreekanth0041 commented on #698
Yes i tried the same its working for insert but when i am getting the data showing below error

[code]

Suggest me any alternate solution for this.

[2015-02-04 08:35] absidish opened #699 "Kundera many-to-many relationship update not working"
Hello !  I`m using Kundera 2.15 with Cassandra 2.0.4
Create, Read, Delete works successfully , the problem with Update.

I have two entities :
[code]
File pom.xml  :
[code]
and persistence.xml file :
[code]
and use :
[code]
after running update();
Each Role contains permissions, that I removed.

[2015-02-04 12:31] chhavigangwal commented on #698
@sreekanth0041

We are working on the fix for this issue and will update you soon.

Chhavi

[2015-02-04 13:33] prasad14 commented on #118
Does kundera 2.14 support criteria query?

[2015-02-04 13:43] chhavigangwal commented on #118
@prasad14

Basic criteria query support works with Kundera-2.14. A sample test case can be found at :

Criteria related queries can be found in

https://github.com/impetus-opensource/Kundera/blob/273c13342ddd1aceed0cd23504649926ce8fdb84/src/kundera-cassandra/cassandra-core/src/test/java/com/impetus/client/crud/BaseTest.java

These are invoked from following test case

https://github.com/impetus-op

[2015-02-04 13:54] karthikprasad13 commented on #699
@absidish

We were able to reproduce the issue and it seems to be a bug. However, update works with Kundera when you are changing the fields of the relation objects. Marking it as an issue , will add the fix soon !

-Karthik

[2015-02-04 14:37] prasad14 commented on #118
@chhavigangwal

But in that code I didn't see the creation of CriteriaBuilder object?
Can you  explain that scenario?

[2015-02-04 18:55] gurkerl83 opened #700 "One-to-Many not working kundera-neo4j"
Hi, can someone explain how one-to-many mapping is working in kundera-neo4j. The imdb test example shows a many-to-many mapping with two entities (Actor, Movie) and a third relationship entity (Role). The following example results in a null pointer exception in PropertyAccessorHelper.getId line 266

Debugging the code

somehow the getRelationHolders() method detects a Many-to-One Relation and not

[2015-02-05 05:26] chhavigangwal commented on #118
Please find the updated comment.

Chhavi

[2015-02-05 07:38] prasad14 commented on #118
Does kundera 2.15 support all the operators of criteria builder

[2015-02-05 07:39] mevivs commented on #118
@prasad14  i think it will be great if you could mention what exactly you looking with Criteria builder support? This will surly help Kundera team to answer in more accurate way.

-Vivek

[2015-02-05 08:33] sbheda opened #701 "Is it possible in password encryption in persistence.xml using kundera ?"
Hi,
    I want to encrypt password in persistence.xml. Is it possible?

Thanks & Regards,
Shraddha Bheda

[2015-02-05 08:47] prasad14 commented on #118
@chhavigangwal

does kundera support all the operators in criteria builder

[2015-02-05 10:19] chhavigangwal commented on #701
@sbheda

It is not possible to use encrypted passwords in persistence.xml using Kundera. BTW , which data store are you working on and for what use case?

Chhavi

[2015-02-05 15:40] hailyj commented on #118
Im trying to work with Kundera 2.15 using thrift client .
Can u suggest me the list of jars which i have to use?

[2015-02-06 07:50] chhavigangwal commented on #118
@hailyj

Since Kundera is a maven based project , you need to include the following dependency in pom of your project to start using Kundera's  Cassandra module :

[code]

Please use the following link for further reference :
https://github.com/impetus-opensource/Kundera/wiki/Getting-Started-in-5-minutes

Hope that Helps!
Chhavi

[2015-02-06 09:16] mevivs commented on #701
@sbheda @chhavigangwal
I guess, another way could be, to use Kundera property externalization support, where you can set such encrypted properties programmatically within code itself while instantiating EMF or EM or via external configuration file.

HTH,
-Vivek

[2015-02-06 10:25] gurkerl83 opened #702 "Problems with "IN" Statement in kundera-neo4j"
Hi,

what is the current state of IN Clause and respectively not equal statements.
The IMDBTransactionTest persists two Actor entities.

actor1.setName("Amresh");
actor2.setName("Amir");

It seems there is are huge problems translating JPA Queries into Lucene Queries because only the first query is working with Kundera 2.15. I have not tested these on other datastores, because there are unit tests

[2015-02-08 05:36] srini156 opened #703 "NamingStrategy in Kundera"
Hi,

Is it possible to use NamingStrategy to convert camelcase attributes in @Entity class (`ClientId`) to lower case with underscore in data store (`client_id`)?

Similar to how Hibernate provides:
`<property name="hibernate.ejb.naming_strategy" value="org.hibernate.cfg.ImprovedNamingStrategy" />`

[2015-02-09 04:17] chhavigangwal commented on #703
@srini156

NamingStrategy  to change convert names is not supported in Kundera as of now .

Chhavi

[2015-02-09 04:19] srini156 commented on #703
Thanks for the update @chhavigangwal. We are actively exploring and using Kundera. Let me check with our team and try to contribute back to Kundera.

[2015-02-09 07:57] chhavigangwal commented on #703
@srini156

That is great !!! Can you share the use case and data store for which you are using Kundera ?

Chhavi

[2015-02-09 12:16] hailyj commented on #118
Though i ran with dependency jar obtained from maven repository ,Im getting the error:
No Persistence provider for EntityManager named cassandra_pu

How do I correct this?

[2015-02-09 13:59] chhavigangwal commented on #698
@sreekanth0041

A fix for the issue has been added in current branch and will be released as a part of the upcoming release. In order to help you further and better understand your issues , can you share the use case for which you are using kundera-mongo . You can also reach us at kundera@impetus.co.in for any further queries.

Chhavi

[2015-02-10 12:37] hailyj commented on #118
@chhavigangwal
Though i tried with the dependency jar obtained from the maven repository,I got an error:" No Persistence provider for EntityManager named cassandra_pu"
Can you please help me with this

[2015-02-10 13:04] chhavigangwal commented on #118
@hailyj

Can you share a sample project or code snippet of how are you trying to create EMF object using Kundera ?

Chhavi

[2015-02-10 14:18] hailyj commented on #118
[code]

[2015-02-11 02:17] srini156 commented on #703
The use case is to audit time series data in cassandra.

[2015-02-17 03:59] chhavigangwal opened #704 "Kundera Meetup !"
Hi All,

 Kundera team is planning to conduct a meetup in the last week of March 2015. The main intent of this meetup is to provide Kundera’s users and developers  a unique platform where they can come together and share their insights on :
        -          Respective NoSQL use cases
        -          Various Data Modeling techniques
        -          Evolving NoSQL world and the need for poly

[2015-02-17 05:41] chhavigangwal commented on #702
@gurkerl83

Sorry for delayed response, however in query

[2015-02-17 05:43] chhavigangwal commented on #702
@gurkerl83

Sorry for delayed response, however "in" query is not supported with Kundera-neo4j & Lucene as of now. The team is currently working on the fix and will update you soon.

Chhavi

[2015-02-19 13:50] ansarrafique opened #705 "[Kundera-datastax] NoHostAvailableException"
I remember I already pointed out the same issue with 3 nodes Cassandra setup, but this time the same issue came up with a single node.

Kundera-version: Kundera 2.11
Cassandra:2.0.6

Few records are successfully inserted, but  the problem starts afterwards and getting an exception on client side. I have only persistence.xml file and without any datastax related configuration file which I guess don

[2015-02-23 08:48] chhavigangwal commented on #705
@ansarrafique

Cassandra 2.0.4 support with Kundera was added from version 2.11.1. Latest version of Kundera is 2.15. Can you try running your code with kundera-cassandra 2.15 and Cassandra 2.0.4 ?

Chhavi

[2015-02-24 12:06] chhavigangwal opened #707 "Upgrade Kundera to support Cassandra version 2.1.+"
Currently Kundera-cassandra code is compatible with 2.0.4. Upgrade it to support Apache Cassandra version 2.1.x version and enable UDT support via JPA embeddable.

[2015-02-24 12:35] chhavigangwal opened #708 "Enable support for aggregations in Elastic search"
Elastic search 1.4 supports  performing aggregations over data . Enable the same with Kundera.

[2015-02-25 19:01] vreniers opened #710 "MongoDB specific configuration: WriteConcern valid values"
I want to set a specific write concern in my xml file for MongoDB.
As described in https://github.com/impetus-opensource/Kundera/wiki/MongoDB-Specific-Features

I found the constant "write.concern" for this property. However now I'm wondering,
what are the values I can set for this property?

`<property name="write.concern" value="?"></property>`

I was also wondering what the `<name>mongo</name>`

[2015-02-26 07:38] devender-yadav commented on #710
@vreniers
Please find the below mentioned test case:
https://github.com/impetus-opensource/Kundera/blob/273c13342ddd1aceed0cd23504649926ce8fdb84/src/kundera-mongo/src/test/java/com/impetus/client/mongodb/config/OperationLevelPropertiesTest.java#L83

For property "write.concern" you can set values ACKNOWLEDGED, UNACKNOWLEDGED, etc. Please have a look on this for more details
http://api.mongodb.org/

[2015-02-27 05:48] cherry316 opened #711 "Error in persisting an Entity"
Hello all,
Good day.

I encountered this error below on which I cannot find the answer on the google. Attached below are the Server log error, Persistence, Entity.class, and the class that I'm using in persisting the newly added entity data for reference.
I hope you can help me with this.

Thanks in advance,
Cherry

**Error in server log**

	06:27:47,780 INFO  [com.impetus.kundera.persistence.Enti

[2015-02-27 05:57] chhavigangwal commented on #711
@cherry316

Are you setting the id of the entity by calling ?

[code]

if not please make sure you do that.

Also, update you pom.xml to include the following dependencies only:

[code]

If none of the above suggestions are able to resolve your issue please mail a sample project to us so that we can look into it further.

Hope this helps !
Chhavi

[2015-02-27 06:39] cherry316 commented on #711
Hi Chhavi,

I tried both below individually this morning to check. I also applied your suggestion regarding dependencies that should only be included in POM.xml but the error is still  the same.

[code]

and

[code]

I will send you an example project via google drive.
Again, thanks for the immediate response.

Cherry

[2015-02-27 06:42] chhavigangwal commented on #711
@cherry316

Once you have @id  field annotated, make sure it holds a value before persisting and it should work for you. You can directly mail the sample project (if needed) at kundera@impetus.co.in

Chhavi

[2015-02-27 08:34] cherry316 commented on #711
Implementing **Serializable** in my entity solved my problem. Though it does, I'm not convinced yet since I don't know how and why.  hahaha
Thanks @chhavigangwal and please consider this as close.

[code]

Cherry

[2015-02-27 08:34] #711 closed

[2015-03-02 08:49] cherry316 opened #712 "Selecting maximum rows of data and preventing specific log from being triggered"
Hello,
good day.

I have 2 queries:

1.  Is it possible to fetch 1,000,000 rows of data from a Cassandra table? So far, I can only get 100,000 rows of data using the command below. If I set **setMaxQuery** to 200K to 1M, errors will appear in my console.

2.  Is it possible to prevent/forbid these logs below from appearing in my console, from being triggered? It seems that the process of fetching

[2015-03-02 09:39] cherry316 commented on #711
In case somebody has the same problem,
FYI, it is not the **Serializable** that solves this problem but rather, by adding the entity class enclosed with < class > < /class > tags in the persistence.

[2015-03-02 13:10] karthikprasad13 commented on #712
@cherry316
Hey,

1) Can you check if the errors are not because of Java heap size? And it would be helpful if you could share error logs.

2) You can change your settings in log4j.properties file from "log4j.rootLogger=INFO,stdout, file" to "log4j.rootLogger=FATAL,stdout, file".

HTH!
-Karthik

[2015-03-03 00:38] cherry316 commented on #712
hi @karthikprasad13 ,
Thanks for your reply.

For point 1, it is not Java heap space and here are the errors in the logs. Just a thought, in **cqlsh** , I need to add limit clause to view all the data I need like,

Is it related to this errors?

[code]

Thanks,
Cherry

[2015-03-03 09:56] sreekanth0041 opened #713 "How to query Collection type column in MongoDb"
I have the Entity class below,I want to write query on values(i.e Map)
[code]

[2015-03-03 10:26] devender-yadav commented on #713
@sreekanth0041
Please check similar issue related to query on map  #682

and check this test case for more details
https://github.com/impetus-opensource/Kundera/blob/c6101f21cd8f079fb4cc44e85de49261bf5fef7e/src/kundera-mongo/src/test/java/com/impetus/client/crud/PersonMongoTest.java#L371

Also, we have enabled support for some native queries in Kundera-MongoDB in 2.15 Release.
check this test case

[2015-03-03 12:16] karthikprasad13 commented on #712
@cherry316

Sorry for late reply.
We have looked into the issue and it is not because of not adding limit clause in the query. Kundera does that internally once you set `MaxResults`.

Issue is because of the limit on framed transport size (amount of data that can be sent at-a-time), which is set to 15mb by default in cassandra which results in error. However, its not recommended to change its valu

[2015-03-03 16:24] vreniers commented on #710
I don't think the property value is working for me.
I made sure I checked the logging to check that my mongoDB specific config xml file is found.

This is what I have:

[code]

Now I've tested it by using ACKNOWLEDGED and UNACKNOWLEDGED like you said.
But my benchmark results for inserting the records were the same for both values.
Which does not make sense.

ACKNOWLEDGED value
[OVERALL], RunTime(

[2015-03-04 04:00] admackin opened #714 "Please add licensing information"
I can't find any mention of your project licensing on Github. Where I work, this is a big concern. The simplest solution would be to follow the defacto standard and insert the license text in a file 'LICENSE.txt' in the project root. (Sorry if it's to be found somewhere else, but even if it is, it could definitely be more obvious)

[2015-03-04 10:21] chhavigangwal commented on #714
@admackin

Kundera keeps its licensing information as per the specification of http://www.apache.org/licenses/LICENSE-2.0 and is incorporated as a part of its source code.

Chhavi

[2015-03-05 00:56] admackin commented on #714
Great to know that it's Apache-licensed! I still think you should advertise this more prominently, so people don't need to drill down through the source tree to look at the header of a file - browsing to https://github.com/impetus-opensource/Kundera/blob/trunk/src/jpa-engine/core/src/main/java/com/impetus/kundera/Constants.java is a lot harder than looking at a hypothetical file in the standard lo

[2015-03-05 06:21] devender-yadav commented on #710
@vreniers
 Please find my updated comment.

Since, you dont want to replicate the code of setting the property everytime you create an entitymanager instance, you can create an utility method which would serve your purpose. You can call the method each time you want to instantiate an entitymanager object.

[2015-03-06 07:40] sreekanth0041 opened #715 "How to update List<Objects> in one time"
I am using kundera mongoDb, I want to update list of objects.Example code is below.
[code]
Now i want to update List<PlanUsage> object.
Help me.

[2015-03-09 06:08] devender-yadav commented on #715
@sreekanth0041
Will you please provide further details about which List are you referring to in this example code and what fields you want to update? Is it List of PlanUsage?

[2015-03-09 06:25] sreekanth0041 commented on #715
I want to update the fields of

[code]

[2015-03-09 07:57] devender-yadav commented on #715
@sreekanth0041

If you want to update any non-collection field say "restaurant_name", you can use below mentioned query:

[code]

In the case of collection fields, suppose params has a Key-value pair  "key1"-"value1". You want to update "value1" of params to "value2".You need to query in Native way:

[code]

If you want to perform bulk update operation, you can use Batch update. Please refer this

[2015-03-09 08:08] cherry316 commented on #712
Hi @karthikprasad13

I'm sorry for late reply as well.
Your suggestion below doesn't work.

[code]

Also regarding the first query, I have read that there is variable I will change in cassandra.yaml.

Regards,
Cherry

[2015-03-10 07:13] devender-yadav commented on #715
Hi @sreekanth0041

Did above solution work for you?

[2015-03-11 12:43] pragalbhgarg opened #716 "HBase remodeling and version upgrade."
kundera-hbase is now upgraded to be compatible with HBase version 1.0.0 along with some restructuring.
In the new model
  - A keyspace will be mapped to an HBase namespace (keyspace => namespace)
  - An entity will be mapped to an HTable (entity => HTable)

It also has
  - Improved query support
  - Support for nested embeddables

[2015-03-11 15:21] mateusleonardi opened #717 "Problem to retrieve objects of sub-relation Cassandra with Kundera (Pelops - JPA)"
We are getting a null object while retrieving data from Cassandra using JPA annotation OneToOne/OneToMany (see example below, where "item" is null).

------------------------------------------------------------
[
   {
      "idProduct":"095102f1-a987-4f7c-88c3-153d80b6977f",
      "item":{
         "idItem":"b75acb06-eab6-48c1-99e9-fc7d48cf930b",
         "shortDescription":"Item 71",
         "lo

[2015-03-12 13:51] amit-kr commented on #717
@mateusleonardi,

Which version of Kundera-client are you using?
Please specify @JoinColumn annotation with @OneToMany as well. I tried doing same and retrieved data via em.find() and it works at my end. Also, any specific reason for using Peolps client and not ThriftClientFactory?

HTH
Amit